[2021-11-10 21:30] bilalshaikh42 commented on #3531
Is this on prod or dev? Getting a 502 is quite strange to me, as that means the entire API is down, or at least nginx thinks it is. Not sure what could be causing that. I did add retrying in #3568 but we shouldn't be getting 502 in the first place.

[2021-11-10 21:33] jonrkarr commented on #3531
The latest one I saw was prod, I believe the other was dev.

[2021-11-10 21:55] #3531 closed, assigned to bilalshaikh42

[2021-11-11 00:31] jonrkarr commented on #3453
The prod dispatch API now uses http://hsds:80, but I'm seeing 403 errors on retrieving simulation data through the prod dispatch API. Not sure if that's because the error occurred before a recent deployment and is cached by redis, or there's still a problem.

[2021-11-11 04:33] #3453 closed, assigned to jonrkarr

[2021-11-11 04:33] #3527 closed, assigned to jonrkarr

[2021-11-11 17:22] jonrkarr opened #3575 "Simplify Auth0 scopes"
- [x] Replace scopes in this repo
  - [x] `delete:Files` --> `delete:SimulationRuns`
  - [x] `delete:Logs` --> `delete:SimulationRuns`
  - [x] `delete:Metadata` --> `delete:SimulationRuns`
  - [x] `delete:Results` --> `delete:SimulationRuns`
  - [x] `delete:Specifications` --> `delete:SimulationRuns`
  - [x] `read:Files` --> `read:SimulationRuns`
  - [x] `read:Logs` --> `read:SimulationRuns`
  - [

[2021-11-11 17:28] bilalshaikh42 commented on #3575
Here is a blog post that explains the issue with auth much better than I can. Currently, we are using the scopes as explicit permissions, which fundamentally is different from delegation. As the article warns, we can use scopes to implement the first case, but that breaks the second case. 
https://auth0.com/blog/on-the-nature-of-oauth2-scopes/

The way to address this is to not use scopes at all,

[2021-11-11 17:33] bilalshaikh42 commented on #3575
Alternatively, I can work on that this week, and make the needed changes by end of day tomorrow, and then work on importing models starting monday

[2021-11-11 18:02] jonrkarr opened #3577 "Fill out BioSimulations user guide"
The user guide (https://docs.biosimulations.org/users/tutorial/) outlines some good categories. The content needs to be added. From experience, some high-level documentation will be needed for publication. Where possible (e.g., creating projects), this can link to RunBioSimulations and BioSimulators documentation.

I outlined the needed content. Each section can be brief. Where possible, it can li

[2021-11-11 18:14] jonrkarr opened #3578 "Refine content in landing page for BioSimulations documentation"
https://docs.biosimulations.org/

Todo
- [x] Separate second paragraph of "Motivation and Goals of BioSimulations" to a separate "Features" section
  - Use bullets to more clearly outline the features
  - Link to the application for examples and the user's guide for more documentation
- [x] Move "Technological foundation of BioSimulations" lower

[2021-11-11 18:17] jonrkarr commented on #3575
This issue and #3575 aren't intended to be a complete solution, just a quick fix to one issue which can be done without more significant refactoring.

If you think you can complete this this week, go ahead. Please also finish up #3534 so the COMBINE API is being tested again. I'd also like to wrap up the user guide (#3577).

I'm trying to be careful about time management because models and simulat

[2021-11-11 21:21] jonrkarr opened #3581 "Example simulation runs needs to be re-run and published"
- [x] dev
  - [x] run
  - [x] publish
- [x] dev
  - [x] run
  - [x] publish

[2021-11-11 21:44] jonrkarr opened #3582 "Improve retrying in simulation run post-processing"
- [x] vcell: inconsistent results shapes: multiple VCell issues; see virtualcell/vcell#112
  - dev: `618d8b092e4e95f657467b9a`
  - prod: `618d8b5d527b1f14300f62f8`
- [x] prod: `618d8b60a00f8640381fa69b`; run failed
  - Status reason says log couldn't be saved
  - Log says log couldn't be saved: 502
  - However, the log was saved
- [x] prod: `618d8b67a00f8640381fa6a1`; run failed
  - statusReasion

[2021-11-12 00:11] #3581 closed, assigned to jonrkarr

[2021-11-12 00:14] jonrkarr opened #3585 "Improve interaction between APIs and services to avoid 502 errors in post-processing"
Currently,
- the API calls the Simulators API via https://api.biosimulators.org
  - check that simulator exists prior to starting a simulation job)
  - Health
- the API calls the COMBINE API via https://combine.api.biosimulations.org
  - Health
- the dispatch-service calls the COMBINE API via https://combine.api.biosimulations.org
  - get COMBINE archive manifest
  - get SED-ML specs
  - get metad

[2021-11-12 00:58] bilalshaikh42 commented on #3585
Yes changing them to the internal URLs would be better.  This was always the intention, but has not been set yet.

Now that we have an endpoints class, the methods for each endpoint or perhaps the constructor of the class can be set to take in a parameter called "kuberbetes-internal" or "internal" similar to the "external" parameter. This can return the kubernetes versions of the domains.

[2021-11-12 02:23] jonrkarr commented on #3585
Alternatively, this might be easier to solve by defining aliases within the cluster configuration. This would avoid the code have to know where things are deployed, which varies depending on whether its deployed in the cloud or tested locally. Instead, the deployment would control how traffic is routed.

https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/

[2021-11-12 06:00] jonrkarr commented on #3585
I examined the code related to these 502 errors. I think this has to be solved at the network level, maybe by using local network URLs or host aliases in the kubernetes configuration.

[2021-11-12 06:24] #3582 closed, assigned to jonrkarr

[2021-11-12 06:27] jonrkarr opened #3587 "Fix issues from copying documentation from original source"
- [x] Many extra spaces before punctuation
- [x] Missing hyperlinks -- often indicated by multiple consecutive spaces
- [x] Inconsistent capitalization of titles and section headings

[2021-11-12 07:57] #3578 closed, assigned to jonrkarr

[2021-11-12 18:44] #3587 closed, assigned to jonrkarr

[2021-11-12 19:34] jonrkarr opened #3593 "Expand and update FAQs"
- [x] Licenses -- the license for each project is noted for each project
- [x] Update schedule -- how frequently content is pulled from primary repositories
- [x] Various other info

[2021-11-12 21:39] #3593 closed, assigned to jonrkarr

[2021-11-12 23:47] jonrkarr commented on #3534
Had to merge this in because its only configured to run from the dev branch. Can be closed once this is verified to be working corrrectly.

[2021-11-13 04:35] #3088 closed, assigned to jonrkarr

[2021-11-13 05:45] #3534 closed, assigned to jonrkarr

[2021-11-13 18:56] jonrkarr commented on #2432
Added a FAQ about the 1-day expiration.

The life cycle configuration looks correct, but the objects are still there. If I understand correctly, the `expiration` property of the affected objects should indicate when the object will be expired. However, this property is null. It feels like this feature is somehow disabled or there's an error that we're not seeing.  I'll send Mike an email on Monday

[2021-11-14 00:08] github-actions[bot] opened #3607 "Example simulation runs need to be fixed"
The following 3 example simulation runs did not succeed:

<details><summary><b>EGF and TNFα signaling (Chaouiya et al., BMC Syst Biol, 2013; SBML-qual; synchronous updating; BoolNet) (<a href="https://biosimulations.org/simulations/618d8b5fd69062b5905ac3d7" target="_blank">618d8b5fd69062b5905ac3d7</a>)</b></summary><br/>
Simulation results could not be found for run '618d8b5fd69062b5905ac3d7'. For

[2021-11-14 00:08] github-actions[bot] opened #3608 "Example simulation runs need to be fixed"
The following 2 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://biosimulations.dev/simulations/618d8b072e4e95f657467b96" target="_blank">618d8b072e4e95f657467b96</a>)</b></summary><br/>
Simulation results could not be found for run '618d8b072e4e95f657467b96'. For publication, simu

[2021-11-14 02:08] jonrkarr commented on #3608
Runs are fine.

[2021-11-14 02:08] #3608 closed, assigned to nobody

[2021-11-14 02:10] jonrkarr commented on #3607
Errors are transient.

[2021-11-14 02:10] #3607 closed, assigned to nobody

[2021-11-14 02:10] jonrkarr opened #3609 "Simulation results still failing with transient 500 errors"
Examples:
- #3608
- #3607

[2021-11-14 02:13] jonrkarr commented on #3609
Perhaps we need to increase the resources to the prod backend deployment.

[2021-11-14 22:08] bilalshaikh42 commented on #3575
Done via auth0

[2021-11-14 22:08] #3575 closed, assigned to nobody

[2021-11-14 22:21] biosimulations-daemon commented on #3534
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:21] biosimulations-daemon commented on #3593
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3587
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3578
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3582
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3581
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3453
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3527
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3531
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-14 22:22] biosimulations-daemon commented on #3088
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-15 05:48] #3042 closed, assigned to jonrkarr

[2021-11-15 16:31] jonrkarr opened #3612 "Only allow repositories to include projectIds in simulation run requests"
Add logic add to controller for simulation run POST endpoint

Check `type` of the login token

[2021-11-15 18:56] bilalshaikh42 commented on #3609
I was finally able to trace this

[code]

[2021-11-15 18:58] bilalshaikh42 opened #3614 "Switch POST /logs, /files, /specifications /metadata to /logs/simId, /files/simId... etc."
This will make tracing issues easier as each HTTP request will have an associated simulation run

[2021-11-15 18:59] bilalshaikh42 commented on #3609
Though this case was for the /runs endpoint not /logs. It could be possible that the logs are too big

[2021-11-15 20:45] jonrkarr commented on #3609
I thought about that. I was seeing issues with the metadata and SED-ML endpoints. The metadata is fairly small.

[2021-11-16 15:24] bilalshaikh42 opened #3625 "Building for various environments is broken"
With the new setup, It seems that a separate docker image must now be built for each environment, as the endpoints are determined at compile time. If so, this needs to be reverted. The same docker image must be useable in all environments by just changing the environment variables defined.
This might be causing the current issues on the deployment.

@jonrkarr how are the docker images being handle

[2021-11-16 15:27] jonrkarr commented on #3625
prod has not been redeployed. The production issues are different.

In that case, the Docker images need to be changed. Because Angular apps cannot read environment variables, configuration variables need to be mixed in at build time.

[2021-11-16 15:30] bilalshaikh42 commented on #3625
This is why the configuration I had set up the endpoints to dynamically take in a particular environment from a variable. To allow backed environments to use the env variables and have the same docker image run across environments. This is an absolute requirement for anything to work on the Kubernetes cluster/independently. A docker image needs to be able to change the endpoints based on the envir

[2021-11-16 15:32] bilalshaikh42 commented on #3625
The angular apps need to have the endpoints defined at compile-time, which can be done either by the configurations or just by replacing the file manually. It did not make sense to me to define separate build targets and hardcode those in, when a simple mv command would allow for the setting of any arbitrary combination of the variables. This current system would not allow for testing against cust

[2021-11-16 15:36] bilalshaikh42 commented on #3625
Can we revert the state of the repo back to: 9d980c08d379e7725ecffd9b0531f183e7aa2702`
And then cherry pick the following commits to include the other changes: fce434727d36d28f048ea3b2d852ab56574a6768,  140576b343f49a770a59130190d4f1467fb8c8e4, dfc2541b22644ac89bd2273e057cb44b84e0cd98, 9ab532d8971c0795449a02c7f794d2ab26caa105,  b3109a1fa5d37d0a65134adde6d9aaef90b19ac0,

[2021-11-16 15:53] bilalshaikh42 commented on #3625
Changes reverted in #3626

[2021-11-16 16:40] jonrkarr commented on #3625
File replacements are basically the same as moving files, except organized in a consistent way.

[2021-11-16 16:43] jonrkarr commented on #3625
@bilalshaikh42 are you going to cherry pick those commits?

[2021-11-16 16:47] bilalshaikh42 commented on #3625
Should be done, did I miss something?

[2021-11-16 16:53] bilalshaikh42 commented on #3625
Seems I did not go far back enough

[2021-11-16 16:59] jonrkarr opened #3627 "Clean up building apps"
`.github/workflows/cd.yml`
[code]

The above fragment is confusing and forces deployment logic into the code
- The `stage` environment is used rather than `dev`
- The build target is `production` rather than `development`
- Moving files is used rather than the more canonical `--configuration development` option and file replacements
- Not handling the environment at building forces logic for handl

[2021-11-16 17:04] jonrkarr commented on #3625
I think the HSDS issue is related to configuration changes, not these commits. Directly running `hsls` doesn't work either.

[2021-11-16 17:16] #3625 closed, assigned to nobody

[2021-11-16 17:35] bilalshaikh42 commented on #3627
``` The stage environment is used rather than dev```

This was done to prevent changes to the dev environment making there way into deployments. We can change this sure

``` The build target is production rather than development```

The build target is being used to modify the settings of the build process itself. That is how much optimization, bundling, code splitting to use and features such as

[2021-11-16 17:46] jonrkarr commented on #3238
This endpoint still returns 418, which looks like an error rather than a successful response.

[2021-11-16 17:55] jonrkarr opened #3628 "Requests from machine accounts no longer include user information (no AuthToken)"
Tokens are need to track ownership of projects. This information is no longer included in requests. For machine accounts, the `user` object is now empty.

[2021-11-16 18:04] bilalshaikh42 commented on #3628
I am surprised that they were previously included. Machine apps inherently are not users, so I would expect the user object to be empty.

The token for the machine apps looks like this to me

[code]

A user identity token would look similar but potentially contain additional metadata.  The "sub" claim provides the unique identity of the user and/or machine client.

Are you specifically talking abo

[2021-11-16 18:18] jonrkarr commented on #3628
I'm referring to the `@Req` decorator and the `user` attribute of `Request`. This previously had tokens for both users and machine accounts. Now it only has tokens for users.

import { Req } from '@nestjs/common';
import { Request } from 'express';

[2021-11-16 18:26] jonrkarr commented on #3612
Given the current authentication structure, I think it makes sense to add a scope for this and only grant it to model repositories and super users.

- [x] Create scope (e.g., `externallyValidate:SimulationRuns`)
- [x] Grant scope to model repositories
- [x] Grant scope to super users
- [x] Add scope to `libs/auth/common/src/lib/scopes.ts`
- [x] Require scope to include a publication request with a

[2021-11-16 18:32] bilalshaikh42 commented on #3628
Can you point me to the code where this is happening?

[2021-11-16 19:00] jonrkarr commented on #3628
This is marked in the comment in https://github.com/biosimulations/biosimulations/pull/3629

https://github.com/biosimulations/biosimulations/blob/d3258aaca6342f324e4e68aca59f9dcabc286bf5/apps/api/src/simulation-run/simulation-run.controller.ts#L232-L237

This is how I'm submitting requests for simulation runs with requests to publish the run upon its successful completion:
[code]

[2021-11-16 20:23] jonrkarr opened #3630 "Display owners of projects as "channels""
Requested by @hsauro

We should make it easy to filter for projects associated with specific "channels" such as
- Model repositories
- Scientific consortium
- Institutions

Only specific accounts should be able to post content to specific channels. E.g., only BioModels should be able to publish to the BioModels channel.

One option is to associate channels with a subset of accounts that are grante

[2021-11-16 20:24] jonrkarr opened #3631 "Add filter for project publication status"
Yes/no whether a project is associated with 1 or more publications.

Requested by @hsauro.

[2021-11-16 20:42] bilalshaikh42 commented on #3628
The name of the HTTP header in the request is incorrect. It should be "authorization" not "authentication"

The URL to get the token is `auth.biosimulations.org/oauth/token`. While the endpoint you used is an alias, this affects the 'iss' claim on the token, which can cause auth to fail sometimes.

[2021-11-16 20:44] jonrkarr commented on #3628
I had both before; that didn't work either.

[2021-11-16 20:51] #3628 closed, assigned to bilalshaikh42

[2021-11-16 20:51] bilalshaikh42 commented on #3628
I am able to use an m2m token (biomodels) to connect to the run endpoint and log the correctly received token .

There may be some issues with your config file.  The issuer, audience and domain must match to token

[2021-11-16 20:52] jonrkarr commented on #3628
Yeah, I figured that out. I hadn't changed it to `api.biosimulations.org`.

[2021-11-16 20:52] jonrkarr commented on #3628
The `user` attribute is fine.

[2021-11-16 20:59] #3612 closed, assigned to jonrkarr

[2021-11-16 21:28] #3631 closed, assigned to jonrkarr

[2021-11-17 01:14] jonrkarr commented on #3630
Handled this using Auth0 organizations. Model repository and other users and clients can be assigned to organizations and their names will now be displayed in https://biosimulations.org. Auth0 doesn't directly support organizations for clients. This information is stored in custom metadata.

[2021-11-17 05:16] jonrkarr opened #3638 "Add multi-select table filter for columns with many options"
- [ ] Add multiple selection widget with auto-completion.
  - [ng-select](https://ng-select.github.io/ng-select#/multiselect-checkbox)
  - OR (material chips](https://material.angular.io/components/chips/overview).
- [ ] Add option to `Column` type to control whether columns use checkboxes or this new UI widget.
- [ ] Incorporate into tables
  - [ ] Simulators
  - [ ] Projects

[2021-11-17 05:32] jonrkarr commented on #3630
Organizations have been created for model repositories. Additional organizations could easily be created with a few button clicks. Added FAQs about how to request an organization.

[2021-11-17 05:36] #3630 closed, assigned to jonrkarr

[2021-11-17 05:36] todo[bot] opened #3639 "add all scopes/find a way to automate this from auth0 or at least create a commo..."
https://github.com/biosimulations/biosimulations/blob/32851620409f31aa56ea1f4ddc7202453daea369/apps/api/src/openApi.ts#L107-L110

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 32851620409f31aa56ea1f4ddc7202453daea369 when #3635 was merged. cc @biosimulations.

[2021-11-17 05:36] todo[bot] opened #3640 "add authorization URL based on the app"
https://github.com/biosimulations/biosimulations/blob/32851620409f31aa56ea1f4ddc7202453daea369/libs/config/nest/src/lib/biosimulations-auth-config.ts#L4-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 32851620409f31aa56ea1f4ddc7202453daea369 when #3635 was merged. cc @biosimulations.

[2021-11-17 08:49] jonrkarr opened #3642 "Fix bug in binding data to ng-select"
When tables open with state populated from URL hash fragments, the ng-select components don't properly bind to the value. ng-select seems to have a bug in this data binding.

[2021-11-17 09:31] #3638 closed, assigned to nobody

[2021-11-17 15:02] jonrkarr opened #3646 "Argo application is down"

[2021-11-17 15:05] jonrkarr opened #3647 "Dev API is down"
Cannot use Argo app to explore the reason because it is also down.

[2021-11-17 15:08] jonrkarr opened #3648 "HSDS are down"
I think these have been down for a couple of days. This is not due to changes to handling configuration by the Angular and Nest apps. The services are unresponsive even to h5pyd.

[code]

[2021-11-17 15:18] jonrkarr opened #3649 "Status and health should include the data service"
The status and health are currently misleading because the data service is down, but the status and health says everything is ok.

For these to be effective, they need to include all relevant status. With all relevant status included, this has the ability to communicate to users that the developers are aware there's a problem, they know what it is, and are working to quickly fix.

Not including al

[2021-11-17 15:53] bilalshaikh42 commented on #3648
I have been working on debugging this

On Wed, Nov 17, 2021, 10:09 AM Jonathan Karr ***@***.***>
wrote:

[2021-11-17 16:24] bilalshaikh42 commented on #3646
The application is up, though the ssl cert is not valid. To access it, HSTS needs to be disabled on chrome.

https://sectigostore.com/blog/how-to-disable-hsts-in-chrome-firefox/

[2021-11-17 16:24] #3646 closed, assigned to bilalshaikh42

[2021-11-17 16:27] bilalshaikh42 commented on #3647
The dev api is down due to recent changes that have added the account management service to the API. The proper secrets were not added to the deployment.

[2021-11-17 16:32] bilalshaikh42 commented on #3647
There are a few problems with the latest changes. We do not have access to the auth0 organization features with our account. Organization and account information should really be managed in our database rather than auth0. The API especially should not be using the management client, as it does not have the permissions to do so. That was what the account API was for

[2021-11-17 16:33] bilalshaikh42 commented on #3649
Yes, the current situation for the hsds was not accounted for in the status check or the status website. Both should be added

[2021-11-17 16:37] bilalshaikh42 commented on #3647
It might make sense to combine the functionality, into the one API, but we should first discuss the use-case and architecture a little bit.

[2021-11-17 17:23] bilalshaikh42 commented on #3647
I have added the needed token to get the API running, but further debugging might be needed to determine if this approach works

[2021-11-17 17:26] bilalshaikh42 commented on #3649
As a clarification- The health endpoint should not be changed, as the API is healthy without the dataservice functioning.
The status however does need to be updated

[2021-11-17 17:28] jonrkarr commented on #3646
In addition to the invalid certificate I saw 503 errors.

[2021-11-17 17:33] jonrkarr commented on #3647
I saw the notice about not having organization features, but using organizations seems to work fine.

We need to move past building infrastructure.

[2021-11-17 18:25] bilalshaikh42 commented on #3647
I worry about the feature being disabled at some point since it is new, but we can keep it as is if you prefer

[2021-11-17 18:25] #3647 closed, assigned to bilalshaikh42

[2021-11-17 18:26] bilalshaikh42 commented on #3648
Follow here: https://github.com/HDFGroup/hsds/issues/107

[2021-11-17 18:40] jonrkarr commented on #3647
If that happens, we could manage organizations via Auth0 user and machine metadata, create a MongoDB collection for them, or explore an enterprise plan, which we appear to already have. I think our limited time is better spent on creating content.

[2021-11-17 18:59] jonrkarr commented on #3648
Did we upgrade to a new version of HSDS? Perhaps we need to be more conservative about upgrading the HSDS and not deploy to `org` before checking `dev`.

[2021-11-18 05:40] #3640 closed, assigned to nobody

[2021-11-18 17:09] jonrkarr opened #3655 "Expand handling of failed simulation runs"
- [x] If structured logs are present and any status is not `SUCCEEDED`, mark the overall status of the run as failed
  - [x] Return structured log from LogService to CompleteProcessor
  - [x] Get status from log
- [x] Post-process files, SED-ML, and metadata for failed runs
  - [x] Delay when simulation run status is marked as `FAILED` until after post-processing, including for failed jobs
  - [x]

[2021-11-18 17:30] jonrkarr commented on #2741
As discussed today, VCell also uses `NaN` to report partially successfully simulations (individual tasks which partially succeeded). From HDFGroup/hsds#87, it sounds like the HSDS returns a superset of JSON similar to [JSON5](https://json5.org/). It doesn't sound like we want to use the `ignore_nan` HSDS option because it sounds like this also converts +/- Inf to null, which would lose information

[2021-11-18 18:51] #3648 closed, assigned to bilalshaikh42

[2021-11-18 21:37] bilalshaikh42 opened #3658 "🐛: Search and Filter options not visible when browse page is scrolled down"
### Contact Details

_No response_

### Location

BioSimulations

### What happened?

Options are not visible when selecting search and filter after scrolling down page. User needs to scroll back up to see the menu appear.

### What made it happen?

1. Scrolled down the browse page
2. Clicked on "Search and Filter" button
3. Did not see options
4. Scrolled to top
5. Saw options

### Version

Devel

[2021-11-18 21:50] jonrkarr commented on #3658
Added scroll to top on the opening of that panel

[2021-11-19 23:09] #3639 closed, assigned to jonrkarr

[2021-11-19 23:09] #2634 closed, assigned to jonrkarr

[2021-11-19 23:09] #3614 closed, assigned to jonrkarr

[2021-11-19 23:09] #3655 closed, assigned to jonrkarr

[2021-11-19 23:09] #3658 closed, assigned to jonrkarr

[2021-11-21 18:39] #3238 closed, assigned to jonrkarr

[2021-11-22 08:30] bilalshaikh42 opened #3671 "🐛: Validation is broken by class-transformer 0.5.0"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Loading the page to submit a simulation run caused error message

### What made it happen?

Go to https://run.biosimulations.dev/run

### Version

Development (Deployed on a .dev domain)

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### Code of Conduct

- [X] I agr

[2021-11-22 19:11] jonrkarr commented on #3671
This is due to a problem with the API caused by functions accidentally removed from class-transformer 0.5.0. I think this is solved by 0.5.1.

See also
- https://github.com/nestjs/nest/issues/8637
- https://github.com/typestack/class-transformer/blob/develop/CHANGELOG.md

[2021-11-22 19:40] #3671 closed, assigned to jonrkarr

[2021-11-22 23:01] jonrkarr commented on #3642
Potential solution: replace with material components

[2021-11-23 02:34] bilalshaikh42 commented on #2432
I can create a workflow in the deployment branch to do this. We can leave the code as-is, to keep it platform-independent. Presumably, this would work on cloud/standard amazon aws

[2021-11-23 05:58] jonrkarr commented on #2432
I asked Mike to look into this last week. In theory, I think the policy you set should be enough. It feels like there's some error that we're not seeing or a permission that we don't have. We can ping him again to see if he figured it out.

[2021-11-29 21:08] bilalshaikh42 opened #3705 "🐛: Logs do not display for failed runs"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Loaded a run that failed. The logs tab just displays a spinner without showing the logs. Looking at the network requests, the API call to get the log succeeded.

### What made it happen?

Load the page https://run.biosimulations.dev/simulations/61a54069625e450d632c32c0#tab=log

### Version

Development (Deploy

[2021-11-29 21:14] bilalshaikh42 opened #3706 "Remove outdated package npn-slider"
The [npn-slider](https://www.npmjs.com/package/npn-slider) package used in some of the components has not been updated in 3 years and is causing issues with the latest versions of angular.  See #3668.

The mat-slider component should be used instead to ensure compatibility.

[2021-11-29 21:26] bilalshaikh42 commented on #3705
This is caused by the resultsLoaded$ observable being false if a simulation has failed for all pages, not just those that are missing data

[2021-11-29 21:42] bilalshaikh42 commented on #3706
The issue with this, and the reason we are using npn-slider in the first place, is that mat slider does not allow for setting a range easily. The component is currently only used in one location, so perhaps we can make a custom component to handle this use case

[2021-11-29 22:12] bilalshaikh42 commented on #3705
Specifically, resultsLoaded is false becasue the metadata is not present. This should not cause the load to fail

[2021-11-29 22:20] jonrkarr commented on #3706
Unfortunately, material provides a somewhat limited component library, which necessitates the use of third-party components.

This might be an import issue. Here's a blog post that discusses something similar.
https://careydevelopment.us/blog/angular-how-to-deal-with-that-cursed-does-not-have-emod-error

Another possibility is this package. However, it isn't frequently maintained either.
https://w

[2021-11-29 22:34] bilalshaikh42 commented on #3705
The issue was that if no metadata was present, it was loaded as undefined. Instead, it should have been null to distinguish cases where the data is loaded, but not present. Pushed a fix

[2021-11-29 22:40] bilalshaikh42 commented on #3706
The import issue is showing up because the package uses and older build engine for the module I believe. The newer angular build system does not seem to support importing those modules, leading to the error.  The ngx-slider package was updated more recently, so it might not have this issue.

[2021-11-29 22:43] #3642 closed, assigned to jonrkarr

[2021-11-29 23:00] jonrkarr commented on #3706
I'm only vaguely familiar with the evolution of Angular's build engine. The module looks very similar to recent versions of angular. Might be easy to fork or copy.

[2021-11-29 23:05] bilalshaikh42 commented on #3706
Likewise.  I have noticed references in the change notes about the build system moving from "View Engine" to "Ivy" and that this has an impact on libraries that use the older one, but not an actual understanding of what that means regarding changes that are needed. It might be that all that is needed is a small update to some metadata, in which case we could fork it

[2021-11-29 23:07] #3705 closed, assigned to jonrkarr

[2021-11-29 23:10] jonrkarr commented on #3706
I think it might just be a couple bits of metadata. See "How to set the format for a library?" in https://christiankohler.net/angular-view-engine-was-removed-what-you-need-to-know

[2021-11-29 23:14] jonrkarr commented on #3706
I think it might be sufficient to update the compilation options
https://github.com/npnm/NpnSlider/blob/master/projects/npn-slider/tsconfig.lib.json

[2021-11-29 23:22] jonrkarr commented on #3706
I think the other package might have the same problem.
https://github.com/angular-slider/ngx-slider/issues/296

It looks like forks of ngx-slider have already addressed the problem
https://github.com/rp3e11/ngx-slider/commits/master

[2021-11-30 01:24] bilalshaikh42 commented on #3706
I simply included the package code as a custom component in the UI library in #3668. We can customize it as needed just as any other UI component

[2021-11-30 01:54] jonrkarr commented on #3706
Thanks

[2021-11-30 19:03] #3706 closed, assigned to nobody

[2021-12-01 16:46] bilalshaikh42 opened #3719 "🐛: Uploading files using web form causes error"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Using the webform to upload files, an error is presented when trying to create the formdata for submission.
Almost certainly due to 0ae13a8b7b755988c016d8985d775b45a82c5844 having a different type for the uploaded files

### What made it happen?

Submit a file for simulations

### Version

Development (Deploye

[2021-12-01 16:58] jonrkarr commented on #3719
Why did this need to be changed? Because we don't have unit tests, changes like this have to be checked manually. Unless there's a compelling reason, we have other things to focus on.

[2021-12-01 17:08] bilalshaikh42 opened #3720 "Simplify usage of ```create-simulation-project``` and ```dispatch-component```"
There are two components that seem to be forms for submitting a project, one for running a simulation and the other for submitting a project. Both take in many of the same form inputs and have different validators attached in the same file. this is difficult to parse and changes to one are not reflected in the other.
The forms ideally would be combined as one form that has varying levels of valida

[2021-12-01 17:15] jonrkarr commented on #3720
These forms have distinct functions and different inputs and outputs and thus distinct validation. Currently, there's a button to pass the output of the first to the input to the second.

We need to focus on creating modeling projects that are already available rather than UIs that comparatively few people will use to create COMBINE archives.

[2021-12-01 17:30] bilalshaikh42 commented on #3720
I see I misinterpreted the purpose of the form based on the name since we have overloaded the term project. I assumed "project' meant published project. Now I see that the functionality for submitting a project and submitting simulation run use the same underlying form, with added validation when submitting. This can be disregarded.

[2021-12-01 17:30] #3720 closed, assigned to nobody

[2021-12-01 18:05] bilalshaikh42 commented on #3719
This was a part of the changes in #3668. I noticed it when submitting projects from the physiome repo.  I have pushed a fix in #3721. Ready to merge with a review.

[2021-12-01 18:29] bilalshaikh42 opened #3722 "Expand SED-ML specifications to repeated tasks"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

I submitted the following run for simulation:
https://biosimulations.dev/runs/61a7bcd1f1cf993d0aec402c

The simulation logs show that all of the simulation steps pass. The API is able to return the results successfully
https://api.biosimulations.dev/results/61a7bcd1f1cf993d0aec402c?includeData=true

However, t

[2021-12-01 18:32] bilalshaikh42 opened #3723 "Consolidate form validators into common library"
The dispatch app contains many form validators that are copied throughout the app. These should be consolidated into a single library to make changes more manageable.

[2021-12-01 18:35] jonrkarr commented on #3722
The log for the service will contain more detailed information about the error. For example, this could be due to a 500-level error with the API. I've experienced such errors, and I'm not sure we've fixed the origin of the issue.

[2021-12-01 18:40] bilalshaikh42 commented on #3722
It seems that the combine-api/dispatch-service are are returning specifications that the API does not consider to be valid:

[code]

[2021-12-01 18:43] bilalshaikh42 commented on #3722
Here is the relevant portion only:

[code]

Is the API not designed to accept repeated tasks?

[2021-12-01 18:48] jonrkarr commented on #3722
The COMBINE API can validate repeated tasks and execute them, but can't return specifications for repeated tasks. The database mirrors the output of the COMBINE API. Both are relatively easy to change.

Another solution is to flatten out the SED-ML from PMR. PMR/OpenCOR don't really involve repeated tasks; the RepeatedTasks only involve a single iteration of a single task. I don't know why OpenCOR

[2021-12-01 18:51] bilalshaikh42 commented on #3722
I am not sure I follow, since it seems that the combine API did return the specifications with the ```_type:SedRepeatedTask```, but the API considered the type invalid.

[2021-12-01 19:12] jonrkarr commented on #3722
I forget how far I implemented the SED-ML data model into the output of the COMBINE API and its specifications and the datamodel in the API. The Python code for the COMBINE API and the Python data model do handle repeated tasks. I think the Python code can export the Python data model to JSON, but using schemas that aren't part of the specifications of the COMBINE API. This leads to an error being

[2021-12-01 19:24] bilalshaikh42 opened #3725 "Results endpoint should return partial data when possible"
For example: https://run.biosimulations.dev/simulations/61a5440b4a8b188bb74c1a51#tab=log
The run failed. so it is likey that some or all data was not output.

Trying to get the results (without data) works fine:
https://api.biosimulations.dev/results/61a5440b4a8b188bb74c1a51?includeData=false

However, trying to get the data with results causes a 500 error:
https://api.biosimulations.dev/results/6

[2021-12-01 19:34] #3719 closed, assigned to bilalshaikh42

[2021-12-01 19:52] jonrkarr commented on #3725
Multiple things have to be done to properly deal with errors.

This sounds related to the NaN issue with the HSDS. The underlying issue is that we're not properly retrieving NaN and +/-Inf from the HSDS. Currently, the HSDS truncates the data (presumably at the first NaN or Inf). This makes it hard to understand what the data was intended to be. Reshaping the response from the HSDS doesn't fix the

[2021-12-01 19:52] jonrkarr commented on #3725
This sounds redundant with #2741.

[2021-12-01 19:54] #3725 closed, assigned to nobody

[2021-12-01 21:10] #3649 closed, assigned to bilalshaikh42

[2021-12-02 15:05] biosimulations-daemon commented on #3719
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3649
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3705
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3642
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3671
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3238
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3639
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3658
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3614
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3655
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #2634
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3640
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3638
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3630
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3631
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3612
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3042
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3706
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 15:05] biosimulations-daemon commented on #3625
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-02 18:31] bilalshaikh42 opened #3732 "Create Github topics and collections for "biological-simulation" and "biological-simulation-tools""
https://github.com/github/explore/blob/main/CONTRIBUTING.md#curating-a-new-topic-or-collection

We can add repositories of various projects in the modeling/simulations space

[2021-12-03 15:26] #3732 closed, assigned to nobody

[2021-12-03 15:27] #3577 closed, assigned to bilalshaikh42

[2021-12-04 02:03] bilalshaikh42 opened #3741 "Add mongo config to archive old simulation runs"
https://docs.atlas.mongodb.com/online-archive/manage-online-archive/

[2021-12-05 00:07] github-actions[bot] opened #3745 "Example simulation runs need to be fixed"
The following 2 example simulation runs did not succeed:

<details><summary><b>Morphogenesis checkpoint (Ciliberto et al., J Cell Biol, 2003; SBML; CVODE; VCell) (<a href="https://run.biosimulations.org/simulations/618d8b7dd69062b5905ac41e" target="_blank">618d8b7dd69062b5905ac41e</a>)</b></summary><br/>
Simulation results could not be found for run '618d8b7dd69062b5905ac41e'. For publication, sim

[2021-12-05 08:08] jonrkarr commented on #3609
This still does not appear to be addressed.  See #3745.

[2021-12-05 08:09] jonrkarr commented on #3745
Appears to be redundant with #3609.

[2021-12-05 08:09] #3745 closed, assigned to nobody

[2021-12-05 17:06] bilalshaikh42 commented on #3609
That error is that the results could not be read, but that is handled already with the retires built into the apps correct? I was able to load the simulation and associated plots and the status is marked as succeeded

[2021-12-05 17:10] bilalshaikh42 commented on #3609
For the second one, I am getting a spinner (on mobile) but can see the logs, specifications, results and metadata all just fine from the API

[2021-12-05 17:11] bilalshaikh42 commented on #3609
I am not sure that the examples are actually incorrect at all. In either case, this is a sperate issue since these errors were occuring during processing leading to failure, but these have both succeeded it seems

[2021-12-05 17:12] bilalshaikh42 commented on #3745
I don't think this is related to the previous errors. Infact, I don't think anything about these runs is incorrect at all

[2021-12-05 21:18] bilalshaikh42 opened #3747 "🐛: OpenCor image not accepting file inputs with spaces"
### Contact Details

_No response_

### Location

runBiosimulations, BioSimulations API

### What happened?

The image is unable to load the OMEX archive correctly.
See: https://run.biosimulations.dev/simulations/61ad293f9bd352e8df2f2d13#tab=log

Removing spaces removes the error.
See: https://run.biosimulations.dev/simulations/61ad2bca35f38e7426a0c544#tab=log

No such limitation exists for other

[2021-12-05 21:46] jonrkarr commented on #3745
The runs are likely fine. The server intermittently fails. It appears to get overloaded, even with the retrying that's set up.

[2021-12-05 21:57] jonrkarr commented on #3747
I think I already corrected the escaping in the template slurm script. This might be related to how the Docker entrypoint is configured for OpenCOR's bespoke Python environment.

Also, the simulation service does not need to use the original file names. The simulation service could use sanitized names or a standardized name such as 'project.omex'.

[2021-12-05 22:10] jonrkarr commented on #3609
I don't think there's any issues with the logic our of code.

I think these are similar to the intermittent deployment performance-related failures in submission, resources seem to get overloaded and fail. This is noticeable with batch submissions or tests. Retrying should work if enough time is allocated. However, retrying isn't a great fix because users may still interpret a long delay as an err

[2021-12-06 00:07] bilalshaikh42 commented on #3609
Oh, I see. I thought this issue was about the  502 errors that would sometimes appear during processing. This issue refers to the results endpoint. Ill check the logs for the cause of this

[2021-12-06 00:09] bilalshaikh42 commented on #3747
While changing the file name would correct the issue on the backend, users may still provide a omex archive with spaces as input to the simulation tools directly. Since this case works for the other simulators, and is only an issue with opencor its probably best to address the image for opencor

[2021-12-06 00:10] bilalshaikh42 commented on #3747
This is not an issue with the slurm script as other simulators (such as tellurium) are able to handle the spaces just fine

[2021-12-06 00:25] bilalshaikh42 commented on #3585
Addressed in #3691. The deployment config can have environment variables set for "URLs" and "EXTERNAL_URLS".
Backend services getting a URL to use for an API call load the external URL, while front end services and backend services getting a URL that is user-facing or passed to another service load the external url

[2021-12-06 00:28] #3585 closed, assigned to bilalshaikh42

[2021-12-06 00:40] jonrkarr commented on #3747
Agreed. I didn't change the names of OMEX files in the simulation service because it isn't necessary. I did the minimum needed to enable names with spaces by escaping inputs.

The issue is due to the pythonshell script that OpenCOR provides. This script doesn't properly escape inputs. I'll work around this and file an issue to OpenCOR.

The other simulation tools don't have this problem because Py

[2021-12-06 01:56] jonrkarr commented on #3747
Worked around with BioSimulators-OpenCOR 0.0.9. Reported underlying issue as opencor/opencor#2602.

[2021-12-06 01:56] #3747 closed, assigned to jonrkarr

[2021-12-06 03:25] bilalshaikh42 commented on #3609
This is not possible to trace due to the structure of the validate endpoint. Since the endpoint is directly importing the various services instead of calling the HTTP endpoints, the API is not logging any errors for the results.

Additionally, the simulationRun module is registering itself as a provider for the services it is importing,  the services are created as singletons unique to the simulat

[2021-12-06 03:25] jonrkarr opened #3750 "Recognize metadata for auto-generated SED-ML"
Arose from discussion with @bilalshaikh42. Motivated by limited SED-ML files for existing models. One workaround is to auto-generate SED-ML for models without SED-ML and then make it easy for users to filter these out. This would enable us to important a larger number of models into BioSimulations while making it easy for users to find high-quality simulations.

- [x] Identify an appropriate predi

[2021-12-06 03:40] jonrkarr commented on #3609
The code can be modified to log more diagnostic information. Errors do not need to be handled as implemented with Promise.allSettled at https://github.com/biosimulations/biosimulations/blob/dev/apps/api/src/simulation-run/simulation-run.service.ts#L989. allSettled is convenient, but collects limited error information. More information can be logged by combining Promise.all with catches for each ch

[2021-12-06 04:00] bilalshaikh42 opened #3751 "🐛: NetPyNe example run times out"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

NetPyNe example run times out repeatedly when submitting examples runs

See: https://run.biosimulations.dev/simulations/61ad84c5da658557956a4d8b#tab=log

@jonrkarr Is this run expected to take longer than 20 mins?

### What made it happen?

Ran example submission script

### Version

Development (Deployed on a

[2021-12-06 04:03] jonrkarr commented on #3751
No. I recently corrected something. This might not be meshing well with UConn's HPC, even though its fine in GitHub actions. This probably has to be debugged by SSHing into the cluster.

[2021-12-06 04:19] bilalshaikh42 commented on #3751
The above logs are all that are output on the cluster as well. I can try to run it in verbose mode and see if that gives any more information

[2021-12-06 04:40] jonrkarr commented on #3751
This likely relates to the use of MPI. I'd guess its either hanging at the very beginning or maybe at the very end. I think this may be hard to work out without interactively running this on an HPC node.

[2021-12-06 04:45] jonrkarr commented on #3751
The change is because I found a mistake which previously prevented NetPyNe from actually being used. I forgot to pass along an optional argument. As a result, the pyNeuroML, NEURON, and NetPyNe images were actually all using pyNeuroML. This logic is now corrected. I'm not terribly surprised that there's an issue with the environment set up with NetPyNe + UConn HPC.

[2021-12-06 05:44] jonrkarr commented on #3609
biosimulations/biosimulations#3752 adds more diagnostic information. Neverthless, I don't think this will reveal much since this is examining the client for the HSDS rather than the HSDS itself. The log for the HSDS itself is likely more informative.

[2021-12-06 19:04] bilalshaikh42 opened #3754 "Deletion cascade does not delete correct files"
The various services are not deleting the proper files

FileService:
[code]

ResultsService:
[code]

These functions are meant to be in the SimulationStorageService which provides methods that better capture the meaning of operations.

- [x] Create the following two functions in `SimulationsStorageService`

[code]

- [x]  Remove ability to directly use `SharedStorageService`

[2021-12-06 19:07] bilalshaikh42 opened #3755 "Endpoints Returns incorrect paths"
S3 path for archive contents:

[code]

- [x] fix methods
- [x] add tests
- [ ]  Move methods to SharedStorageService so apps/services don't need to determine path for files. They should call higher level fucntions

[2021-12-06 22:26] jonrkarr commented on #3722
I'm working on this. As part of this, I'm serializing/deserializing the references between SED-ML objects so that the Typescript apps can work with the full object graph for SED-ML documents (which the Python code already has), rather that the subset they've had to date. This is more important for repeated tasks because they introduce nesting a lot of reference between objects.

[2021-12-06 22:37] bilalshaikh42 opened #3758 "Ci passes even if one step fails"
@jonrkarr could you take a look at the following line? I can't seem to get the bash exit code correct. I am trying to run all three steps in parallel and fail if any of them fail.

https://github.com/biosimulations/biosimulations/blob/d75afbd1f4a69ea830813dd3c9978e3d2d63be41/.github/workflows/buildLintTest.yml#L89

[2021-12-06 23:08] jonrkarr commented on #3758
The individual exit codes have to be collected separately. This post shows a similar solution: https://stackoverflow.com/a/46212640.

[code]

[2021-12-06 23:10] jonrkarr commented on #3755
I likely broke this when I clarified the argument names and forgot to update the body of the method.

[2021-12-06 23:17] #3754 closed, assigned to bilalshaikh42

[2021-12-06 23:17] #3755 closed, assigned to bilalshaikh42

[2021-12-06 23:17] todo[bot] opened #3759 "check deletion worked and all needed files were deleted"
https://github.com/biosimulations/biosimulations/blob/751c39ee61238a3e784133de1cf78e0dea291d9b/libs/shared/storage/src/lib/simulation-storage.service.ts#L36-L41

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 751c39ee61238a3e784133de1cf78e0dea291d9b when #3753 was merged. cc @biosimulations.

[2021-12-06 23:22] #3758 closed, assigned to jonrkarr

[2021-12-06 23:22] bilalshaikh42 commented on #3758
thanks!

[2021-12-09 05:25] jonrkarr opened #3767 "Permissions to delete simulation tools is broken"
This is error I now see when trying to use https://api.biosimulators.dev/simulators. There is no Auth0 "Admin" role.

This is a relatively new error. This wasn't present a few weeks ago.

[code]

[2021-12-09 16:10] bilalshaikh42 commented on #3767
This is a holdover from when we were using roles more directly instead of fine-grained permissions. The latest changes to Auth0 removed the code snippet that was adding the "Admin" role to our accounts.  This should be fixed by #3769. An additional permission is added to allow for the deletion of all simulators.

[2021-12-09 18:10] #3767 closed, assigned to bilalshaikh42

[2021-12-09 20:21] bilalshaikh42 opened #3771 "🐛: Missing Kisao definition from api causes files and metadata to fail to display"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Submitted a simulation run. Loading the files and metadata tabs shows errors

### What made it happen?

The http logs show that the API responded with the files, metadata and specifications as expected. However, the call to https://api.biosimulations.dev/ontologies//KISAO/KISAO_0000019 failed with a 404. This

[2021-12-09 20:36] jonrkarr commented on #3771
The URL issue comes from a bug introduced in the restructuring of endpoints.

The missing simulators shouldn't happen in the org deployment. This can happen if dev resources are created with org simulators.

[2021-12-09 20:43] bilalshaikh42 commented on #3771
Whoops, sorry didn't mean to assign you.  Has the dev simulators database been modified? Not sure why tellurium would stop working

[2021-12-09 20:49] jonrkarr commented on #3771
I copied the simulators over from org to dev yesterday. In general, they will diverge until we re-sync them. One way they diverge is different versions. They can also diverge if we migrate the schema and content, but don't update each entry in the dev database.

[2021-12-09 21:10] #3771 closed, assigned to bilalshaikh42

[2021-12-10 00:50] #3094 closed, assigned to bilalshaikh42

[2021-12-10 00:50] todo[bot] opened #3777 "clean lint warning below and update warning to errors"
https://github.com/biosimulations/biosimulations/blob/1ad248aea0512204047ed8d5b75fcbe058253565/apps/api/src/simulation-run/simulation-run.service.ts#L550-L553

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1ad248aea0512204047ed8d5b75fcbe058253565 when #3772 was merged. cc @biosimulations.

[2021-12-10 00:50] todo[bot] opened #3778 "remove the redundancy between the various s3 paths"
https://github.com/biosimulations/biosimulations/blob/1ad248aea0512204047ed8d5b75fcbe058253565/libs/config/common/src/lib/endpoints.ts#L454-L459

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1ad248aea0512204047ed8d5b75fcbe058253565 when #3772 was merged. cc @biosimulations.

[2021-12-10 15:28] jonrkarr opened #3784 "Large simulation results are not being stored"
Example:
- COMBINE archive: [lorenz.zip](https://github.com/biosimulations/biosimulations/files/7693968/lorenz.zip)
- Results: 61b29b45c882fd4f8accfb1b / lorenz.sedml / report

Initial observation: our results endpoint in our API returns all zeros

Further investigation
- The generated h5 results file is 3.3 MB
- Our API stores and retrieves the generated h5 file correctly
- `hsget` returns all ze

[2021-12-10 16:15] jonrkarr commented on #3784
@bilalshaikh42 the configuration for the HSDS appears to need to be changed to enable large results

[2021-12-10 16:24] bilalshaikh42 commented on #3784
I'll investigate this

On Fri, Dec 10, 2021, 11:15 AM Jonathan Karr ***@***.***>
wrote:

[2021-12-10 17:27] jonrkarr opened #3785 "Error logging has been broken by changes to Axios error types"
Previously, error statuses were contained in `error.status` and `error.message`

Due to dependency upgrades, these now must be obtained from `error.response.status` and `error.response.data.detail`.

[2021-12-10 17:32] jonrkarr opened #3786 "dev API can no longer forward to OMEX files for locally created runs"
New issue as of the last couple hours.

My local deployment of the API is fine, but the deployed version is not.

[2021-12-10 17:36] jonrkarr opened #3787 "dispatch-service unncessarily downloads archives using external URLs"
This was causing me problems stemming from #3786

[2021-12-10 18:48] bilalshaikh42 commented on #3787
Could you point to where this is?

[2021-12-10 18:50] bilalshaikh42 commented on #3786
The API has had breaking changes in how it handles file downloads. Are you experiencing this on a branch? Rebasing in the latest changes from dev might fix this

[2021-12-10 18:57] bilalshaikh42 commented on #3785
This might be useful https://github.com/axios/axios/issues/3612

[2021-12-10 20:51] jonrkarr opened #3790 "Replace cookies with local storage"
- [ ] Replace cookies https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id#disabling_cookies
- [ ] Edit Privacy policy: Change documentation to say we use "performance cookies"
     https://docs.biosimulations.org/about/privacy/#how-we-collect-personal-data

[2021-12-11 02:27] #3786 closed, assigned to bilalshaikh42

[2021-12-11 02:30] jonrkarr commented on #3785
Thanks.

[2021-12-11 05:51] jonrkarr commented on #3787
https://github.com/biosimulations/biosimulations/blob/b4e7790155492fc9389bc7076062fb3ad2d474fa/apps/dispatch-service/src/file/file.service.ts#L36
https://github.com/biosimulations/biosimulations/blob/1156bdbad307bb15672bf9f10e13f176f4eb201b/apps/dispatch-service/src/sedml/sedml.service.ts#L32
https://github.com/biosimulations/biosimulations/blob/1156bdbad307bb15672bf9f10e13f176f4eb201b/apps/dispat

[2021-12-11 05:54] #3722 closed, assigned to jonrkarr

[2021-12-11 05:54] #3785 closed, assigned to jonrkarr

[2021-12-11 05:54] #3787 closed, assigned to jonrkarr

[2021-12-11 05:56] jonrkarr opened #3792 "Copy dispatch/utils module to simulators app"
- [ ] Move to shared library
- [ ] Import into dispatch and simulators apps

[2021-12-11 22:29] bilalshaikh42 opened #3795 "chore(deps): update dependency mongoose to v6.1.1"

[2021-12-11 22:30] bilalshaikh42 commented on #3795
Simulators-API has incorrect typing when returning a simulator that need to be corrected. See the tests for #3760

[2021-12-12 00:12] jonrkarr opened #3796 "Update documentation links and remove old-style documentation"
- [x] Sort concepts menu
- [x] lowercase names of concepts pages
- [x] Fix https://docs.biosimulations.org/users/user-tutorial/ link in platform app
- [x] Fix broken links in docs markdown files
- [x] Fix formatting of typewriter text
- [x] Clarify conventions overview
- [x] Clarify names of conventions files/routes
- [x] Group conventions under concepts or their own top-level category
- [x] Merge

[2021-12-12 01:38] bilalshaikh42 commented on #3796
It would be useful to group the conventions underneath concepts before switching the URLs over.
We had discussed adding information about each modeling languages interface to sed-ml under concepts as well

[2021-12-12 02:38] jonrkarr commented on #3796
Added to the todo list above

[2021-12-12 04:16] #3751 closed, assigned to nobody

[2021-12-12 20:58] #3792 closed, assigned to jonrkarr

[2021-12-12 21:46] jonrkarr opened #3800 "Re-build prod example simulation runs and projects"
- [x] Deploy prod
- [x] Run example simulations
- [x] Publish example runs

[2021-12-13 05:05] #3750 closed, assigned to nobody

[2021-12-13 15:55] bilalshaikh42 commented on #3790
https://github.com/h5bp/html5-boilerplate/issues/1444#issuecomment-213000510

[2021-12-14 23:58] #3796 closed, assigned to nobody

[2021-12-15 01:32] bilalshaikh42 commented on #3790
@jonrkarr this is effectively done. It was not as simple as I thought since the new version of google analytics does not support the configuration as above. I was able to use google tag manager to set up the config, but we effectively lose all information other than page views.

Looking at the following two pages, I think we can actually leave the cookies in. The cookies are used to keep track of

[2021-12-15 01:36] jonrkarr commented on #3790
Using cookies and describing them "performance cookies" seems fine to me. Nucleic Acids specifically says "tracking cookie". In that case, please revise the statement in the privacy policy (`docs/about/privacy.md`).

[2021-12-15 03:50] jonrkarr commented on #3784
Looks good

[2021-12-15 03:50] #3784 closed, assigned to bilalshaikh42

[2021-12-15 04:19] jonrkarr opened #3808 "Improve handling of large simulation projects"
Currently, large projects can partly be handled:
- The file upload limit for the API and COMBINE API allow COMBINE archives up to 1GB (larger can be uploaded via URLs)
- The files service can store large COMBINE archives
- The HPC can run long simulations
- The data service can store large simulations

However, there's at least a few limitations:
- [ ] Timeout limit on uploads to the API: addresse

[2021-12-15 05:34] biosimulations-daemon commented on #3796
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3750
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3792
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3751
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3722
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3787
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3785
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3094
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3771
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3767
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3758
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3754
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3755
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 05:34] biosimulations-daemon commented on #3585
:tada: This issue has been resolved in version 8.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-15 17:01] jonrkarr opened #3811 "Various occasional 500, 502, 504 errors in running and accessing simulation runs and validating models"
I'm working through testing the latest production version. Here are what appear to be deployment-related issues that I've encountered.

## Issues
- [ ] 2 502 errors in submitting simulation runs for 86 BiGG models (prod)
    No insight here; this is further back than the Argo log for the API tracks
- [ ] 1 transient 500 error in retrieving simulation results 61b99352a73ffdd52158c96d (prod) of 37 r

[2021-12-15 17:02] jonrkarr commented on #3609
Closing. More recent errors are described in #3811.

[2021-12-15 17:02] #3609 closed, assigned to nobody

[2021-12-15 17:04] jonrkarr opened #3812 "Fix various issues"
- [x] Update create GitHub issue URLs
- [x] Fix simulators view endpoint method
- [x] Create COMBINE archive should not create empty metadata files -- was error in one of the BioSimulators tutorials
- [x] Fix display of file nesting. Example: https://run.biosimulations.dev/simulations/61ba2dc1db278554cf2aba8b#tab=files
- [x] Default number of steps with CellML -- fixed in BioSimulators-utils 0.1.1

[2021-12-15 17:38] jonrkarr commented on #3811
The prod dispatch service also seems to be taking a long time to process runs.

[2021-12-15 19:12] jonrkarr opened #3813 "COMBINE API appears to silently fail to receive configuration/secret files"
The COMBINE API needs to read `secret/secret.env` and `config/config.env`.

[code]

This fails due to this
[code]

[2021-12-15 21:11] jonrkarr opened #3814 "Production deployment appears to have failed silently"
The API and maybe other apps appear not to have been deployed with https://github.com/biosimulations/biosimulations/actions/runs/1581231059

For example, a new attribute is visible in the documentation at https://api.biosimulations.dev/#/Projects/ProjectsController_getProjectSummaries but not at https://api.biosimulations.org/#/Projects/ProjectsController_getProjectSummaries.

[2021-12-15 21:24] bilalshaikh42 commented on #3814
Seems that there were quite a few crashed containers on the deployment. I cleared those out and the changes ae syncing again

[2021-12-15 21:25] bilalshaikh42 commented on #3814
This might be due to the database having an older schema that is removing old fields or something along those lines.
We can try to clear the database of the models that no longer match the schema

[2021-12-15 21:25] jonrkarr commented on #3811
Likely related to the crashed containers

[2021-12-15 21:27] jonrkarr commented on #3814
I don't think its because of such as schema issue. I think some errors I saw are because I expected prod to have been deployed, but it wasn't.

[2021-12-15 21:47] bilalshaikh42 commented on #3813
There have not been any changes to this at all lately have there? It seems to me this could be a result of the container crashing issue. There can be problems with accessing config files when everything gets jammed up like that

[2021-12-15 22:48] jonrkarr commented on #3813
Correct, neither the configuration nor the method for passing configuration has changed. This also feels like the result of a performance issue with the deployment.

[2021-12-15 22:48] #3813 closed, assigned to bilalshaikh42

[2021-12-15 23:01] jonrkarr commented on #3814
I'm still seeing an old version of code deployed on prod.

[2021-12-16 01:00] bilalshaikh42 commented on #3814
I was able to trigger a deployment manually. Not sure why the API call for the workflow is not working.

[2021-12-16 02:40] #3812 closed, assigned to jonrkarr

[2021-12-16 03:09] jonrkarr commented on #3814
The prod API is now done. I tried restarting from Argo. The logs have these errors

[code]

[2021-12-16 03:12] biosimulations-daemon commented on #3812
:tada: This issue has been resolved in version 8.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 03:24] bilalshaikh42 commented on #3814
This is caused by the same issue. The config is not being mounted to the container

[2021-12-16 03:29] bilalshaikh42 commented on #3814
I am clearing out old pods and added some resources

[2021-12-16 03:52] bilalshaikh42 commented on #3814
This was due to the changes made with using auth0 for groups. The secrets were correctly added to the dev deployment, but not prod

[2021-12-16 04:35] jonrkarr opened #3823 "COMBINE API still not receiving configuration and running old version"

[2021-12-16 05:53] #3800 closed, assigned to jonrkarr

[2021-12-16 06:55] jonrkarr commented on #3811
The rate of 500/502 errors in submitting BiGG to the API is now much higher

[2021-12-16 07:48] bilalshaikh42 commented on #3823
I am seeing both prod and dev running with no errors.

[2021-12-16 07:54] bilalshaikh42 commented on #3808
Combine archives submitted via URLs are also limited to a 1gb maximum

1) we can work around this for URLs by acknowledging the submissions before fully uploading the URL to the s3 as we are doing now

2) Creating a combine service connected to the messaging would be a good approach

3) I am not sure where we would run into this limit. 16MB is quite a lot for the information that we are storing, w

[2021-12-16 07:54] #3790 closed, assigned to bilalshaikh42

[2021-12-16 12:17] jonrkarr commented on #3808
If combine archives submitted via URL are also limited to 1GB, the FAQ and notes in the webforms need to be changed.

[2021-12-16 14:28] jonrkarr opened #3825 "File creation fails with locations with non-URI characters"
Locations with non-URI characters (e.g., spaces, parentheses) currently fail on `isUrl` validation at
https://github.com/biosimulations/biosimulations/blob/ddf38ff7062f6d6dd275b1e192acdd15f2063225/libs/datamodel/api/src/lib/core/file.ts#L64

Such locations are allowed by the specifications of the OMEX manifest format, and zip archives and file systems support this.

The simplest option is probably

[2021-12-16 14:30] jonrkarr opened #3826 "Owners of projects not properly recorded for BiGG"
Project ownership is not being properly recorded with projects submitted with the BiGG auth0 application (client id and client secret). Likely a minor bug.

[2021-12-16 14:32] jonrkarr opened #3827 "Correct documentation to note that COMBINE archives are limited to 1GB, including archives submitted via URLs"
I believe this limit is discussed in a few places
- [x] Update FAQs
- [x] Update notes in web forms
- [x] Search for `1 GB` in the code and update as appropriate

[2021-12-16 17:18] biosimulations-daemon commented on #3800
:tada: This issue has been resolved in version 8.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 17:19] biosimulations-daemon commented on #3790
:tada: This issue has been resolved in version 8.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 17:37] jonrkarr opened #3828 "Increase size limit for logs of simulation runs"
The log for runs of [this archive](https://github.com/biosimulations/biosimulations/files/7729339/iCHOv1_DG44.zip) can no longer be uploaded
[code]

[2021-12-16 17:44] jonrkarr opened #3829 "Validation for logs of simulation runs is failing because `/logs/validate` is being routed to `/logs/{:runId}`"
#3822 should have fixed this. At least that worked locally on my machine.

I think this still isn't working because the deployment must not have succeeded to deploy a new version of the API.

[2021-12-16 18:04] jonrkarr opened #3830 "Add step to project publication to get the summary of the run"
Currently, summaries of several runs may need to be computed when a users browses the list of projects. This can result in a time out. One work around is to trigger the caching of each summary when the corresponding project is published.

Call `getRunSummary`
https://github.com/biosimulations/biosimulations/blob/dev/apps/api/src/simulation-run/simulation-run.service.ts#L630

From
- [x] Add to proj

[2021-12-16 18:32] jonrkarr opened #3831 "auth0 model repository machine accounts do not have permissions to create runs with publication requests (non-null `projectId`)"
These accounts must get the scope `externallyValidate:SimulationRuns`. The accounts already have this scope.

[2021-12-16 18:39] jonrkarr commented on #3831
Likely due to Auth0 outtage

[2021-12-16 18:40] jonrkarr commented on #3826
May be due to Auth0 outtage

[2021-12-16 18:50] jonrkarr opened #3832 "Allow more control over the organizations that projects are associated to"
Currently, projects are associated with the Auth0 organization(s) that their owner belongs to. Ideally, at the time of publication (a) users would indicate the organization they want to post their project to and (b) users would be restricted to posting to organizations that they are members of.

[2021-12-16 18:51] bilalshaikh42 commented on #3823
This should be resolved

[2021-12-16 18:51] #3823 closed, assigned to bilalshaikh42

[2021-12-16 19:23] biosimulations-daemon commented on #3828
:tada: This issue has been resolved in version 8.2.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-16 19:25] jonrkarr commented on #3829
Works now that #3822 is deployed

[2021-12-16 19:25] #3829 closed, assigned to jonrkarr

[2021-12-16 19:27] #3814 closed, assigned to bilalshaikh42

[2021-12-16 21:22] jonrkarr commented on #3828
The log still cannot be uploaded. Example: https://run.biosimulations.org/simulations/61bbabc6297bc08e2f83de43.
`nfs/biosimulations/prod/simulations/61bbabc6297bc08e2f83de43/log.yml`

YAML version of log is 12MB. This may be breaking the MongoDB limit.

Ideally, we would provide a clear error message about this.

Also, I should make biosimulators-utils truncate such long logs and/or filter out war

[2021-12-17 03:19] bilalshaikh42 commented on #3828
@jonrkarr  could you take a look at the branch post-log-debug?
I made some changes just to debug this, and I am confused as to the cause:

1. the construcctor for the log processor is set up   so that as soon as you start  the dispatch-service it will try to post the log.
2. The API main file more explicitly sets the body size limit
3. The json for the log is written to file to debug.

With this,

[2021-12-17 04:01] jonrkarr commented on #3828
Seems like there's a limit on what the service can send, or maybe what it can serialize to JSON. I'm not familiar with sender-side limits, but I guess it's possible there could be configuration for this. I'd be spirited if it were a memory limit since you're running this on your machine. I'm more familiar with receiver-side limits.

Did you try searching Google for such a client side limit?

Are y

[2021-12-17 04:38] bilalshaikh42 commented on #3828
Of course, it's a client-side issue. The two error messages for the body being too large on the server and on the client are similar enough that I didn't even think to check. Should be resolved shortly.

Thanks!

[2021-12-17 05:01] #3828 closed, assigned to bilalshaikh42

[2021-12-19 00:07] github-actions[bot] opened #3839 "Example simulation runs need to be fixed"
The following 2 example simulation runs did not succeed:

<details><summary><b>Repressilator (Elowitz & Leibler, Nature, 2000; CellML; CVODE; OpenCOR) (<a href="https://run.biosimulations.dev/simulations/61b4368d2ebaa833132801c0" target="_blank">61b4368d2ebaa833132801c0</a>)</b></summary><br/>
Simulation results could not be found for run '61b4368d2ebaa833132801c0'. For publication, simulation run

[2021-12-19 21:27] jonrkarr commented on #3839
Same issue as #3811

[2021-12-19 21:27] #3839 closed, assigned to nobody

[2021-12-19 21:48] #3827 closed, assigned to jonrkarr

[2021-12-19 22:06] #3830 closed, assigned to jonrkarr

[2021-12-19 23:21] jonrkarr commented on #3826
Organizations property was encoded incorrectly. Fixed. Now displays correct in biosimulations.org.

[2021-12-19 23:21] #3826 closed, assigned to jonrkarr

[2021-12-20 00:38] jonrkarr commented on #3831
Due to BioSimulators-utils not using authorization

[2021-12-20 00:38] #3831 closed, assigned to jonrkarr

[2021-12-20 19:07] jonrkarr commented on #3811
Gateway errors occurred again today (12/20) in submitting runs to https://api.biosimulations.org

[2021-12-20 19:51] biosimulations-daemon commented on #3830
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-20 19:51] biosimulations-daemon commented on #3827
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-20 19:51] biosimulations-daemon commented on #3828
:tada: This issue has been resolved in version 8.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-20 20:00] jonrkarr commented on #3811
@bilalshaikh42 please try increasing the allocated resources. Presently it is challenging to get through 88 simulation runs for BiGG (submitted sequentially with ~15 second delay in between) without the API, COMBINE API, dispatch service, and simulators API pods each crashing.

[2021-12-20 20:01] bilalshaikh42 commented on #3811
Yes, I have been getting notifications about high memory utilization. Let me tweak the resources.

[2021-12-20 20:03] bilalshaikh42 commented on #3811
For reference:

Stackdriver Incident

Memory allocatable utilization for biosimulations gke-biosimulations-nap-e2-medium-18q6-d8445605-o55h with metric labels {component=pods, memory_type=non-evictable} is above the threshold of 0.900.
https://app.google.stackdriver.com/incidents/0.mb2fjofpn280?project=biosimulations&src=VESPA

[2021-12-20 20:53] bilalshaikh42 commented on #3811
Steps taken:
1. I have increased the memory requests for the combine-api and dispatch-service.
2.  I don't believe that the API or simulators-api were having any issues with memory limits, but were going down due to node memory being used by the others. I increased the memory limits for the API.
3. Increased the maximum amount of nodes that can automatically be provisioned by GKE when it detects m

[2021-12-21 13:38] jonrkarr commented on #3811
Please test the configuration by submitting 100 jobs.

[2021-12-21 20:16] #3759 closed, assigned to jonrkarr

[2021-12-21 20:16] #3777 closed, assigned to jonrkarr

[2021-12-21 20:16] #3778 closed, assigned to jonrkarr

[2021-12-21 22:50] #3825 closed, assigned to jonrkarr

[2021-12-21 23:34] jonrkarr commented on #3795
mongoose has already been updated to 6.1.2. Tests for `simulators` and `simulators-api` apps both pass.

[2021-12-21 23:34] #3795 closed, assigned to bilalshaikh42

[2021-12-21 23:50] #2970 closed, assigned to jonrkarr

[2021-12-22 04:21] jonrkarr commented on #2741
The HSDS appears to return data in a format compatible with [JSON5](https://www.npmjs.com/package/json5). When Axios receives output from the HSDS which contains NaN or Inf (JSON5), the `data` attribute of Axios' response is an instance of `string` rather than an instance of `object`. This string can then be parsed to an object by `JSON5.parse`.

I incorporated `JSON5.parse` into `libs/hsds/client

[2021-12-22 04:26] jonrkarr opened #3863 "Raise errors on failures to save simulation data to HSDS"
Errors aren't being raised when simulation results fail to upload. This results in corrupt data, where HDF5 datasets are defined the HSDS, but have empty values. This is due to a bug in h5pyd. We have reported this as HDFGroup/h5pyd#111.

Such errors can occur when HDF5 datasets have mixed data types (i.e. datasets aren't well typed) such as mixed int and NaN. More discussion about handling NaN an

[2021-12-22 06:59] jonrkarr commented on #2846
Additional pods could be assigned if needed.

[2021-12-22 06:59] #2846 closed, assigned to nobody

[2021-12-22 07:05] #2741 closed, assigned to jonrkarr

[2021-12-22 08:11] jonrkarr opened #3866 "Update `version` in `package.json` in continuous deployment action (`cd.yml`)"

[2021-12-22 08:21] jonrkarr opened #3867 "COMBINE API deployment not reading shared S3 bucket configuration"
This causes multiple things to fail
- Creation of COMBINE archives
- Export of visualizations to COMBINE archives

Here's the trace from the `dev` deployment. The problem appears to be that `secret.env` isn't mounted.
[code]

[2021-12-22 08:46] jonrkarr opened #3869 "Attach storage to logs for deployment"
The logs available in https://deployment.biosimulations.org/ (e.g., https://deployment.biosimulations.org/applications/biosimulations-prod?node=apps%2FDeployment%2Fprod%2Fapi%2F0&tab=logs) are helpful. However, they don't go back very far. It would be helpful to store these logs further back (e.g., 1 or a few months).

@bilalshaikh42 If these logs are already being stored, how I access them?

[2021-12-22 09:02] biosimulations-daemon commented on #2741
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 09:03] biosimulations-daemon commented on #2970
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 09:03] biosimulations-daemon commented on #3825
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 09:03] biosimulations-daemon commented on #3759
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 09:03] biosimulations-daemon commented on #3777
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 09:03] biosimulations-daemon commented on #3778
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 10:18] jonrkarr commented on #3867
I think I figured it out.
- I removed these configuration variables from the configuration for the COMBINE API because they're redundant with the shared configuration.
- The COMBINE API wasn't reading the shared configuration.
- The configuration files are correctly getting mounted. We know this because it is correctly reading the bucket token and secret.
- I think my confusion stemmed from thinki

[2021-12-22 11:03] jonrkarr opened #3872 "Prod and dev deployments not syncing"
Error from Argo:

### Raw
[code]

### Formatted
- ValidationError
  - `Deployment`
    - `spec`
      - `template`
        - `spec`
          - `affinity`
            - `podAffinity`
              - `preferredDuringSchedulingIgnoredDuringExecution`
                - `[0]`
                  - `podAffinityTerm`
                    - missing required field `topologyKey` in `io.k8s.api.core.v1.PodAffi

[2021-12-22 15:13] jonrkarr commented on #3872
Fixed enough to enable syncing. This still needs to be reviewed. See biosimulations/deployment#43

[2021-12-22 15:13] #3872 closed, assigned to jonrkarr

[2021-12-22 16:13] jonrkarr commented on #3867
Fixed

[2021-12-22 16:13] #3867 closed, assigned to jonrkarr

[2021-12-22 16:25] jonrkarr opened #3875 "Fix handling of unselecting file (with file input)"

[2021-12-22 16:28] jonrkarr opened #3876 "Clean up simulators database"
Somehow the simulators database lost new versions of tools, and instead has old versions. Perhaps this is due to recent issues with the deployment, where we were unintentionally using a different MongoDB instance.

- [x] Remove old versions
  - [x] AMICI 0.11.19
  - [x] GillesPy 1.6.4
  - [x] MASSPy 0.1.2
  - [x] Others
- [x] Add new versions
  - [x] AMICI 0.11.22
  - [x] GillesPy2 1.6.6
  - [x] M

[2021-12-22 17:05] jonrkarr commented on #3876
Done except as noted above

[2021-12-22 17:05] #3876 closed, assigned to jonrkarr

[2021-12-22 17:26] #3875 closed, assigned to jonrkarr

[2021-12-22 17:35] jonrkarr commented on #3876
Manually updated image digests

[2021-12-22 17:36] jonrkarr opened #3878 "Fix simulators updated timestamps"
- [x] Fix logic
- [x] Update simulators with `updated`=`undefined` after re-deployed

[2021-12-22 19:06] biosimulations-daemon commented on #3875
:tada: This issue has been resolved in version 8.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-22 19:16] jonrkarr commented on #3878
Done

[2021-12-22 19:16] #3878 closed, assigned to jonrkarr

[2021-12-22 22:31] jonrkarr opened #3882 "Update `PYPI_TOKEN` GitHub organization secret"
The PyPI token (https://github.com/biosimulations/biosimulations/settings/secrets/actions) no longer works. A new token needs to be generated for the `biosimulations` PyPI account and saved to `PYPI_TOKEN`. I can't do this because I don't have access to the PyPI account or its recovery email address.

## Temporary work around
Temporarily, I've set `PYPI_TOKEN` to a token for the `biosimulators` Py

[2021-12-22 22:54] jonrkarr commented on #3811
BiGG test (2021-12-22 4:30pm)
- New configuration made it through 48 BiGG projects before one failed with 500 error (after 1 retry after 0.1s)
- All submitted runs executed successfully
- 3 runs didn't successfully publish -- status were still processing when publication was attempted; filed as #3885 and addressed in #3886
  - `iBWG_1329`: `61c3998cb5d9e03c1d4cb6fe`
  - `iECH74115_1262`: `61c39a3c

[2021-12-22 23:26] jonrkarr opened #3885 "Retry run publication following completion in `CompeteProcessor`"
As discussed in #3811, some runs aren't being published. Publication needs to be retried.

[2021-12-23 00:14] jonrkarr commented on #3811
@bilalshaikh42 please try increasing the size of the nodes. It looks like we're using `e2-medium`. It looks like the next size up is `e2-standard-2`

[2021-12-23 00:15] #3885 closed, assigned to jonrkarr

[2021-12-23 00:36] biosimulations-daemon commented on #3885
:tada: This issue has been resolved in version 8.5.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-23 07:11] jonrkarr commented on #3811
I increased the number of replicas for the API and their requested memory and re-tested. I saw a similar number of 502 errors (dispatch-service can't reach API). This time, my test failed with a 504 error (unable to reach API).

[2021-12-23 15:21] jonrkarr commented on #3811
Ran another test, with more generous client-side (my machine submitting runs) retrying.
- Internally, the dispatch-service reported at least 47 502 errors. Nearly all of these could be retried.
- 1 job (61c426fe1c93f90892dfb8e7) failed with saving specifications and metadata.
- 1 job (61c427dd6d7cb516694e406c) failed with 409 conflict in hsload in the SBATCH job. This is an h5pyd/hsds error. I thi

[2021-12-23 16:20] bilalshaikh42 commented on #3811
I edited the node pool to use high-memory nodes. Each node should now have 16gb of memory, which might help with the issues that we are seeing with the hsds and dispatch-service

[2021-12-23 16:22] jonrkarr commented on #3811
Do the container limits also need to be raised?
- Maximum memory
- Maximum CPU

[2021-12-23 16:30] bilalshaikh42 commented on #3811
I don't think the maximum cpu is posing any issues. With more  memory on the nodes, raising the maximum memory limits may be helpful

[2021-12-23 17:03] jonrkarr opened #3891 "Change partition, qos, constraint in SBATCH template to use new UConn HPC configuration"
Follows up on our discussion from 2021-12-23.

@mpw6 The SBATCH templates are defined at the location below. Please put any notes here about what we should change

## Todo
- [x] Add `#SBATCH --constraint="simulations&SSE42"`
- [x] Change `HPC_SLURM_QOS` as `simulations`
- [x] Change `HPC_SLURM_PARTITION` to `global`

## Related files

https://github.com/biosimulations/biosimulations/blob/dev/apps/

[2021-12-23 17:08] jonrkarr opened #3892 "Switch to use general Singularity module in UConn HPC rather than custom BioSimulations module"
Follows up on our discussion from 2021-12-23.

BioSimulations is currently using the `singularity/3.7.1-biosim` module in `/home/FCAM/crbmapi/module/`.

@mpw6 please let us know if we should switch to a different module

## Todo
- [x] Change `HPC_EXECUTABLES_PATH` configuration variable to `"PATH=$PATH"`
- [x] Change `HPC_MODULE_PATH` configuration variable to `/isg/shared/modulefiles`
- [x] Chang

[2021-12-23 17:09] jonrkarr commented on #3811
I increased the maxima

[2021-12-23 17:39] jonrkarr commented on #3811
I ran BiGG again with the expanded resources
- With client-side (my machine) retrying, all runs were submitted, completed, and published
- The API had ~12 timeout errors uploading resources to the S3 bucket -- all handled by client-side retrying
- The dispatch service experienced 43 502 errors with the API -- all handled by retrying within the dispatch-service
  - 35 posting files
  - 6 posting lo

[2021-12-23 18:15] jonrkarr opened #3893 "Changelog in documentation is always 1 release behind"
https://docs.biosimulations.org/news/changelog/ is always 1 release behind. The release workflow needs to update the documentation after the changelog is compiled.

[2021-12-24 22:21] bilalshaikh42 commented on #3811
Great! It seems the issue then is that the API is using more memory than was previously available on each node. With some more investigation, we should be able to figure out what is causing the pods to crash that resulting in the retries being needed.

[2021-12-25 03:04] bilalshaikh42 commented on #3811
Looking at https://grafana.api.biosimulations.org/d/nginx/nginx-ingress-controller, it seems the two main causes of error are the HSDS and timeouts when uploading to the storage bucket

[2021-12-25 03:30] bilalshaikh42 opened #3895 "Add metrics endpoint to API"
We can use the [monitoring dashboard](https://monitoring.biosimulations.org) to keep track of metrics for API performance, such as the number of successful and failed runs, size of runs etc.
This would require a "/metrics" endpoint that returns statistics in [prometheus standard format](https://prometheus.io/docs/concepts/data_model)

**Approach:**

create a module that provides a singleton servic

[2021-12-25 03:32] bilalshaikh42 commented on #3866
Oddly, this used to happen just fine. There is a plugin for semantic release that should handle this. I'll take a look

[2021-12-25 03:59] jonrkarr commented on #3811
The 502 errors are between the dispatch service and api.

The storage bucket issues seemed unusually high in my latest test. We can add retrying to help with this. A more robust option is to temporarily store archives to a Google bucket and then upload it to the Uconn bucket when possible, using a queue to manage this i.e. move this into the dispatch queue.

Both the hsds and bucket issues would a

[2021-12-25 04:00] bilalshaikh42 commented on #3882
The pypi account is tied to the biosimulationsdaemon@gmail.com account and has been verified. It was set to info@biosimulations.org previously, but this just forwards to the daemon account anyway. I can send you the login info for the daemon account if needed

[2021-12-25 04:00] #3882 closed, assigned to bilalshaikh42

[2021-12-25 04:02] jonrkarr commented on #3866
In that case, it sounds like a configuration variable might need to be updated

[2021-12-25 04:04] jonrkarr commented on #3882
Thanks.

[2021-12-25 04:43] bilalshaikh42 commented on #3866
This was due to a change I made to include the changelog in the git commit. Seems each file included must be specified
https://semantic-release.gitbook.io/semantic-release/support/faq

[2021-12-25 04:48] bilalshaikh42 commented on #3893
I added a "release" trigger to the docs workflow that should hopefully run after the release is done. The [skip ci] that is included with the commit message may prevent this, so lets confirm next release before closing

[2021-12-25 05:13] bilalshaikh42 commented on #3811
Yes. I was not clear.I believe most of these are now resolved with the larger node size since we don't have the issue of the API crashing due to running out of memory.  The errors that are happening seem to be due to the API locking up when uploading files/retrying connections to the data service, but I am not completely sure about this.

Agreed. It seems at times the response time/speed of the bu

[2021-12-25 05:15] bilalshaikh42 commented on #3811
I will close this issue as its getting a bit long and the main problem should? be resolved. We can open up another issue if we still encounter 502/504s. The 500 is due to hsds/s3 which we can track in #3896

[2021-12-25 05:15] #3811 closed, assigned to bilalshaikh42

[2021-12-25 05:16] bilalshaikh42 opened #3896 "Handle transient issues with access to s3 bucket"
The s3 bucket hosted at Uconn may be causing issues with HSDS and uploading files. We can switch some functionality over the a google cloud bucket temporarily to see if that resolves the issues/speeds up the file uploads.

See https://github.com/biosimulations/biosimulations/issues/3811#issuecomment-1000976505 for context/motivation

[2021-12-25 15:32] jonrkarr opened #3897 "Investigate 502 errors between dispatch service and api"
After increasing the node size, we still saw many 502 errors between the dispatch service and Api. I believe they were all resolved with retrying.

Potential things to consider
- use fewer replicas of api, each with more memory

[2021-12-25 15:36] jonrkarr commented on #3896
With a few minor changes, I think we could use Google cloud as temporary storage until archives and their contents are successfully copied to the uconn bucket. I'm thinking we wouldn't add a job to the dispatch queue until transfered, and add a transfer queue between the submission and the dispatch queue.

[2021-12-25 17:27] bilalshaikh42 commented on #3896
I am not sure what that would achieve. Is the point simply to return a response to the user before waiting for the transfer? In that case, we can simply wait to upload the archive after returning a response, so this would just be a part of the "dispatch" step. There is no need for a second bucket in that case

[2021-12-25 17:45] jonrkarr commented on #3896
To the user, submissions would reliably be accepted rather than rejected. To users, the systems would appear more reliable. Instead of requests being rejected, users would potentially experience slower runs when there's bucket connection issues. This just requires some form of temporary storage.

[2021-12-25 17:47] jonrkarr commented on #3896
With a change like this, it should become unnecessary for biosimulations-bigg to retry submissions because the retry logic (for uploading to the bucket would effectively be internalized into the dispatch service).

[2021-12-26 00:08] github-actions[bot] opened #3898 "Example simulation runs need to be fixed"
The following 1 example simulation runs did not succeed:

<details><summary><b>Iron distribution (Parmar et al., BMC Syst Biol, 2017; SBML; CVODE; PySCeS) (<a href="https://run.biosimulations.dev/simulations/61b436772ebaa8331328004f" target="biosimulations">61b436772ebaa8331328004f</a>)</b></summary><br/>
Simulation results could not be found for run '61b436772ebaa8331328004f'. For publication, si

[2021-12-26 00:20] jonrkarr commented on #3898
Similar performance issues

[2021-12-26 00:20] #3898 closed, assigned to nobody

[2021-12-26 02:28] bilalshaikh42 commented on #3896
Right. I think this can be achieved without the need for a separate bucket. We can simply upload the files to the bucket after returning a response to the user instead of before. Any issues can be handled with retries.

[2021-12-26 14:24] jonrkarr commented on #3896
I suggested a queue approach because retrying isn't intend for many retries, such as when the bucket is down for hours. If retrying eventually fails after a maximum number of retries is exhausted, the status of the simulation run and its log would need to be updated accordingly so that users can access information about the reason for the failure.

[2021-12-27 20:05] bilalshaikh42 commented on #3893
Fixed by adding the release trigger for docs

[2021-12-27 20:05] #3893 closed, assigned to bilalshaikh42

[2021-12-27 20:05] bilalshaikh42 commented on #3866
Fixed

[2021-12-27 20:05] #3866 closed, assigned to bilalshaikh42

[2021-12-27 23:37] bilalshaikh42 commented on #3895
https://github.com/willsoto/nestjs-prometheus#counter

[2021-12-29 16:58] bilalshaikh42 opened #3925 "Display project metadata even if metadata is invalid and highlight errors"
# Issue
For example, the following runs don't display project information:

https://run.biosimulations.dev/simulations/61cc917c65c0f2ae1d17aa18
https://run.biosimulations.dev/simulations/61cc919965c0f2ae1d17aa20
https://run.biosimulations.dev/simulations/61cc91c1790bd49cbb397673

The reason that the validation fails is the following:
[code]
However, this probably won't prevent metadata from being

[2021-12-29 21:37] jonrkarr commented on #3925
Earlier I thought about doing something like this. Rather than doing something like this I thought it was simpler to refer users to the validate metadata form/API endpoint/command-line program.

This would require a few changes
- [ ] COMBINE API must return metadata even when its invalid
  - This could be returned as a field of a 404 response
- [ ] Modify database to separately store metadata and

[2021-12-30 16:15] bilalshaikh42 commented on #3892
Switching to singularity/3.9.2 from regular module directory

[2021-12-30 16:40] jonrkarr opened #3926 "Expand simulator specifications to capture required/optimal computational resources"
Examples:
- GPU
- CUDA level
- SSE level

See also: https://github.com/CBC-UCONN/Slurm_Feature_Constraints

[2021-12-31 06:04] jonrkarr commented on #3925
For this to be helpful, I think it would need to highlight the invalid metadata (say in red). Otherwise, this could give the false impression that metadata is valid.

This requires a deep level of tracking of errors. If we did this, ideally we'd uniformly do this for all types of content (metadata) and not others (SED-ML, manifests). This would be a fair amount of work.

As a temporary measure, we

[2021-12-31 18:47] #3892 closed, assigned to jonrkarr

[2021-12-31 18:49] jonrkarr commented on #3891
Partitioned cannot currently be changed to `global` because `singularity run` stalls on those nodes. This requires help from @mpw6.

[2021-12-31 19:53] jonrkarr commented on #3925
In #3933, I added links from error messages about invalid projects, files, simulation experiments, and metadata to the project validator (http://run.biosimulations.org/utils/validate-project). These links are configured with query arguments that automatically trigger the appropriate validation so that users just have to click 1 link to see the errors with their projects.

The other suggestions are

[2021-12-31 20:31] bilalshaikh42 opened #3934 "🐛: SVGs are displayed as Zipped SVGs"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

SVG files are displayed as Zipped SVG files even if they have the regular ".svg" extension
https://run.biosimulations.dev/simulations/61cf6049e3202b690abca986#tab=files

### What made it happen?

Run a simulation that contains an svg file. For example  https://run.biosimulations.dev/simulations/61cf6049e3202b6

[2021-12-31 20:33] bilalshaikh42 commented on #3934
Probably due to recent changes in #3931 and how the onology api is using that information to lookup file descriptions/names

[2021-12-31 20:41] jonrkarr commented on #3934
Yes, its due to the PR cited above. Our apps use the format URI, not the extension. Unfortunately, SVGZ doesn't have its own canonical media type. As a result, I used the same URI for both SVG and SVGZ.

One option is to use a different media type for SVGZ such as `image/svg+xml-compressed` as suggested in w3c/svgwg#701. This would entail a few small changes:
- [x] Modify https://github.com/biosim

[2021-12-31 20:42] jonrkarr commented on #3934
I can take care of the first two tasks as part of supporting the other file formats discovered in Physiome.

[2021-12-31 20:50] bilalshaikh42 commented on #3934
I agree with the long-term solution.
In the short term, I think it would make more sense to default the other way. Meaning, it is acceptable to label SVGZ files as regular SVG files, since users familliar with SVGZ files would understand the intent.  For most users however, showing the common SVGs as an unexpected format may cause confusion.

[2021-12-31 21:07] bilalshaikh42 commented on #3934
Having read through the issue, I think agree that the simplest solution would be to just label the SVGZ files as
```image/svg+xml-compressed```.
The worst-case consequences of using the nonstandard mimetype will be some programs that rely exclusively on mime-type not recognizing it, but this seems to happen anyway since they try to interpret the file as SVG without running any sort of decompressio

[2021-12-31 22:37] bilalshaikh42 opened #3936 "🐛: Repeated task model import fails"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

The following simulation run fails due to being unable to import a model component from a contained subdirectory

https://run.biosimulations.dev/simulations/61cf83e483721ec991439924#tab=log

@jonrkarr I am not able to tell why this is not working. Is the import in the CellML not correct?

### What made it happ

[2021-12-31 22:43] jonrkarr commented on #3936
I'll look at this. Likely the imported files are not in the expected location.

[2022-01-01 00:19] jonrkarr commented on #3934
I changed the media type/URI for SVGZ in #3937. Using a non-standard media type/URI allows us to print a more informative description than something like "Unknown binary format". The downside seems minimal to me because using a non-standard media type doesn't seem worse than using none at all.

[2022-01-01 00:59] #3934 closed, assigned to jonrkarr

[2022-01-01 01:14] jonrkarr commented on #3936
I haven't looked into this yet. This could be an issue with BioSimulators-utils not executing the repeated task from the intended working directory (from which paths to imported models are described).

[2022-01-01 03:44] jonrkarr opened #3938 "Cookie notification is a little too wide for mobile displays"

[2022-01-01 14:19] #3938 closed, assigned to jonrkarr

[2022-01-02 00:08] github-actions[bot] opened #3941 "Example simulation runs need to be fixed"
The following 2 example simulation runs did not succeed:

<details><summary><b>Heat shock protein synthesis (Szymanska et al., J Theor Biol, 2009; SBML; CVODES; AMICI) (<a href="https://run.biosimulations.dev/simulations/61b436722ebaa83313280038" target="biosimulations">61b436722ebaa83313280038</a>)</b></summary><br/>
Simulation results could not be found for run '61b436722ebaa83313280038'. For pu

[2022-01-02 00:53] jonrkarr commented on #3941
Similar to previously reported issues

[2022-01-02 00:53] #3941 closed, assigned to nobody

[2022-01-02 01:04] jonrkarr opened #3943 "Enable markdown in project descriptions"
- [x] render markdown
  - [x] style headings appropriately, or demote headings
- [x] update documentation

[2022-01-03 15:35] jonrkarr commented on #3891
On hold because some of the UConn nodes need to be re-provisioned because Singularity isn't working on them. This is expected to take a few weeks. Can be completed once @mpw6 informs us that re-provisioned is completed.

[2022-01-03 15:40] jonrkarr opened #3955 "Switch project browse view to use resized thumbnails"
- [x] Download images
- [x] Resize images
- [x] Upload thumbnail to S3
- [x] Switch apps to use function to get thumbnail URLs
  - [x] simulation run view
  - [x] projects browse
- [x] Document image size

[2022-01-03 17:57] jonrkarr commented on #3936
Working directories weren't set properly in 3 places. This is fixed in BioSimulators-utils 0.1.55 and BioSimulators-OpenCOR 0.0.13.

[2022-01-03 18:21] jonrkarr commented on #3936
The example archive now runs successfully. Example run: https://run.biosimulations.dev/simulations/61d33e6ea7318728eb5fba00

[2022-01-03 18:21] #3936 closed, assigned to jonrkarr

[2022-01-04 05:58] #3943 closed, assigned to jonrkarr

[2022-01-04 06:04] jonrkarr opened #3962 "Display metadata for individual files of projects"
Presently, we can capture metadata about individual files. However, we have minimal capabilities to display this information.

1 option
- [x] Add a column to the files tab of project views with buttons to open modal windows with metadata about individual files
- [x] Reuse the existing metadata component inside these modal windows
- [x] Remove metadata about other files displayed in the current com

[2022-01-04 16:47] bilalshaikh42 opened #3963 "Use Github Flavored Markdown for project descriptions"
818d2673f20c1a87f235618cae242c129b49630f adds support for markdown on project descriptions but explicitly sets it to support original flavor rather than GitHub flavor. GitHub flavored markdown seems to be more widely supported these days and the use case for displaying markdown on GitHub and project descriptions is quite similar.  It also provides additional extensions that may be useful for proje

[2022-01-04 16:47] bilalshaikh42 opened #3964 "Use Github Flavored Markdown for project descriptions"
818d2673f20c1a87f235618cae242c129b49630f adds support for markdown on project descriptions but explicitly sets it to support original flavor rather than GitHub flavor. GitHub flavored markdown seems to be more widely supported these days and the use case for displaying markdown on GitHub and project descriptions is quite simmilar.  It also provides additional extensions that may be useful for proj

[2022-01-04 16:51] jonrkarr commented on #3964
Duplicate of #3963

[2022-01-04 16:51] #3964 closed, assigned to nobody

[2022-01-04 16:59] jonrkarr commented on #3963
I agree we would preferably use CommonMark or GFM (which is similar to CommonMark). We've been using ngx-markdown to render markdown. However, the package underlying ngx-markdown, marked.js, is only partially compatible with GFM. See https://marked.js.org/#specifications and https://github.com/markedjs/marked/discussions/1202#discussioncomment-168112.

Alternatively, we could switch to a different

[2022-01-04 17:11] bilalshaikh42 commented on #3963
Looking at the discussion regarding compatibility, it seems that for most _practical_ purposes the underlying library is compatible. Ngx-markdown is nice in that provides angular style services, directives, and pipes that manage the underlying library for us. We could simply enable gfm and see if there are any issues that we notice

There are some issues with edge cases, but I do not anticipate th

[2022-01-04 17:32] jonrkarr commented on #3963
I was aiming to be more conservative so that we don't confuse users with incomplete markdown support. Alternatively, we can go with gfm, but document the incompatibility.

Lets go with this compromise:
- [x] Switch ngx-markdown configuration to use gfm
- [x] Update documentation to note that we support gfm
- [x] Add a note in the documentation that gfm support is incomplete and include a link to h

[2022-01-04 17:49] bilalshaikh42 commented on #3963
Sounds good. I can do that

[2022-01-04 20:37] #3963 closed, assigned to bilalshaikh42

[2022-01-05 05:56] #3962 closed, assigned to jonrkarr

[2022-01-05 20:49] jonrkarr commented on #3891
Done

[2022-01-05 20:49] #3891 closed, assigned to jonrkarr

[2022-01-06 14:26] biosimulations-daemon commented on #3962
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:26] biosimulations-daemon commented on #3963
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:26] biosimulations-daemon commented on #3943
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:26] biosimulations-daemon commented on #3938
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:26] biosimulations-daemon commented on #3934
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:26] biosimulations-daemon commented on #3892
:tada: This issue has been resolved in version 8.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-06 14:39] jonrkarr commented on #3955
Done

[2022-01-06 14:39] #3955 closed, assigned to jonrkarr

[2022-01-06 15:17] bilalshaikh42 opened #3977 "Dispatch Service Fails to Start"
The latest deployment for the dispatch service have failed due to some missing dependencies.

@jonrkarr do you know if any recent changes would require a c package called "sharp"?

[2022-01-06 15:20] bilalshaikh42 commented on #3977
This is due to the image resizing library

[2022-01-06 15:21] jonrkarr commented on #3977
Probably just need to add `apk add vips-dev` to the Dockerfile at

https://github.com/biosimulations/biosimulations/blob/9694df907445bb9c3474824fc62c4777f4170f66/Dockerfile#L32

[sharp](https://www.npmjs.com/package/sharp) is a node package needed for resizing images.

It requires `libvips`. Installation requires
- C++11 compiler
- node-gyp

[2022-01-06 15:36] jonrkarr opened #3978 "Add test to CI that Docker images start and respond as intended"
As noted in #3977, images can build successfully but fail to start. Our CI/CD pipeline is missing this because its not testing most of the images. This gap could be shrunk by checking that the images  start up successfully and return positive health responses.

[2022-01-06 16:00] bilalshaikh42 opened #3981 "Front end apps should not have dependencies on s3 URLS"
The changes in #3975 overrode linting rules designed to prevent front-end apps from depending on storage bucket information. All interaction with the storage should be handled through the API as the API can work with a range of backend configurations in a way that is transparent to the front end apps.  This will cause breaking changes if we ever need to include a second bucket as suggested in #389

[2022-01-06 16:08] jonrkarr commented on #3981
The thumbnails are generated as part of the post-processing and saved to the S3 bucket. This avoids the need to use our API to access images, generate them dynamically, or cache them dynamically.

The front end apps only need information about where to find thumbnails. They don't require detailed information about how this is stored.

[2022-01-06 16:09] jonrkarr commented on #3981
I think we have more important things to focus on than engineering for using multiple buckets or multiple storage mechanisms.

[2022-01-06 16:24] bilalshaikh42 commented on #3981
The locations of the thumbnails are provided as URLs under the files or files-dev domains, which are inherently tied to the UConn storage bucket.

A URL such as api.biosimulations.org/SIMID/thumbnails?size=small would be a better source of the thumbnails.

 All that the API would be doing is sending back a 301  to the URL that is currently being retrieved via the shared config. This will allow any

[2022-01-06 16:26] bilalshaikh42 commented on #3981
I agree with this. I am not advocating for making this change now. But simply to avoid an architecture that will prevent any changes in the location of the files later without breaking all existing simulations/projects. The change to prevent this is quite minor.

[2022-01-06 16:27] bilalshaikh42 commented on #3978
This is a good point.
The CD system (argo deployments) is aware of this, and actually tests the health endpoints of the images before deployment. That is the reason that the deployments continued to work even though the image was crashing.

[2022-01-06 16:31] bilalshaikh42 commented on #3978
Including this in the CI would be ideal.  I am not sure how to create workflows in GitHub actions that can start a docker container, run tests against it, and then close it down properly, however.
 I don't want to run the tests themselves in the docker image because then we are adding a lot of dependencies to the container and then we are effectively testing a different image than the one that is

[2022-01-06 16:34] bilalshaikh42 commented on #3978
Here is a potential approach to running this sort of test. All we need to do is curl the /health endpoint for each container

https://stackoverflow.com/questions/67134410/how-to-test-my-dockerfile-for-my-python-project-using-github-actions

[2022-01-06 16:44] bilalshaikh42 commented on #3978
https://dev.to/mihinduranasinghe/using-docker-containers-in-jobs-github-actions-3eof

This might be a good approach to do this. We can use the containers that were just created to run a quick test against the health endpoint. For the API, we will need to provide a mongo, nats, redis and some config as well to get the container to start

[2022-01-06 16:46] jonrkarr commented on #3977
#3979 isn't enough for sharp to work. This still has to be worked out.

[2022-01-06 16:58] jonrkarr commented on #3978
As another example, the unit tests for the COMBINE API are being run in the Docker image.

Yes, this would require mocking some other resources or a little refactoring to enable minimal testing without other resources (this would narrow, but not close the testing gap; even this would be helpful).

[2022-01-06 17:02] bilalshaikh42 commented on #3977
Yup, sorry didn't mean to close. Im just trying to get all the docker/dependency changes consolidated before debugging further

[2022-01-06 17:03] jonrkarr commented on #3977
I think sharp is the only relevant change.

[2022-01-06 17:43] bilalshaikh42 commented on #3977
This seems to be caused by the --ignore-scripts command on the npm install. Removing this is a bit of an issue since we will run into issues with angular components not being available in the post-install compilation steps.

[2022-01-06 20:53] bilalshaikh42 commented on #3977
Oddly, I am able to get the docker image built and running locally, but building it via CI is some how not working

[2022-01-06 22:41] bilalshaikh42 commented on #3977
Should be resolved for real this time

[2022-01-06 22:41] #3977 closed, assigned to nobody

[2022-01-06 23:43] biosimulations-daemon commented on #3977
:tada: This issue has been resolved in version 8.7.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-07 00:42] jonrkarr commented on #3977
Looks good. `.org` is generating thumbnails. Thanks for fixing this.

[2022-01-07 01:29] bilalshaikh42 opened #3989 "Add http://purl.org/dc/terms/references as a recommended metadata term"
### Discussed in https://github.com/biosimulations/biosimulations/discussions/3982

<div type='discussions-op-text'>

<sup>Originally posted by **bilalshaikh42** January  6, 2022</sup>
In the [metadata](https://docs.biosimulations.org/concepts/conventions/simulation-project-metadata/) is it possible to add references that the model used rather than just the citation  of the project itself?

Some m

[2022-01-07 06:32] #3978 closed, assigned to bilalshaikh42

[2022-01-07 07:09] bilalshaikh42 commented on #2432
This is due to the version of Scality currently deployed at UConn not supporting Life Cycle rules.  Supposedly, this should be updated in the near future. The issue can be closed with #3992 as at some point the update should ensure that the current policies start working

[2022-01-07 07:19] jonrkarr commented on #2432
I must have missed that. It didn't seem like we had a clear understanding of why this wasn't working. The cron schedule can be turned off when Life Cycle rules are enabled.

[2022-01-07 07:23] jonrkarr opened #3994 "Change deletion of temporary COMBINE archives to use an S3 life cycle rule"
- [ ] Wait for UConn to upgrade their S3 bucket to a version that supports life cycle rules
- [ ] Disable cron schedule in `.github/workflows/delete-temporary-combine-archives.yml`
- [ ] Install life cycle rule with `tools/s3-config/retention.py`
- [ ] Check that rule is working

Labeled as future because we're waiting on support from UConn.

[2022-01-07 07:30] #2432 closed, assigned to jonrkarr

[2022-01-07 07:37] bilalshaikh42 opened #3995 "Docker CI does not get correct tag on PR, only push"
The current docker ci uses GITHUB_REF_NAME to set the tag for the docker image but this will only work on pushes, not PRs. Need to set the tag in a way that will work for both

[2022-01-07 07:47] bilalshaikh42 commented on #3994
Re #2432

[2022-01-07 08:03] bilalshaikh42 commented on #3995
While we now have a tag, the docker image built on the pr for some reason has a different tag? seems one must be the commit hash of the branch and the other the hash of the merge commit?

[2022-01-07 08:11] bilalshaikh42 commented on #3995
The docker image is tagged with the commit: 67f8bb554a082e379a6156c9edeb95bbb4e58523 which does not actually belong to any branch.

This is the cause of the issue. Ideally, the tag would be the head of the branch that hs the PR opened

potentially relevant https://github.community/t/how-to-get-base-sha-when-using-pull-request-target/142021

[2022-01-07 08:24] bilalshaikh42 commented on #3995
- name: Get push tag
        id: tag
        run: echo "::set-output name=tag::$(git rev-parse --short=7 HEAD)"

This line needs to be changed to check if its  a PR or push. If push, keep as is. If PR use the pr id as the tag
eg. image:pr-123

[2022-01-07 18:08] bilalshaikh42 commented on #3994
We could also add a simply cron job to the dispatch service since it is already deployed to behind the firewall. This would avoid the need for a complex github action

[2022-01-07 18:19] jonrkarr commented on #3994
If the S3 upgrade is coming up, lets plan on.

[2022-01-07 19:07] bilalshaikh42 commented on #3995
This is now working using [the docker metadata action ](https://github.com/docker/metadata-action)

[2022-01-07 19:07] #3995 closed, assigned to bilalshaikh42

[2022-01-07 23:14] #3989 closed, assigned to jonrkarr

[2022-01-08 00:08] bilalshaikh42 opened #4000 "Cookie Policy is incorrect"
The cookie policy states that the use of local storage to save simulation runs is 'functional', but it is actually 'required'

'functional' refers to added functionality that can be opted out of such as remembering preferences or enabling additional sharing options.

Since the saving of simulation runs to the the browser is a core  feature that cannot be turned off without breaking the operation o

[2022-01-08 00:25] #4000 closed, assigned to bilalshaikh42

[2022-01-08 01:55] jonrkarr commented on #3896
Summary of changes I've made:
- Moved downloading and uploading of COMBINE archives from API to dispatch service
- Added retrying of S3 operations
- Increased S3 upload time out to 10 minutes

Todo
- [x] Deploy changes to prod
- [x] Test, e.g., with BiGG models
- [ ] We could maybe reduce the number of replicas of the API and their memory, leaving more for the dispatch service

[2022-01-08 02:47] biosimulations-daemon commented on #3989
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-08 02:47] biosimulations-daemon commented on #2432
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-08 02:47] biosimulations-daemon commented on #4000
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-08 02:48] biosimulations-daemon commented on #3995
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-08 02:48] biosimulations-daemon commented on #3978
:tada: This issue has been resolved in version 8.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v8.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-08 04:47] jonrkarr commented on #3896
Test observations
- Simulations could be submitted much more quickly than before (API response time was much less)
- This seems to have taxed our system much more, result in a new set of issues
- Roughly 50% of runs did not succeed
  - 16 failed to upload results to HSDS. Example: 61d8fc19e6309d9a41b1bd3a
  - 4 failed with mkdir in `submitJob`. Example: 61d8fc5e0eb55fbb5372d6b6
     - Somehow `sub

[2022-01-08 05:05] bilalshaikh42 commented on #3896
There have not been any changes to the API other than increasing memory. ( I have not pushed the s3 changes yet). This might be from having more controllers for the ingress availalble

Is this due to null/infinity like mentioned previously? Or just load?

I am not sure what you are refering to here. I see the error message '`/root/project.omex` is not a valid COMBINE/OMEX archive' which makes me t

[2022-01-08 05:10] bilalshaikh42 commented on #3896
This is the cause of the issue. This is not a valid approach to this. Redis is not designed to hold binary data and is not at all suitable for this purpose.  I had thought you had just run a different test and didn't first realize that you had changed the upload handling.

[2022-01-08 05:25] bilalshaikh42 commented on #3896
Redis is only failing here due to the combine archives being stored there.
The queue actually already has this sort of retry built-in. If you recall, earlier we used to have the problem where the dispatch service crashing would cause the state of the simulation to get stuck. Switching to the [bull-based](https://github.com/OptimalBits/bull) queue resolved this by not having the task popped off unt

[2022-01-08 05:33] bilalshaikh42 commented on #3896
@jonrkarr I would advocate for reverting these changes and releasing them back to where we were.
The changes also conflict with the changes I started working on after the meeting today.
Though it may be more work, I think code reviews would be quite helpful in iterating major design changes  and preventing conflicts and reverts

[2022-01-08 05:47] jonrkarr commented on #3896
I think this is the right direction to proceed, moving the main work to the queues rather than the API.

The archives could be moved to a different temporary storage. This would alleviate what appears to be the source of all above errors.

I'm not convinced redis couldn't be a mechanism to store archives with a different configuration. Others do use it with bull very similar to this for temporaril

[2022-01-08 05:58] jonrkarr commented on #3896
Unfortunately, this is hard to test except with deploying it.  There isn't a easy way to fully replicate this locally.

[2022-01-08 08:10] bilalshaikh42 commented on #3896
I agree. I have started working on moving the extraction to a processing queue rather than the API.

What was originally the "complete processor" has become a catch-all that is almost entirely responsible for error handling. That is causing a constraint on where error messages can be reported.
A simple way to get around this is to have front end display the "status reason" field instead of just th

[2022-01-08 14:35] jonrkarr commented on #3896
There are various ways to work around the current issue.
- We could set up a persistent volume. This would be much more performant than a Uconn or Google S3 bucket.
- We could limit uploads to a smaller size, with larger archives having to be submitted via URL. We already had this concept. Physiome could, for example, upload their archives to an S3 bucket and then biosimulations their urls.

The p

[2022-01-08 23:45] jonrkarr commented on #3896
Next steps
- [ ] Increase resources to HSDS to address the most frequent failure above.
- [x] Switch model repositories to submit archives via URLs. We can ask Mike to create additional S3 buckets. GitHub/GitHub LFS is another option, but that requires committing files.
- [ ] Switch temporary archive storage from Redis to a persistent volume (persistent disk HDD block storage) or potentially an S3

[2022-01-09 00:31] github-actions[bot] opened #4006 "Example simulation runs need to be fixed"
The following 30 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.org/simulations/61babc980ed8ec0655971d6f" target="biosimulations">61babc980ed8ec0655971d6f</a>)</b></summary><br/>
Simulation results could not be found for run '61babc980ed8ec0655971d6f'. For publ

[2022-01-09 05:09] jonrkarr commented on #3896
I changed BiGG to submit archives via URLs for an S3 bucket. For now, I used a prefix in the `biosimdev` bucket. I can switch the configuration to a separate bucket once we have one.

Observations
- This permits MUCH faster submission.
- Our system successfully queued jobs and executed them (it accepted jobs much faster than it executed them, and correctly held the excess jobs in its queue)
- Only

[2022-01-09 05:18] jonrkarr commented on #4006
Due to temporary performance issues.

[2022-01-09 05:18] #4006 closed, assigned to nobody

[2022-01-09 21:59] jonrkarr opened #4007 "Requests for non-existent results kill API pods"
Example: https://api.biosimulations.dev/results/xxx?includeData=false

For reasons I don't understand, this generates a severe error which requires restarting the pod.

[2022-01-10 16:28] bilalshaikh42 commented on #4007
Interesting. This can be replicated locally as well. Seems to be caused by an unhandled aync error. Looks like after the initial 404, there is another 404 that occurs but is not caught, probably due to retrying.

[2022-01-10 16:31] bilalshaikh42 commented on #4007
@jonrkarr should I work on this?

[2022-01-10 16:38] bilalshaikh42 commented on #3896
Yes, saving locally would be faster. But eventually, this needs to be sent to the backend. This is can either be done synchronously or asynchronously, which is the same underlying architecture we have now. The only question is whether or not to send the file to the storage before or after the response to the user.

Persistent volumes cannot be shared between pods. This was the whole reason we had

[2022-01-10 16:56] jonrkarr commented on #3896
I wasn't aware that persistent storage can't be attached to multiple pods. Lets use a Google bucket with an S3-compatible API. This will be different than before
- Large archives will be downloaded by the dispatch-service AFTER the run is created. Uploads can be limited to smaller sizes. Users with large archives can be asked to use URLs. This will ensure that the API can quickly save files sent t

[2022-01-10 17:02] jonrkarr commented on #4007
Although this seems unrelated to issues we're having with API performance (our codes shouldn't be generating such errors), maybe this provides a window into some issues we're having with the API pods. For that reason, please try to handle the error.

Retrying is intended to be limited to 500 level errors. 404 errors aren't intended to be retried.

[2022-01-10 17:12] bilalshaikh42 commented on #3896
Are user uploaded archives uploaded to google storage by the API?

[2022-01-10 17:26] jonrkarr commented on #3896
Yes, the API will save user-uploaded archives to a Google bucket. The performance can be further managed by restricting user uploads to a small size. This is fine because we allow larger archives via URLs.

Separately, biosimulations-bigg, biosimulations-physiome, etc. can upload archives to a UConn bucket, provide the API their URLs, and the dispatch service can download them. This is already wor

[2022-01-10 22:44] bilalshaikh42 commented on #4007
Caused by https://github.com/biosimulations/Biosimulations/blob/f206559bd2d0ceb92241c56f711a7790d0fdbb1f/apps/api/src/results/results.service.ts#L43

The first promise is not awaited until later in the method. If the second promise fails, the first will continue to execute, leading to an uncaught promise exception.

[2022-01-11 00:22] bilalshaikh42 opened #4016 "Handle all axios errors in HSDS client library"
The HSDS client library does not catch any potential Axios errors and leaves that to the calling library. Instead, it should be responsible for catching them and creating domain-specific error messages. this will simplify a lot of the error handling that needs to happen in the API's results service.

[2022-01-11 00:49] bilalshaikh42 opened #4017 "Error handling repeats title and details"
For example a 404:

[code]
The title should be 'Not Found'

[2022-01-11 09:08] #4007 closed, assigned to bilalshaikh42

[2022-01-11 15:10] bilalshaikh42 opened #4025 "Add simulators to renovate ignore list."
Commit ad80e4fa6d4534bfaffd61f4acce4222c8fc7be4 was an automated update of amici
@jonrkarr I assume you want to handle this manually? If so we need to add the python dependencies that you do not want to have updated to the renovate.json file.

[2022-01-11 15:24] jonrkarr commented on #4025
Renovate can try updates. The tests and docker building should be able to catch problems.

I think that AMICI constraint can be removed. AMICI doesn't require Sympy>=1.9. I must have misattributed that constraint.

[2022-01-11 15:46] jonrkarr commented on #4025
I had this correct. AMICI requires Sympy >= 1.9, which I believe is still a problem for CBMPy (although not reflected in its requirements).

https://github.com/AMICI-dev/AMICI/blob/v0.11.22/python/sdist/setup.cfg#L30

I just verified that when Sympy 1.9 is installed, one of the unit tests does fail.

The tests passed because AMICI and Sympy weren't updated in `Pipfile.lock`. The Dockerfile uses `p

[2022-01-11 16:14] bilalshaikh42 commented on #4025
The commit does seem to show that the pipfile.lock was updated
https://github.com/biosimulations/biosimulations/pull/4021/files#diff-0e8ef327d054a578fd1a4682a14049c00d8272c25805ab1e638b45616434dfc9

Is there some special flag that is needed to include amici in the install similar to pip?

But in anycase, I can disabled auto merge for the python packages

[2022-01-11 16:21] bilalshaikh42 opened #4027 "Make `nx serve combine-api` easier to use"
Ideally, nx serve combine-api would be an easy way to start a local combine-api for local development. It does not seem that nx-python works for this.
We can just define a custom command to be run for this.

@jonrkarr what is the best way to start the combine-api for running locally? I am running into some issues with modules
EDIT: I got it to work, just forgot to cd into the app directory;

``` c

[2022-01-11 16:27] bilalshaikh42 opened #4028 "Add requirements.txt file or move pipfile to root directory"
There should either be a requirements.txt file or the pip file should be in a more standard location for developers to install needed packages to ruin combine API

[2022-01-11 16:35] jonrkarr commented on #4025
Renovate divergently updated `pipefile` and `pipefile.lock`.

The extra AMICI constraint is to hack pipenv to resolve a set of dependencies that satisfy all of the version constraints. Without that line pipenv fails, saying that it can't resolve an environment. In principle, that line shouldn't be needed. The other lines (and their dependencies) already contain the same information. The additional

[2022-01-11 16:36] jonrkarr commented on #4025
A few of the other lines in `Pipefile` serve a similar purpose, to help pipenv resolve an environment. The lines that shouldn't be needed have comments.

[2022-01-11 16:42] jonrkarr commented on #4027
`nx serve combine-api` does work, but your environment has to be set up as expected. The package you chose isn't very flexible, so this isn't particularly convenient.

I have the packages installed into my system python3. I use `PYTHONPATH=apps/combine-api/ gunicorn -b 127.0.0.1:3333  src.app:app`.

If you're using pipenv, it could be done like this
[code]

OR

[code]

[2022-01-11 16:52] jonrkarr commented on #4028
I suggest we leave them where they are. While, its tempting to think of this as similar to the nx `project.json` files, there are some important differences.

I moved this to the COMBINE-API directory because these are specific to the COMBINE API app. Any other Python app should have its own environment, especially because the COMBINE API has many requirements.

What is in a "standard" location is

[2022-01-11 17:01] bilalshaikh42 opened #4030 "🐛: Combine API crashing on metadata requests"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

Combine API crashes  when trying to load metadata from combine archive

### What made it happen?

Running the dispatch service to process simulations. This is exacerbated by retries and the dispatch-service retries and one by one crashes each worker/pod of the combine API

### Version

Offline (Som

[2022-01-11 17:02] #4028 closed, assigned to nobody

[2022-01-11 17:05] jonrkarr commented on #4030
This is already fixed with biosimulators-utils 0.1.157, but hasn't been deployed to `prod` yet.

I mentioned this yesterday, identifiers.org now has regex patterns that Python can't understand. I switched to a third-party package which supports more (less standardized) regex.

[2022-01-11 17:05] #4030 closed, assigned to jonrkarr

[2022-01-11 17:06] jonrkarr commented on #4030
`Pipfile`/`Pipefile.lock` have already been updated.

[2022-01-11 17:07] jonrkarr commented on #4030
See also biosimulators/Biosimulators_utils#90.

[2022-01-11 17:08] jonrkarr commented on #4030
@bilalshaikh42 it sounds like you need to update your version of biosimulators-utils to >= 0.1.157.

[2022-01-11 17:08] bilalshaikh42 commented on #4027
It does not seem to be changing the directory correctly
[code]
What is the command that you would use to run this without nx-python? Now that I know about the ```"executor": "@nrwl/workspace:run-commands"``` we can remove the use of nx-python entirely and just use whatever bash command would be best suited to use.

Is there a way to run it without the guinicorn wrapper provided?

[2022-01-11 17:14] jonrkarr commented on #4027
Wrapping this with nx isn't as useful as for the typescript apps because there's no canonical way to setup a python environment. pipenv tries to do this, but it isn't enough, especially for the COMBINE API with various non-standard dependencies.

[2022-01-11 17:15] bilalshaikh42 opened #4031 "If API is down, dispatch service attempts to post logs leading to 409 conflict"
Cannot trace exactly where this is happening, but am still getting 409 errors on logs

[2022-01-11 17:16] jonrkarr commented on #4027
Python has to know where the source code is.

One option is:
[code]

I'm not sure how to set the port this way.

[2022-01-11 17:16] bilalshaikh42 opened #4032 "Remove retrying on network calls"
[code]

[2022-01-11 17:24] bilalshaikh42 commented on #4030
This was running on a docker container. I had an incorrect tag for the latest version

[2022-01-11 17:29] bilalshaikh42 commented on #4032
This might be related to #4031 as it only shows up when the dispatch-service is having this issue. Some event listeners for the retries/the HTTP requests must not be closing correctly, leading to both these issues.

[2022-01-11 17:34] bilalshaikh42 commented on #4031
fixed by deleting and restarting redis. Need to look into how the queue removes jobs after failure. If we are not intending to retry the job, then it should be removed from the queue

[2022-01-11 17:37] #4025 closed, assigned to bilalshaikh42

[2022-01-11 17:37] renovate[bot] opened #4033 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting String near
    },
  `

[2022-01-11 17:47] #4033 closed, assigned to nobody

[2022-01-11 17:54] bilalshaikh42 commented on #4031
This occurs if the metadata step fails.
[code]
EDIT: this is now a 409 on metadata, not logs

[2022-01-11 17:56] jonrkarr commented on #4031
That doesn't sound right. There's no specific connection between the logs and any of the individual post-processsing steps.

[2022-01-11 17:57] bilalshaikh42 commented on #4031
Yup, sorry, misread the log

[2022-01-11 17:57] bilalshaikh42 commented on #4031
This is on a different endpoint than before

[2022-01-11 18:35] jonrkarr commented on #4031
I haven't seen 409 errors with the logs.

[2022-01-11 20:11] bilalshaikh42 opened #4036 "🐛: API does not accept simulation specifications returned by combine api"
### Contact Details

_No response_

### Location

BioSimulations

### What happened?

When running a simulation, the dispatch service sends data with an incompatible schema to the API. This must be due to either a change in one of the following:
- combine API response
- API database schema

dispatch service

### What made it happen?

Run the standard example simulation

### Version

Development (D

[2022-01-11 20:13] bilalshaikh42 commented on #4036
@jonrkarr  could this be caused by 0df12185461308050a67c24241a62120a9125bae or 9f0e1a2867ed4de88db666a0ed9da4cd3b087e04?

[2022-01-11 20:21] jonrkarr commented on #4036
Unlikely. I didn't change anything related to this. Given that multiple issues are reported, I'd guess something related to mongoose validation. The names of the classes in the error are strange. Maybe it's rejecting theses classes? Maybe the validation is stricter?

[2022-01-11 20:26] bilalshaikh42 commented on #4036
I don't think any changes have been made to the database models at all, so I am quite confused. By names of classes do you mean `SedModelAttributeChange` etc?

[2022-01-11 21:39] jonrkarr commented on #4036
I meant the class names display as `Xp`, `Jp`, etc. Maybe the objects need to be typecast?

Yes, this is surprising. It's complaining about multiple classes, all of which i believe are unchanged in python and typescript.

I can look later tonight.

[2022-01-11 21:49] bilalshaikh42 opened #4037 "🐛: Combine API repeatedly crashes"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

https://deployment.biosimulations.org/applications/biosimulations-dev?node=apps%2FDeployment%2Fdev%2Fcombine-api%2F0

The deployment for the combine API is repeatedly crashing. this can be replicated locally by running the docker image

### What made it happen?

Run the docker image for the combine

[2022-01-11 21:55] jonrkarr commented on #4037
Did you try undoing the upgrades to the dependencies?

500 level errors to the combine api would lead to a lot of retrying.

[2022-01-11 21:56] bilalshaikh42 commented on #4032
This is almost certainly a by-product of retrying. There must be created observables that are not being properly removed

[2022-01-11 22:04] jonrkarr commented on #4032
If the combine api isn't running, that would lead to a lot of retrying.

[2022-01-11 22:06] jonrkarr commented on #4032
I'll try to address the combine api tonight. The new issue feels like a problem with a dependency.

[2022-01-11 23:28] bilalshaikh42 commented on #4031
I am consistently seeing them locally. I think this only occurs in specific cases involving the API or combine service going down

[2022-01-11 23:34] bilalshaikh42 opened #4038 "Change default ports for apps"
This will make it easier to run everything together locally. This will need to be coordinated with the service definition on kubernetes

API - 3333
Simulators-API- 3334
Combine-API- 3335
Dispatch-Service (unused/future /health) 3336

[2022-01-11 23:51] bilalshaikh42 commented on #4031
I believe  this is caused when the complete processor is interrupted. The queue then considers the entire job as failed. I think breaking this up into pieces will help.

[2022-01-12 00:11] bilalshaikh42 opened #4039 "Switch to google cloud bucket"
Switching from UConn to any other cloud bucket requires some adjustments due to the limitations of the Uconn bucket. The code already accounted for the limitations, so now they must be adjusted.

- [x] The location field of objects should not be overridden. This was because Uconn has a different publically accessible URL from the s3 endpoint itself
- [x] The ExternalEndpoint and Endpoint fields of

[2022-01-12 14:52] bilalshaikh42 commented on #4037
I have not tried that yet. I am able to get the combine API running locally using python only (no gunicorn wrapper) and the current version does not show any issues. However, when I run it with gunicorn, I see the issues. We probably need to tweak the run command in the docker image. Here is a possible starting point. We can tweak the timeout parameter higher if we still see the worker timeout iss

[2022-01-12 15:31] jonrkarr commented on #4037
I approved the pr.

I think the crashing is related to a new version of a swagger dependency, or maybe connexion/flask. Hopefully i can narrow it down today.

[2022-01-12 17:51] jonrkarr commented on #4037
I think this might be caused by `rdflib` `6.1.1` which was released recently. I need to try more to convince myself that downgrading fixes the problem.

[2022-01-12 18:39] bilalshaikh42 opened #4043 "Create index.html and 404.html for storage buckets"
- [x] https://files.biosimulations.dev/index.html
- [x] https://files.biosimulations.dev/404.html
- [x] https://files.biosimulations.org/index.html
- [x] https://files.biosimulations.org/404.html
- [x] https://static.biosimulations.org/404.html

[2022-01-12 19:03] bilalshaikh42 opened #4044 "Set up networking for Storage Buckets"
## Buckets:
These can be accessed via the storage API or via custom URL depending on how we configure the loadbalancer/urls below
- [x]  Dev Files Bucket
- [x] Prod Files Bucket
- [x] Temp Dev Bucket
- [x] Temp Prod Bucket
- [x] HSDS Bucket
- [x] HSDS Dev Bucket (optional)

## CORS:
Need to enable cors access for the buckets
- [x] Dev files
- [x] Prod files
- [x] Temp dev bucket
- [x] Temp prod bu

[2022-01-12 19:20] bilalshaikh42 opened #4045 "🐛: Redirect in URL for file causes file processing step to fail"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

Some where in the file processing, we are getting and error with the code "302". This should just be a redirect, so perhaps some components (combine archive, rest of the processor) is not following redirects correctly and getting errors. Or this could be due to the s3 HEAD not working correctly .

[2022-01-12 20:46] bilalshaikh42 commented on #4045
Was caused by not accounting for "./" in location

[2022-01-12 20:46] #4045 closed, assigned to nobody

[2022-01-13 16:09] bilalshaikh42 opened #4052 "Fix code scanning alert - Clear-text logging of sensitive information"
Tracking issue for:
- [ ] https://github.com/biosimulations/biosimulations/security/code-scanning/57

[2022-01-13 16:18] bilalshaikh42 opened #4053 "🐛: "Latest" version of simulators does not return data from API"
### Contact Details

_No response_

### Location

BioSimulators API

### What happened?

Querying for the "latest" version of a simulators gives a 404 error. I noticed these popping up in our error reporting logs. I don't remember if this was ever a feature that was supported, or if only the /simulators/latest?id=simid endpoint was supported. In any case, it does seem that this is being used, so w

[2022-01-13 16:20] jonrkarr commented on #4053
This wasn't supported, but this can be supported

[2022-01-13 16:58] bilalshaikh42 commented on #2602
Discussed in #4054

[2022-01-13 19:48] bilalshaikh42 opened #4057 "Find alternative to TODO bot"
The to-do comments in the code are no longer added to the PRs. This was useful. Unfortunately, the app has shut down, but it should be replaceable with GithubActions.  In fact, we might just be able to fork it since it was built on [probot](https://github.com/probot/probot), which has  GitHub Actions based hosting options

https://github.com/JasonEtco/todo/discussions/293

[2022-01-13 23:56] bilalshaikh42 opened #4058 "Change combine api temporary storage bucket"
Google cloud buckets only support lifecycle methods on a bucket wide scope.

Therefore, the combine API must use a separate bucket than the main storage for temporary files

[2022-01-14 06:28] bilalshaikh42 opened #4059 "Fix code scanning alert - Disabling certificate validation"
Tracking issue for:
- [ ] https://github.com/biosimulations/biosimulations/security/code-scanning/11

[2022-01-14 17:18] jonrkarr commented on #4058
That's easy enough to change.

With the Google bucket, the GitHub action for removing temp files can also be removed.

[2022-01-14 17:49] bilalshaikh42 commented on #4058
Already done in the #4042

On Fri, Jan 14, 2022 at 12:18 PM Jonathan Karr ***@***.***>
wrote:

[2022-01-14 17:53] bilalshaikh42 commented on #4059
Done in #4042

[2022-01-14 18:58] jonrkarr commented on #4045
The endpoints class accounts for this. We could simplify this by normalizing paths when COMBINE archives are processed.

[2022-01-16 00:08] github-actions[bot] opened #4060 "Example simulation runs need to be fixed"
The following 37 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.dev/simulations/61b4366a2ebaa8331328001b" target="biosimulations">61b4366a2ebaa8331328001b</a>)</b></summary><br/>
An unexpected error occurred
</details>

<details><summary><b>Budding yeast cell c

[2022-01-16 00:11] jonrkarr commented on #4060
Covered by open issues

[2022-01-16 00:11] #4060 closed, assigned to nobody

[2022-01-16 00:43] jonrkarr opened #4061 "Fix OpenAPI errors"
The API is no longer OpenAPI-compliant. Ideally, we'd be compliant. But this isn't necessary or possible.
SEe https://github.com/biosimulations/biosimulations/actions/runs/1702900921

[2022-01-16 19:57] #4052 closed, assigned to bilalshaikh42

[2022-01-16 19:57] #4039 closed, assigned to bilalshaikh42

[2022-01-16 19:57] #3981 closed, assigned to nobody

[2022-01-16 19:57] #3994 closed, assigned to nobody

[2022-01-16 19:57] #4059 closed, assigned to nobody

[2022-01-16 20:03] bilalshaikh42 commented on #4061
This seems to be caused by the strange class name issue that you mentioned in #4036. The class names that are being flagged here have the same strangely transformed names such as "$P".

[2022-01-16 20:27] bilalshaikh42 commented on #4061
This seems to be caused by the optimization of the "production" build.
 Both running the API via `nx serve api` and first building it via `nx build API && node dists/apps/api/main.js` result in an openapi.json file that passes the Open API tests just fine. However, `nx build API --configuration=production && node dists/apps/api/main.js` has this problem. I wonder if there was a recent change to th

[2022-01-16 20:30] bilalshaikh42 commented on #4061
yup, that is it
https://github.com/nrwl/nx/issues/8446

This would also explain the validation errors in #4036 as the validation is dependent on reflection, which in turn requires class names to stay consistent.

[2022-01-16 20:45] #4061 closed, assigned to bilalshaikh42

[2022-01-16 20:45] #4036 closed, assigned to jonrkarr, bilalshaikh42

[2022-01-16 21:19] bilalshaikh42 commented on #3896
Looking at the logs of the` first submission after changing the buckets over to google cloud.
[code]
It seems the file was downloaded from github, uploaded to the s3 bucket, extracted, saved to the bucket and submitted for simulation all within 3 seconds. I think it is now clear that the bucket was a major bottleneck. I'll start some testing to see how this works under load

[2022-01-16 22:23] jonrkarr commented on #3896
My intuition is that the UConn bucket wasn't an insignificant bottleneck. Do you know roughly how long the same operations took with the UConn bucket?

[2022-01-16 22:25] jonrkarr commented on #4036
@bilalshaikh42 was this due to the optimization that you turned off?

[2022-01-16 23:20] bilalshaikh42 commented on #4036
Yup. The optimization minified the class names which causes issues with
injecting models/decorator based class validation

On Sun, Jan 16, 2022, 5:25 PM Jonathan Karr ***@***.***>
wrote:

[2022-01-17 18:05] jonrkarr commented on #4053
I don't believe our apps are making those queries for `latest`

[2022-01-17 20:12] bilalshaikh42 opened #4063 "Handle dependency between archive extraction and thumbnail generation"
The complete processor handles the dependency between the File processing and thumbnail processing, but I forgot to account for the files needing to be extracted in order for the resizing to be able to download them.
This can be handled in exactly the same way as the previous dependency. It will also return the extraction to the dispatch service from the API as planned.

[2022-01-17 21:53] #4053 closed, assigned to jonrkarr

[2022-01-17 23:01] jonrkarr commented on #4043
Done
- Committed files to https://github.com/biosimulations/static/tree/dev/files.
- Uploaded files to the UConn buckets with keys `index.html` and `404.html`.

[2022-01-17 23:08] jonrkarr commented on #4043
The files are externally accessible at URLs such as https://files.biosimulations.org/s3/index.html and https://files.biosimulations.org/s3/404.html.

However, `index.html` and `404.html` don't render when the following URLs are fetched.
- https://files.biosimulations.org/
- https://files.biosimulations.org/s3/
- https://files.biosimulations.org/undefined
- https://files.biosimulations.org/s3/undef

[2022-01-17 23:13] #4057 closed, assigned to jonrkarr

[2022-01-18 01:35] bilalshaikh42 commented on #4043
These are to be placed on the google bucket, not the UConn bucket. files.biosimulations.dev currently points to the new google bucket.

[2022-01-18 01:44] bilalshaikh42 commented on #4043
I uploaded the pages for the files.biosimulations.dev domains so those should now work. I also added the files for the prod bucket, though the URL files.biosimulations.org is still pointing at Uconn and not google cloud, so this won't work yet.

I am not sure what you mean by this. The ./s3 prefix is just due to the way the UConn loadbalancer works. The prefix does not apply to the google cloud bu

[2022-01-18 02:50] jonrkarr commented on #4043
I realize the HTML files are intended for the new buckets. I wasn't sure how far you've gotten setting them up so I copied them to the old buckets to start.

Looks like you copied them to the new dev bucket. The index and 404 files are working now.

I figured the `s3/` prefix is related to UConn's deployment. I believe this only appeared in the configuration for the external bucket URL. I assume t

[2022-01-18 02:51] jonrkarr commented on #4043
@bilalshaikh42 assuming you've copied these HTML files to the prod Google bucket, I think this can be closed.

[2022-01-18 07:44] jonrkarr commented on #4037
I can replicate the worker timeout behavior with the Docker images all the way back to the first version of the image saved to GHCR.

[2022-01-18 13:59] #4043 closed, assigned to bilalshaikh42

[2022-01-18 15:54] bilalshaikh42 commented on #4037
Odd. I wonder what the cause of the sudden uptick in crashes was. It seems to be resolved with the current deployment. I can still see the logs indicate that the workers have been killed, but the deployment as a whole stays responsive

[2022-01-18 16:09] jonrkarr commented on #4037
Not sure about that.

I should add that I only tested back two months. There's no saved images beyond that. Beyond that point might be when we called it combine-service.

Interestingly, I don't see the problem with flask's own test server.

I'm going to try to explore further.

[2022-01-18 16:37] bilalshaikh42 commented on #4037
I take it back. The sedml endpoint continues to cause timeouts. The processing of simulation proceeds fine for each step except that one currently.

[2022-01-18 17:05] jonrkarr commented on #4037
Others seem to describe similar issues at https://github.com/benoitc/gunicorn/issues/1801.

There's some tips for using gunicorn with Docker at https://pythonspeed.com/articles/gunicorn-in-docker/.

I think this is solved by setting workers=2, threads=4.

[2022-01-18 18:43] jonrkarr commented on #4037
This seems to go away if Gunicorn is configured with any of the following:
- Set `worker-class` to `gevent`
- Set `workers` > 1
- Set `threads` > 1

#4072 sets the above and also sets the `server` argument of the FlaskApp to `gevent`. This configuration seems to work well locally.

Next step: try the configuration in the dev deployment.

[2022-01-18 19:06] #4063 closed, assigned to bilalshaikh42

[2022-01-18 19:06] bilalshaikh42 commented on #4037
Reopening until testing

[2022-01-18 20:05] jonrkarr commented on #4037
I think this issue has been addressed. The new dev deployment seems fine to me. I don't see any worker failure messages in the log in Argo. The API seems to work as intended.

I'm leaving this open until we can check the Argo log after a larger test (e.g., ~100 simulation runs).

[2022-01-18 23:06] bilalshaikh42 commented on #4037
No crashes when testing about 150 simulation runs. One caveat, the processing seems to be moving quite slowly due to concurrency being limited on dispatch service. If we increase the concurrency, it might reveal new issues, but for now seems good.

[2022-01-18 23:06] #4037 closed, assigned to jonrkarr

[2022-01-18 23:08] bilalshaikh42 opened #4074 "Increase processor concurrency"
Processing of about 150 simulations works with no/limited errors. But processing is very slow. I believe this is because each dispatch service worker only works on 1 simulation at a time, even though the vast majority of the time is waiting for network responses. Using a higher concurrency limit should speed things up quite a bit.

[2022-01-18 23:10] bilalshaikh42 opened #4075 "Disable VCell for online simulation until its logging it corrected"
Vcell simulations fail due to missing log

[2022-01-18 23:10] jonrkarr commented on #4037
Great!

[2022-01-18 23:16] jonrkarr commented on #4075
VCell should be producing logs and saving them to `log.yml`. Here's an earlier run with VCell: https://run.biosimulations.dev/simulations/618d8b2389c70421ab793fdf#tab=log. Is there an error with the format? Could you point to an example run?

If the format is incorrect, we can demote the validation status of VCell (basically disable it) until its fixed.

[2022-01-18 23:17] jonrkarr commented on #4074
Seems like a reasonable plan. Does this mean increase the number of replicas?

[2022-01-18 23:18] bilalshaikh42 commented on #4075
- 61e7431ef9a961c259123a56 --- Repressilator (Elowitz & Leibler, Nature, 2000; SBML; CVODE; VCell)
- 61e74326d8b0d0dbced04db3 --- Tumor-suppressive oscillations (Caravagna et al., J Theor Biol, 2010; SBML; CVODE; VCell)
- 61e74311f9a961c2591239eb --- Morphogenesis checkpoint (Ciliberto et al., J Cell Biol, 2003; SBML; CVODE; VCell)
- 61e7430c034d33f6e8eec761 --- Iron distribution (Parmar et al., B

[2022-01-18 23:21] bilalshaikh42 commented on #4074
The queue has an option for how many jobs it will process at once. This by default is 1. The number of jobs x number of replicas gives the total throughput. We can probably significantly increase the number of jobs since the bottleneck here would be CPU power, which we have a lot to spare. Most of the work is network calls which are async. This option is in the code itself.

[2022-01-18 23:23] jonrkarr commented on #4075
Reported as virtualcell/vcell#130. I'll disable VCell by demoting its validation status and then close this issue.

[2022-01-18 23:27] jonrkarr commented on #4075
I demoted VCell's validation status in the BioSimulators database (both prod and dev). The tool for running the example simulations shouldn't run simulations with VCell until VCell is fixed.

[2022-01-18 23:27] #4075 closed, assigned to jonrkarr

[2022-01-18 23:30] jonrkarr commented on #4074
Got it. Sounds like our total throughput will be much higher than end of last year! End of last year, each run was relatively quick, but there was a big bottleneck at submission such that the total throughout was actually low.

[2022-01-18 23:45] bilalshaikh42 opened #4076 "Testing results"
Ran the "submit script" with testing enabled 5 times concurrently. This is roughly 150 simulations (36 each). Other than the VCell runs (#4075) we had 2 failures

1.  61e74312034d33f6e8eec78b --- NFAT translocation (Tomida et al., EMBO J, 2003; SBML; LSODA/LSODAR; COPASI)
409 on hsds. I ran this test with a single replica for hsds. The 409 could easily have been caused by the replica being overloa

[2022-01-18 23:49] bilalshaikh42 opened #4077 "🐛: Error on project summary call"
### Contact Details

_No response_

### Location

BioSimulations API

### What happened?

Getting a 500 error on API call for summary

### What made it happen?

Noticed it in the logs. Have not tried to reproduce yet

### Version

Development (Deployed on a .dev domain)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I a

[2022-01-18 23:52] jonrkarr commented on #4076
(1) may be exacerbated by still using the UConn bucket. Are you thinking of increasing the number of replicas?

For (2), the metadata saving failed. The error message for this needs to be corrected. Its appears not to be set up for the appropriate type of error (e.g., axios vs other).

[2022-01-18 23:54] bilalshaikh42 commented on #3897
After running test as described in #4076 and looking at the request handling performance (https://monitoring.biosimulations.org/d/nginx/nginx-ingress-controller?orgId=1&refresh=5s&viewPanel=21) I am seeing 99.1% percent success rate so I believe this can be closed.
@jonrkarr how were you keeping track of 502 errors? I scanned over the logs as the simulations were running looking for any red (error

[2022-01-18 23:57] jonrkarr commented on #4077
This a VCell simulation. Probably related to the log not existing and the summary assuming logs exist.

[2022-01-18 23:57] jonrkarr commented on #3897
I downloaded the log from the Argo app and text searched for 500, 502, 503, etc.

[2022-01-19 00:01] jonrkarr commented on #3897
I don't see any 502, 503 in either the API or dispatch-service logs. The 500 errors in the API log are due to #4077.

[2022-01-19 00:01] #3897 closed, assigned to bilalshaikh42

[2022-01-19 00:21] bilalshaikh42 commented on #4076
Second attempt far less successful (still running): over 60 or so failures (including vcell). All seem to be due to dataservice being overwhelmed.

This is with 5 replicas. For almost 20 minutes, nearly 100% of responses from the data service were 503s. Data service logs indicate that the cluster is in a NOT READY state due to cache items needing to be flushed.

Since there was such a drastic redu

[2022-01-19 00:22] bilalshaikh42 commented on #4076
Yes, but not sure what caused this failure. The processing correctly handled the failure and marked it as a warning

[2022-01-19 00:23] jonrkarr commented on #4076
Its a warning because metadata is not required, unlike a log.

[2022-01-19 00:29] bilalshaikh42 commented on #4076
yeah, that is correctly handled. I am trying to say that the issue is not knowing what caused the metadata to fail to save, but that everything else handled the failure exactly as it should.

The high failure rate is misleading. This happened because I increased the number of replicas while there were pending writes to the s3 bucket. This causes the dataservice to lock up complelty, resulting in a

[2022-01-19 00:49] jonrkarr commented on #4076
I'm going to try to write to John Ready about a blog post he asked us to write. I can ask him for help using HSDS with Google Cloud then.

[2022-01-19 00:51] jonrkarr commented on #4076
Sounds like HSDS was originally designed for AWS. Azure also works (see https://www.hdfgroup.org/2021/08/hsds-for-azure/). That post suggests Google Cloud should be close.

[2022-01-19 01:03] bilalshaikh42 commented on #4076
The issue specifically is with the google cloud storage buckets. Getting it running on GKS instead of EKS was not a problem at all. This could be another post that we could help with. Getting HSDS running on google cloud

[2022-01-19 01:04] bilalshaikh42 commented on #4076
Another test:  25 or so failures, most due to 409 conflicts when loading into dataservice. I remain suspious of the s3 bucket, though I wonder if just one replica of hsds might lead to better results

[2022-01-19 01:18] jonrkarr commented on #4076
I'll send you a link to the draft for the blog post. If you want to write a post on Google cloud, I think John would likely be happy to publish it.

[2022-01-19 01:19] bilalshaikh42 commented on #4074
Updating the concurrency to 10 drastically sped up processing when running all example (32 runs) at a time.  Testing with 150 or so at a time is slower, but this is hard to separate from the issues with data service.

Running the submit script took  3m24s

[2022-01-19 01:21] jonrkarr commented on #4074
I would imagine that 150 might start to overload the data service, resulting in processing slowing down.

Is hsload still in the Sbatch job, or in post-processing?

[2022-01-19 01:24] bilalshaikh42 opened #4078 "Add and ensure permissions for service accounts to use multi-part uploads"
Running the sumbit script casues the following error for the RVA simulation. Disabled this particular one allows remaining simulations to proceed.

[code]

Im confused that this seems to be happening when saving the combine archive to the cloud bucket. There might some particular filename causing this. I have no idea how this can cause a permissions issue. This might be an issue with downloading t

[2022-01-19 02:03] bilalshaikh42 opened #4079 "Log processing fails for some runs without error"
One or more simulations failed
FAILED 61e75f35b81848012ba97b2c --- Morphogenesis checkpoint (Ciliberto et al., J Cell Biol, 2003; SBML; Fehlberg; LibSBMLSim)
FAILED 61e75f51f63eff1f7b4f1b9c --- Repressilator (Elowitz & Leibler, Nature, 2000; SBML; LSODA/LSODAR; COPASI)
FAILED 61e75f2dab69484376bc5392 --- Iron distribution (Parmar et al., BMC Syst Biol, 2017; SBML; CVODE; tellurium)
FAILED 61e75f26

[2022-01-19 02:04] bilalshaikh42 commented on #4079
Issue only noticed on validation

[2022-01-19 15:48] bilalshaikh42 commented on #4079
This is now the bottleneck error that we are seeing.

[2022-01-19 15:52] bilalshaikh42 commented on #4079
Caused by ssh connection failing. We should add retrying to the log processor to handle this case
[code]

[2022-01-19 15:53] jonrkarr commented on #4058
The COMBINE API is still set up to use the main bucket. #4085 changes it to read the configuration for the new temporary bucket.

[2022-01-19 16:09] jonrkarr commented on #4079
The log will have been uploaded to the S3 bucket by this point. It could be read from there instead.

[2022-01-19 16:15] jonrkarr commented on #4079
The archiveService could also be changed to get the size of the simulation output (zip file) from the S3 bucket.

With this and the above change, we'd only have 3 SSH connections left
- Submit simulation jobs to Slurm
- Monitor simulation jobs with Slurm
- Submit Docker to Singularity conversion jobs to Slurm

[2022-01-19 23:50] #4058 closed, assigned to jonrkarr

[2022-01-20 00:53] jonrkarr commented on #4077
This is strange. Somehow the SED-ML specifications weren't saved properly, causing a required attribute to be undefined. Was this before the optimization was turned off?

I'll add additional error handling.

[2022-01-20 00:55] jonrkarr opened #4088 "Get logs and output size from S3 rather than SSH"

[2022-01-20 03:52] jonrkarr commented on #4044
For the temporary files buckets, I configured the COMBINE API to use `https://storage.googleapis.com`. I think this fine. I think its fine for the bucket behind HSDS as well, which isn't exposed at all.

[2022-01-20 05:28] jonrkarr opened #4091 "Health check for storage needs to be updated"
This is presently set up for the UConn bucket. The URL needs to be changed to something like https://files.biosimulations.dev.

[2022-01-20 05:44] #4077 closed, assigned to jonrkarr

[2022-01-20 06:34] jonrkarr commented on #4079
@bilalshaikh42 was this addressed by #4086?

[2022-01-20 06:46] jonrkarr opened #4094 "Refactor API to return response on simulation run creation BEFORE archive downloaded from a URL and saved to S3 storage"
The present design imposes a bottleneck -- a large archive sent via a URL with limited bandwidth could take longer than the timeout limit to download and save to Google storage. I previously refactored this to the dispatch queue. This should be refactored to avoid this bottleneck.

Will likely be needed for large archives for VCell published models database.

[2022-01-20 07:41] jonrkarr commented on #4078
This archive is larger than the others (12 MB). Is there a file size limit configuration on the bucket?

[2022-01-20 16:52] jonrkarr commented on #4078
I can replicate this with boto3, other files, other S3 keys, and other buckets.

This must be due to configuration of the bucket. There appears to be a limit at 8388608 bytes = 8 MB.

Maybe this relates to `content-length-range`. See https://cloud.google.com/storage/docs/authentication/signatures#:%7E:text=Content%20Length%20Range

Here's some Python code to easily replicate this.

[code]

[2022-01-20 17:03] jonrkarr commented on #3896
@bilalshaikh42 I think this can be closed

[2022-01-20 17:41] #3896 closed, assigned to bilalshaikh42

[2022-01-20 17:44] #4091 closed, assigned to jonrkarr

[2022-01-20 18:15] #4017 closed, assigned to jonrkarr

[2022-01-20 22:07] bilalshaikh42 commented on #4079
It should be, but I have not tried it under load yet

[2022-01-20 22:08] bilalshaikh42 commented on #4079
In any case it should be resolved by #4093

[2022-01-20 23:21] jonrkarr commented on #4078
Was due to multipart uploading not being enabled for the accounts we're using with the buckets.

[2022-01-20 23:28] jonrkarr commented on #4031
Posting logs once at the very end would be sufficient. I don't think we need to post and update. I post and updated so logs would be available before post-processing completes. This make things more complicated. We could simplify this by posting once.

Simplified workflow:
1. Run simulation
2. Post-process results
3. Try posting structured log
4. If unsuccessful (because the schema of the log is i

[2022-01-20 23:59] jonrkarr opened #4098 "Display model formats in views for individual simulation runs and projects"

[2022-01-21 15:31] bilalshaikh42 commented on #4078
@jonrkarr is this confirmed to be working now? I was not sure if the permission got applied correctly

[2022-01-21 15:42] jonrkarr commented on #4078
It worked for me on dev. Since you applied the same settings to the Google cloud account for prod, prod should work too.

[2022-01-21 15:47] bilalshaikh42 opened #4099 "🐛: SSH connection fails after some time since last use"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

When submitting a job after some time without activity, the SSH connection will be dead. However, this will not be caught until it is used again, causing the first job submission to fail. Caused by the changes in #4086

### What made it happen?

Submit a job

### Version

Development (Deployed on a

[2022-01-21 15:54] bilalshaikh42 commented on #4078
perfect, thanks!

[2022-01-21 15:54] #4078 closed, assigned to bilalshaikh42

[2022-01-23 00:06] github-actions[bot] opened #4100 "Example simulation runs need to be fixed"
The following 7 example simulation runs did not succeed:

<details><summary><b>Escherichia coli core metabolism (COBRApy Team; SBML-fbc; FBA; COBRApy) (<a href="https://run.biosimulations.org/simulations/61babcb236c97ce4aaf7ce7f" target="biosimulations">61babcb236c97ce4aaf7ce7f</a>)</b></summary><br/>
Simulation results could not be found for run '61babcb236c97ce4aaf7ce7f'. For publication, simula

[2022-01-24 17:46] bilalshaikh42 opened #4101 "🐛: Results API endpoints throws 500 error"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Using either the API or web browser, we get 500 errors when getting results. This is caused by the HSDS returning a 404, but it is not clear why this is not being handled or retried properly. This might be due to retry logic being set up not to retry 404s which we do not want in this case, since intermittent i

[2022-01-24 17:59] bilalshaikh42 commented on #4101
This is being caused by the "db" and "domains.json" folders not being present on the prod uconn bucket. I have no idea how this data was lost, but the dataservice will not work without it.

@jonrkarr this is unfortunately going to make any demos impossible. I'll try to fix this asap, but we would need to rerun all the examples and projects on prod to get this working. Thoughts?

[2022-01-24 18:06] bilalshaikh42 commented on #4101
I think i found the issue. This commit https://github.com/biosimulations/deployment/commit/35dbcb38da7b3ee2ae9793e5c530567a1687e3fe actually fixed the loading of the configuration of HSDS properly. Before this, the config was not being loaded, but was using the default value of "biosimdev". This means that all the older data for the prod branch is also on the biosimdev bucket.

[2022-01-24 18:10] bilalshaikh42 commented on #4101
This has been resolved for the existing simulations. We need to rerun the simulations and projects on the next deployment to production and update the deployment to use the correct buckets

[2022-01-24 18:14] jonrkarr commented on #4101
Seems like the buckets need to be inspected to ensure that data is being written to the correct locations.

I have at least one example working on my machine

[2022-01-24 18:15] bilalshaikh42 commented on #4101
Yup, this is fixed now for all the current examples. I switched the prod hsds to use the dev uconn bucket which is where the data is

[2022-01-25 16:56] moraru commented on #4075
Fixed in 6257b425bc6f79a85a38ea25e3416695a593cc55
VCell 7.4.0.33 validated https://github.com/biosimulators/Biosimulators/issues/535

[2022-01-25 17:02] jonrkarr commented on #4075
VCell will automatically be re-enabled in a few minutes when biosimulators/Biosimulators#536 is closed.

[2022-01-31 19:12] bilalshaikh42 opened #4106 "🐛: No content type for HDF5 file and log.yaml in bucket"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

The storage buckets are not able to recognize the mimetypes for the two files. This can be fixed by splitting the s3 sync command in the bash script into three parts, one for the HDF5 file, one for yml and one for the rest. For the first two, we can provide the --content-type option to specify the

[2022-01-31 19:53] jonrkarr commented on #4106
## HDF5, Logs
I think this should be sufficient:
- `--content-type application/x-hdf` (`reports.h5`)
- `--content-type application/x-yaml` (`log.yml`)
- `--content-type application/zip` (`plots.zip`)
- `--content-type text/plain` (`job.output`; this mime-type isn't a great description, but it seems the most appropriate)

I don't think its necessary to also use `--no-guess-mime-type`

## COMBINE ar

[2022-02-01 00:07] bilalshaikh42 commented on #4106
The mimetypes for the zip files and the text files is correctly guessed so that is not needed.

Good catch on adding it to the uploaded combine archive.

[2022-02-01 00:07] bilalshaikh42 commented on #4099
Adressed in #4087

[2022-02-01 00:08] bilalshaikh42 commented on #4094
Done in #4087

[2022-02-01 00:08] bilalshaikh42 commented on #4079
Done in #4087

[2022-02-01 01:25] jonrkarr commented on #4106
If needed, we could also set mime types for the contents of archives by the manifest info. I'm guessing content types can be updated after objects are put to S3. This doesn't seem to be needed. Thumbails and Vega files seem to be loading fine.

[2022-02-02 16:38] jmdetloff commented on #3516
Thanks for breaking this down for me! I have a few follow up questions:

1. If I'm understanding correctly, the primary goal is to allow users to create simulation runs of already uploaded simulations from other authors with new sets of parameters, as opposed to allowing users to try out different sets of parameters while uploading their own simulations, is that correct?
2. Where do you envision t

[2022-02-02 20:04] jonrkarr commented on #3516
## Goal

The goal is to allow users to edit descriptions of simulation experiments (e.g., parameters that correspond to initial conditions or rate constants). This could be done when (a) an author uploads a simulation experiment or (b) another user finds a published experiment that they want to re-run under a new condition. We're mainly envisioning (b) because authors already have other more domai

[2022-02-02 20:08] jonrkarr opened #4110 "Clarify concepts and branding"
@jmdetloff raised a point to clarify how some of our concepts are presented. We've discussed this a bit. The lack of good precedence in our field doesn't help.

Nevertheless, I think a few things could help:
- [x] Change the `/simulations` route to `/runs`
- [x] Change the related branding for this route e.g., "Your simulations" --> "Your simulation runs"
- [x] Clarify terminology in the metadata

[2022-02-03 00:11] bilalshaikh42 opened #4111 "Remove statusReason from SimulationRun"
The status reason field is no longer used on the frontend.  We should remove it from the API as it contains mostly internal implementation details. Alternatively, we can simplify the status reason or include it in the front end

@jonrkarr the front end code takes the status reason as input to the component to display the logs but does not seem to actually use it. Is this intentional?

[2022-02-03 00:38] jonrkarr commented on #4111
I think this is safe to remove from the API (or least what's returned without an admin account) and downstream.

I believe the frontend did use `statusReason`, but not anymore. I believe the frontend used this until we added post-processing information to the log. It looks like I forgot to clean up `statusReason` from a couple of the components.

[2022-02-03 02:40] bilalshaikh42 commented on #4076
With the changes in #4087 I was able to run 120 simulations locally with 0 errors. The queues are all working well, with high concurrency. The bottleneck is the extraction step. This takes the majority of each processing workflow. It might be helpful to move this to the HPC or try to get it to start before the simulation run completes.

[2022-02-03 03:00] bilalshaikh42 opened #4112 "Investigate how to speed up extraction"
The extraction of the combine archive is the bottleneck in processing. There are a few ideas on how to fix this. Getting some empirical data would be helpful

1. Try to start the extraction before the processing step, but still maintain the dependency for the other steps
2. Move the extraction to the HPC
3. move extraction and additional processing steps (one that don't need the simulation run to

[2022-02-03 03:08] jonrkarr commented on #4076
Sounds great.

Leaving further performance enhancement to the future seems good. Moving extraction to HPC sounds pretty easy. The COMBINE archives are already being downloaded there, unpacked there, and s3 sync is already installed there. The HPC also has more parallelism than our Kubernetes cluster, although not necessarily more bandwidth to Google object storage.

[2022-02-03 03:57] bilalshaikh42 opened #4113 "Improve display of logs"
Currently, the processing steps are logged as shown in https://run.biosimulations.dev/simulations/61fb2a83441829748d0ee603#tab=log
This can be cleaned  up to be more visually appealing

[2022-02-03 03:59] bilalshaikh42 opened #4114 "Cleanup the implementation of the Queues"
There are a lot of issues with the current implementation of the queues that should be cleaned up.

- [ ] The connection information is scattered throughout and should be defined in one place. Since it depends on the config service, it might need to be wrapped into either a service or a module
- [ ] The jobs do not have typing-Job is a generic class that can specify the job data (input) and respon

[2022-02-03 04:00] bilalshaikh42 opened #4115 "Add URL field for output"
The api  should contain a URL field to download the outputs rather than using a method to calculate them to prevent any changes to the buckets from breaking older runs.

[2022-02-03 04:00] #4079 closed, assigned to bilalshaikh42

[2022-02-03 04:00] #4031 closed, assigned to nobody

[2022-02-03 04:00] #4099 closed, assigned to nobody

[2022-02-03 04:00] #4106 closed, assigned to nobody

[2022-02-03 04:00] #4111 closed, assigned to nobody

[2022-02-03 04:01] github-actions[bot] opened #4116 "Create an app for the Queue managers"
maybe move all the queue schedulers to their own app/docker container

Each replica of the container will add load to redis. only one scheduler is needed across the whole deployment

https://github.com/biosimulations/biosimulations/blob/0a8f7697c013c8ab07069edd4cffaf1b3b06c3e4/apps/dispatch-service/src/app/app.module.ts#L223

[code]

71611991392cd9e35a56ee20c48ba338d49a46a0

[2022-02-03 04:01] github-actions[bot] opened #4117 "remove the input to function for this"
remove the input to function for this

https://github.com/biosimulations/biosimulations/blob/0a8f7697c013c8ab07069edd4cffaf1b3b06c3e4/apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts#L51

[code]

81d02166a52262332b226d020f11eb3799a8f249

[2022-02-03 04:01] github-actions[bot] opened #4118 "confirm what is required for publish"
confirm what is required for publish

https://github.com/biosimulations/biosimulations/blob/0a8f7697c013c8ab07069edd4cffaf1b3b06c3e4/apps/dispatch-service/src/app/submission/complete.processor.ts#L104

[code]

ad24d750f05d2b9b8c40954818ce4441af43890f

[2022-02-03 04:04] jonrkarr commented on #4113
The formatting seems fine to me. At least its no worse than the rest of the log.

Maybe just:
- Remove newline after `==== Post-processing simulation run ===` for consistency with rest of log
- Add a new line before `==== Run complete ... ====` for consistency with rest of log
- Clean up `.....` (e.g., `Post the SED-ML file to the API.....Succeeded` --> `Post the SED-ML file to the API ... succeed

[2022-02-03 04:04] bilalshaikh42 commented on #4118
@jonrkarr the previous iteration of the workflow would only block publication if the required steps would fail, but not the optional ones. I changed this to also require optional steps such as thumbnails and metadata. Is that correct?

[2022-02-03 04:05] bilalshaikh42 commented on #4117
This is done

[2022-02-03 04:05] #4117 closed, assigned to nobody

[2022-02-03 04:09] jonrkarr commented on #4118
Yes, the steps that are "optional" for a run should be required for publication.
- Metadata should be required
- Thumbnails are optional (i.e. zero thumbnails is ok. In there is no thumbnail, the UI displays a generic placeholder image)
- Thumbnails (if they are defined) should have successfully been optimized

If that wasn't the case, that was a mistake. Thanks for catching that.

[2022-02-03 04:14] jonrkarr opened #4119 "Re-run and re-publish runs"
Creating issue to keep track of this
- [x] Re run example runs for prod
- [x] Publish example runs for prod
- [x] Re-run BiGG runs for prod
- [x] Publish BiGG runs runs for prod

[2022-02-03 04:16] biosimulations-daemon commented on #4079
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:16] biosimulations-daemon commented on #4099
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4078
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4017
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4091
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4077
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4058
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4057
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4053
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4007
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4111
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4106
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4063
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4061
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4036
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4059
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #3981
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #3994
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4039
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 04:17] biosimulations-daemon commented on #4025
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-03 15:04] github-actions[bot] opened #4120 "maybe move all the queue schedulers to their own app/docker container"
maybe move all the queue schedulers to their own app/docker container

Each replica of the container will add load to redis. only one scheduler is needed across the whole deployment

https://github.com/biosimulations/biosimulations/blob/26a67f2cb8abcec502edd3d0ecdb5965c2769d18/apps/dispatch-service/src/app/app.queues.provider.ts#L9

[code]

7b303506bee5112885fa1369c3a0566939e33ea4