[2021-08-29 00:04] #2434 closed, assigned to nobody

[2021-08-29 00:04] #2371 closed, assigned to bilalshaikh42

[2021-08-29 03:39] biosimulations-daemon commented on #2855
:tada: This issue has been resolved in version 3.15.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-30 14:54] todo[bot] opened #2892 "replace below with above after sorting out the uri mapping. Move most of the map..."
https://github.com/biosimulations/Biosimulations/blob/f2210f9fc3d369f1c6a2e2d402b64fc15cfade4c/apps/dispatch/src/app/components/simulations/view/view.component.ts#L707-L710

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f2210f9fc3d369f1c6a2e2d402b64fc15cfade4c when #2877 was merged. cc @biosimulations.

[2021-08-31 06:10] todo[bot] opened #2904 "check logs, results, metadata"
https://github.com/biosimulations/Biosimulations/blob/241795f5a5aece7920c970e6b785fe0d9c000bed/tools/submit-example-simulation-runs#L281-L286

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 241795f5a5aece7920c970e6b785fe0d9c000bed when #2903 was merged. cc @biosimulations.

[2021-08-31 06:10] todo[bot] opened #2905 "check logs, results, metadata"
https://github.com/biosimulations/Biosimulations/blob/1487880a87f82f48e29dafcfe9741bf9ff862cb7/tools/submit-example-simulation-runs#L281-L286

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 1487880a87f82f48e29dafcfe9741bf9ff862cb7. It&#x27;s been assigned to @jonrkarr because they committed the code.

[2021-08-31 16:28] #2904 closed, assigned to nobody

[2021-08-31 18:27] bilalshaikh42 opened #2910 "Missing simulation Id causes front end to crash"
The example RBA model has an id of XXXXXXX
If this is included in the list of users simulations, the app will go to a 404 error page, even if that is not the simulation that was selected. This is related to the overly sensitive error handling mentioned in #1950

[2021-08-31 18:32] #2910 closed, assigned to jonrkarr

[2021-08-31 18:32] jonrkarr commented on #2910
Thanks for noticing. I didn't intend to commit that.

[2021-08-31 18:58] biosimulations-daemon commented on #2910
:tada: This issue has been resolved in version 3.16.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-31 19:22] bilalshaikh42 opened #2913 "Create a 'Visualization" object"
In the dispatch front end,  the combine service is used to determine the various visualizations included in a simulation run. This information should be extracted upon submission, and stored in the database as its own resource type.

The same implementation style that is used for the metadata extraction should be used here, so that the dispatch-service can call the combine service, not the front e

[2021-08-31 19:27] bilalshaikh42 opened #2914 "Create "File" object"
When an omex archive is uploaded, it is saved as 1 object on s3, and a database entry is created with some properties of the file and its location (provided as a url).
This should be extended to all the files in the omex archive. Each file will have a database entry, and each file can be addressed individually. This will happen once on submission and the locations will then be available in the dat

[2021-08-31 19:40] bilalshaikh42 opened #2915 "Keep track of predecessors for reruns"
The dispatch frontend provides a method to re-run an existing simulation. However, when the simulation is submitted, the API is unaware that the simulation is a rerun. There should be some query/param/method/field in body etc. so that the API can add the appropriate metadata regarding predecessor/descendent.

[2021-08-31 21:52] #2866 closed, assigned to bilalshaikh42

[2021-09-01 14:39] bilalshaikh42 opened #2922 "chore(deps): update dependency @ionic/storage to v3"

[2021-09-01 14:39] bilalshaikh42 opened #2923 "chore(deps): update dependency typescript to v4.4.2"

[2021-09-01 14:39] bilalshaikh42 opened #2924 "fix(deps): update dependency mongoose to v5.13.8"

[2021-09-01 14:44] bilalshaikh42 opened #2926 "chore(deps): update node.js to v16"

[2021-09-01 16:18] biosimulations-daemon commented on #2866
:tada: This issue has been resolved in version 3.17.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.17.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-01 20:22] jonrkarr opened #2937 "Refreshing images fails with 500 error"
https://run.api.biosimulations.org/images/refresh

[2021-09-01 20:33] bilalshaikh42 commented on #2937
The connection to the HPC was disrupted for a bit. It is working now?

[2021-09-01 20:39] bilalshaikh42 commented on #2937
Fix should be rolling out now

[2021-09-01 20:39] #2937 closed, assigned to bilalshaikh42

[2021-09-01 20:57] jonrkarr commented on #2937
Just tried again. It isn't working. It this something will be deployed after a delay?

[2021-09-01 23:46] jonrkarr commented on #2937
Seems to be working now

[2021-09-02 16:50] jonrkarr opened #2941 "Add information to publish run page about licensing BioSimulations to distribute run"
- [x] Add publish run page
- [x] Privacy policy/terms of service

[2021-09-02 23:47] todo[bot] opened #2943 "change url of file on S3, dont use manual string"
https://github.com/biosimulations/biosimulations/blob/20ca7106eeb2dcbe2ddb8a6aead78aa810d5ddaa/apps/dispatch-api/src/metadata/metadata.service.ts#L56-L61

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 20ca7106eeb2dcbe2ddb8a6aead78aa810d5ddaa when #2942 was merged. cc @biosimulations.

[2021-09-03 16:59] #2943 closed, assigned to nobody

[2021-09-03 16:59] #2859 closed, assigned to bilalshaikh42

[2021-09-03 16:59] #2861 closed, assigned to bilalshaikh42

[2021-09-03 16:59] todo[bot] opened #2945 "change to url of file on S3"
https://github.com/biosimulations/biosimulations/blob/5e29d65e4022b098a028f3c2e28ea1be3be53610/apps/dispatch-api/src/metadata/metadata.service.ts#L59-L64

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5e29d65e4022b098a028f3c2e28ea1be3be53610 when #2944 was merged. cc @biosimulations.

[2021-09-03 22:12] jonrkarr opened #2950 "Organize scripts and related data files for importing models from model repositories"
In the `model-importing` branch, I started an "app" to import models from model repositories (e.g., BiGG, BioModels, etc.)
- This will likely be implemented in Python
- This will probably be Python scripts and small data files which keep track of which entries of each repository have been imported and when they were last updated, which the scripts will use to determine which entries are new or hav

[2021-09-03 22:57] bilalshaikh42 commented on #2950
This probably makes more sense in a separate repo. Since the scripts are in python, they won't be making use of the shared data model anyway, and the point of the monorepo is more to assist with consistency across deployments.

For this package, we can actually use the API-specs to create a library to call the API. That way the python code will responsible for importing the models and then can jus

[2021-09-03 23:02] jonrkarr commented on #2950
That's what I started for BioModels.  Then I thought maybe its simpler to organize everything here even though its quite separate.

Depending on how source model repository are willing to collaborate, this may also be temporary.

[2021-09-03 23:06] jonrkarr opened #2951 "Metadata loading in RunBioSimulations is broken"
The `//` issue is fixed in the `dev` deployment
https://api.biosimulations.org//metadata/6101f588414ac522336b7f6e

However, the metadata endpoints also fail, e.g.
https://api.biosimulations.org/metadata/6101f588414ac522336b7f6e

Do the example simulation runs need to be re-generated?

[2021-09-03 23:23] bilalshaikh42 commented on #2950
I see on the branch now that you just have a folder for the app, and not actually integrating it into the build system.  That is fine and works if its easier

[2021-09-03 23:42] jonrkarr commented on #2950
Correct, I'm thinking this could be a folder organized under apps. It wouldn't need to be built. Any linting/unit tests could be managed separately. We might just want a semantic versioning scope for it.

[2021-09-03 23:43] bilalshaikh42 commented on #2951
Yes, I regenerated them for the dev branch, but not the production.  Github actions seems to be having some issues, so I have not been able to deploy them yet

[2021-09-04 00:06] bilalshaikh42 commented on #2951
Build issues should be fixed. Regenerating examples and deploying shortly

[2021-09-04 00:09] bilalshaikh42 commented on #2951
I didn't notice this issue at first, but technically the latest changes I made have broken support for older submissions since they won't have any metadata present in the database.  Don't think we need to worry about this too much yet, but we should be more mindful of ensuring older runs still work

[2021-09-04 00:57] biosimulations-daemon commented on #2943
:tada: This issue has been resolved in version 3.20.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v3.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-04 00:57] biosimulations-daemon commented on #2861
:tada: This issue has been resolved in version 3.20.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v3.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-04 00:57] biosimulations-daemon commented on #2859
:tada: This issue has been resolved in version 3.20.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v3.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-04 01:03] jonrkarr commented on #2951
I think we don't need to worry about previously submitted runs

[2021-09-04 01:17] #2951 closed, assigned to bilalshaikh42

[2021-09-04 02:01] biosimulations-daemon commented on #2951
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-05 02:45] jonrkarr opened #2956 "Enably pyomexmeta processing for BiGG models"
Can be done once sys-bio/libOmexMeta#136 is addressed.

[2021-09-05 16:34] jonrkarr opened #2959 "Results download broken"
Example:
https://run.api.biosimulations.org/results/6134edbdd73440e9b686f488/download

[2021-09-05 16:37] jonrkarr opened #2960 "RunBioSimulations Vega and Plotly visualizations are broken"
Requests for data are not properly URI encoded.

[2021-09-05 16:47] jonrkarr opened #2961 "Running simulations from uploaded files is broken"
Example (created with Swagger app):

[code]

[2021-09-05 16:52] bilalshaikh42 commented on #2961
Same cause as #2959. Should be fixed with the last commit

[2021-09-05 19:06] bilalshaikh42 commented on #2959
Still running into this issue. Might be a change on the unconn side.

[2021-09-05 19:17] bilalshaikh42 commented on #2959
Was a config error. Storage endpoint was not set in the config, so the default value was selected. The default value has http as the protocol instead of https. The default value should be updated

[2021-09-05 19:18] #2959 closed, assigned to bilalshaikh42

[2021-09-05 19:19] #2961 closed, assigned to bilalshaikh42

[2021-09-05 20:06] jonrkarr opened #2964 "Help and FAQs are broken in BioSimulations technical documentation"
This documentation looks really nice!

These links are broken:
- https://docs.biosimulations.org/Help.md
- https://docs.biosimulations.org/FAQs.md

[2021-09-05 20:12] jonrkarr commented on #2950
Thinking again, I agree we should organize this into a separate repository.

The main reason is that we would like the source repositories to help with this. I'd like to keep that as simple as possible by keeping it separate from this repository.

[2021-09-05 20:12] #2950 closed, assigned to jonrkarr

[2021-09-05 21:40] jonrkarr opened #2965 "Forward model repository documentation (e.g., https://biosimulations.github.io/biosimulations-bigg) to GitHub pages"
I think it makes sense to have individual packages for importing separate model repositories. These will have a small amount of documentation. The first one will have documentation at https://biosimulations.github.io/biosimulations-bigg.

Can we make https://docs.biosimulations.org/biosimulations-bigg or https://docs.biosimulations.org/bigg point to the above URL?

[2021-09-06 00:04] #2960 closed, assigned to jonrkarr

[2021-09-06 00:26] biosimulations-daemon commented on #2960
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-06 00:26] biosimulations-daemon commented on #2959
:tada: This issue has been resolved in version 4.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-06 05:00] bilalshaikh42 commented on #2965
Sure. I am working on the docs at the moment, so can add that in alongside the other changes

[2021-09-06 05:04] bilalshaikh42 commented on #2964
Had not added those pages yet. I'll actually just forward them to the already existing pages in the angular app

[2021-09-06 15:31] #2964 closed, assigned to bilalshaikh42

[2021-09-06 15:31] todo[bot] opened #2970 "Link to the config section of docs""
https://github.com/biosimulations/biosimulations/blob/de06d0c3aafda482209925551adc580f89d960ea/docs/dev/architecture/philosophy.md#L15-L20

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in de06d0c3aafda482209925551adc580f89d960ea when #2969 was merged. cc @biosimulations.

[2021-09-06 15:31] todo[bot] opened #2971 "and want an update? Open an [issue](https://github.com/biosimulations/biosimulat..."
https://github.com/biosimulations/biosimulations/blob/de06d0c3aafda482209925551adc580f89d960ea/docs/dev/architecture/philosophy.md#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in de06d0c3aafda482209925551adc580f89d960ea when #2969 was merged. cc @biosimulations.

[2021-09-06 15:32] #2971 closed, assigned to nobody

[2021-09-06 15:36] bilalshaikh42 commented on #2965
Should nest this under some folder? For example https://docs.biosimulations.org/repos/bigg or https://docs.biosimulations.org/sources/bigg ?

[2021-09-06 15:56] jonrkarr commented on #2965
Nesting it and stripping off the "biosimulations_" prefix would be nice.

[2021-09-06 16:04] jonrkarr commented on #2965
I like the theme you chose. I could switch the Python docs to a more modern theme. There's a bunch of themes at https://sphinx-themes.org/. Do you like one of these?
- Book
- Furo
- Press

[2021-09-06 16:11] jonrkarr commented on #2965
There's a few more at https://sphinxthemes.com/#featured-themes including a [material theme](https://bashtage.github.io/sphinx-material/) that's similar to the theme you're using.

[2021-09-06 16:13] bilalshaikh42 commented on #2965
These docs are actually made with mkdocs instead of sphinx. The theme is [mkdocs-material](https://squidfunk.github.io/mkdocs-material/getting-started/)  which adds quite a bit of functionality.

There is sphinx [material](https://bashtage.github.io/sphinx-material/) if you want to try to match the look of them. Of the 3 you mentioned, I like furo the best.

[2021-09-06 16:15] bilalshaikh42 commented on #2965
On an unrelated note, github does not seem to be updated the deployment of the pages. The last deployment was 12 hours ago

[2021-09-06 16:46] bilalshaikh42 commented on #2965
Opened a ticket for this: https://support.github.com/ticket/personal/0/1300231

[2021-09-06 16:54] jonrkarr commented on #2965
I know you're using mkdocs. I could try to match the look with the material theme.

[2021-09-06 17:02] bilalshaikh42 commented on #2965
Ticket is resolved, and builds seem to be going through again

[2021-09-06 17:03] #2965 closed, assigned to bilalshaikh42

[2021-09-06 17:06] bilalshaikh42 commented on #2965
Here is the url to the bigg import docs: https://docs.biosimulations.org/repositories/bigg

[2021-09-06 23:51] jonrkarr opened #2973 "Add environment variables for software licenses to singularity run in dispatch service"
- [x] Organize environment variables in https://github.com/biosimulations/secrets. See biosimulations/secrets#1
- [x] Pull variables from secrets to sbatch service -- available as `process.env`
- [x] Add environment variables to singularity run at
https://github.com/biosimulations/biosimulations/blob/dev/apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts#L44

[2021-09-07 19:05] jonrkarr opened #2974 "Copy model formats, simulation algorithms, and simulation task types from SED-ML to database entries for simulation runs"
This would helpful information to users for filtering published projects. The COMBINE service will return this information. The service will return modelFormats as SED-ML URNs (e.g., `urn:sedml:language:sbml`). This can be mapped to EDAM ids (e.g., `format_2585`).

[code]

Rather than attempting to copy entire SED-ML documents into MongoDB, we could simply capture a small amount of key information

[2021-09-07 22:09] jonrkarr opened #2976 "Add documentation to simulators app for dealing with license keys for software"
Add to https://biosimulators.org/conventions/simulator-interfaces

(1) License keys should be read from environment variables so they can easily be injected into containers. Keys can be prefixed by the name of the software (e.g., `GRB_` for Gurobi).

(2) Developers should contact the the BioSimulations team to arrange using license software to run simulations in RunBioSimulations.

[2021-09-08 16:44] jonrkarr commented on #2974
Here's an improvement which will better capture the requirements of the tasks (i.e., the combination of model formats, simulation types, and simulation algorithms that are used together within COMBINE archives).

### Data model
[code]

### Code for extracting this information from the COMBINE service (https://combine.api.biosimulations.org/combine/sedml-specs)
[code]

[2021-09-08 17:19] jonrkarr commented on #2974
The most comprehensive mapping between SED-ML URNs, EDAM format ids, file extensions, MIME types, etc. is at https://github.com/biosimulations/biosimulations/blob/dev/apps/dispatch/src/app/components/create-simulation-project/create-simulation-project/create-simulation-project.component.ts#L49

This could be moved to a common location.

[2021-09-08 21:53] #2973 closed, assigned to jonrkarr

[2021-09-08 21:58] #2860 closed, assigned to bilalshaikh42

[2021-09-11 17:24] biosimulations-daemon commented on #2860
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-11 17:24] biosimulations-daemon commented on #2973
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-11 17:24] biosimulations-daemon commented on #2965
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-13 15:48] bilalshaikh42 opened #2994 "Missing metadata causes 404 page"
Any 404's across the app end up redirecting to the 404 page. Need to find where the 404s are generated, and appropriately handle them at the source rather than getting to the error handler. The error handler should only be catching rare errors that were not properly handled by mistake.

[2021-09-13 15:54] jonrkarr commented on #2994
All intended error signals should already be getting caught. Redirects to the 404 page are due to unintended errors. The error handler could be changed to print errors to the console in production.

[2021-09-13 16:11] bilalshaikh42 commented on #2994
Currently missing logs, metadata or results seem to cause redirection to
the 404 page. For the logs and metadata I just need to add in error handling

On Mon, Sep 13, 2021 at 11:54 AM Jonathan Karr ***@***.***>
wrote:

[2021-09-13 19:02] bilalshaikh42 opened #2999 "Missing simulations in table view cause 404 page."
The user should only be directed to the 404 page if they try to look at a particular missing resource

The simulation run in the table should not trigger 404s

[2021-09-13 19:03] bilalshaikh42 commented on #2994
Split into #2999

[2021-09-13 19:14] #2994 closed, assigned to bilalshaikh42

[2021-09-14 23:49] jonrkarr opened #3002 "Move `libs/datamodel/common/src/lib/common/modeling-formats.ts` to ontologies library."
This file contains information about the model formats we're using. We need this because EDAM doesn't quite capture all of this information.

This requires changing the scope of the library, or creating a separate library for this.

[2021-09-15 02:50] biosimulations-daemon commented on #2994
:tada: This issue has been resolved in version 4.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-21 02:22] jonrkarr opened #3006 "Remove target="_blank" from routerLink for simulator usage instructions"
E.g., https://biosimulators.org/simulators/amici/latest

[2021-09-22 14:59] bilalshaikh42 opened #3008 "Simulators API reruns 500 due to invalid semver version"
API is currently returning 500s due to a simulator that has the version 7.4.0.22.1 which causes an error when trying to sort by version.

Need to catch the error and use an alternative way to sort in cases where the version is not compatible with semver.

[2021-09-22 15:13] jonrkarr commented on #3008
(a) Here's another package which supports more points:
https://www.npmjs.com/package/tiny-version-compare

(b) If tiny-version-compare or compare-versions raises an exception, the most recent submission could be returned (i.e., sort by `Simulator.biosimulators.created`). This would ensure that simulators whose version tags don't conform to our expectations can still be sorted, albeit not necessari

[2021-09-22 15:47] bilalshaikh42 commented on #2539
Done

[2021-09-22 15:47] #2539 closed, assigned to nobody

[2021-09-22 15:49] bilalshaikh42 commented on #2718
This was a poor error on angular's part. Can be caused by not importing a module that is needed. Use the --trace-errors flag to determine the cause

[2021-09-22 15:49] #2718 closed, assigned to nobody

[2021-09-22 15:49] #2892 closed, assigned to nobody

[2021-09-22 18:33] biosimulations-daemon commented on #3008
:tada: This issue has been resolved in version 4.4.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-22 23:21] jonrkarr commented on #3008
Error still present

[2021-09-22 23:31] bilalshaikh42 commented on #3008
The package dependencies were not installed correctly/ the import did not
work correctly

Here is the error

[code]

This actually has caused the container to crash entirely.

[2021-09-22 23:45] jonrkarr commented on #3008
Does this need to be moved from a `dev` dependencies to a regular dependency?

[2021-09-22 23:50] bilalshaikh42 commented on #3008
Ah, I didn't notice that. Yes, it would need to be a regular dependency.
I'll put the change back in

On Wed, Sep 22, 2021 at 7:45 PM Jonathan Karr ***@***.***>
wrote:

[2021-09-22 23:54] jonrkarr commented on #3008
I forgot this was going to be deployed in the backend rather than in browsers.

This package did work for me locally. I think it should work fine once the dependency type is corrected.

I setup the new package to work as a fallback when compare-versions fails. If the new package fails, we can compare submission dates. Beyond that, simulators developers need to do something sensical.

[2021-09-23 00:05] #3008 closed, assigned to jonrkarr

[2021-09-23 00:56] biosimulations-daemon commented on #3008
:tada: This issue has been resolved in version 4.4.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-24 03:13] #2976 closed, assigned to nobody

[2021-09-24 03:13] #3006 closed, assigned to jonrkarr

[2021-09-24 17:08] bilalshaikh42 commented on #2714
This should be handled automatically by the submission of the simulator

[2021-09-24 17:08] #2714 closed, assigned to bilalshaikh42

[2021-09-25 01:46] jonrkarr opened #3013 "Simulation results retrieval broken"
Example: https://api.biosimulations.org/results/6132c885780779f102355af0?includeData=false

[2021-09-25 02:08] bilalshaikh42 commented on #3013
Caused by https://github.com/HDFGroup/hsds/issues/105.   I am unable to restore the previous behavior just by
tweaKing the deployment settings, unfortunately.

[2021-09-25 03:28] jonrkarr commented on #3013
Thanks for following up. Seems like an unfortunately thorny issue.

[2021-09-25 15:20] jonrkarr opened #3015 "Improve display of usage instructions for command-line interfaces for simulation tools"
- [x] Add fields to data model
  - [x] Package
  - [x] Package repository
  - [x] Command (e.g., `biosimulators-tellurium`)
  - [x] Link to installation instructions
- [x] Refine the display of this information in `apps/simulators/src/app/simulators/view-simulator/view-simulator.component.html`

[2021-09-26 00:38] jonrkarr opened #3016 "Enhance instructions in simulator pages"
- [x] Add command for inline help for Docker images:
  `docker run ghcr.io/biosimulators/tellurium:2.2.0 --help`
- [x] Expand command suggestions for Docker images and command-line programs
  - [x]  `docker run ghcr.io/biosimulators/tellurium:2.2.0 -i /path/to/project.omex -o /path/to/output`
  - [x]  `biosimulators-tellurium -i /path/to/project.omex -o /path/to/output`

[2021-09-26 17:20] jonrkarr commented on #2851
Memory usage is down. Additional issues can be opened for other problems as needed.

[2021-09-26 17:20] #2851 closed, assigned to jonrkarr

[2021-09-26 17:22] jonrkarr commented on #2652
@bilalshaikh42 can this be closed?

[2021-09-26 17:24] jonrkarr commented on #2603
Done

[2021-09-26 17:24] #2603 closed, assigned to jonrkarr

[2021-09-26 17:25] jonrkarr commented on #2427
@bilalshaikh42 can this be closed?

[2021-09-26 17:26] jonrkarr commented on #1551
Done

[2021-09-26 17:26] #1551 closed, assigned to nobody

[2021-09-26 17:27] #3016 closed, assigned to jonrkarr

[2021-09-26 17:50] biosimulations-daemon commented on #3016
:tada: This issue has been resolved in version 4.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-26 17:50] biosimulations-daemon commented on #3006
:tada: This issue has been resolved in version 4.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-26 17:50] biosimulations-daemon commented on #2976
:tada: This issue has been resolved in version 4.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-26 19:20] jonrkarr opened #3020 "Simulation runs fail to display metadata while metadata is being processed"

[2021-09-26 19:23] jonrkarr opened #3021 "Link checking metadata validity for publication to storage of metadata in dispatch database"
Relevant code: `this.metadataValid$` in `apps/dispatch/src/app/components/simulations/publish/publish.component.ts`

Currently, this is linked to the combine-service. This should be changed to the dispatch API.

- [ ] Dispatch data model must store errors about metadata (i.e. response from COMBINE API)
- [ ] Dispatch API must save these errors (alongside POST `/metadata/{simId}`)
- [ ] Dispatch AP

[2021-09-26 19:28] #2941 closed, assigned to jonrkarr

[2021-09-26 22:33] #2999 closed, assigned to jonrkarr

[2021-09-27 00:41] bilalshaikh42 commented on #2652
yup, resovled upstream

[2021-09-27 00:41] #2652 closed, assigned to bilalshaikh42

[2021-09-27 02:08] jonrkarr opened #3024 "Remove `biosimulations-query` from PyPI"
I believe this has been superseded by https://github.com/biosimulations/client/. To avoid confusion, I think we should delete https://pypi.org/project/biosimulations-query/ from PyPI.

[2021-09-27 02:16] #2637 closed, assigned to bilalshaikh42

[2021-09-27 02:16] todo[bot] opened #3025 "This test fails since the sed doc is not loaded yet"
https://github.com/biosimulations/biosimulations/blob/7df209f09e2c0fe871fe592c1ef48d4582779cfd/apps/platform/src/app/projects/project-figure/project-figure.component.ts#L76-L81

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7df209f09e2c0fe871fe592c1ef48d4582779cfd when #3007 was merged. cc @biosimulations.

[2021-09-27 02:16] todo[bot] opened #3026 "move this to its own component, have "PersonList" be wrapper. Component takes in..."
https://github.com/biosimulations/biosimulations/blob/7df209f09e2c0fe871fe592c1ef48d4582779cfd/apps/platform/src/app/projects/project-overview/project-overview.component.html#L233-L238

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7df209f09e2c0fe871fe592c1ef48d4582779cfd when #3007 was merged. cc @biosimulations.

[2021-09-27 02:16] #3015 closed, assigned to jonrkarr

[2021-09-27 02:16] todo[bot] opened #3027 "abstract component -->"
https://github.com/biosimulations/biosimulations/blob/7df209f09e2c0fe871fe592c1ef48d4582779cfd/apps/platform/src/app/projects/project-simulation/project-simulation.component.html#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7df209f09e2c0fe871fe592c1ef48d4582779cfd when #3007 was merged. cc @biosimulations.

[2021-09-27 02:19] #3026 closed, assigned to nobody

[2021-09-27 03:07] jonrkarr opened #3031 "Improve handling of unknown simulation runs"
Address issues raises in #3022 which I lazily skipped due to the interwining of the simulation browse and view routes by the local storage of simulation runs in browsers.

[2021-09-27 03:15] biosimulations-daemon commented on #3015
:tada: This issue has been resolved in version 4.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-27 03:15] biosimulations-daemon commented on #2999
:tada: This issue has been resolved in version 4.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-27 03:15] biosimulations-daemon commented on #2941
:tada: This issue has been resolved in version 4.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-27 03:15] biosimulations-daemon commented on #2637
:tada: This issue has been resolved in version 4.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v4.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-27 04:04] #3031 closed, assigned to jonrkarr

[2021-09-27 04:10] jonrkarr opened #3032 "Remove biosimulations-utils from PyPI"

[2021-09-27 04:10] jonrkarr commented on #3032
Done

[2021-09-27 04:10] #3032 closed, assigned to jonrkarr

[2021-09-27 04:43] jonrkarr commented on #3021
@bilalshaikh42 how do we know when metadata processing is done? Are we using `simulation.status == SUCCEEDED`?

[2021-09-27 14:06] jonrkarr commented on #3020
Done in #3033

[2021-09-27 14:26] jonrkarr commented on #2847
We could make most of this "internal" by requiring authentication.

[2021-09-27 14:32] jonrkarr opened #3035 "Require permissions to read metadata about all simulation runs"

[2021-09-27 14:51] jonrkarr opened #3036 "Add documentation for `outputId` route parameter of dispatch API"
@bilalshaikh42 do you know how this can be documented with nest?

[2021-09-27 14:51] jonrkarr opened #3037 "Add documentation for REST API operations"

[2021-09-27 15:13] jonrkarr commented on #3036
I see this can be done with `ApiParam`

[2021-09-27 15:27] jonrkarr opened #3039 "Load thumbnail images for simulation projects from S3 bucket"
- [x] Unpack COMBINE archives to S3 bucket -- #2914
- [ ] Store list of files and S3 ids in database -- see also #2945
- [x] Change dispatch apps to load images from bucket
- [x] Change platform app to load images from bucket

[2021-09-27 15:45] jonrkarr opened #3040 "Add favicons to Swagger apps for all APIs"
- [x] simulators
- [x] ontologies
- [x] platform

[2021-09-27 15:50] jonrkarr opened #3041 "Customize style of Swagger apps"
Use BioSimulators/BioSimulations colors and fonts.

Could potentially switch to a material-like base theme
http://ostranme.github.io/swagger-ui-themes/

- [x] API
- [x] Accounts API
- [x] Simulators API
- [x] COMBINE API

[2021-09-27 16:00] #3035 closed, assigned to jonrkarr

[2021-09-27 16:00] #3036 closed, assigned to jonrkarr

[2021-09-27 16:00] #3037 closed, assigned to jonrkarr

[2021-09-27 16:00] #3040 closed, assigned to jonrkarr

[2021-09-27 16:12] bilalshaikh42 commented on #3024
Done

[2021-09-27 16:12] #3024 closed, assigned to bilalshaikh42

[2021-09-27 16:14] jonrkarr opened #3042 "Add searching and filtering to platform browse projects view"
- Could be placed in a pop-up box to keep the UI clean
- Search could be done in-browser using [Lunr](https://lunrjs.com/), similar to the dispatch simulations and simulators table.

[2021-09-27 16:15] bilalshaikh42 commented on #3039
Should be covered by #2914  and #2945

[2021-09-27 16:16] bilalshaikh42 commented on #3039
The platform front end is hitting the files endpoint, which currently redirects to the combine-service. This should redirect to the s3 URL. No change should be needed to the frontend

[2021-09-27 16:20] jonrkarr commented on #3039
I think we should unpack all files, save them all to S3, and record the list of all files into the database. Then at some point we could display the full list of files in the archives in the UIs and allow individual downloads (similar to other model repositories).

[2021-09-27 16:30] bilalshaikh42 commented on #3039
Right, that is the intention of #2914

[2021-09-27 16:36] jonrkarr opened #3044 "Restrict the platform to public simulation runs"
The endpoints that the platform relies on to retrieve the list of simulation runs must only return runs with `public=true`. It is important not to publicly display all runs that users have submitted. Doing so would breach their trust.
- [ ] List of runs
- [ ] Metadata for runs

[2021-09-27 16:56] bilalshaikh42 commented on #3044
This was an oversight. Forgot to set the query parameters correctly to only return the public models

[2021-09-27 17:02] bilalshaikh42 commented on #3013
Resolved

[2021-09-27 17:02] #3013 closed, assigned to bilalshaikh42

[2021-09-27 18:00] jonrkarr opened #3046 "Expand simulation run "processing" status to encompass all processing"
- [ ] Simulation execution
- [ ] Simulation results
- [ ] Combine archive unpacking
- [ ] Metadata
- [ ] Visualizations

[2021-09-27 18:15] jonrkarr opened #3047 "Expand partner icons on home pages"
- [ ] Model formats
- [ ] Visualization formats
- [ ] Simulation tools

[2021-09-27 18:19] jonrkarr opened #3048 "Consolidate biosimulations user documentation to docs.biosimulations.org"
- [x] Copy material from http://localhost:4200/help
- [ ] Change buttons in platform app to direct to docs.biosimulations.org
  - [ ] Top menu
  - [ ] Mobile menu

[2021-09-27 18:21] jonrkarr opened #3049 "Lazy load images into platform browse simulations view"

[2021-09-27 18:35] #3044 closed, assigned to bilalshaikh42

[2021-09-27 20:00] jonrkarr opened #3050 "fix display of licenses for simulation runs"
Example
https://run.biosimulations.org/simulations/6132c885780779f102355af0#tab=project

[2021-09-27 22:25] jonrkarr opened #3052 "Remove double slash in metadata.uri for simulation runs"
Example
`6151fe6b44ba7df46bce0904//simulation_1.sedml/Figure_3a`
https://api.biosimulations.dev/metadata/6151fe6b44ba7df46bce0904

[2021-09-28 00:07] bilalshaikh42 commented on #3052
This is based on the environment variables set for the domain. The thumbnails in this case are set to "/combineapi/..." so this must have been run locally and had the env variable set incorrectly. Does this appear on any runs started on the deployed versions?

[2021-09-28 00:17] bilalshaikh42 commented on #3052
This does show up even when run on the deployment, so is indeed a bug

[2021-09-28 00:24] #3052 closed, assigned to bilalshaikh42

[2021-09-28 00:29] bilalshaikh42 commented on #3050
Metadata api returns an array of
[code]
I believe the front end expected just a single value, but I forgot to update it.

[2021-09-28 01:44] #3049 closed, assigned to nobody

[2021-09-28 03:06] jonrkarr opened #3054 "Add page which summarizes the content of BioSimulations or add to home page"
@jmdetloff this is another impactful and comparatively easy place where you could start. This would likely be easier that what we discussed today (because it requires less knowledge of domain formats) and would give you an opportunity to learn about the breadth of modeling (organisms, formats, algorithms, simulation tools) that exists. This would focus more on metadata about the meaning of simulat

[2021-09-28 03:41] #2945 closed, assigned to nobody

[2021-09-28 04:34] jonrkarr opened #3056 "Example simulation run failed for unknown reason"
http://localhost:4200/simulations/615223bbdfce8b155e4da29d#tab=log

[2021-09-28 04:46] jonrkarr opened #3057 "Set up Gurobi license Educational Institution Site Licenses for RunBioSimulations"
Looks like the Gurobi license for Docker doesn't work with Singularity. It appears we need to set up an [Educational Institution Site License](https://www.gurobi.com/academia/academic-program-and-licenses/).

Once set up, the license keys should be added to `biosimulations-secrets`
- [x] `dev/dispatch-service/secret.env`
- [x] `prod/dispatch-service/secret.env`
- [x] `stage/dispatch-service/secret

[2021-09-28 04:50] #3047 closed, assigned to nobody

[2021-09-28 05:02] bilalshaikh42 commented on #3056
rerun seems to be fine https://run.biosimulations.dev/simulations/6152a16c8499dd75aab03c60

[2021-09-28 13:53] #3020 closed, assigned to jonrkarr

[2021-09-28 14:04] jonrkarr commented on #3050
I traced this. I believe the bug is in the `apps/dispatch-api` or `apps/dispatch-service` code somewhere between in the second step below. Somewhere that code is unintentionally transforming the license from an object to a list of objects.

The types appears to be correct everywhere -- license is consistently typed as an object. Somewhere the code is diverging from the typing, presumably somewhere

[2021-09-28 14:19] bilalshaikh42 commented on #3050
I believe the original data model provided in one of the issues had an
inconsistency where the license was displayed as a list in one example and
a single value in another. I chose to simply make it a list to match all of
the other fields. Later I realized the combine service was returning a
single object, so I converted it to match the expected datamodel.

I think its probably easier to update th

[2021-09-28 14:26] jonrkarr commented on #3050
The result from the dispatch-api diverges from the expected type.

I think the types are consistently defined everywhere, including in the COMBINE API and Python code. The logic in the view component is correct for the expected type. However, the view component doesn't work with input that doesn't match the expected type.

[2021-09-28 14:30] jonrkarr commented on #3050
Alternatively, we could make license a list everywhere. This means changing the types throughout the dispatch app, dispatch-service, and dispatch-api. I don't we need to do this because its close to consistently being an object. There's just one place where the typing is diverging.

[2021-09-28 14:31] bilalshaikh42 commented on #3050
All of the typescript code should be consistent other than the frontend.
Currently, I am able to loop through all the fields and use the same logic
to handle them. I can make the change if you strongly prefer, but I would
need to handle the licence field differently from all the other cases. It
would also prevent using models that are dual-licenced

On Tue, Sep 28, 2021 at 10:27 AM Jonathan Karr *

[2021-09-28 14:34] bilalshaikh42 commented on #3050
Oh, it seems I was incorrect. The model is not consistent on the API. I
thought I had already made that change.

On Tue, Sep 28, 2021 at 10:30 AM Jonathan Karr ***@***.***>
wrote:

[2021-09-28 14:36] jonrkarr commented on #3050
Either way is fine as long as its consistent everywhere.

I think multi licensing a little more complicated. License-X OR License-Y isn't the only possibility. This package illustrates more complex combinations. I think we should punt on this. I opened an issue about this a while back.
https://www.npmjs.com/package/spdx-expression-parse
biosimulations/biosimulations#1862

[2021-09-28 14:40] bilalshaikh42 commented on #3050
I'll make the change

[2021-09-28 14:44] jonrkarr commented on #3050
Thanks!

[2021-09-28 14:50] bilalshaikh42 commented on #3056
Seems that the job failed on the HPC for some reason. Unfortunately, the logs don't show any issues, so must have been some sort of transient error with getting the status.
Closing for now

[2021-09-28 14:50] #3056 closed, assigned to bilalshaikh42

[2021-09-28 14:52] jonrkarr opened #3059 "Handle academic use of Gurobi"
Issue discussed with @mpw6 @moraru

- [x] Add academic use checkbox to simulation run form
- [x] Add academic use key to simulation run model
- [x] Only use Gurobi keys when academic use = true

[2021-09-28 14:54] jonrkarr opened #3060 "Simplify non-academic use of licensed software through RunBioSimulations web form"
Issue discussed with @mpw6 @moraru

- [ ] Add form options to supply user-owned license keys as environment variables
- [x] Pass to simulation run mode
- [x] Pass to sbatch service

[2021-09-28 15:29] #3039 closed, assigned to bilalshaikh42

[2021-09-28 17:22] bilalshaikh42 opened #3064 "Simplify Auth Domains"
- [x] Remove ontology api
- [x] Remove platform API
- [ ] Change default audience to api.biosimulations.org
- [ ] Move all scopes/permissions to one logical API
- [x] Simplify user registration/hooks etc
- [x] Resolve #2865

[2021-09-28 17:25] jonrkarr opened #3065 "Restrict direct publication of simulation runs to trusted users"
- [ ] dispatch API `POST` and `PATCH` `/runs` should only allow `public=true` for privileged users; other users should have to go through the dispatch app web GUI where they must review the outputs of their run before making it public
- [ ] Make the dispatch app web GUI such a privileged user
- [ ] Create tokens for model repositories to also be able to directly publish runs without having to manu

[2021-09-28 17:27] #3050 closed, assigned to nobody

[2021-09-28 17:28] #2354 closed, assigned to bilalshaikh42

[2021-09-28 17:33] bilalshaikh42 commented on #3065
The intention was to have the published projects be a separate object that can only be created via an authenticated call from the API, but only after some sort of server-side validation occurs. Having a GUI based validation provides a user experience suggesting some sort of check, but could always be overridden by an API call

This is not really possible. The only way to do this is a via a token t

[2021-09-28 17:34] jonrkarr commented on #1105
Closing. Component removed from platform app.

[2021-09-28 17:34] #1105 closed, assigned to nobody

[2021-09-28 17:35] bilalshaikh42 opened #3067 "Create a Project object"
Attributes
- Human-chosen id
- Simulation run id
- Creation time stamp
- Last modification time stamp

Tasks
- [x] Projects can be directly created only by authenticated users (Post method)
- [ ] A method on the SimulationRun object that can be used to trigger a verification process that can create a Project
- [x] Model repositories can be given tokens to allow for them to directly post projects
-

[2021-09-28 17:37] jonrkarr commented on #2645
Done

[2021-09-28 17:37] #2645 closed, assigned to bilalshaikh42

[2021-09-28 17:37] bilalshaikh42 commented on #3065
@jonrkarr can we close this is favor of #3067?

[2021-09-28 17:38] jonrkarr commented on #2847
Closing. Redundant with #2724.

[2021-09-28 17:38] #2847 closed, assigned to nobody

[2021-09-28 17:39] bilalshaikh42 commented on #3059
Should we require logging in with a verified .edu email to use the academic license?

[2021-09-28 17:40] jonrkarr commented on #3065
Closed in favor of #3067.

[2021-09-28 17:42] jonrkarr opened #3068 "Restrict use of commercial software to users with verified academic email addresses"

[2021-09-28 17:44] jonrkarr commented on #3059
This is intended to be a relative simple start to addressing the issue. Email verification would be better. Since this is more work, I separated this to another issue: #3068.

[2021-09-28 18:48] jonrkarr commented on #2853
Doing this well requires #2479. Unfortunately, I seemed to need to turn this off due to incompatibilities among apicur.io, connexion, and OpenAPI.

[2021-09-28 18:49] jonrkarr commented on #2768
I think this is ready for #3067.

[2021-09-28 19:08] bilalshaikh42 commented on #2768
@jonrkarr  If you are done working on the branch , ill rebase in the changes from dev

[2021-09-28 19:12] #2724 closed, assigned to jonrkarr, bilalshaikh42

[2021-09-28 19:17] jonrkarr commented on #2768
Go ahead. I'm done with the branch.

[2021-09-28 20:16] biosimulations-daemon commented on #3047
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3049
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #2945
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3044
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3035
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3036
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3037
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3040
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3020
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3031
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #2724
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #2354
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3050
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 20:16] biosimulations-daemon commented on #3052
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-28 21:26] #3021 closed, assigned to nobody

[2021-09-28 21:52] #3059 closed, assigned to jonrkarr

[2021-09-28 22:15] jonrkarr commented on #2922
Appears to require to changes
- `import { IonicStorageModule  } from '@ionic/storage' --> `import { Storage } from '@ionic/storage-angular'
- `import { Storage } from '@ionic/storage' --> `import { Storage } from '@ionic/storage-angular'
- `driverOrder: ['indexeddb', 'websql', 'localstorage']` --> `driverOrder: [Drivers.IndexedDB, Drivers.LocalStorage]`
- `storage.ready()` --> `storage.create`

[2021-09-29 02:40] #2922 closed, assigned to jonrkarr

[2021-09-29 02:57] jonrkarr opened #3080 "chore(deps): update dependency requests-cache to <0.9"

[2021-09-29 03:05] jonrkarr opened #3082 "Expand metadata with algorithms and model languages from SED-ML files"
- Algorithms
- Model formats

[2021-09-29 03:54] #3080 closed, assigned to nobody

[2021-09-29 04:01] jonrkarr opened #3083 "Add typing for simulations in platform view service"
This is due to the scoping of the data models for the dispatch-api which prevents importing into the platform app.

[2021-09-29 14:54] bilalshaikh42 commented on #3042
An important architectural point for this would be to ensure that the project-card-list component does not contain any logic that handles filtering/searching. It should remain a purely functional component that is provided a list of projects as an input. Any filtering should happen at a higher level component that can then simply update the input to the card list component.

[2021-09-29 14:57] bilalshaikh42 commented on #3042
@jonrkarr I can start working on this if you have not yet

[2021-09-29 15:00] bilalshaikh42 commented on #2853
Yup there are two levels of validation needed.

1. The combine app output should match the schema
2. The typescript codes handling of the combine  output should match the schema

The method here to generate the client on changes to the schema will allow for 2. If the schema is not compatible with the handling, then the typescript  will have build errors. As you pointed out, verifying 1 is a separa

[2021-09-29 15:14] jonrkarr commented on #3042
Please start with the processors so that we can get simulation results visualized in the platform. This is the key output of our key advance.
- list of files (manifest)
- SED-ML content (needed for visualizations)
- Vega

[2021-09-29 22:25] biosimulations-daemon commented on #3080
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-29 22:25] biosimulations-daemon commented on #3059
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-29 22:25] biosimulations-daemon commented on #2922
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-29 22:25] biosimulations-daemon commented on #3021
:tada: This issue has been resolved in version 5.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-30 07:45] jonrkarr commented on #2914
Attributes
- Location within COMBINE archive (copied from manifest)
- Format URI (copied from manifest)
- File size
- S3 URL -- could be included here, or there could be another way to get the base S3 url for a project

[2021-09-30 20:36] jonrkarr opened #3085 "Remove unused components and data models"
- [x] E.g., components in `libs/platform/view/src/lib/`
- [x] E.g., data models in `libs/datamodel/common/src/lib/core/visualization.ts`
- [x] Datamodels in `datamodel/common/core`
- [x] Move dispatch-api specific datamodels in `dispatch/api-models` to `datamodels/api`
- [x]  Move simulator api modles to shared api models directory (#3083)

[2021-10-01 15:47] #3065 closed, assigned to nobody

[2021-10-02 19:03] jonrkarr opened #3087 "Vega visualization doesn't resize when window is resized and visualization is hidden (e.g., when a different tab is open)"

[2021-10-02 20:37] jonrkarr opened #3088 "Add error handling for getting metadata in dispatch app"
Errors can occur when any of the information is not available from the APIs
- simulation run
- project manifest
- project metadata
- run results
- run log
- ontologies
- simulators
- Vega files

Platform
- [x] No project with id exists
- [ ] If any of the following didn't succeed. There's already one observable that combines the all of the following to determine when all data has been loaded. Erro

[2021-10-02 21:33] bilalshaikh42 commented on #3087
I have a fix for this is a local branch.  Its diverged quite a bit now, but here is the code I was able to adapt. the refresh method can be replaced with the render method that we use

[code]

[2021-10-02 21:38] bilalshaikh42 commented on #3087
This bypasses all the issues with detecting when to change the rendering/size by just rendering when the tab was not in view and now is. One issue with this is that this fires very very often when actually dragging to resize the window and can easily overwhelm the results endpoint since the vega keeps calling the results endpoint each time

[2021-10-02 21:38] jonrkarr opened #3090 "Move project view components to shared library and reuse for dispatch app"

[2021-10-02 21:54] jonrkarr commented on #3087
I tried putting your suggestion into the Vega component to no avail. Try again after my changes are pushed.

While we're doing this for testing purposes, users probably won't resize much. I think we can ignore the issue regarding overloading the results endpoint.

The plotly visualization has the same issue.

[2021-10-03 02:37] bilalshaikh42 opened #3091 "Distinguish response types for each combine service endpoint"
I might be reading this incorrectly, but it seems that the manifest endpoint and sedml  specs endpoint are both returning the same content

https://combine.api.biosimulations.org/ui/#/COMBINE/src.handlers.combine.get_sedml_specs_for_combine_archive.handler

[2021-10-03 02:41] bilalshaikh42 commented on #3091
I see my misunderstanding. The return type 'combinearchive' but internally has different content. This was not clear on the generated code, but should work fine

[2021-10-03 02:43] jonrkarr commented on #3091
That's correct. The two endpoints use the data structures, but use them slightly differently.

In one case, the children are instances of `SedDocument`. In the other case, the children are instances of `CombineArchiveContentFile`. `CombineArchiveLocationValue` illustrates how this works.

In the TypeScript code, I've differentiated between these two cases. In the TypesScript code I have a separate

[2021-10-03 04:39] bilalshaikh42 commented on #3091
One issue is that this prevents the library (generated typescript) from being able to strongly type the responses for each different endpoint. So the code ends up needing to be aware of the return type for each endpoint rather than just get the information from the endpoint. I am not sure if there is a good way to address this other than having different return types for each endpoint in the open

[2021-10-03 05:32] jonrkarr commented on #3091
This could easily be handled at the typescript client level. Also, the project service you created is doing the save thing except the types are `any`.

[2021-10-03 19:41] bilalshaikh42 opened #3092 "Revert change to disable ssl"
d8730e234484e6d67c85596a5c30dc3c1b7ed90a temporarily disables ssl to get around a firewall/IPS issue on the HPC. This needs to be reverted as soon as the issue is fixed

[2021-10-03 20:03] bilalshaikh42 commented on #3092
@mpw6 Nothing to do here, just using this issue to keep track of the fix

[2021-10-03 20:10] bilalshaikh42 commented on #3091
The issue is with the gnerated typescript code. Since the library that interfaces with the API is using the spec, it types all the responses as the same object. It also seems that there are places where the typescript models are not equivalent to what the library has and the types cannot be interchanged.
 The project service I absolutely agree needs to have the typing added, just hadn't included i

[2021-10-03 20:11] bilalshaikh42 opened #3093 "Additional Endpoints and organization"
There's two things we'd ideally do next to reduce the data we're pulling from the API to populate

Reasons for processing out information
- List of visualizations in the view route
- Filter simulations in the browse route on additional attributes not currently available in the SimulationRun or metadata

Data to process out
- Process out the visualizations
  - Create a list of visualization objects

[2021-10-03 20:21] jonrkarr commented on #3091
This is fairly easy to fix by editing the YAML and then uploaded that to APICurio.

[2021-10-03 20:33] bilalshaikh42 opened #3094 "Move combine archive extraction and uploading to s3 from hpc to dispatch-service"
The combine archive is unzipped on the HPC and then uploaded along with the rest of the output to s3 at the end of the simulations run.
It might make sense to have the API/dispatch service handle this
Pros
1. can get information about size directly. Currently are using additional HTTP calls to make head requests to get size
2. can get URL information directly instead of hardcoding it throughout ap

[2021-10-03 20:46] jonrkarr commented on #3094
Each call do the COMBINE service is also downloading the COMBINE archive. Ideally, we'd also factor out that repeated work.

[2021-10-03 23:51] bilalshaikh42 commented on #3092
This is caused by the expiration of the Let's Encrypt root certificate.  See https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/
The HPC needs to update the root certificates and update the OpenSSL library.

Currently, the OpenSSL version on the HPC is
`OpenSSL 1.0.2k-fips  26 Jan 2017`

@mpw6 Are these changes possible?

[2021-10-03 23:52] bilalshaikh42 commented on #3091
Perfect. This might also allow us to just use the libraries datamodel as the shared datamodel instead of maintaining a separate typescript version

[2021-10-04 00:41] bilalshaikh42 opened #3095 "Combine API Spec is missing "id" field from SedDocument"
The open API definition for SedDocumetn does not contain an Id field, but the returned content does

[2021-10-04 00:51] bilalshaikh42 commented on #3095
Disregard, the id field was coming from higher in the response

[2021-10-04 00:51] #3095 closed, assigned to nobody

[2021-10-04 03:50] #2865 closed, assigned to nobody

[2021-10-04 03:50] #2914 closed, assigned to nobody

[2021-10-04 03:50] #3046 closed, assigned to nobody

[2021-10-04 03:50] todo[bot] opened #3096 "Use this method to publish simulation runs."
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/api/src/simulation-run/simulation-run.service.ts#L386-L391

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:50] todo[bot] opened #3097 "set strict to throw once a datamodel is finalized"
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/api/src/specifications/specifications.model.ts#L5-L10

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:51] todo[bot] opened #3098 "include the output archive in the files endpoint and get size from there"
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/dispatch-service/src/app/results/archiver.service.ts#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:51] todo[bot] opened #3099 "Remove the no check flag"
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts#L87-L90

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:51] todo[bot] opened #3100 "Keep track of which simulation run processing step failed and report it"
Capture information about which step failed and why. Handle errors in individual steps as appropriate.
- [ ] COMBINE/archive manifest extraction
- [ ] COMBINE/archive unpacking and saving to S3
- [ ] Simulation run
- [ ] Simulation results storage
- [ ] SED-ML processing
- [ ] Metadata processing

https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/d

[2021-10-04 03:51] todo[bot] opened #3101 "move to api lib"
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/apps/dispatch-service/src/sedml/sedml.service.ts#L19-L24

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:51] todo[bot] opened #3102 "convert to observable"
https://github.com/biosimulations/biosimulations/blob/eed2f75362ff2ffc058c698cdfe82875eaaea7e2/libs/dispatch/nest-client/src/lib/simulation-run.service.ts#L124-L127

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in eed2f75362ff2ffc058c698cdfe82875eaaea7e2 when #3089 was merged. cc @biosimulations.

[2021-10-04 03:51] bilalshaikh42 commented on #3099
repeat of #3092

[2021-10-04 03:51] #3099 closed, assigned to nobody

[2021-10-04 04:58] biosimulations-daemon commented on #2865
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-04 04:58] biosimulations-daemon commented on #2914
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-04 04:58] biosimulations-daemon commented on #3046
:tada: This issue has been resolved in version 5.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-04 16:39] jonrkarr opened #3129 "Add status indicators to relevant components"
- [x] platform
  - [x] browse projects
    - [x] list
    - [x] individual images
  - [x] view projects
    - [x] Main page loading
       - Run metadata
       - Project metadata
       - Files
       - List of visualizations
    - [x] Loading data for Vega visualizations
    - [x] Loading data for SED-ML visualizations
    - [x] Loading data for user designed visualizations
    - [x] Exporting t

[2021-10-04 19:44] bilalshaikh42 opened #3130 "Separate test for combine service to its own workflow"
The test for the combine service can take a very long time. Nx considers any package updates to require testing all apps. Since the python app does not need to be tested as often we can create a separate workflow that is only run when needed.

[2021-10-04 20:27] #3102 closed, assigned to nobody

[2021-10-04 22:20] jonrkarr opened #3135 "Simulation runs failed for no clear reason"
- [x] dev: 615b562c2f1add0daafd6d2e (tellurium)
- [ ] org: 61610ddf09e39101d573cbab (COBRApy)
- [ ] org: 61610e1ae3fd8649821315d3 (COBRApy)

[2021-10-04 22:25] jonrkarr opened #3136 "GET `/specifications` should require authentication"
Similar to the other endpoints, I believe GET `https://run.api.biosimulations.dev/specifications` should require authentication so that unpublished projects stay private.

[2021-10-04 22:38] jonrkarr opened #3137 "Document new REST API schemas"
https://api.biosimulations.dev

Examples
- `/files/{simId}`
- `/specifications/{simId}`

[2021-10-04 22:46] jonrkarr opened #3138 "Add 'master' attribute to File object"

[2021-10-04 23:38] jonrkarr opened #3139 "Allow CORS access to https://files.biosimulations.org/s3 from localhost"
Ports
- 4200
- 4201
- 4202

[2021-10-05 04:29] bilalshaikh42 commented on #3135
I noticed this and have been looking into it. I cannot figure out why the
status check will sometimes fail. Everything seems to run just fine on the
backend

On Mon, Oct 4, 2021 at 6:20 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-05 04:35] jonrkarr commented on #3057
Looks like this succeeded!

The logs show a message `Set parameter TokenServer to value gurobi.cam.uchc.edu`. I believe this means that the license server was successfully accessed and Gurobi was successfully used.

[2021-10-05 04:35] #3057 closed, assigned to mpw6

[2021-10-05 04:36] jonrkarr commented on #2974
Done by @bilalshaikh42

[2021-10-05 04:36] #2974 closed, assigned to bilalshaikh42

[2021-10-05 04:38] jonrkarr commented on #2913
This information is now pretty easy to get from the files and SED-Ml specs stored in the database. I think this substantially removes the need for this. The pages now look fairly quickly.

[2021-10-05 04:39] jonrkarr commented on #2716
I didn't create a component exactly for this, but I think this is sufficiently handled by changes in #3084.

[2021-10-05 04:39] #2716 closed, assigned to nobody

[2021-10-05 04:50] jonrkarr opened #3140 "Clarify typing for COMBINE service"

[2021-10-05 04:54] bilalshaikh42 commented on #3139
@moraru is this something that we can do?
Alternatively we can use https://github.com/garmeeh/local-cors-proxy

[2021-10-05 05:01] #3136 closed, assigned to bilalshaikh42

[2021-10-05 05:50] bilalshaikh42 opened #3142 "Debug plotly issues"
Either switch to cdn or work out how to deal with https://github.com/plotly/plotly.js/issues/5925
Might be fixed by fixing  #2926

[2021-10-05 06:30] bilalshaikh42 commented on #3129
@jonrkarr should i work on this? Or is it a part of #3084

[2021-10-05 06:45] jonrkarr commented on #3142
Can you simply add the missing ndarray dependency? And make a todo to remove it once plotly's distribution is fixed?

[2021-10-05 06:49] jonrkarr commented on #3129
This is only partly addressed by #3084.

I'll leave spinners and error handling to you. You seem to have thoughts about how to best handle this.

[2021-10-05 13:22] #3082 closed, assigned to jonrkarr

[2021-10-05 13:22] #3090 closed, assigned to jonrkarr

[2021-10-05 13:22] #3098 closed, assigned to nobody

[2021-10-05 13:22] #3138 closed, assigned to jonrkarr

[2021-10-05 13:25] jonrkarr commented on #3025
Addressed in refactoring in #3084

[2021-10-05 13:25] #3025 closed, assigned to jonrkarr

[2021-10-05 13:27] jonrkarr commented on #3027
Addressed in refactoring in #3084

[2021-10-05 13:27] #3027 closed, assigned to jonrkarr

[2021-10-05 13:29] jonrkarr commented on #2905
Could be implemented as a CI action

[2021-10-05 13:31] jonrkarr commented on #2717
Handled in refactoring in #3084.

[2021-10-05 13:31] #2717 closed, assigned to jonrkarr

[2021-10-05 13:32] jonrkarr commented on #2639
Closed with refactoring in #3084.

[2021-10-05 13:32] #2639 closed, assigned to bilalshaikh42

[2021-10-05 13:34] jonrkarr commented on #2678
Closing because the application seems sufficiently fast due to various improvements
- Switching from COMBINE API to MongoDB/S3

[2021-10-05 13:34] #2678 closed, assigned to bilalshaikh42

[2021-10-05 13:35] jonrkarr commented on #2625
I believe this has been addressed by @bilalshaikh42's new `Endpoints` class.

[2021-10-05 13:35] #2625 closed, assigned to bilalshaikh42

[2021-10-05 13:45] jonrkarr commented on #1890
Closing. Discussion of needed testing is in #2656.

[2021-10-05 13:45] #1890 closed, assigned to bilalshaikh42

[2021-10-05 14:09] jonrkarr commented on #2031
- [x] Can easily be fixed by adding `set -e` to the top of the script. This will force the script to stop on errors. In that case, the workflow would fail.
- [x] The same should be added to most shell scripts.

[2021-10-05 15:30] #2031 closed, assigned to jonrkarr

[2021-10-05 15:30] #2905 closed, assigned to jonrkarr

[2021-10-05 22:25] bilalshaikh42 commented on #3142
It seems they are using a custom version of the dependency that is not on npm, but on github. Older versions of npm are not able to resolve this properly.
I've just pinned the version of plotly to the latest one  that works. I think that when we  update npm/node this should resolve itself and we can just close.

[2021-10-05 22:27] bilalshaikh42 commented on #3140
Is this different from #3091?

[2021-10-05 22:28] bilalshaikh42 opened #3146 "Remove SimulationRunFile object"
There is a simulationRunFile in the database that contains information about the omex archive. Now that we have a list of all the associated files of the simulations, this should be added there instead

[2021-10-05 22:30] bilalshaikh42 commented on #3135
Im going to keep this open as I want to add logging to trace why this happens. I assume it must be some sort of transient error with ssh that the code interprets as getting back a "failure". I have not been able to pinpoint what the actual response that causes this is, but that is the only feasible cause. It should be an easy fix, but its annoying to try to track down since it happens relatively r

[2021-10-05 22:32] bilalshaikh42 opened #3147 "Change 'Master' field on Files to 'Main'"
Should we rename the field on our end? I know this is a carryover from the sedml but it should be easy to maintain as all of our code only interacts with the API now and not the combine-service directly

[2021-10-05 22:38] bilalshaikh42 commented on #3130
It seems the tests actually timeout as well, so that will also need to be fixed

[2021-10-05 22:41] jonrkarr commented on #3147
I thought about this too. I used "main" in the UI, but kept "master" in code. I'm fine with switching this. We already have subtle divergences from the SED-ML terminology -- to be more consistent than SED-ML is.

[2021-10-05 22:42] jonrkarr commented on #3140
Closing because redundant with #3091.

[2021-10-05 22:42] #3140 closed, assigned to jonrkarr

[2021-10-05 22:43] jonrkarr commented on #3130
The tests shouldn't be particularly long. The Docker image building is longer.

[2021-10-05 23:12] jonrkarr opened #3148 "Add options to control COMBINE archive validation"
- [x] Add to BioSimulators utils -- added in 0.1.127
- [x] Add to COMBINE service
- [x] Add to web form

[2021-10-05 23:34] bilalshaikh42 commented on #3130
I have seen a few times they run past 1hr and eventually timeout. The
latest run of the test on the dev  branch is an example

On Tue, Oct 5, 2021 at 6:43 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-05 23:41] bilalshaikh42 opened #3149 "Switch platform front end to use projects"
- [ ] The platform app should use project ids in routes rather than simulation run ids
- [ ] The platform view component should lookup the id of the associated runs and use that run ids to get metatdata, manifests, specifications etc. Alternatively, options could be added to API endpoints to retrieve data by published project id in addition to by simulation run id (current option).

After these ch

[2021-10-05 23:42] bilalshaikh42 commented on #3067
Split into #3149 and #3096

[2021-10-05 23:54] jonrkarr commented on #3130
Which build are you referring to? I am aware of one issue with GillesPy2 sometimes never completing. I should really report that to them.

[2021-10-06 00:43] bilalshaikh42 commented on #3130
https://github.com/biosimulations/biosimulations/runs/3805127278
Timed out after 6hrs it seems

[2021-10-06 00:47] #3067 closed, assigned to bilalshaikh42

[2021-10-06 01:05] jonrkarr commented on #3130
Its likely GillesPy2. I've seen this in my unit tests for GillesPy2 as well. The bug appeared in a relatively recent version.

Todo
- [ ] Use a different deterministic example simulation with GillesPy2
- [ ] Submit bug to GillesPy2
- [x] Use the [`timeout` argument](https://github.com/biosimulations/biosimulations/blob/18990f0ba317f18a3b747f2564e8ec83fe49a058/apps/combine-service/src/handlers/run/

[2021-10-06 01:06] #3148 closed, assigned to jonrkarr

[2021-10-06 04:25] jonrkarr commented on #3130
In my hands, the tests take ~4 min. This is similar to the length in most builds. I'm having trouble replicating this, even with the same Docker image. Hopefully with the timeout, I can figure out which test is dragging in the GitHub action environment.

[2021-10-06 13:30] bilalshaikh42 commented on #3101
Also include typing in the front end services

[2021-10-06 13:47] #3091 closed, assigned to jonrkarr

[2021-10-06 15:29] jonrkarr opened #3156 "Display inline documentation directly at https://combine.api.biosimulations.org/"

[2021-10-06 18:34] bilalshaikh42 commented on #3139
Another alternative for dev work
https://alfilatov.com/posts/run-chrome-without-cors/

[2021-10-06 18:44] #3048 closed, assigned to bilalshaikh42

[2021-10-06 18:49] jonrkarr opened #3159 "Allow CORS to to s3 from front end urls"
Access to fetch at 'https://files-dev.biosimulations.org/s3/simulations/615b55fa3b2a0dd76c664fdb/contents/activity-flow-diagram.vega.json' from origin 'https://run.biosimulations.dev' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with C

[2021-10-06 19:36] bilalshaikh42 commented on #3159
I sent an email to @mpw6 and @moraru. I can try to set up a proxy on our API if this takes long, but that will be a bit annoying. We didn't run into this issue before because I was using the API to download the file and then send it to the browser, which I could try to restore

[2021-10-06 19:53] bilalshaikh42 opened #3160 "Make project ids case-insensitive"

[2021-10-06 21:21] bilalshaikh42 commented on #3139
consolidate in #3159

[2021-10-06 21:21] #3139 closed, assigned to moraru, bilalshaikh42

[2021-10-06 21:22] bilalshaikh42 commented on #3159
We are running into some CORS issues for the s3 domains at files.biosimulations.org/s3 and files-dev.biosimulations.org/s3.

Could we get cors added for *.biosimulations.org,  *.biosimulations.dev, *.biosimulators.org, and *.biosimulators.dev. If the wildcard domains are not supported, we need at least the following:

run.biosimulations.org
run.biosimulations.dev
biosimulations.org
biosimulations.

[2021-10-06 21:25] bilalshaikh42 opened #3162 "Add a files download endpoint"
For each file add an endpoint /download to redirect the user to the s3 URL. This should be sufficient to prevent #3159

[2021-10-06 21:26] bilalshaikh42 commented on #3156
@jonrkarr do you mean showing the docs at https://combine.api.biosimulations.org instead of https://combine.api.biosimulations.org/ui?
 If so, that is done in #3158

[2021-10-06 21:36] jonrkarr commented on #3162
That would work

[2021-10-06 21:42] bilalshaikh42 commented on #3162
It might not, https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSExternalRedirectNotAllowed

Worth a shot, i'll have it up shortly

[2021-10-06 21:44] jonrkarr commented on #3156
Yes!

[2021-10-06 21:45] #3156 closed, assigned to bilalshaikh42

[2021-10-06 21:50] jonrkarr commented on #3162
Wouldn't a proxy work? A service which downloads from S3 and then forwards that along. Obviously this would add extra overhead.

[2021-10-07 05:43] #3085 closed, assigned to bilalshaikh42

[2021-10-07 05:43] #3149 closed, assigned to bilalshaikh42

[2021-10-07 15:25] bilalshaikh42 opened #3164 "Change SimulationRun object to take in a BiosimulatorsId instead of a simulator/version pair"
@jonrkarr  this would allow the database the store the biosimulators id directly so that there is no need to do mapping. This way those who are using the API to pull the simulation run would actually receive an id to an existing simulator object.

 There would not be much change required to the UI,  just mapping the current fields to the new term
The only tricky part would be mapping these ids to

[2021-10-07 15:57] bilalshaikh42 commented on #3159
Figured out how to do this on the console. Done.
CORS is enabled for Get requests, which should be all that is needed.

[2021-10-07 15:58] #3159 closed, assigned to mpw6, moraru, bilalshaikh42

[2021-10-07 16:02] bilalshaikh42 opened #3165 "Vega window resize events need to be debbounced"
Window resize event  fires very often as a window is being dragged sending multiple requests to API. This can easily be fixed via an observable from event, piped through a debounce

[2021-10-07 16:05] bilalshaikh42 opened #3166 "Add cache to API endpoint for results"
The api can maintain a cache for the simulation results. This is probably very useful since a user exploring a simulations/changing graphs around will be hitting the same simulation endpoint repeatedly. No need to go read the hdf5 file every time

[2021-10-07 16:10] jonrkarr commented on #3165
There are probably other unnecessary repeated REST queries in the new shared project-service that could be avoided with this. I haven't paid attention to this.

[2021-10-07 16:11] jonrkarr commented on #3166
There seems to be some form of caching already. The results endpoint is much faster after the initial successful call.

[2021-10-07 16:13] bilalshaikh42 commented on #3165
If there are other repeated requests they are probably on the order of 3/4
where we could optimize it to 1. But since this one is tied to the window
resize event, which fires a lot, even for a relatively small resize, it can
easily send out 100 or more requests.

On Thu, Oct 7, 2021 at 12:10 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-07 16:14] jonrkarr commented on #3164
What is a `BiosimulatorsId`? Object with two fields `id` and `version`?

[2021-10-07 16:15] bilalshaikh42 commented on #3166
Yes, that is happening on the HSDS service. So I suppose technically, we
are not rereading the hdf5 file every time, but the API sends a request to
HSDS. That response can be cached. All I need to do is add a @Cache()
decorator to the method

On Thu, Oct 7, 2021 at 12:11 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-07 16:15] jonrkarr commented on #3165
I think this is pretty easy to fix with rxjs operators. I'm haven't taken the time to understand them.

[2021-10-07 16:16] jonrkarr commented on #3166
Great!

[2021-10-07 16:17] bilalshaikh42 commented on #3164
Sorry, that was clear. basically just simulator/version as one string. I
know it can be easily reconstructed, but it just seems to make more sense
in the backend to have one id for each simulator

On Thu, Oct 7, 2021 at 12:14 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-07 16:18] bilalshaikh42 commented on #3164
But now I am unclear on one thing. What was the mapping that you mentioned
needing to do because of the way that the simulator name and version were
stored? That was the initial issue that made me think about this, but now I
don't remember if there was any sort of problem

On Thu, Oct 7, 2021 at 12:17 PM Bilal Shaikh ***@***.***>
wrote:

[2021-10-07 16:19] bilalshaikh42 commented on #3165
Yup, the Debounce operator is what we need. Just a one line fix, I'll put
it in

On Thu, Oct 7, 2021 at 12:16 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-07 16:22] jonrkarr commented on #3164
This is the information I'm trying to display in the dispatch and platform apps (more specifically in a component in the dispatch app and a component in `shared/project-ui`)
- Name of simulator
- Version of simulator

Presently, I'm getting the simulator `id` and `version` from the `SimulationRun` and then using the simulators API to get the `name` of the simulator from its `id`.

This could be fa

[2021-10-07 16:32] biosimulations-daemon commented on #3091
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:32] biosimulations-daemon commented on #3148
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:32] biosimulations-daemon commented on #2031
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #2905
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3082
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3090
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3138
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3098
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3025
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3027
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #2717
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #2635
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3136
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3149
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3085
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3156
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3048
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3067
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 16:33] biosimulations-daemon commented on #3102
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-07 20:47] bilalshaikh42 opened #3169 "Select visualization component selects invalid reports when choosing select all"
1.  go to https://run.biosimulations.org/simulations/615f4de5a08a85694b8f9cb0#tab=select-viz
2. select 1d histogram
3. Select the top-level field "simulation.sedml"
4. Notice application makes call to API for the report titled "simulation.sedml" though no  such report exists

The application should have instead made a call for each of the individual reports that have an id starting with "simulatio

[2021-10-07 22:57] #3169 closed, assigned to jonrkarr

[2021-10-07 23:32] bilalshaikh42 opened #3174 "Add Schema.org information for biosimulations web application"
This lets us get a nice sidepanel on google when someone searches biosimulations
ex.

https://g.co/kgs/dbL3zx

https://developers.google.com/search/docs/advanced/structured-data/software-app

[2021-10-08 01:24] jonrkarr commented on #3174
- Dataset: https://developers.google.com/search/docs/advanced/structured-data/dataset
- FAQ/Q&A: https://developers.google.com/search/docs/advanced/structured-data/faqpage
- Logo: https://developers.google.com/search/docs/advanced/structured-data/logo

[2021-10-08 14:24] jonrkarr commented on #2853
Using the new combine client would solve this. Two additional modules need to be mapped to the combine client.

`_type` attributes can be removed from the data models in `apps/dispatch/src/app` as needed.

- `apps/dispatch/src/app/services/combine/combine.service.ts`
  - `getSpecsOfSedDocsInCombineArchive` --> `SimulationProjectsCOMBINEOMEXArchivesService.srcHandlersCombineGetSedmlSpecsForCombineA

[2021-10-08 16:12] bilalshaikh42 opened #3180 "Client always calls dev COMBINE API"
i don't remember setting the configuration of the combine service to be dependent on the environment, so it must be always calling the dev deployment, even in production

[2021-10-08 16:22] jonrkarr opened #3181 "Allow CORS to https://api.biosimulations.org/projects from `www` subdomain or correct redirection to `www`"
(a) https://biosimulations.org/ is automatically forwarding to https://www.biosimulations.org/. `.dev` isn't doing this. There must be a difference between their configurations.

(b) This leads to this CORS issue for `.org`
[code]

[2021-10-08 16:28] bilalshaikh42 commented on #3181
Redirect should be fixed now

On Fri, Oct 8, 2021 at 12:23 PM Jonathan Karr ***@***.***>
wrote:

[2021-10-08 17:16] #3181 closed, assigned to bilalshaikh42

[2021-10-08 17:20] biosimulations-daemon commented on #3169
:tada: This issue has been resolved in version 5.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-08 17:27] jonrkarr opened #3183 "Add validation for projects"
- [x] Id matches ^[a-zA-Z0-9_-]{3,}$
- [ ] simulationRun is the id of a valid run
- [ ] The status of that run was successful
- [ ] That run has at least one root level metadata document (uri with no slashes in it)

The UI does all such checking. But it should also be enforced at the database level so that the API cannot bypass these checks.

[2021-10-08 17:28] jonrkarr commented on #467
Submitted a request

[2021-10-08 21:51] jonrkarr opened #3187 "Validate that `simulationRun` is the id of a valid run"

[2021-10-08 22:11] jonrkarr commented on #3096
no longer relevant

[2021-10-08 22:11] #3096 closed, assigned to jonrkarr

[2021-10-08 22:12] jonrkarr opened #3189 "remove `public` attribute from `SimulationRun` and associated methods"
This idea is supersed by the `Project` documents.

Thus the public attribute and related methods such as `updateModelPublic` should be cleaned up.

[2021-10-08 22:24] jonrkarr commented on #2768
I think the only remaining issue is providing permissions to POST projects

[2021-10-08 22:25] jonrkarr commented on #3187
Closing. Merging with #3183

[2021-10-08 22:25] #3187 closed, assigned to bilalshaikh42

[2021-10-08 22:58] bilalshaikh42 opened #3190 "Resubmit example projects"
Since ids are now case-insensitive the ids of the submitted projects won't match.
Need to resubmit the projects after #3186 is merged

[2021-10-08 23:00] jonrkarr commented on #3190
Sounds like you're making the ids lower case and unique rather than case insensitive.

[2021-10-08 23:01] jonrkarr commented on #3190
That's fine too.

[2021-10-08 23:06] bilalshaikh42 commented on #3190
Whatever the user inputs, the id is set to lowercase. That way all the id's in the database will be lowercase. however, the id itself can be shared with any casing. Is there an easy way to make it case insensitive while still saving the correct id in the database?

[2021-10-08 23:09] bilalshaikh42 commented on #3190
Yes, there is.
https://docs.mongodb.com/manual/core/index-case-insensitive/

We will steed need to resubmit the projects since the index is being recreated, but it should preserve the case

[2021-10-08 23:15] jonrkarr commented on #3190
To resubmit, delete the projects and then run `tools/publish-examples`.

[2021-10-09 02:06] bilalshaikh42 commented on #3190
Done.

[2021-10-09 02:06] #3190 closed, assigned to jonrkarr

[2021-10-09 03:06] #3183 closed, assigned to bilalshaikh42

[2021-10-09 03:06] #3160 closed, assigned to bilalshaikh42

[2021-10-09 04:12] jonrkarr commented on #3135
Here's two more (of 89) that failed in publishing the BiGG models. These are both on `org`. The same OMEX files succeeded in subsequent runs, so the OMEX file probably isn't the issue.

- `61610ddf09e39101d573cbab`
- `61610e1ae3fd8649821315d3`

[2021-10-09 04:51] jonrkarr opened #3191 "Enable thumbnails to be ordered so that users can control the primary one that appears in the browse route"
This comes from the BiGG thumbnails not appearing in the specified order, and instead appearing alphabetically. It seemed like the thumbnails are being sorted.

In my testing, the thumbnails remain ordered through to the output of the COMBINE API. The API returned the images sorted.

This suggests the sorting is between the COMBINE API and output of the metadata endpoint of the API. Possibilities:

[2021-10-09 05:45] jonrkarr commented on #3135
I'll compiled any failed runs to the first message

[2021-10-09 17:59] biosimulations-daemon commented on #3183
:tada: This issue has been resolved in version 5.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-09 17:59] biosimulations-daemon commented on #3160
:tada: This issue has been resolved in version 5.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-09 18:35] bilalshaikh42 opened #3192 "Optimize front end services"
- [x] Platform
  - [x] Browse projects
  - [x] View project
- [x] Dispatch
  - [x] View simulation run
  - [x] Publish simulation run
  - [x] Stop getting simulator test data
  - [x] Avoid repeated calls to get similar algorithms
  - [x] retrieve individual ontology terms rather than entire ontology
  - [x] reduce ontology term downloading in `getSimulatorsFromDb`
  - [x] add caching for get simil

[2021-10-10 16:08] jonrkarr opened #3194 "Track Docker image hashes for stronger reproducibility"
Currently, we're tracking the docker image tag used to run each simulation, but we're allowing simulators to replace Docker image tags. This means were missing a little information needed to fully reproduce a run.

- [ ] Add image hashes to [`Image`](https://github.com/biosimulations/biosimulations/blob/dev/libs/datamodel/api/src/lib/simulators/image.ts)
- [ ] Add image hashes to [`SimulationRun`]

[2021-10-11 06:26] jonrkarr opened #3195 "SimulationRuns should store simulator version used rather than `latest`"
If a run is requested to use the "latest" version, the actual version used should get stored (rather than the request for the latest version). This is important for reproducibility.

In addition, the digest (hash) of the simulator should always be stored for reproducibility. This is important because we're allowing developers to overwrite image tags. As a result, we should save the image digest, w

[2021-10-11 14:48] bilalshaikh42 opened #3196 "Link to results in platform files view does not include needed query param to view results"

[2021-10-11 15:05] jonrkarr commented on #467
Approved

[2021-10-11 16:56] bilalshaikh42 opened #3197 "Users reporting that the page to create simulation projects errors after a minute"
Error logs show that the list of similar algorithms was not downloaded, so the app tried to filter an empty object.
[code]
This can happen if the API call fails, but the API call is working just fine, so I am unable to figure out what is causing this. I cannot reproduce on my end, which makes me think it could be a problem for users that do not have previously cached resources

[2021-10-11 17:12] bilalshaikh42 commented on #3197
@jonrkarr Based on the user reports, I believe this is happening to users outside the US due to network latency from the combine-service for the get similar endpoints call. I can replicate this issue by setting the network settings to 'slow-3g'

Here is the call: https://combine.api.biosimulations.dev/kisao/get-similar-algorithms?algorithms=KISAO_0000449&algorithms=KISAO_0000657&algorithms=KISAO_0

[2021-10-11 17:22] bilalshaikh42 commented on #3197
Network requests from user:

![Untitled](https://user-images.githubusercontent.com/32490144/136830288-cd6e89cb-bc1e-4947-99bd-23ae129fa693.png)

[2021-10-11 17:45] todo[bot] opened #3198 "set typing and refactor. TS will not catch the type errors here"
https://github.com/biosimulations/biosimulations/blob/338be997320e053b054137a44546a82a21c13e34/apps/dispatch/src/app/components/create-simulation-project/create-simulation-project/create-simulation-project.component.ts#L1257-L1262

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 338be997320e053b054137a44546a82a21c13e34. It&#x27;s been assigned t

[2021-10-11 17:47] bilalshaikh42 commented on #3197
338be997320e053b054137a44546a82a21c13e34 addresses the handling of the error, but not the cause. I don't think the issue is actually the size of the requests itself, but some other requests that have been tied to it. When those request time out, this one ends up being canceled. #3198 shows the location in the code where the requests are being chained together.

[2021-10-11 17:59] bilalshaikh42 commented on #3197
Seems the request before is downloading all the simulators, including all of the logs. This is almost certainly timing out, which causes the request for the kisao terms to get canceled, leading to an undefined array. When the filter method is called on the undefined array the the app crashes.
Few issues that  cause this.
1. Chaining of requests that shouldn't be chained
2.  `Using` type overrides,

[2021-10-11 18:21] bilalshaikh42 commented on #3197
The original request that caused the issue seems to be the simulators list, without the includeData parameter not set. #3199 should fix that portion. #3198 should be addressed to clean up some of the issues with chaining the requests. https://github.com/biosimulations/biosimulations/commit/338be997320e053b054137a44546a82a21c13e34 should have fixed the actual crash

@DeepaMahm Thanks for the report

[2021-10-11 18:46] bilalshaikh42 opened #3203 "Test issue"
@all-contributors please add @bilalshaikh42 for infrastructure, CI and CD

[2021-10-11 18:47] bilalshaikh42 commented on #3203
@all-contributors please add @bilalshaikh42 for infrastructure, CI and CD

[2021-10-11 18:47] bilalshaikh42 commented on #3203
@all-contributors please add @bilalshaikh42 for code

[2021-10-11 18:48] bilalshaikh42 commented on #3203
@all-contributors please add @bilalshaikh42 for infrastructure, CI and CD

[2021-10-11 18:51] #3203 closed, assigned to nobody

[2021-10-11 19:12] bilalshaikh42 opened #3206 "Add various acknowledgements"
Using the @all-contributors  bot add various contributors to the CONTRIBUTORS.md  file

[2021-10-11 19:21] #3197 closed, assigned to jonrkarr, bilalshaikh42

[2021-10-11 20:12] jonrkarr commented on #3197
@DeepaMahm Thanks for the report! Please be patient with BioSimulations/runBioSimulations. We're aware the early version we've shared has a variety of bugs (see issues) and will fix them.

[2021-10-12 06:02] DeepaMahm commented on #3197
@jonrkarr No issues at all. I find this work really amazing and I look forward to using BioSimulations.  Please bear with me if I opening new threads and have some feature requests.

@bilalshaikh42 Thanks a lot for the update. I could load my model file in the dev site. I will test a few things and revert back.

[2021-10-12 06:07] jonrkarr commented on #3197
The Thursday session is a time to discuss specific ideas with us and explore how we could work together.

[2021-10-12 06:19] DeepaMahm commented on #3197
Sure, I will also explore the options in the tool using my model until then.

[2021-10-12 13:27] jonrkarr opened #3209 "Add fields to simulators search"
Add to search, but not to columns or filters

- [x] Description
- [x] Authors
- [x] Author identifiers
- [x] Citations
- [x] Identifiers
- [x] Funder ids
- [x] Funder names
- [x] Grants
- [x] Algorithm parameter KiSAO ids
- [x] Algorithm parameter KiSAO names
- [x] Dependencies

[2021-10-12 14:50] jonrkarr opened #3210 "Add status badges/links to app UIs"
- [x] Pull status from new `/health` endpoints
- [x] Bottom of all pages
- [x] Main menus of apps

[2021-10-12 14:53] jonrkarr commented on #3210
@bilalshaikh42 can we get status badges from Upptime?

[2021-10-12 14:56] jonrkarr opened #3211 "Update order of utils context buttons to match main menu"
Example: https://run.biosimulations.org/utils/suggest-simulator

[2021-10-12 15:41] jonrkarr opened #3212 "About link in biosimulations main menu needs to be changed"
https://docs.biosimulations.org/users/about/ --> https://docs.biosimulations.org/about/

[2021-10-12 16:17] bilalshaikh42 commented on #3210
Sure. We can get badges for essentially any url. Though I'm not sure what an uptime badge for the readme or docs would convey. Those are statically hosted by GitHub, so should always be up.

I think I'm missing some context here

[2021-10-12 18:03] jonrkarr opened #3213 "Add status endpoints to APIs"
I think it would be helpful to add an endpoint to each API that returns trivial status information about each one (i.e., up/down). If something isn't working, users would be able to check if the service is down.

[2021-10-12 23:14] bilalshaikh42 commented on #3213
That is the intention of[ status.biosimulations.org](https://status.biosimulations.org). The issue with an API endpoint is that the API alone does not know about the various components but is just one of the components needed to get have everything working. Also it would not be able to report status if it was itself down. We should definitely make the existence of status.biosimulations.org more we

[2021-10-14 05:38] bilalshaikh42 commented on #3206
@all-contributors add @bilalshaikh42,  @jonrkarr, @gmarupilla for code. Add @moraru, @mpw6 for infrastructure

[2021-10-14 05:39] bilalshaikh42 commented on #3206
@all-contributors add @bilalshaikh42 for code, docs, infrastructure

[2021-10-14 05:42] bilalshaikh42 commented on #3206
@all-contributors add @bilalshaikh42 for infrastructure

[2021-10-14 05:42] bilalshaikh42 commented on #3206
@all-contributors add @jonrkarr  for code

[2021-10-14 05:42] bilalshaikh42 commented on #3206
@all-contributors add @gmarupilla for code

[2021-10-14 05:43] bilalshaikh42 commented on #3206
@all-contributors add @moraru for infrastructure

[2021-10-14 05:43] bilalshaikh42 commented on #3206
@all-contributors add @mpw6 for infrastructure

[2021-10-14 05:51] bilalshaikh42 commented on #3206
@all-contributors add @jonrkarr for code, docs

[2021-10-14 05:54] bilalshaikh42 commented on #3206
@all-contributors add @mpw6 for infrastructure
@all-contributors add @moraru for infrastructure
@all-contributors add @gmarupilla  for code

[2021-10-14 05:54] bilalshaikh42 commented on #3206
@all-contributors add @mpw6 for infrastructure

[2021-10-14 05:55] bilalshaikh42 commented on #3206
@all-contributors add @gmarupilla for code

[2021-10-14 05:56] bilalshaikh42 commented on #3206
@all-contributors add @moraru for infrastructure

[2021-10-14 06:00] bilalshaikh42 commented on #3206
@all-contributors add @jonrkarr for design

[2021-10-14 06:03] bilalshaikh42 commented on #3206
@all-contributors add @jonrkarr for code, docs

[2021-10-14 06:03] bilalshaikh42 commented on #3206
@all-contributors add @jonrkarr for design

[2021-10-14 06:13] bilalshaikh42 commented on #3197
@all-contributors add @DeepaMahm for bug report

[2021-10-14 17:06] jonrkarr commented on #3213
I'll close this. My main point is that we should somehow communicate status more quickly so that users know that something is expected to be not working versus due to a bug in our implementation.

[2021-10-14 17:08] jonrkarr commented on #3210
Ideally, I think we'd make the static UI apps (simulators, dispatch, platform) clearly display a warning message if the status is down. The upptime app already stores JSON documents with the status of each service. We could modify the upptime GitHub action to merge that information into 1 JSON document and then read that into the UIs. Due to CORS, I think we need to save that to GitHub pages (i.e.

[2021-10-14 17:30] bilalshaikh42 commented on #3210
Oh, I see what you mean now. I thought you meant creating buttons for the webpages, not including the info in the webpages.

The website status.biosimulations.org uses the following file to determine the current state. We could do the same

https://raw.githubusercontent.com/biosimulations/status-monitor/master/history/summary.json

[2021-10-14 17:32] bilalshaikh42 commented on #3210
There is already the summary json linked above. The status front end seems to be able to make a xhr request to it without cors issues, so hopefully should work on the front end as well

[2021-10-14 17:53] bilalshaikh42 commented on #3206
@all-contributors add @NIHGOV  for financial

[2021-10-14 17:53] bilalshaikh42 commented on #3206
@all-contributors add @nsf-open for financial

[2021-10-14 18:03] bilalshaikh42 commented on #3206
@all-contributors add @NIBIB for financial

[2021-10-14 18:04] bilalshaikh42 commented on #3206
@all-contributors add @vcellmike for ideas

[2021-10-15 00:35] bilalshaikh42 commented on #3041
Done for api
Stylesheet is located here: https://github.com/biosimulations/static/blob/dev/stylesheets/biosimulations_swagger.css
This deploys to https://static.biosimulations.org/stylesheets/biosimulations_swagger.css
That is loaded in as the customCssUrl field in setting up the swagger doc

[2021-10-15 03:10] jonrkarr commented on #3211
Done in branch

[2021-10-15 04:35] jonrkarr opened #3230 "UI error in simulation run view"
https://run.biosimulations.org/simulations/616901961951f36e466a836f

[2021-10-15 20:57] jonrkarr commented on #3162
Solved by @bilalshaikh42

[2021-10-15 20:57] #3162 closed, assigned to bilalshaikh42

[2021-10-15 21:42] #3211 closed, assigned to jonrkarr

[2021-10-15 23:32] #3209 closed, assigned to jonrkarr

[2021-10-15 23:35] jonrkarr opened #3233 "Document low latency simulation queue in dispatch faqs"

[2021-10-16 02:16] jonrkarr opened #3234 "Redirect to 404 page for non-existent prjects"

[2021-10-16 02:32] #3234 closed, assigned to jonrkarr

[2021-10-16 02:50] jonrkarr commented on #3230
Because VCell uses `KISAO:0000019` rather than `KISAO_0000019`

[2021-10-16 04:02] #3230 closed, assigned to jonrkarr

[2021-10-16 15:57] jonrkarr opened #3238 "Change success status code of `/auth/open` from 418 to 204"
Endpoint: http://biosimulators.org/auth/open

418 seems like an odd code to indicate that the API is operational. I think a code like 204 should be used.

[2021-10-16 16:18] jonrkarr opened #3239 "Document return types of `authTest.controller.ts` error responses"
- [x] `ApiForbiddenResponse`
- [x] `ApiUnauthorizedResponse`

[2021-10-16 18:24] bilalshaikh42 commented on #3238
This was added in as a bit of an easter egg. I really didn't intend for
this to be a accessed by  users. During testing the teapot error was a fun
way to make sure I was actually hitting this endpoint

I am planning to add a /health end point to the API that can be used by
users and we can remove this one.

On Sat, Oct 16, 2021, 11:57 AM Jonathan Karr ***@***.***>
wrote:

[2021-10-16 18:35] jonrkarr opened #3240 "Simplify or debug `/runs` endpoint and clarify documentation"
- Simplify endpoint to simply return a list of ids of simulation runs
- OR debug the endpoint
  - [ ] Endpoint fails with multiple query fields.
  - [ ] The method seems to only work for string-valued fields.
- Clarify documentation
  - [ ] Clarify documentation of query argument
  - [ ] Clarify documentation of response type

[2021-10-16 19:19] jonrkarr commented on #3238
I figured that. Replacing this with a health endpoint would be great.

I think the key thing is to more clearly communicate the status so that we calibrate reviewers expectations by telling them that we know there's a problem (and we're working on it), rather than leaving them to potentially conclude that our tool is too early to use. The status website is great, but users have to know where to fi

[2021-10-16 19:38] jonrkarr opened #3242 "Restrict access to posting logs and SED-ML specifications"
- [x] `POST` `/logs`
- [x] `POST` `/specifications`
- [x] `POST` `/specifications/{simId}`

[2021-10-16 19:54] jonrkarr opened #3243 "Clarify the description of POST `/specifications` vs POST `/specifications/{simId}`"
These seem very similar. What is the difference?

[2021-10-16 20:46] jonrkarr opened #3244 "Type and document simulation experiment specifications"
`libs/datamodel/api/src/lib/core/specifications.ts`

[2021-10-16 20:57] jonrkarr commented on #3137
Added documentation in #3241. Created issues for remaining minor gaps in documentation.

[2021-10-16 21:18] #3137 closed, assigned to jonrkarr

[2021-10-16 21:18] #3239 closed, assigned to jonrkarr

[2021-10-16 23:14] jonrkarr commented on #3041
Nice!

[2021-10-17 00:47] bilalshaikh42 commented on #3244
related to #3097 and #3101

[2021-10-17 03:40] #2924 closed, assigned to nobody

[2021-10-17 03:45] #3233 closed, assigned to jonrkarr

[2021-10-17 04:50] #3041 closed, assigned to nobody

[2021-10-17 21:00] #3212 closed, assigned to jonrkarr

[2021-10-17 21:49] #3196 closed, assigned to jonrkarr

[2021-10-17 22:07] #3194 closed, assigned to jonrkarr

[2021-10-17 22:30] bilalshaikh42 opened #3263 "Encourage engagement in docs/readme"
- [ ] star repo
- [ ] discussions
- [ ] share to social media

[2021-10-17 22:33] jonrkarr commented on #3263
Once we have more model repositories integrated, we should announce it through various community mailing lists. I think Herbert is eager to help with that.

[2021-10-17 22:55] todo[bot] opened #3265 "abandoned children is incorrect behavior?)"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L339-L344

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3266 "Will delete attributes of the Group."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L686-L691

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3267 "extensive tests to verify)"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L688-L693

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3268 ")"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L801-L806

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3269 "Resolves by following hard Links to groups that match"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L893-L898

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3270 "Type description objects."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1080-L1085

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3271 "ambiguous string or object"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1083-L1088

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3272 "see `POST Dataset`?)"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1310-L1315

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3273 "Attributes and commited types are not deleted."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1396-L1401

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:55] todo[bot] opened #3274 ")."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1422-L1427

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3275 "scalar dataset?"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1622-L1627

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3276 "'anything in array' may give Swagger some grief.)"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1632-L1637

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3277 "not really..."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1635-L1640

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3278 "query syntax description"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1701-L1706

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3279 "verify"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1710-L1715

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3280 "coordinates?) corresponding with"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1796-L1801

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3281 "integer or array of integers WISHLIST: arrays"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1804-L1809

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3282 "WISHLIST: fold into GET DATASET; 'POST' is counterintuitive."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1832-L1837

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3283 "verify array of arrays; esp. in single-coordinate case... [[5,3]], vs [5,3]"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1848-L1853

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3284 "pre-defined enum string vs type object?"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1916-L1921

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3285 "not present in tests or elsewhere"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L1939-L1944

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3286 "confirm)'"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2007-L2012

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3287 "is this complete?"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2083-L2088

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3288 "specify?"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2092-L2097

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3289 "whatever the user put there"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2096-L2101

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3290 "Put a real definition."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2154-L2159

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3291 "not specified in tests or elsewhere."
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2163-L2168

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 22:56] todo[bot] opened #3292 "whatever the user put there?"
https://github.com/biosimulations/biosimulations/blob/dcbe006e1c2d71054125553a23fdd034c602dd54/tools/openapi.yml#L2233-L2238

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dcbe006e1c2d71054125553a23fdd034c602dd54. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-17 23:12] #3268 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3269 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3270 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3271 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3272 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3273 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3274 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3275 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3276 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3277 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3278 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3279 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3280 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3281 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3282 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3283 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3284 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3285 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3286 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3287 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3288 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3289 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3290 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3291 closed, assigned to bilalshaikh42

[2021-10-17 23:12] #3292 closed, assigned to bilalshaikh42

[2021-10-17 23:13] #3265 closed, assigned to bilalshaikh42

[2021-10-17 23:13] #3266 closed, assigned to bilalshaikh42

[2021-10-17 23:13] #3267 closed, assigned to bilalshaikh42

[2021-10-17 23:21] jonrkarr commented on #3180
The deployed dispatch app always calls `org`.

`https://combine.api.biosimulations.dev` is hardcoded into `libs/combine/api-client/src/lib/api/simulationProjectsCOMBINEOMEXArchives.service.ts`. I guess this happens because this is the first URL in the OpenAPI spec.

The `configurationFactory` needs to be linked to `Endpoints` or the `generate-combine-client` script can modify how configuration is

[2021-10-17 23:35] biosimulations-daemon commented on #3196
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:35] biosimulations-daemon commented on #3194
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:35] biosimulations-daemon commented on #3206
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:35] biosimulations-daemon commented on #3041
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:35] biosimulations-daemon commented on #3233
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3239
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3137
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3230
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3234
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3209
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3211
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3212
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-17 23:36] biosimulations-daemon commented on #3197
:tada: This issue has been resolved in version 5.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 00:34] bilalshaikh42 commented on #3174
Done for apps and logo
Dataset and FAQ are a bit more involved, so we can open a separate issue when the pages are set for those

[2021-10-18 00:34] #3174 closed, assigned to bilalshaikh42

[2021-10-18 00:35] bilalshaikh42 commented on #3064
All the scopes are already on dispatch.biosimulations.org, so its simpler to just keep it there. Currently we are using role-based auth, so API.biosimuilations.org can be reserved for if we ever need scopes/delegation

[2021-10-18 00:35] #3064 closed, assigned to nobody

[2021-10-18 00:36] jonrkarr commented on #3174
We could start with the simulators.

[2021-10-18 00:55] bilalshaikh42 commented on #3206
@all-contributors add @NIHGOV for funding

[2021-10-18 00:55] bilalshaikh42 commented on #3206
@all-contributors add @NIHGOV for financial

[2021-10-18 00:57] #3242 closed, assigned to bilalshaikh42

[2021-10-18 00:59] bilalshaikh42 commented on #3206
@all-contributors add @NSF-open for financial

[2021-10-18 01:02] bilalshaikh42 commented on #3206
@all-contributors add @NIBIB for financial

[2021-10-18 01:19] bilalshaikh42 commented on #3206
@all-contributors add @reproducible-biomedical-modeling for financial, fundingFinding, projectManagement

[2021-10-18 01:20] bilalshaikh42 commented on #3206
@all-contributors add @reproducible-biomedical-modeling for financial, fundingFinding, projectManagement

[2021-10-18 01:46] jonrkarr commented on #3147
I submitted an issue about replacing this concept in the COMBINE archive format earlier this year -- sbmlteam/libCombine#35. @matthiaskoenig is also pushing to replace the "master" concept. When the COMBINE archive format changes, we'll align with that. Until then, we could rename to "main" in the data models. The UI already displays "main" rather than "master".

[2021-10-18 01:49] biosimulations-daemon commented on #3242
:tada: This issue has been resolved in version 5.6.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 02:46] jonrkarr opened #3304 "GET project is failing"
Example:
-  https://api.biosimulations.dev/projects/NFAT-translocation-Tomida-EMBO-J-2003
-  https://api.biosimulations.org/projects/NFAT-translocation-Tomida-EMBO-J-2003

Log excerpt
[code]

[2021-10-18 03:10] jonrkarr opened #3305 "PUT `simulator/{id}/{version}` is broken (by NestJS or Mongoose updated?)"
Example: https://api.biosimulators.org/simulators/ginsim/3.0.0b

Sample error:
[code]

[2021-10-18 03:12] jonrkarr opened #3306 "Add image digests for validated simulators"
Can be done once #3305 is fixed

[2021-10-18 03:45] bilalshaikh42 commented on #3304
This is caused by the changes in 11cc90f601129dd14fbac3e27c4808fa5b14af87

The parameter names were changed without changing the parsing of the param names Running the API and going to the documentation shows that there are now two separate params being parsed.

Changes to the API really require running the API and trying out the endpoints since we do not have sufficient tests

[2021-10-18 03:58] bilalshaikh42 commented on #3304
Many of the documentation additions were already present, through other helper decorators that are designed to prevent having to repeat the same information across endpoints.
For example, the "permissions" decorator has already built in the Unauthorized and Unauthenticated decorators, which is why they appear on the Swagger UI automatically when a route requires permissions

[2021-10-18 04:00] bilalshaikh42 commented on #3305
might have the same cause as #3304
The message seems to suggest that updating the simulator is causing the "created" date to also change, though it has been explicitly set not to be changeable. The error is actually revealing what must have previously been a repeat of #2570

[2021-10-18 04:02] bilalshaikh42 commented on #3304
Running the API and verifying the endpoints on the UI is essential whenever a change to the API code is made, as it is usually sufficient to catch these.  Obviously, that is not a good enough reason to not have sufficient tests, but it is able to catch the majority of the issues that  we have had with API breaking only being noticed after deployment

[2021-10-18 05:27] #3304 closed, assigned to bilalshaikh42

[2021-10-18 05:50] bilalshaikh42 commented on #3305
Confirmed that's it's the same issue, but the validation is working better now.

https://github.com/biosimulations/biosimulations/blob/d05fabdc24efbe86fb12710e6dcbb293cb16318b/apps/simulators-api/src/simulators/simulators.service.ts#L105

Instead of overwriting the document here, the fields should be replaced individually, and then document saved.

[2021-10-18 13:27] bilalshaikh42 opened #3309 "Add /health path to combine service"
Due to the combine-api container using gunicorn, Kubernetes is unable to determine its health based on the status of the container.
Adding a simple /status endpoint that returns a 200 should be sufficient to add a health check to Kubernetes and prevent the deployment of bad containers.

@jonrkarr  I can add this in after #3308 . but feel free to grab it

[2021-10-18 13:30] bilalshaikh42 opened #3310 "Combine API documentation page returns 500 error"
https://combine.api.biosimulations.org/ returns a 500; The other endpoints seems to be working just fine

Seems to be some sort of error with connexion/swagger API package.
@jonrkarr Do you know if this was working with the latest API schema? if so, its probably a package version issue.

This causes the health check in #3308 to fail. #3309 would get around this by providing a health URL to ping in

[2021-10-18 13:30] jonrkarr commented on #3309
I can take care of this.

What do you want the route and return type to be?

[2021-10-18 13:39] jonrkarr commented on #3310
I believe this is because I put the Swagger template in a `vendor` directory that wasn't being copied into the Docker image. Fixed in #3311.

[2021-10-18 13:51] jonrkarr commented on #3130
Closing because the last time out was two weeks ago on 2021-10-05 (https://github.com/biosimulations/biosimulations/actions/runs/1308317291). This can be re-opened if the issue re-appears.

If the COMBINE service is being tested unnecessarily frequently (when the service hasn't actually changed), an additional if statement could be attend to the CI workflow to skip testing the service when its unc

[2021-10-18 13:52] #3130 closed, assigned to jonrkarr, bilalshaikh42

[2021-10-18 13:56] #3310 closed, assigned to jonrkarr

[2021-10-18 14:14] bilalshaikh42 commented on #3309
"/health" returning an object  ```{status: "ok"} ``` should be sufficient.

The main API will return the following if we want to be consistent:

[code]

[2021-10-18 14:22] jonrkarr commented on #3309
I can make it look the same. What do intend the dependencies to be? The only dependent service is S3.

[2021-10-18 14:24] bilalshaikh42 commented on #3309
Yeah I don't think there are any depdencies, which is why I figured the simpler version was just fine

[2021-10-18 14:33] bilalshaikh42 commented on #3309
Yeah I don't think there are any depdencies, which is why I figured the simpler version was just fine

S3 we probably don't want to include since kubernetes will restart the container repeatedly if s3 is inaccessible.

[2021-10-18 14:37] jonrkarr commented on #3309
We're presently using S3 to temporarily save created COMBINE archives so we can pass them onto simulation as URLs. It would take some effort to refactor that out.

I can leave S3 out of the response from the `/health` endpoint.

[2021-10-18 17:03] #3309 closed, assigned to jonrkarr

[2021-10-18 21:08] jonrkarr opened #3313 "Simulation results cannot be retrieved"
Example: https://api.biosimulations.dev/results/616de17a263a325175111d93/simulation_1.sedml%2Freport?includeData=true

[code]

[2021-10-18 21:10] biosimulations-daemon commented on #3309
:tada: This issue has been resolved in version 5.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 21:10] biosimulations-daemon commented on #3310
:tada: This issue has been resolved in version 5.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 21:10] biosimulations-daemon commented on #3304
:tada: This issue has been resolved in version 5.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 22:53] biosimulations-daemon commented on #3313
:tada: This issue has been resolved in version 5.7.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-18 23:58] #3305 closed, assigned to jonrkarr, bilalshaikh42

[2021-10-19 01:41] biosimulations-daemon commented on #3305
:tada: This issue has been resolved in version 5.7.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-19 01:50] bilalshaikh42 commented on #3313
Seems this is due to the labels and datasets not being the same length?

[2021-10-19 01:52] jonrkarr commented on #3313
I think they're the same length. One of the labels has a comma in it ("Phosphorylated, modified Swe1").

[2021-10-19 02:02] bilalshaikh42 commented on #3313
Ah I see. Let me look at the code and make sure that isn't the cause

[2021-10-19 02:30] jonrkarr commented on #3306
Done

[2021-10-19 02:30] #3306 closed, assigned to jonrkarr

[2021-10-19 02:32] bilalshaikh42 commented on #3313
Found the issue, there was a typo in the schema that I used to generate the client

[2021-10-19 02:37] #3313 closed, assigned to bilalshaikh42

[2021-10-19 02:37] todo[bot] opened #3317 "update the hsds client to use the correct name "value" not "values""
https://github.com/biosimulations/biosimulations/blob/53a6bbc5d2ccab9ea086f405656bf26d0cb2bacb/apps/api/src/results/results.service.ts#L40-L45

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 53a6bbc5d2ccab9ea086f405656bf26d0cb2bacb. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-19 04:49] biosimulations-daemon commented on #3313
:tada: This issue has been resolved in version 5.7.3 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.7.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-19 16:58] jonrkarr opened #3320 "Add Schema.org structured data"
- [x] Simulator FAQs
- [x] RunBioSimulations FAQs
- [x] ~~BioSimulations FAQs~~: skip because this is harder to do with markdown
- [x] Simulation tool data set (`Dataset`)
- [x] Each simulation tool (`SoftwareApplication`)
- [x] Simulation runs (`Dataset`, `DataCatalog`)
- [x] Each simulation run (`Dataset`)
- [x] Simulation projects (`Dataset`, `DataCatalog`)
- [x] Each simulation project (`Datas

[2021-10-19 17:32] jonrkarr opened #3321 "Update sitemaps"
- [x] Static part of BioSimulators
- [x] Static part of runBioSimulations
- [x] Static part of BioSimulations
- [x] Add tool to build site map for dynamic part (projects) of BioSimulations

[2021-10-19 18:17] #3321 closed, assigned to nobody

[2021-10-19 20:03] #3195 closed, assigned to jonrkarr

[2021-10-20 00:35] biosimulations-daemon commented on #3195
:tada: This issue has been resolved in version 5.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-20 00:36] biosimulations-daemon commented on #3321
:tada: This issue has been resolved in version 5.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-20 07:11] #3320 closed, assigned to jonrkarr

[2021-10-20 15:12] #3166 closed, assigned to jonrkarr, bilalshaikh42

[2021-10-20 16:42] jonrkarr commented on #3213
Will be implemented by health endpoints in #3308

[2021-10-20 17:28] #3240 closed, assigned to bilalshaikh42

[2021-10-20 17:29] jonrkarr opened #3332 "Add options to API endpoints to select subsets of document and attributes"
- [ ] Add options to filter documents
- [ ] Add options to filter attributes

[2021-10-20 17:40] bilalshaikh42 commented on #3206
@all-contributers add @artgoldberg for ideas

[2021-10-20 17:40] bilalshaikh42 commented on #3206
@all-contributors add @artgoldberg for ideas

[2021-10-20 19:02] jonrkarr commented on #3165
Fixed for Plotly as well as in #3333

[2021-10-20 19:10] jonrkarr commented on #3164
A combined id field would be fine internally. I'd like to keep separate fields with the individual id and version attributes as well because we don't necessarily want to display the two together in the UI, and it would be annoying to have to parse that out. Also, I think contributors should submit the two pieces of information separately because they should be focused on registering ids for simula

[2021-10-20 19:44] #3165 closed, assigned to jonrkarr

[2021-10-20 21:54] artgoldberg commented on #3206
@bilalshaikh42 Thanks Bilal.

[2021-10-20 22:47] bilalshaikh42 opened #3338 "Change issue templates to issue forms"
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms

[2021-10-21 00:57] bilalshaikh42 commented on #3206
@all-contributors add  @artgoldberg for ideas

[2021-10-21 00:58] bilalshaikh42 commented on #3206
No worries! though you might get a few more notifications as I debug the bot!

[2021-10-21 00:59] bilalshaikh42 opened #3342 "test"

[2021-10-21 00:59] bilalshaikh42 commented on #3342
@all-contributors add @artgoldberg for ideas

[2021-10-21 01:00] bilalshaikh42 commented on #3342
@all-contributors please add @bilalshaikh42 for code

[2021-10-21 01:03] bilalshaikh42 commented on #3342
@all-contributors please add @biosimulations-daemon for test

[2021-10-21 01:06] bilalshaikh42 commented on #3342
@all-contributors

[2021-10-21 01:06] bilalshaikh42 commented on #3342
@all-contributors test

[2021-10-21 01:08] bilalshaikh42 commented on #3342
@all-contributors test

[2021-10-21 01:09] #3342 closed, assigned to bilalshaikh42

[2021-10-21 01:09] bilalshaikh42 opened #3345 "Test"
@all-contributors test

[2021-10-21 01:15] bilalshaikh42 commented on #3345
@all-contributors add @bilalshaikh42 for test

[2021-10-21 01:19] bilalshaikh42 commented on #3345
@all-contributors add @bilalshaikh42 for test

[2021-10-21 05:29] jonrkarr opened #3349 "Simplify special handling of payload too large errors once properly handed by NestJS"
Once NestJS provides better error handling (see nestjs/nest#5990), our `HttpExceptionFilter` can be removed.

[2021-10-21 06:03] #2162 closed, assigned to jonrkarr

[2021-10-21 07:00] jonrkarr commented on #2853
Done in #3350

- 1 action re-builds COMBINE API and pushes it
- The main CI action will then test this and any other libraries/apps that depend on it

The action that builds the COMBINE API doesn't test it to avoid copying the testing workflow and then having a copy to maintain

[2021-10-21 07:00] #2853 closed, assigned to jonrkarr, bilalshaikh42

[2021-10-21 07:04] jonrkarr commented on #1964
`libs/shared/nestjs-api/src/lib/http-exception/http-exception.filter.ts` could be used to log API errors.

[2021-10-21 07:07] jonrkarr commented on #1717
Done

[2021-10-21 07:07] #1717 closed, assigned to nobody

[2021-10-21 13:01] artgoldberg commented on #3206
@bilalshaikh42 That's OK, I'll filter them. How are you?

[2021-10-21 15:09] bilalshaikh42 commented on #3349
I am not to sure what this adds beyond the current implementation. The filter that  I have is designed to return JSON-API Error Documents, but that could be changed to anything. Where the format really adds value is when it specifies the path containing errors for things such as schema validation.

If there are more details/other messages that you want to return to the user, instead of throwing an

[2021-10-21 15:16] bilalshaikh42 commented on #3349
98fb49d651c01d621d175051cb030621b273034a seems to introduce a completely new library for an error handler instead of including it in the already existing error handlers. we have a module for nest that when imported provides filters and handlers for various types of errors, not just this one type. What was the use case that motivated this change? It would be much better to include that case as one

[2021-10-21 15:27] bilalshaikh42 commented on #3349
This also breaks the response of the health endpoints, since the global filter is now catching those errors instead of skipping them as was set in the HTTP exception filter that is defined in ```libs/shared/exceptions/filters```
Additionally, this will catch ALL errors, meaning that none of the special handling for various different cases that is found in the various filters will now apply. I am g

[2021-10-21 15:53] bilalshaikh42 commented on #1964
This functionality should be added to the  ```libs/shared/exceptions``` library

[2021-10-21 15:57] jonrkarr commented on #3349
Prior to 98fb49d651c01d621d175051cb030621b273034a, there were 500 errors with no information.

It has to catch all error due to limitations of NestJS.

The health endpoints could be handled appropriately in the new error filter.

[2021-10-21 16:16] bilalshaikh42 commented on #3164
From the users point of view, the simulators and versions make more sense as being separate.

[2021-10-21 16:16] #3164 closed, assigned to nobody

[2021-10-21 16:51] bilalshaikh42 commented on #3345
@all-contributors add @bilalshaikh42 for design

[2021-10-21 16:52] #3345 closed, assigned to nobody

[2021-10-21 18:03] bilalshaikh42 commented on #3338
Done

[2021-10-21 18:03] #3338 closed, assigned to nobody

[2021-10-22 02:55] #3213 closed, assigned to bilalshaikh42

[2021-10-22 06:59] jonrkarr commented on #3191
This stems from exporting metadata to RDF. I think this originates from libOMEXMeta. Moving issue to BioSimulators-utils.

[2021-10-22 06:59] #3191 closed, assigned to jonrkarr

[2021-10-22 13:52] jonrkarr commented on #3349
This a note that special handling in `libs/shared/exceptions/filters/src/lib/default.filter.ts` for 413 errors could be removed once the underlying issue is better handled by NestJS.

https://github.com/biosimulations/biosimulations/blob/e70ae45c79304208c108bea298cabe634d64fc54/libs/shared/exceptions/filters/src/lib/default.filter.ts#L32

[2021-10-22 17:17] bilalshaikh42 commented on #3349
It seems that the issue linked was merged and released a while ago, which makes me think there might still be some issue or the handling that we have with the rest of the errors may be causing the issue

[2021-10-22 17:35] jonrkarr commented on #3349
From the comments, it wasn't clear to me that the issue was really addressed.

[2021-10-22 18:53] bilalshaikh42 opened #3362 "[Bug]: Delete all simulators executes successfully, but raises a 500 error"
### Contact Details

_No response_

### Location

BioSimulators API

### What happened?

Deleting all simulators executes properly but returns a 500 error

### What made it happen?

Running the delete endpoint

### Version

Production (Deployed on a .org domain)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to

[2021-10-22 19:45] jonrkarr opened #3363 "Simulations are getting stuck in `CREATION` state"
Examples:
- https://run.biosimulations.org/simulations/61731375b2be97c51f9f68f3
- https://run.biosimulations.org/simulations/6172575db2be97c51f9f6864
- https://run.biosimulations.org/simulations/6173152a1c15a74c82c580a4
- https://run.biosimulations.dev/simulations/617259338ea6fc21f919544e

[2021-10-24 00:05] #2797 closed, assigned to bilalshaikh42

[2021-10-24 01:13] jonrkarr opened #3364 "Image refreshing is down"

[2021-10-24 17:33] bilalshaikh42 opened #3365 "[Bug]: Command execution on HPC is not working"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

Commands executed on the backend are not being executed correctly

### What made it happen?

Using ssh to submit a command

### Version

Production (Deployed on a .org domain)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Code of Condu

[2021-10-24 17:34] bilalshaikh42 commented on #3364
Caused by #3365

[2021-10-24 17:34] #3364 closed, assigned to bilalshaikh42

[2021-10-24 17:34] bilalshaikh42 commented on #3363
caused by #3365

[2021-10-24 17:34] #3363 closed, assigned to bilalshaikh42

[2021-10-24 18:11] bilalshaikh42 opened #3366 "Ensure dev simulators database has simulators from prod"
Now that the submission of jobs is dependent on the simulators_api it is important that the dev simulators database contain the tools that are needed to run simulations, otherwise the submissions will fail

[2021-10-24 18:20] biosimulations-daemon commented on #2162
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3238
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3165
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3240
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3166
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3320
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:20] biosimulations-daemon commented on #3349
:tada: This issue has been resolved in version 5.9.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v5.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-24 18:27] bilalshaikh42 commented on #3365
Resolved

[2021-10-24 18:27] #3365 closed, assigned to nobody

[2021-10-24 18:31] jonrkarr commented on #3366
This is only relevant to use of the dev deployment.

The simulators can't be copied because there's still a constraint on the `idVersion` attribute. This needs to be removed.
[code]

Then the specs can be copied from prod

[code]

[2021-10-24 18:44] jonrkarr commented on #3210
Addressed by new status notifications at bottom of apps

[2021-10-24 18:44] #3210 closed, assigned to jonrkarr

[2021-10-25 04:35] jonrkarr commented on #3366
Done. Dropped index in Mongo Atlas.

[2021-10-25 04:35] #3366 closed, assigned to jonrkarr

[2021-10-25 14:08] jonrkarr commented on #3130
The same problem re-occurred in the GillesPy2 tests this weekend. I added more verbose output to those tests to help figure out which algorithm is causing the problem. The issue is organized at biosimulators/Biosimulators_GillesPy2#15.

[2021-10-25 14:42] bilalshaikh42 opened #3368 "Use Flex Search for filtering and searching models"
https://github.com/nextapps-de/flexsearch

The library provides support for objects and fields based searching,  importantly it supports async search operations, will which allow us to neatly wrap it with observables and a dedicated search service.

It does not support the lucene syntax directly, but I believe that providing an "advanced search" form for users that has textboxes for various fields

[2021-10-25 14:46] jonrkarr commented on #3368
I already explored this early this year
https://github.com/biosimulations/biosimulations/tree/flexsearch

[2021-10-25 15:10] #3083 closed, assigned to jonrkarr

[2021-10-25 15:10] #3198 closed, assigned to jonrkarr

[2021-10-25 16:58] bilalshaikh42 commented on #3130
I have created a new cu workflow that utilizes the nx cloud and distributed
runners that is significantly faster. I am planning to switch over to it
once I work out a few remaining issues.

 We can use the existing ci workflow for just the python app if needed.

On Mon, Oct 25, 2021, 10:08 AM Jonathan Karr ***@***.***>
wrote:

[2021-10-25 20:02] jonrkarr commented on #3130
Sounds good. If it's just the python code left, the action could be simplified and run only when that subdirectory, Pipeline, or Dockerfile has changed.

[2021-10-25 23:21] jonrkarr commented on #2025
Checked APIs with Swagger. Corrected errors
- API: Handling `null` type for `DescribedIndentifier`
- Simulators API: Documented of scopes
- COMBINE API: Removed unused schema

Remaining warnings
- COMBINE API: ignored descriptions of attributes typed by references

[2021-10-25 23:21] jonrkarr commented on #2025
Added build to test API specs

[2021-10-26 02:38] jonrkarr commented on #3317
This is easy to fix. Ideally this would be updated in the HSDS OpenAPI specs. This needs to be added to the `tools` subdirectory.

[2021-10-26 02:48] #2025 closed, assigned to jonrkarr

[2021-10-26 02:48] #2026 closed, assigned to nobody

[2021-10-26 02:48] #3097 closed, assigned to jonrkarr

[2021-10-26 02:48] #3101 closed, assigned to jonrkarr

[2021-10-26 03:00] jonrkarr opened #3370 "Apply `BiosimulationsValidationExceptionFactory` to simulators API"
I believe this should be applied to the simulators API

[code]

[2021-10-26 03:04] jonrkarr opened #3371 "Report schema validation errors (e.g., for simulators) as 400 rather than 500"
`class-validator` validation is now implemented for simulators, simulation run logs, projects, and other models.

The older schema-level validation is still more thorough. For example, the schema-level validation checks that ontology terms actually exist in ontologies (see #3407). As a result, validation errors can still occur at the schema validation level. These errors need to be appropriately i

[2021-10-26 04:39] #2048 closed, assigned to jonrkarr

[2021-10-26 04:39] #3370 closed, assigned to jonrkarr

[2021-10-26 04:39] todo[bot] opened #3372 "handle multiple errors"
https://github.com/biosimulations/biosimulations/blob/b943c3f0a842dc9ece9226c5d40c5d19615300ee/libs/shared/exceptions/exceptions/src/lib/validationExceptionFactory.ts#L7-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b943c3f0a842dc9ece9226c5d40c5d19615300ee when #3361 was merged. cc @biosimulations.

[2021-10-26 04:40] todo[bot] opened #3373 "parse the validation error to create readable error messages"
https://github.com/biosimulations/biosimulations/blob/b943c3f0a842dc9ece9226c5d40c5d19615300ee/libs/shared/exceptions/exceptions/src/lib/validationExceptionFactory.ts#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b943c3f0a842dc9ece9226c5d40c5d19615300ee when #3361 was merged. cc @biosimulations.

[2021-10-26 04:45] jonrkarr commented on #2841
superseded by #3372

[2021-10-26 04:45] #2841 closed, assigned to nobody

[2021-10-26 05:30] todo[bot] opened #3376 "should this be changed to spdx?"
https://github.com/biosimulations/biosimulations/blob/a1e1ac98ea0556c5ae6d0c6d4d0936d548057bf3/libs/datamodel/api/src/lib/common/license.dto.ts#L24-L29

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a1e1ac98ea0556c5ae6d0c6d4d0936d548057bf3 when #3375 was merged. cc @biosimulations.

[2021-10-26 05:30] todo[bot] opened #3377 "verify this level of validation is correct (require protocol, require valid prot..."
https://github.com/biosimulations/biosimulations/blob/a1e1ac98ea0556c5ae6d0c6d4d0936d548057bf3/libs/datamodel/api/src/lib/common/ontology.dto.ts#L214-L218

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a1e1ac98ea0556c5ae6d0c6d4d0936d548057bf3 when #3375 was merged. cc @biosimulations.

[2021-10-26 05:30] todo[bot] opened #3378 "verify this level of validation is correct (require protocol, require valid prot..."
https://github.com/biosimulations/biosimulations/blob/2ee4d884868c9c8241885cdf92b9c71b39848f60/libs/datamodel/api/src/lib/common/ontology.dto.ts#L214-L218

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2ee4d884868c9c8241885cdf92b9c71b39848f60. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-10-26 05:31] #3349 closed, assigned to nobody

[2021-10-26 05:34] jonrkarr commented on #3376
(a) This interface isn't being used.

(b) I've gone with a more flexible license representation (any URI) for computational models than simulation tools (SPDX id). For simulation software, I think there's a lot of consolidation around a relatively small set of licenses. In my experience, license for information (e.g., models) is more diverse. Also SPDX mainly focuses on software licenses.

[2021-10-26 05:40] jonrkarr commented on #1736
No longer relevant since no longer reading data from CSV

[2021-10-26 05:40] #1736 closed, assigned to nobody

[2021-10-26 05:44] jonrkarr commented on #2427
Vega-embed could be restricted to the dispatch and platform images.

[2021-10-26 07:40] jonrkarr commented on #2741
Does the HSDS return infinity?

[2021-10-26 07:57] jonrkarr commented on #2551
I think this is now handled. Both the examples below generate 404 errors
- http://localhost:3333/simulators/x?includeTests=false
- http://localhost:3333/simulators/1?includeTests=false

[2021-10-26 07:57] #2551 closed, assigned to nobody

[2021-10-26 14:09] jonrkarr commented on #3376
Solution: delete file -- see #3380

[2021-10-26 14:12] jonrkarr commented on #3244
Done

[2021-10-26 14:12] #3244 closed, assigned to jonrkarr

[2021-10-26 14:22] jonrkarr commented on #3243
- Switched specifications posting to use `/specifications` rather than `/specifications/{runId}` to align with other collections
- Removed redundant POST endpoint, since the functionality was identical

[2021-10-26 14:38] #3243 closed, assigned to jonrkarr

[2021-10-26 18:06] #3376 closed, assigned to bilalshaikh42

[2021-10-26 18:07] #3377 closed, assigned to bilalshaikh42

[2021-10-26 18:14] jonrkarr commented on #3377
Redundant with #3378

[2021-10-26 20:29] jonrkarr opened #3383 "Health status for COMBINE service is not accurate"
- Service is `up`
- Upptime says status is `up`
- Health endpoint says status is `down`
- It appears that the health endpoint isn't connecting to the COMBINE service

[Status summary](https://github.com/biosimulations/status/blob/master/history/summary.json)
[code]

[Health status](https://api.biosimulations.dev/health/status)
[code]

[2021-10-26 20:45] bilalshaikh42 commented on #1844
Done

[2021-10-26 20:45] #1844 closed, assigned to bilalshaikh42

[2021-10-26 20:47] bilalshaikh42 commented on #2741
I don't think this issue has shown up again

[2021-10-26 21:15] jonrkarr commented on #2741
Was the issue `NaN` or `Infinity`?

I fixed the `NaN` issue with tellurium by raising exceptions when tellurium returns `NaN`. I think most simulation tools raise errors on failures rather than returning `NaN` as tellurium does.

[2021-10-26 21:19] jonrkarr commented on #2741
I think we should label this as future (alternatively, this can be thought of as known current limitation) because simulation tools might want to return `Infinity` or `NaN`.

[2021-10-27 04:08] jonrkarr opened #3384 "NX CI build uses wrong base for branches"
When a branch is behind the main branch (dev), `nrwl/nx-set-shas` appears to choose the wrong base resulting in no tests executing. It sets the base equal to the latest commit in the main branch, which may be ahead of where the branch diverged from the main branch.

[2021-10-27 04:10] #3100 closed, assigned to jonrkarr

[2021-10-27 12:49] bilalshaikh42 commented on #3384
To clarify do you dev? or is it explicitly checking for master

[2021-10-27 13:04] jonrkarr commented on #3384
It found the latest commit in dev, but didn't run any tests. The latest commit in dev was ahead of where the branch diverged from dev.

[2021-10-27 13:17] bilalshaikh42 commented on #3378
@jonrkarr  is this correct? Are we being less strict with URIs for identifers?

[2021-10-27 13:22] jonrkarr commented on #3384
I think we want to use something like this

NX_HEAD=HEAD

NX_BASE=dev

Or NX_HEAD= one of
[code]

[2021-10-27 13:23] bilalshaikh42 commented on #3384
Hmm, this may be resolved already for more recent prs. I previously had not set the config options. Can you confirm this is still happening?
That should automatically be set by the action though.

[2021-10-27 13:24] bilalshaikh42 commented on #3384
Rather than having the ci merge into base, I would want to set the CI requirement that the branch be up to date.

[2021-10-27 13:28] jonrkarr commented on #3378
I believe URIs have the same syntax as URLs.

The one difference is that URIs are not necessarily resolvable, but we don't want to try to use this to check resolvability.

[2021-10-27 13:35] jonrkarr commented on #3378
I think protocols could be restricted to http and https (the default includes ftp; URIs seem to use http rather than https).

I think we also did set allow_underscores=true

[2021-10-27 13:40] jonrkarr commented on #3384
This happened last night on a branch I started earlier in the day.

The CI doesn't currently require the branch to be up to date.

After I merged dev into the branch, still no affected find no tests to run.

[2021-10-27 15:40] jonrkarr commented on #3362
I believe the issue is due to checking the `acknowledged` property of the result. In my experience, this property doesn't exist. There is a `deletedCount` property.

The `deletedCount` property doesn't clearly indicate whether everything was deleted. Instead, the count could be checked to be zero:
[code]

[2021-10-27 18:13] jonrkarr opened #3392 "New simulator validation diverges from data model"
- [x] Some optional properties are not decorated with `IsOptional`
- [x] Algorithm validation fails
  - [x] modelFormats
  - [x] outputVariablePatterns
- [x] Check that all existing specifications can be saved
   1. Delete all simulation tools
   2. Query tools from api.biosimulators.org
   3. Upload each tool to local/dev API

[2021-10-27 18:49] jonrkarr commented on #3362
Same problem exists for simulation runs

[2021-10-27 19:18] jonrkarr opened #3394 "API swagger app cannot delete simulation runs"
Appears to be due to incorrect scope (`delete:SimulationsRuns` rather than `delete:SimulationRuns`)

[2021-10-27 19:24] jonrkarr commented on #3394
The scope is incorrectly documented, but my error was because I didn't switch to the correct MongoDB database.

[2021-10-27 19:24] #3394 closed, assigned to nobody

[2021-10-27 19:36] bilalshaikh42 commented on #3362
These properties have been updated in the latest mongoose versions.
See https://github.com/Automattic/mongoose/pull/10908/files

[2021-10-27 20:18] #3362 closed, assigned to jonrkarr

[2021-10-27 20:18] #3392 closed, assigned to jonrkarr

[2021-10-27 20:20] jonrkarr commented on #3384
The latest PR tested correctly. I'll re-open if I see this again.

[2021-10-27 20:20] #3384 closed, assigned to bilalshaikh42

[2021-10-27 20:41] jonrkarr commented on #3378
`allow_undescores` applies to the domain name. This should remain the default value of `false`.

[2021-10-27 20:53] #3378 closed, assigned to bilalshaikh42

[2021-10-27 22:45] jonrkarr opened #3404 "Refine new validation"
- [x] `libs/datamodel/api/src/lib/simulators/image.ts:Image`
  - URL should not include protocol
  - Should include tag
  - Tag shouldn't be 'latest'
- [x] `PythonApi.module`
- [x] `Simulation.version` isn't latest
- [x] Each algorithm has a unique KiSAO id
- [x] Each algorithm parameter has a unique KiSAO id
- [x] (Docker) image format.id is format_3973
- [x] Simulation run

[2021-10-28 03:11] jonrkarr opened #3407 "Expand class-validator validation for ontology terms"
Check ontology terms exist in ontologies

The first is already validated at the database schema level

[2021-10-28 03:38] #3404 closed, assigned to jonrkarr

[2021-10-28 05:55] jonrkarr commented on #3147
Let's address this when the COMBINE archive format addresses this (assuming this is relatively soon).

[2021-10-28 05:58] jonrkarr opened #3409 "Setup cascading deletion of files, specifications, results, logs, and metadata are being deleted when simulation runs are deleted"
- [x] Prevent deletion of published runs
- [x] On run deletion, delete
  - [x] COMBINE archive
  - [x] files
  - [x] specifications
  - [x] results
  - [x] logs
  - [x] metadata

[2021-10-28 06:04] jonrkarr opened #3410 "Create GitHub actions for common community tasks"
Suggested by @bilalshaikh42

- [ ] Validation
   - [ ] Model
   - [ ] Simulation experiment
   - [ ] Metadata
   - [ ] Project
- [ ] Create project from model file
- [ ] Run simulation
  - [ ] In Docker image
  - [ ] In RunBioSimulations
- [ ] Publish project
- [ ] Submit simulation tool
- [ ] Post to [GitHub action marketplace](https://github.com/marketplace?type=actions)

Much of this could simp

[2021-10-28 08:14] jonrkarr opened #3412 "Enable ownership of projects"
- [x] Add to project model
- [x] Add to Dispatch queue models
- [x] Restrict modification of projects to their owners
- [x] Incorporate authentication into POST simulation run
- [x] Enable project publication page by removing navigation to construction page (this will allow anonymous publication. edits of these projects will not be possible)

[2021-10-28 08:15] jonrkarr commented on #2768
Closing. Remaining tasks are in #3412.

[2021-10-28 08:15] #2768 closed, assigned to jonrkarr

[2021-10-28 13:15] jonrkarr opened #3413 "Handle transient hsds query failures"
Because queries to hsds often don't succeed at first, the apps currently automatically retry queries. This also needs to be handled for project validation, which also needs to check simulation results. Rather than handling this in each end client, it would be best to deal with this at the source, perhaps in the hsds client. ``

[2021-10-29 04:47] jonrkarr commented on #3383
- [x] Correct COMBINE health endpoint
- [x] Save `Hello from BioSimulations!` to https://files-dev.biosimulations.org/s3/helloWorld.txt

[2021-10-29 04:50] #3189 closed, assigned to jonrkarr

[2021-10-29 05:19] #3383 closed, assigned to jonrkarr

[2021-10-29 06:29] jonrkarr opened #3416 "Enhance validation of ontology terms"
- [x] Add method for checking if terms have particular parents
- [x] Add validator for checking if terms have particular parents
- [x] KiSAO ids for algorithms are ids of algorithms (child of `KISAO_0000000`)
  - [x] In simulator specs
  - [x] In simulation run logs
- [x] KiSAO ids for algorithm parameters are ids of parameters (child of `KISAO_0000201`)
  - [ ] In simulator specs
- [x] Simulation

[2021-10-29 18:19] jonrkarr commented on #3371
No longer needed because all validation no at model level

[2021-10-29 18:19] #3371 closed, assigned to nobody

[2021-10-29 18:20] jonrkarr opened #3419 "Remove schema-level validation for ontology terms"
Can be done once #3407 is merged

[2021-10-29 18:22] jonrkarr commented on #3206
@all-contributors add @jcschaff for ideas

[2021-10-29 18:22] #3206 closed, assigned to nobody

[2021-10-29 18:41] bilalshaikh42 opened #3421 "Create CD pipeline for release"
1. Run unit test/lints
2. Generate API clients
3. Deploy to a temporary env
3. Release using semver
4. Build Images and Bundles
4. Deploy to dev
5. Submit example runs
6. Test  examples succeeded
7.  Release to prod

[2021-10-29 18:54] #2923 closed, assigned to nobody

[2021-10-29 18:54] #2926 closed, assigned to nobody

[2021-10-29 18:55] jonrkarr opened #3422 "Incorporate login into dispatch app to track ownership of published projects"

[2021-10-30 19:14] jonrkarr opened #3432 "Remove SBO corrections file once SBO is fixed"
`libs/ontology/sources/src/lib/sbo-corrections.json`

[2021-10-30 19:15] jonrkarr opened #3433 "Remove proposed EDAM terms file once proposed terms are incorporated into EDAM"
`libs/ontology/sources/src/lib/edam-proposed.json`

[2021-10-30 19:23] jonrkarr opened #3434 "Add retrying for getting similar algorithms from COMBINE service"
This sometimes fails when the service startups up because the computation sometimes times out before the cache is created

[2021-10-30 22:16] #3407 closed, assigned to jonrkarr

[2021-10-30 22:16] #3416 closed, assigned to jonrkarr

[2021-10-30 22:16] #3419 closed, assigned to jonrkarr

[2021-10-31 00:05] github-actions[bot] opened #3435 "Example simulation runs need to be fixed"
The following example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://biosimulations.org/simulations/615b567970c4195fe6b44eb5" target="_blank">615b567970c4195fe6b44eb5</a>)</b></summary><br/>
"Cannot GET /runs/615b567970c4195fe6b44eb5/validate?validateSimulationResultsData=true"
</details

[2021-10-31 02:08] #3412 closed, assigned to jonrkarr

[2021-10-31 02:29] jonrkarr commented on #3435
This will be fixed when the validate endpoint id deployed to `org`

[2021-10-31 02:29] #3435 closed, assigned to nobody

[2021-10-31 05:03] jonrkarr opened #3437 "Add padding to top of project files tab for mobile"

[2021-10-31 05:05] jonrkarr opened #3438 "Refactor simulation run view to use new summary endpoint"

[2021-10-31 05:08] jonrkarr commented on #3368
Waiting to flex to support a syntax for querying over fields. It will be easy to switch from lunr as I did in the branch linked above.

[2021-10-31 05:12] jonrkarr commented on #3093
Partly done by new summary endpoints

[2021-10-31 05:12] #3093 closed, assigned to nobody

[2021-10-31 05:13] jonrkarr opened #3439 "Add endpoint to get the specifications of a SED-ML output"

[2021-10-31 05:15] jonrkarr commented on #2913
Superseded by #3439 and new summary endpoints

[2021-10-31 05:15] #2913 closed, assigned to nobody

[2021-10-31 19:55] #3437 closed, assigned to jonrkarr

[2021-10-31 23:14] #3439 closed, assigned to jonrkarr

[2021-10-31 23:16] #3434 closed, assigned to jonrkarr

[2021-11-01 19:15] jonrkarr opened #3449 "Improve token proxying by dispatch service"
Currently, the dispatch service captures the intended owner of a project for the submitted simulation run. Instead, the dispatch service could capture the user's token and pass this along to the project route of the API to publish the run upon its successful completion. For long simulation runs, this may require renewing these tokens

- [ ] Change dispatch service to accept a token rather than use

[2021-11-01 20:13] jonrkarr opened #3450 "Display simulation run post-processing errors in UI"

[2021-11-01 22:32] jonrkarr opened #3451 "Simplify tracking of post-processing failures"
Currently, post-processing failures can only be distinguished from the status reason. It would be helpful to create a distinct status code for this failure.

- [ ] Create distinct status code
- [ ] Update `apps/dispatch/src/app/components/simulations/view/simulation-log/simulation-log.component.ts` to use this code to format post-processing errors

[2021-11-02 00:03] #3409 closed, assigned to jonrkarr

[2021-11-02 00:03] #3450 closed, assigned to jonrkarr

[2021-11-02 05:09] jonrkarr opened #3453 "Parameterize HSDS base path in HDF5 API client"
`https://data.biosimulations.dev` is currently hard-coded into the HDF5 API client e.g., `libs/hdf5/api-client/src/lib/api/domain.service.ts`

[2021-11-02 06:44] jonrkarr opened #3454 "Debug HSDS credentials so simulation results can be deleted by API"
The  API can't delete simulation results because it can't authenticate with the HSDS. The credentials don't appear to be passed properly to the HSDS. Below is the 401/unauthenticated error message that currently occurs when the API tries to delete simulation results. This is the last issue remaining in the deletion of simulation runs.

[code]

[2021-11-02 06:47] jonrkarr commented on #3453
I see configuration is being passed in. I can't tell if this correctly set up.

[2021-11-02 13:07] #1439 closed, assigned to jonrkarr

[2021-11-02 15:11] jonrkarr commented on #3454
I think the issues are
- [ ] User/password isn't passed to HSDS client
- [ ] User/password combination isn't accepted by HSDS; this doesn't work even with the hsds command-line tools.

[2021-11-02 17:31] bilalshaikh42 commented on #2634
@jonrkarr based on recent discussion, would we want to update the "statusReason" to a more detailed document that contains information about which steps succeeded/failed?

[2021-11-02 18:06] #3263 closed, assigned to nobody

[2021-11-02 19:05] #2840 closed, assigned to bilalshaikh42

[2021-11-02 19:09] jonrkarr commented on #3146
`SimulationFile` in `apps/api/src/simulation-run/file.model.ts`

[2021-11-02 19:51] #3454 closed, assigned to bilalshaikh42

[2021-11-02 20:17] jonrkarr opened #3466 "Should the HSDS domain be deleted rather than individual datasets?"
Should `deleteDatasets` be replaced with below?

[code]

[2021-11-02 20:49] bilalshaikh42 commented on #3466
yup, included in #3467

[2021-11-02 20:58] #3413 closed, assigned to bilalshaikh42

[2021-11-02 20:58] #3466 closed, assigned to bilalshaikh42

[2021-11-02 21:11] #3451 closed, assigned to jonrkarr

[2021-11-03 14:42] bilalshaikh42 opened #3482 "[Bug]: Dispatch service does not produce logs that can be properly validated by the api"
### Contact Details

_No response_

### Location

BioSimulations API

### What happened?

When running a simulation with an invalid omex archive, the job fails as expected. However, the dispatch service's upload of the log also fails due to the following validation error

[code]

### What made it happen?

Running a simulation that fails

### Version

Development (Deployed on a .dev domain)

### Wh

[2021-11-03 15:05] bilalshaikh42 commented on #3482
This seems to be casued by the simulators, as they are not outputting a category for the exception.

[2021-11-03 15:36] bilalshaikh42 commented on #3482
Seems that the simulators are outputting "type" instead of "category" for the exceptions. I added a temporary workaround for this in #3484

[2021-11-03 15:57] #3092 closed, assigned to mpw6, bilalshaikh42

[2021-11-03 16:10] jonrkarr commented on #3482
Thanks for catching this. Simulators are intended to use the `type` attribute. I made a mistake when encoding the data model into Typescript. The COMBINE API also showed `category` rather than `type`; this because the COMBINE API is importing models from the API, creating a copy of the same models withing the YAML specifications for the COMBINE API (in ApiCurio this is stored as reference; I'm sto

[2021-11-03 16:14] bilalshaikh42 opened #3487 "Set up docker tags via metadata"
Use this https://github.com/docker/metadata-action
to set the tags for the docker images. Version, branch etc to allow for auto deployment

[2021-11-03 16:16] bilalshaikh42 opened #3488 "Set Up nx build targets for COMBINE-API"
@jonrkarr could you add the config for building the combine-API docker images to https://github.com/biosimulations/Biosimulations/blob/08674bfaeb3cf068d7e5e74bbc6a7154671b93c6/apps/combine-service/project.json

I have added the config to the typescript apps and most of the python app  in #3492. Just need to verify if there are any build-args that need to be included

[2021-11-03 16:42] jonrkarr commented on #3146
This is going to be a breaking change. This would be a good point to clear the databases and rebuild the examples and published projects.

[2021-11-03 17:44] #3482 closed, assigned to jonrkarr

[2021-11-03 19:05] jonrkarr commented on #3488
Not sure what the syntax is.

This is the basic command to build the image
[code]

Its probably easiest to run the tests in the Docker image. This avoids needed to build the environment twice.
[code]

[2021-11-03 19:29] #3002 closed, assigned to jonrkarr

[2021-11-03 20:20] bilalshaikh42 commented on #3488
Sorry, I had not yet pushed the changes I was referencing.  #3492 adds a nx  builder to create and push docker images for each app. Could you confirm the python docker image builds correctly?

[2021-11-03 20:48] #1904 closed, assigned to jonrkarr

[2021-11-03 22:24] jonrkarr commented on #3488
Will be fixed in #3496.

[2021-11-04 01:38] #3146 closed, assigned to bilalshaikh42

[2021-11-04 03:56] jonrkarr opened #3500 "Validate lack of extra undefined attributes at class-validator level"
Currently extra attributes lead to 500 errors

- [x] add options
  - [x] whitelist: true
  - [x] forbidNonWhitelisted: true
  - [x] forbidUnknownValues: true
- [x] add class validation to all API models
- [x] test
  - [x] simulators
  - [x] projects
  - [x] runs
  - [x] files
  - [x] specifications
  - [x] logs
  - [x] metadata
  - [x] images

[2021-11-04 04:24] #3372 closed, assigned to jonrkarr

[2021-11-04 04:24] #3373 closed, assigned to jonrkarr

[2021-11-04 06:32] jonrkarr commented on #2626
Done

[2021-11-04 06:32] #2626 closed, assigned to bilalshaikh42

[2021-11-04 15:25] bilalshaikh42 commented on #3180
The associated commit may not work since config service is provided async.  This will always cause the env to be null, leading to the dev basepath selected by default.

[2021-11-04 15:28] bilalshaikh42 commented on #3180
I am working on this in #3495

[2021-11-04 15:29] bilalshaikh42 commented on #3180
I am working on this in #3495

[2021-11-04 16:07] jonrkarr commented on #3180
I saw that. In practice, it seemed to work fine. The client library has to be changed to accommodate that.

[2021-11-04 16:16] #3488 closed, assigned to jonrkarr

[2021-11-04 17:48] #3180 closed, assigned to jonrkarr, bilalshaikh42

[2021-11-04 19:38] #3500 closed, assigned to jonrkarr

[2021-11-04 20:11] #3487 closed, assigned to bilalshaikh42

[2021-11-05 14:30] jonrkarr opened #3511 "`docker.yml` is building COMBINE API unnecessarily frequently and not using a cache"
Building the COMBINE API Docker image from scratch is slowing down the CI testing. It would be helpful to
- [ ] Only build this image when the COMBINE API has changed (when any of `DockerfilePython`, `Pipfile`, `Pipfile.lock`, or `apps/combine-api` have changed).
  - [ ]  To simplify this, `DockerfilePython`, `Pipfile`, and `Pipfile.lock` could be nested under `apps/combine-api`. If we did add ano

[2021-11-05 15:11] bilalshaikh42 commented on #3511
I added caching to all the docker builds. They should now be significantly faster. The issue with skipping builds is that there is then no way to deploy a given commit or PR. I am hoping that the cache is good enough to allow for a new tag without actually needing to rebuild the image.
Is there room to speed up the docker image build?

[2021-11-05 15:15] bilalshaikh42 commented on #3511
Looking at a given run, it seems the cache is quite good for the typescript apps. Is there a testing step in the python that can be skipped for builds?
https://nx.app/branch?workspaceId=5f318c65a3653d0005f2de5a&branchName=3509

[2021-11-05 16:23] jonrkarr commented on #3511
I think this is much faster now. I'll leave this open because it looks like you have a question about testing the COMBINE API.

[2021-11-05 16:56] bilalshaikh42 commented on #3511
Nope, no issue. I was just curious about ways to speed up the build, but if it working well now, that should be good.

[2021-11-05 16:56] #3511 closed, assigned to nobody

[2021-11-05 17:15] #3142 closed, assigned to bilalshaikh42

[2021-11-05 17:56] jonrkarr opened #3516 "Add UI to edit simulation experiments (SED-ML documents in COMBINE archives)"
@jmdetloff here's some starting points

## Goal
A UI which enables users to quickly simulate models under alternate conditions (e.g., knockout a gene, change the initiation concentration of a drug, etc.). Specifically, we want a UI which provides the ability to make basic modifications to declarative specifications of simulations. This can then be connected to code which can execute such simulatio

[2021-11-05 18:35] jonrkarr commented on #3511
Image caching should be sufficient.

The COMBINE API tests only need to be run when the API changes -- any of `DockerfilePython`, `Pipfile`, `Pipfile.lock`, or `apps/combine-api`  have changed.

[2021-11-05 23:37] #3438 closed, assigned to jonrkarr

[2021-11-06 21:38] #3192 closed, assigned to jonrkarr

[2021-11-07 00:05] github-actions[bot] opened #3527 "Example simulation runs need to be fixed"
The following example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; GINsim; synchronous) (<a href="https://biosimulations.org/simulations/615b567b831ddeff4895fc22" target="_blank">615b567b831ddeff4895fc22</a>)</b></summary><br/>
Simulation results could not be found for run '615b567b831ddeff4895fc22'. For publication, simulat

[2021-11-07 21:28] jonrkarr commented on #3087
Solved with [ResizeObserver](https://www.npmjs.com/package/@juggle/resize-observer).

[2021-11-08 02:43] #3087 closed, assigned to jonrkarr

[2021-11-08 05:32] jonrkarr commented on #3088
Polish dispatch app view simulation component
- [ ] Updating of status in overview tab
- [ ] Disabling tabs while simulation running
- [ ] Handling of metadata errors

[2021-11-08 05:53] #3129 closed, assigned to jonrkarr

[2021-11-08 06:23] jonrkarr opened #3531 "Add retrying for complete processor actions"
Example  502 errors
- 6188587f6e13c7816f28c3b5: log post
- 618c12abc60ec10bd2621e39: SED-ML post

[2021-11-08 12:40] bilalshaikh42 commented on #3531
I'll take a look at this. All pushes to the API should be going through the client lib, so we can add the rety there

[2021-11-08 13:28] bilalshaikh42 opened #3534 "Update NX Lint, Test, Serve, and Build targets for combine-api"
Currently, we are using nx-python to manage the combine-api. However, the builders provided do not work for our directory setup. See #3355.
We can remove nx-python and just use the [run commands builder](https://nx.dev/l/r/executors/run-commands-builder) to run the commands needed for the Lint, Test, Build, and Serve targets.

[2021-11-08 13:34] #2783 closed

[2021-11-08 14:47] jonrkarr commented on #3534
Yes, `nx-python` assumes a flat directory structure and this isn't configurable. This is why I set up separate lint and testing in biosimulations/biosimulations#2375.

If you really want to use nx, this would be easy to fix with a fork of nx-python. I submitted a feature request: eulerrapp/nx-python#41.

[2021-11-08 16:15] jonrkarr commented on #3534
I think its simpler to test with an alternative method than to try to enhance nx-python because the tests are best executed in the Docker image. Also, the tests are best executed with pytest rather than `unittest discover`. The latter is easy to change in a fork, but changing the tests to run in a Docker image is more complicated.

[2021-11-08 16:16] bilalshaikh42 commented on #3534
The reason for creating the issue is that the previous ci script and changes in #2375 are no longer used, since the new CI workflow is dramatically simplified. We can either create a custom workflow for the or just use the above package, which allows for arbitrary commands to be run as a part of the targets

[2021-11-08 16:17] bilalshaikh42 commented on #3534
Right, this is why I suggested using [run commands builder](https://nx.dev/l/r/executors/run-commands-builder)  which can run arbitrary commands for the test target

[2021-11-08 16:18] bilalshaikh42 commented on #3534
Here is more detailed docs about the options and configuration
https://nx.dev/l/r/workspace/run-commands-executor

[2021-11-08 16:18] jonrkarr opened #3538 "CI upload builds shouldn't throw error when no files were created"
https://github.com/biosimulations/biosimulations/runs/4141385138?check_suite_focus=true

[code]

[2021-11-08 16:32] #3538 closed, assigned to bilalshaikh42

[2021-11-08 16:33] bilalshaikh42 commented on #3538
Ah, this was set for cases when we need to deploy the produced outputs. I've made the failure conditional on whether we are building all the apps or just the affected

[2021-11-08 16:55] jonrkarr opened #3539 "Job checking status failed for dev `618858406e13c7816f28c300`"
[code]

[2021-11-08 17:35] jonrkarr commented on #3539
This is probably because errors in posting logs weren't being handled, which then prevents the failure reason from being posted.

[2021-11-09 04:05] jonrkarr opened #3546 "Gurobi token server (gurobi.cam.uchc.edu) is down"
@mpw6 We seem to be having trouble connecting to gurobi.cam.uchc.edu. Can you check that the server is functional? Does the license key need to be renewed?

[code]

[2021-11-09 17:02] jonrkarr commented on #3539
Fixed in #3544

[2021-11-09 17:02] #3539 closed, assigned to jonrkarr

[2021-11-09 18:34] jonrkarr commented on #3546
Fixed by @mpw6!

[2021-11-09 18:34] #3546 closed, assigned to mpw6

[2021-11-09 19:55] bilalshaikh42 opened #3551 "Ontology Service Error"
Stackdriver Error Reporting error detail

[code]

https://console.cloud.google.com/errors/CL3cjuuA5uPawQE?project=biosimulations&src=VESPA&time=P30D

[2021-11-09 20:55] jonrkarr commented on #3551
This should be prevented by recently added validation for logs. The underlying issues in simulation tools not creating valid logs have been addressed, except VCell which has an open pull request.

I'll also add error handling to the relevant methods to provide better error messages for this.

[2021-11-09 21:30] #3551 closed, assigned to jonrkarr

[2021-11-10 00:22] biosimulations-daemon commented on #3551
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:22] biosimulations-daemon commented on #3129
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:22] biosimulations-daemon commented on #3087
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:22] biosimulations-daemon commented on #3192
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:22] biosimulations-daemon commented on #3438
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:22] biosimulations-daemon commented on #3538
:tada: This issue has been resolved in version 6.0.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-10 00:25] jonrkarr commented on #3432
Done

[2021-11-10 00:25] #3432 closed, assigned to jonrkarr

[2021-11-10 14:28] jonrkarr commented on #3453
The prod dispatch-API is still using `https://data.biosimulations.dev`. This prevents is from retrieving simulation data.

[2021-11-10 16:52] jonrkarr commented on #3453
Configuration does not appear to be getting passed to `libs/hdf5/api-client/src/lib/api/domain.service.ts`, the first HDF5 API client service that the results service (`apps/api/src/results/results.service.ts`) invokes.

[2021-11-10 17:23] bilalshaikh42 opened #3559 "chore(deps): update python docker tag to v3.10"

[2021-11-10 17:23] jonrkarr commented on #3527
I've run new runs, and they succeeded. They are not pushed yet. However, the prod dispatch-API can't retrieve their results because the HSDS configuration is not getting passed properly.

[2021-11-10 18:19] jonrkarr commented on #3453
The domain service is constructed before the `Configuration` has been constructed.

[2021-11-10 18:19] jonrkarr commented on #3453
I think I figured it out

[2021-11-10 18:45] bilalshaikh42 commented on #3453
The intention with this config was the both deployments could just use HTTP://hsds:80 as the kubernetes DNS would point it to the container in the current workspace.
I am not sure how the basepath could be explicitly set to the dev domain through this setup

[2021-11-10 19:08] bilalshaikh42 commented on #3453
Locally, I can confirm that the provided base path is passed all the way down to the dataset service properly. Do you want to hop on a zoom call to debug this?

[2021-11-10 19:09] #3317 closed, assigned to bilalshaikh42

[2021-11-10 19:15] bilalshaikh42 commented on #3453
I see the issue, the domain service is the one that is receiving the default domain. This is a dependency injection hierarchy issue. My wrapper module is providing the domain service thought it should not

[2021-11-10 19:25] jonrkarr commented on #3453
I figured out the dependency hierarchy issue. This should be addressed by #3563. I've left this open until prod is deployed and we can confirm this is is set up correctly.

The issues with the HSDS configuration had been masked by hard coded values in multiple places, which were all aligned with each other until I changed the password and changed the prod configuration to use data.biosimulations.o

[2021-11-10 19:30] jonrkarr opened #3564 "Review HSDS API client wrapper configuration"
Previously this line
https://github.com/biosimulations/biosimulations/blob/dev/libs/hsds/client/src/lib/api-client-wrapper.module.ts#L48

was
[code]

`HSDSOPTIONS` felt wrong because `HSDSOPTIONS` isn't defined anywhere. In trying to figure out what wasn't working, I also changed this to the following.
[code]

@bilalshaikh42 does this need to be `HSDSOPTIONS`?

[2021-11-10 19:31] jonrkarr commented on #3527
I believe all runs are working except
- VCell: logs are invalid -- will be fixed by PR (virtualcell/vcell#111) and new release (7.4.0.27)
- One run for RBApy on prod -- 502 error

[2021-11-10 19:48] bilalshaikh42 commented on #3564
No that seems fine. That whole provider isn't actually relevant anyway since the import below it was taking care of it seems. I'll take a look at this at some point to see if it can be cleaned up a bit

[2021-11-10 19:48] #3564 closed, assigned to bilalshaikh42

[2021-11-10 20:31] jonrkarr commented on #3449
Marking as future, to be handled along with adding user login to the dispatch UI

[2021-11-10 20:43] jonrkarr commented on #3135
This sounds like an issue I fixed. Previously, the code was only checking the status of the last step within the sbatch group reported by sacct. However, saact doesn't immediately return the full list of steps. Its possible for the last step reported by sacct to be completed, while other steps haven't even begun yet (or have failed). I think its safer way to check this is to focus on the status of

[2021-11-10 21:03] bilalshaikh42 commented on #3135
Sounds great. Thanks!

[2021-11-10 21:03] #3135 closed, assigned to jonrkarr

[2021-11-10 21:04] jonrkarr commented on #3531
I've now seen multiple 502 errors for multiple runs.

[2021-11-10 21:19] biosimulations-daemon commented on #3317
:tada: This issue has been resolved in version 6.0.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v6.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: