[2020-10-16 15:19] jonrkarr opened #1331 "Capture additional specifications of simulation tools"
- [x] Separate URLs
   - Home page
   - Documentation
   - Issue tracker
   - Discussion forum
   - Mailing list
   - Repository
   - Software catalogue (e.g., PyPI)
   - Release notes
   - License, terms of use
- [x] Contact information
- [x] URLs of non-SPDX licenses -- covered by new list of URLs attribute
- [x] ORCIDs for authors
- [x] Funding
  - Funders (using Funder Registry ids)
  - Grant

[2020-10-16 15:22] jonrkarr opened #1332 "Create sitemaps"
Important for submission to Google's web index

[2020-10-16 15:25] jonrkarr opened #1333 "Register identifiers.org namespace for biosimulators"
Complete webform: https://registry.identifiers.org/prefixregistrationrequest

[2020-10-16 16:06] jonrkarr commented on #980
Addressed in `dev-simulators-2` branch.

[2020-10-16 16:15] #1320 closed, assigned to jonrkarr

[2020-10-16 16:15] #1321 closed, assigned to jonrkarr

[2020-10-16 23:04] jonrkarr commented on #1332
BioSimulators site map:

- /
- /simulators
  - /simulator-id
    - /version
- /help
  - /about
  - /faq
  - /help
  - /privacy
  - /terms

There doesn't seem to be a straightforward way to implement site maps with Angular. I don't see how to use angular to generate XML.

Site map generation could be implemented as a script which uses the API to generate an XML file and stores the XML as a static f

[2020-10-17 00:39] jonrkarr opened #1347 "Enhance table component with richer full text search capabilities"
Potentially implement using [lunr](https://www.npmjs.com/package/lunr)

[2020-10-19 16:46] jonrkarr commented on #1333
I submitted a request

[2020-10-19 17:47] jonrkarr commented on #1347
Done in `dev-simulators-2 branch` branch. Supports searching over specific fields. Will add tooltip which explains this.

[2020-10-19 18:12] jonrkarr commented on #1347
Done. Added tooltip in branch.

[2020-10-19 20:06] gmarupilla opened #1348 "Check the job status with reliable SLURM command"
Consider `saact` and `sjobexitmod` commands

[2020-10-20 02:01] #381 closed

[2020-10-20 02:01] #383 closed

[2020-10-20 02:01] #399 closed

[2020-10-20 02:01] #430 closed

[2020-10-20 02:01] #440 closed

[2020-10-20 02:01] #458 closed

[2020-10-20 02:01] #492 closed

[2020-10-20 02:01] #542 closed

[2020-10-20 03:30] #980 closed, assigned to jonrkarr

[2020-10-20 03:30] #1211 closed, assigned to nobody

[2020-10-20 03:30] #1347 closed, assigned to jonrkarr

[2020-10-20 05:30] #812 closed, assigned to bilalshaikh42, gmarupilla

[2020-10-20 05:32] #281 closed

[2020-10-20 05:33] #195 closed

[2020-10-20 05:33] #196 closed

[2020-10-20 05:33] #197 closed

[2020-10-20 05:33] #368 closed

[2020-10-20 05:36] jonrkarr commented on #1326
Sketching out workflows

[code]

[code]

[2020-10-20 05:58] #879 closed, assigned to jonrkarr, bilalshaikh42

[2020-10-20 18:34] jonrkarr commented on #1256
Addressed in dev-toc / #1350 branch with observables.

[2020-10-20 22:00] #1311 closed, assigned to bilalshaikh42

[2020-10-20 22:03] #719 closed, assigned to gmarupilla

[2020-10-20 22:03] #720 closed, assigned to gmarupilla

[2020-10-20 22:03] #721 closed, assigned to gmarupilla

[2020-10-20 22:03] bilalshaikh42 commented on #778
It is better to seperate out the database and api models entirely

[2020-10-20 22:03] #778 closed, assigned to bilalshaikh42

[2020-10-20 22:03] #783 closed, assigned to bilalshaikh42

[2020-10-20 22:03] #777 closed, assigned to gmarupilla

[2020-10-20 22:04] #776 closed, assigned to gmarupilla

[2020-10-20 23:10] jonrkarr commented on #1326
I started two GitHub actions for validating and committing simulators to the database.

Workflow:

1. Submitter initiates an issue to the `biosimulators/Biosimulators` repo: https://github.com/biosimulators/Biosimulators/issues/new/choose
   - Submitter is displayed a checklist
   - Submitter uses YAML syntax to provide name, version, and URL of the specifications -- an example is in the issue tem

[2020-10-20 23:31] jonrkarr commented on #1326
This test issue shows what this will look like to submitters: https://github.com/biosimulators/Biosimulators/issues/4

The actions show the validation that will get triggered: https://github.com/biosimulators/Biosimulators/actions

[2020-10-20 23:31] #1326 closed, assigned to jonrkarr

[2020-10-20 23:35] jonrkarr opened #1358 "Automate validation of specifications of simulators in GitHub action for reviewing a submitted simulator"
I outlined an issue-based workflow for accepting contributions of simulation tools.

Validation of specifications needs to be incorporated here: https://github.com/biosimulations/Biosimulations_utils/blob/align-with-api/Biosimulations_utils/ci_actions/validate_commit_simulator.py

This can be refactored if you don't want to implement this with Python.

Tasks
- [x] Implement separate API endpoint o

[2020-10-20 23:37] jonrkarr opened #1359 "Automate committing of simulation tools to database within submission GitHub action workflow"
I outlined an issue-based workflow for accepting contributions of simulation tools.

Committing the simulation tool to the database needs to be incorporated here: https://github.com/biosimulations/Biosimulations_utils/blob/align-with-api/Biosimulations_utils/ci_actions/validate_commit_simulator.py

Tasks
- [x] Pull image and push copy to GitHub container repo under biosimulators organization
   -

[2020-10-20 23:39] jonrkarr opened #1360 "Automate validation of simulator containers within submission GitHub action workflow"
I outlined an issue-based workflow for accepting contributions of simulation tools.

Validation of the container needs to be incorporated here: https://github.com/biosimulations/Biosimulations_utils/blob/align-with-api/Biosimulations_utils/ci_actions/validate_commit_simulator.py#L41

This should use the `Biosimulations_utils.simulator.testing` module.

[2020-10-21 01:24] #1327 closed, assigned to bilalshaikh42

[2020-10-21 01:24] #1330 closed, assigned to bilalshaikh42

[2020-10-21 01:24] todo[bot] opened #1361 "Replace with an error that takes validation error in constructor"
https://github.com/biosimulations/Biosimulations/blob/e0665a7f45e1b43af9e533c832f252254538ffcd/biosimulations/apps/simulators-api/src/simulators/simulators.controller.ts#L207-L212

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e0665a7f45e1b43af9e533c832f252254538ffcd when #1346 was merged. cc @biosimulations.

[2020-10-21 01:24] todo[bot] opened #1362 "remove the cast, and change return type to simulator interface"
https://github.com/biosimulations/Biosimulations/blob/e0665a7f45e1b43af9e533c832f252254538ffcd/biosimulations/apps/simulators-api/src/simulators/simulators.service.ts#L21-L26

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e0665a7f45e1b43af9e533c832f252254538ffcd when #1346 was merged. cc @biosimulations.

[2020-10-21 01:24] todo[bot] opened #1363 "write test"
https://github.com/biosimulations/Biosimulations/blob/e0665a7f45e1b43af9e533c832f252254538ffcd/biosimulations/libs/shared/exceptions/src/lib/exception.ts#L66-L71

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e0665a7f45e1b43af9e533c832f252254538ffcd when #1346 was merged. cc @biosimulations.

[2020-10-21 05:17] jonrkarr commented on #1360
The workflow now pulls the image -- this checks that the image URL is valid.

The workflow calls the validation suite. However, this needs updating.

Once the validation suite is updated, the action just needs to be tested.

[2020-10-21 05:52] jonrkarr commented on #1332
1. Split sitemap into three statically served files in `biosimulations/apps/simulators/src`
   1. index (`sitemap.xml`)
   2. main urls (`sitemap-core.xml`)
       - home page
       - browse simulators page
       - help pages
    3. simulators/versions (`sitemap-simulators.xml`)
2. Simulators/versions site map can be generated during the simulator commit action
   1. Use API to get list of simul

[2020-10-21 16:04] jonrkarr opened #1373 "Add attribute to simulator specifications to track version of BioSimulations schema that is supported"

[2020-10-21 16:17] jonrkarr opened #1374 "Redirect https://run.biosimulations.org/api to https://run.biosimulations.org/api/ (add trailing slash)"
https://run.biosimulations.org/api doesn't return anything. This should be re-directed to https://run.biosimulations.org/api/.

[2020-10-21 16:22] gmarupilla commented on #1374
We can redirect to  https://dispatch.biosimulations.dev/

[2020-10-21 16:27] jonrkarr commented on #1374
The issue isn't re-directing to `.dev`. The issue is that the API URL should accept both with and without the trailing slash:
- https://run.biosimulations.org/api
- https://run.biosimulations.org/api/

[2020-10-21 18:05] jonrkarr commented on #467
Submitted requests for namespaces

[2020-10-21 18:18] jonrkarr commented on #467
See also #337

[2020-10-21 18:19] jonrkarr commented on #1333
See also #337

[2020-10-21 18:55] bilalshaikh42 commented on #1374
This is using the netlify proxy system to proxy the /api path from the front end. I can take a look at why it is requiring a forward slash. Not sure if the issue is with the proxy or the api itself.

[2020-10-21 19:01] bilalshaikh42 commented on #1374
I see the issue. The [_redirects file](https://github.com/biosimulations/Biosimulations/blob/dev/biosimulations/libs/shared/assets/src/_redirects) is designed to proxy request to the api, so looks for the value after the forward slash. It is only configured to redirect to the main biosimulations api for the platform however, not to the correct API for submitting jobs.
The reason it does this was s

[2020-10-21 20:01] jonrkarr commented on #1374
I think we should use https://run.biosimulations.org/api rather than the current https://submit.biosimulations.org/. I raised this issue before in #1051. This would clarify the relationship between runBioSimulations and its API -- its not obvious that submit.biosimulations is the API for runBioSimulations.

We need the `/api/` (and `/api`) path for the API for runBioSimulations. BioSimulators and

[2020-10-21 22:13] bilalshaikh42 commented on #1374
Right, so the current proxy will only be working for the platform-api the way it is currently set (through the netlify proxy). Nelify will proxy all requests across all apps to "/api" to "api.biosimulations.org".
We can change the behavior by including the _redirects file for each app separately.  But this will be adding a routing pattern that does not exists in the DNS records or the kubernetes c

[2020-10-22 06:27] jonrkarr commented on #338
Can be done once #1332 is closed.

[2020-10-22 15:58] #1361 closed, assigned to nobody

[2020-10-22 15:59] #788 closed, assigned to bilalshaikh42

[2020-10-22 20:58] jonrkarr commented on #1374
I think we're talking about different things.

Anyway, PR #1376 addresses the issue I brought up -- since `run.biosimulations.org/api/` is a route, `run.biosimulations.org/api` should also re-direct to the API.

[2020-10-22 21:00] jonrkarr commented on #1358
I believe the first task is done.

The second task can be done when the BioSimulators API is re-deployed.

[2020-10-22 21:00] jonrkarr commented on #1333
Done

[2020-10-22 21:00] #1333 closed, assigned to jonrkarr

[2020-10-22 22:09] jonrkarr commented on #1332
Done in PR #1381. Sitemaps can now be submitted to Google.

[2020-10-22 22:14] jonrkarr commented on #338
@bilalshaikh42 the simulators sitemap can now be submitted to Google.

The dispatch sitemap is ready, but the dispatch app needs to re-deployed first.

The platform app can't be submitted until the version at biosimulations.org is updated.

[2020-10-22 22:15] jonrkarr opened #1382 "Share privileges to Google search console properties"
@bilalshaikh42 can you please grant me access?

[2020-10-22 22:17] jonrkarr commented on #1256
@bilalshaikh42 please the problem that you're still seeing.

[2020-10-22 22:36] bilalshaikh42 commented on #1382
Done

[2020-10-22 22:53] bilalshaikh42 commented on #1265
repeat of #1216

[2020-10-22 22:53] #1265 closed, assigned to gmarupilla

[2020-10-22 23:03] #1332 closed, assigned to jonrkarr

[2020-10-23 02:01] jonrkarr commented on #1382
I got access to biosimulators.org. Access to the domain is the same as access to the search console tools.

Can you share access to the biosimulators.com domain?

How did you setup Google search console for biosimulations.org? If you used Google Analytics, you can share access through Google Analytics.

[2020-10-23 14:16] #1256 closed, assigned to jonrkarr

[2020-10-23 14:56] jonrkarr opened #1387 "Rename JournalReference to Citation"

[2020-10-23 14:58] jonrkarr commented on #1310
`url` attribute still needs to be added to the `Identifier` interface

[2020-10-23 15:10] #1373 closed, assigned to bilalshaikh42

[2020-10-23 16:13] jonrkarr opened #1388 "Expand capabilities of full-text search over data in table component"
Example
- Table shows names of algorithms
- Search currently covers names of algorithms
- Also allow search over the KISAO id of the algorithm
   - Add the id as another field to the full-text search

[2020-10-23 17:09] jonrkarr opened #1389 "Add 'clear all' button to filters for table component"
To enable a user to quickly clear all currently applied filters

[2020-10-23 21:23] jonrkarr opened #1391 "Stricter simulator specifications validation"
Currently the validation seems to allow extra keys at any point in the schema. While this flexibility may be helpful for us as developers, I think this could give the community the false impression that BioSimulators can use such keys.

- [x] We need to make the validation stricter. The one part of the schema would come remain more flexible is the `biosimulators` field. I believe this is addressed

[2020-10-24 00:19] bilalshaikh42 commented on #1382
For biosimulations.org, since the domain is registered via uconn I had to use DNS verification. I did add you as an owner on the search console but cannot change the domain settings.

[2020-10-24 02:31] #1387 closed, assigned to bilalshaikh42

[2020-10-24 02:31] todo[bot] opened #1393 "Should descriptions have a max length?"
https://github.com/biosimulations/Biosimulations/blob/a31ecdd382a70671fcb0821e88d45ea51906cf6b/biosimulations/libs/simulators/database-models/src/lib/simulator.ts#L31-L35

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a31ecdd382a70671fcb0821e88d45ea51906cf6b when #1392 was merged. cc @biosimulations.

[2020-10-24 02:46] bilalshaikh42 opened #1394 "Consolidate API models for Platform and Simulators"
API definitions for the platform and the simulator are defined separately.

1) Combine the datamodels to the shared/datamodel-api library
2) Update the models API to return the new schema
3) update the database schema/methods to use the new schema and ensure that the old models can be accessed.

Since the only current models are those that are imported from biomodels, we can update them to the new

[2020-10-24 02:53] bilalshaikh42 commented on #1394
@lzy7071 do you have any thoughts on how to handle schema changes?

[2020-10-24 03:36] lzy7071 commented on #1394
I'm not too sure what you meant by handling "schema changes."

If you meant changing and keeping track of schema version on the database side, I'm primarily using patterning and explicitly stating `schema_version` in the documents. Because my version 1.0 and version 2.0 are completely different, I'm not planning to keep version 1.0 but currently they each reside in their individual database on Mon

[2020-10-24 11:48] jonrkarr commented on #1393
I don't have a strong opinion about this either way. I think we could
- state a target length in the instructions, say 1-2 paragraphs
- allow any length in the schema

[2020-10-24 12:21] jonrkarr commented on #1394
Regarding the current models, we can re-generate them with the revised schema. I need to update Biosimsulation_utils to reflect the revised schema anyway.

Going forward, if we change the schema, we'll want to update (migrate) the old documents to the revised schema.
- The first link you shared recommends writing a script to do this
- See also https://docs.mongodb.com/realm/ios/migrations/
- There

[2020-10-24 12:24] jonrkarr commented on #1382
Thanks.

[2020-10-24 12:24] #1382 closed, assigned to bilalshaikh42

[2020-10-24 18:39] #1393 closed, assigned to jonrkarr, moraru

[2020-10-27 16:39] jonrkarr opened #1398 "Validate that all ontology terms defined in specifications exist (key that they are defined in the ontology)"
Example: KISAO_0000036 at https://biosimulators.org/simulators/copasi/latest

- KISAO_0000036 passes the validation in the BioSimulators API
- But the UI can't find KISAO_0000036

[2020-10-27 21:41] jonrkarr opened #1400 "Validate values of enumerations in simulator specifications"
E.g. validate that the value is a valid enumeration of AlgorithmParameter.type

[2020-10-28 02:53] jonrkarr opened #1401 "Return biosimulators metadata"
- [x] I think `schemaVersion` could be unclear. Rename to `specificationsVersion`. -- done in #1421.
- [x] We need to have the ability to return the biosimulators metadata. I think this may also be fixed by #1421.
  - `schemaVersion`
  - `imageVersion`
- [x] This part of the schema should appear in the documentation at api.biosimulators.org. I think this may also be fixed by #1421.

[2020-10-28 02:54] jonrkarr commented on #1358
Done

[2020-10-28 02:54] #1358 closed, assigned to jonrkarr, bilalshaikh42

[2020-10-28 15:32] jonrkarr opened #1402 "Unable to use BioSimulators API with tokens for "GitHub Simulators Actions" application"
I'm trying to use this workflow to get tokens to POST/PUT simulators to the BioSimulators api.
1. Use client id/secret for "GitHub Simulators Actions" application to get an auth token
2. Use token with POST/PUT methods of BioSimulators api

(1) seems to work fine.

(2) Fails with 500 Server Error. Do additional permissions need to be granted to the "GitHub Simulators Actions" application?

## Get

[2020-10-28 15:51] jonrkarr commented on #1402
POST/PUT works fine if I copy tokens from the BioSimulators API Swagger app.

[2020-10-28 15:59] jonrkarr commented on #1359
I added secrets to the GitHub repo for the "GitHub Simulators Actions" Auth0 app
- `BIOSIMULATORS_API_CLIENT_ID`
- `BIOSIMULATORS_API_CLIENT_SECRET`

I added code to use the secret to get an auth token to the BioSimulators API.

I added code to use the auth token to POST/PUT to the BioSimulators API. There seems to be an issue with the authorization. See #1402.

[2020-10-29 20:51] jonrkarr commented on #1398
`KISAO_0000036` can't be found because its deprecated (i.e. not in the current version of KiSAO).

The validation should be stricter to catch such errors.

[2020-10-30 15:07] jonrkarr opened #1405 "Only import languages needed for syntax highlighting"
See instructions: https://www.npmjs.com/package/ngx-highlightjs

I tried to follow the instructions. The issue is the lack of typescript types for the individual languages. It would take me some time to figure out how to deal with this. I tried to follow the discussion [here](https://github.com/MurhafSousli/ngx-highlightjs/issues/115), but couldn't get it to work.

[2020-11-01 21:33] jonrkarr commented on #1389
Done

[2020-11-01 21:33] #1389 closed, assigned to jonrkarr

[2020-11-01 23:29] jonrkarr commented on #1388
Done

[2020-11-01 23:29] #1388 closed, assigned to jonrkarr

[2020-11-02 17:51] jonrkarr opened #1409 "Add button to biosimulators home page to table of simulators"

[2020-11-02 17:52] jonrkarr opened #1410 "Add button to run simulation from runBioSimulations home page"

[2020-11-02 20:12] jonrkarr commented on #1410
Done

[2020-11-02 20:12] #1410 closed, assigned to jonrkarr

[2020-11-02 20:12] jonrkarr commented on #1409
Done

[2020-11-02 20:12] #1409 closed, assigned to jonrkarr

[2020-11-02 21:03] jonrkarr opened #1411 "Use KiSAO hierarchy to provide recommendations for alternative simulation algorithms"
- [ ] Get the closest algorithm(s) among the algorithms supported by a simulation tool to a specific algorithm
  - [ ] Get all of relatives of the specific algorithm
    - 1: parents and siblings (other children of parents)
    - 2: grandparents and their child (excluding direct parents of algorithm)
    - 3: ...
 - Intersect this with the algorithms supported by the simulation tool
- [ ] Endpoint

[2020-11-02 23:15] jonrkarr opened #1412 "Re-deploy ontology.biosimulations.dev with new version of KiSAO"
Needed to update annotations of simulation tools

[2020-11-03 02:20] bilalshaikh42 commented on #1412
Done

[2020-11-03 02:20] #1412 closed, assigned to bilalshaikh42

[2020-11-03 15:34] jonrkarr opened #1417 "Add additional enumerations to AlgorithmParameter.type for KiSAO ids and any"
The current types are `boolean`, `number`, and `string`.

We need to add a couple of types
- `kisaoId`: needed to capture nested algorithms. e.g., an option of the CMBPy FBA algorithm is the simplex method (KISAO_0000550)
- `any`: needed to capture values that are more complex datatypes such as a list of strings (e.g., list of reactions to calculate bounds for for flux variability analysis) or a d

[2020-11-03 16:30] todo[bot] opened #1418 "Update simulator parameters table to support parameters with type=kisaoId"
https://github.com/biosimulations/Biosimulations/blob/d7d57252318d6b3b504a21f661ff4c2b09d5fee4/biosimulations/apps/simulators/src/app/simulators/view-simulator/view-simulator.service.ts#L142-L147

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d7d57252318d6b3b504a21f661ff4c2b09d5fee4. It&#x27;s been assigned to @jonrkarr because they committed

[2020-11-03 17:01] jonrkarr commented on #1418
Do after #1417 is closed

[2020-11-03 17:05] jonrkarr opened #1419 "Add method to biosimulators API to remove a version of a simulator"

[2020-11-03 19:41] #1419 closed, assigned to bilalshaikh42

[2020-11-03 19:41] todo[bot] opened #1422 "create seperate auth environment for simulators-api"
https://github.com/biosimulations/Biosimulations/blob/89227de6a8eb6a9fc4e0cd7705c18962591f1eb8/biosimulations/apps/simulators-api/src/app/app.module.ts#L11-L14

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 89227de6a8eb6a9fc4e0cd7705c18962591f1eb8 when #1420 was merged. cc @biosimulations.

[2020-11-03 19:41] todo[bot] opened #1423 "does the github issues process need this permission?"
https://github.com/biosimulations/Biosimulations/blob/89227de6a8eb6a9fc4e0cd7705c18962591f1eb8/biosimulations/apps/simulators-api/src/simulators/simulators.controller.ts#L249-L254

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 89227de6a8eb6a9fc4e0cd7705c18962591f1eb8 when #1420 was merged. cc @biosimulations.

[2020-11-03 20:16] jonrkarr commented on #1423
The GitHub issue actions shouldn't need this.

As maintainers, we'll need this to correct mistakes. The community would need to contact us to make a change like this.

[2020-11-03 21:25] jonrkarr opened #1425 "Delete tellurium:2.4.1 from BioSimulators database"
Can be done once the BioSimulators API is re-deployed with the DELETE method.

[2020-11-03 22:32] bilalshaikh42 commented on #1425
Done

[2020-11-03 22:32] #1425 closed, assigned to jonrkarr

[2020-11-03 22:33] bilalshaikh42 commented on #1401
The biosiumulators metadata should return. The current database simply does not contain entries with the metdata defined. Once the entries are updated, the value will return

[2020-11-03 22:36] jonrkarr commented on #1310
`url` attribute still needs to be added to the `Identifier` interface.

api.biosimulators.org shows

[code]

`url` is missing.

[2020-11-03 22:59] bilalshaikh42 commented on #1401
For example, this call returns the data https://api.biosimulators.org/simulators/latest?id=gillespy2

[2020-11-03 23:01] jonrkarr opened #1426 "Build images in GitHub actions and move images to GitHub container registry"
To simplify the management of the images, we should push the images to ghcr.io rather than Docker Hub. In addition, Docker Hub often has long queues to build images -- recently, we've experienced queues as long as 1.5 days. Rather than building images in Docker Hub, they should be build in Git Hub actions (which is currently the case) and pushed to ghcr.io (and temporarily to docker.io until Kuber

[2020-11-03 23:37] jonrkarr commented on #1401
Looks good, except I'd like to rename `schemaVersion` to `specificationsVersion` to be clearer about the meaning of this field. I changed this in #1421.

[2020-11-04 00:51] gmarupilla commented on #1426
I’m trying to use CLI to push latest VCell image to ghcr.io but needs authentication to setup up docker login so temporarily I pushed to docker hub.

[2020-11-04 01:00] jonrkarr commented on #1426
You can use your same GitHub username/password to push to ghcr.io: `docker login ghcr.io`

GitHub actions automatically have tokens `${{ github.token }}` which I think have enough permissions to push images to the container repo.

[2020-11-04 15:50] jonrkarr opened #1428 "display JSON specifications in simulator pages"

[2020-11-04 16:53] jonrkarr opened #1429 "Add more prominent link to runBioSimulations from BioSimulators.org"

[2020-11-04 16:54] jonrkarr opened #1430 "Visually differentiate BioSimulators from BioSimulations websites"

[2020-11-05 13:55] jonrkarr commented on #467
BioSimulations namespaces are ready to release when BioSimulations is ready. When BioSimulations is ready, we need to contact the Identifiers.org curators to release the namespaces.

[2020-11-05 15:07] #1428 closed, assigned to jonrkarr

[2020-11-05 15:07] #1429 closed, assigned to jonrkarr

[2020-11-05 15:07] #1430 closed, assigned to jonrkarr

[2020-11-05 15:39] bilalshaikh42 opened #1436 "Improve action button for simulators app"
I am not sure if the new action button is clear enough to direct users to the correct page, or indicate that it is a button. I think the old one worked better.
@jonrkarr  thoughts on this?

[2020-11-05 15:47] jonrkarr commented on #1436
Previously the home page didn't mention runBioSimulations or BioSimulations.

I agree chevrons look less like buttons, but they emphasize the hierarchy of tools.

[2020-11-05 16:07] bilalshaikh42 commented on #1436
I think mentioning the other apps on the front page does the opposite of the intention of #1430. The `@appname` at each chevron does not make it clear that the apps are separate IMO. If anything, it seems to more tightly integrate the apps, at which point it makes more sense to keep a consistent color theme.

[2020-11-05 16:40] jonrkarr commented on #1436
Please provide more concrete suggestions.

We're trying to achieve a balance of both (a) creating distinct applications which users believe they can use separately and (b) advertising other parts of the ecosystem which are either easier entry points for users, provide more information for users, or which direct developers to how they can contribute to different aspects of the ecosystem.

The diffe

[2020-11-05 18:34] jonrkarr commented on #1402
The auth tokens still don't work. They get a 403 error (forbidden). @bilalshaikh42 is there something about the configuration below that needs to changed?

[code]

The above currently produces a 403 error:
[code]

[2020-11-05 18:36] bilalshaikh42 opened #1438 "Enable URL navigation for tabs in resource views"
Sharing a URL to a view page for a resource does not preserve the user tab.There should be a parameter to save the tab currently in use.

current URL : https://biosimulators.org/simulators/amici/latest

proposed URL: https://biosimulators.org/simulators/amici/latest?tab=3

[2020-11-05 18:47] bilalshaikh42 commented on #1402
Could you email me the access token that you received? I need to decode and see what the granted permissions are for the token.

[2020-11-05 18:49] jonrkarr commented on #1438
Tab ids would be more meaningful to users (e.g., `versions` instead of `3`).

I usually see this done using hashes e.g., `https://biosimulators.org/simulators/amici/latest#versions`.

Another alternative is to use [`mat-tab-nav-bar`](https://material.angular.io/components/tabs/overview). This would turn each tab into a separate route. This would require more refactoring.

[2020-11-05 18:53] bilalshaikh42 commented on #1402
Can you paste the token that you get back into [jwt.io](https://jwt.io)?
It should have a payload that contains `"https://biosimulations.org/permissions": [
    "write:Simulators"
  ],`
Is the field there?

[2020-11-05 18:56] jonrkarr commented on #1402
This is payload. The permissions are there.

[code]

[2020-11-05 18:59] jonrkarr commented on #1402
This looks reasonable to me. I'm convinced that the issue relates to authorization because the code sample I sent with when I use an auth token copied from the swagger app.

For comparison here's the payload for the token generated by the swagger app. Nothing sticks out to me as a potential source of the issue.
[code]

[2020-11-05 19:12] bilalshaikh42 commented on #1402
Im rolling out a new version now. The issue was a capitalization typo. 🤦🏾

[2020-11-05 19:13] jonrkarr commented on #1402
I've been there. 30 minutes isn't too bad. Could have been worse.

[2020-11-05 19:22] #1423 closed, assigned to jonrkarr

[2020-11-05 19:23] bilalshaikh42 opened #1439 "Remove hardcoded permissions/scopes"
Currently the permissions of each route are hard coded in the code. This should be saved somewhere to ensure consistency and prevent issues such as #1402

[2020-11-05 19:54] jonrkarr commented on #1426
For now, let's just aim to push the simulator Docker images to GHCR. This gets around the storage and pull limits of Docker Hub and consolidates the management of the ownership of these images to GitHub where we have a good setup for teams.

Moving the images for the platform from Docker Hub is GHCR is lower priority. These images aren't relevant to the community.

[2020-11-05 19:56] jonrkarr commented on #1436
I think we need feedback from some one more distant from the project. When we are ready to share a draft publication with co-authors, that will be a good time to ask for feedback.

[2020-11-05 20:18] bilalshaikh42 commented on #1402
The currently deployed version is working as expected with the script.
#1440 contains the full fix

[2020-11-05 20:20] bilalshaikh42 commented on #1359
can this be closed when #1402 is?

[2020-11-05 20:20] jonrkarr commented on #1402
Works for me. Thanks!

[2020-11-05 20:23] #1402 closed, assigned to bilalshaikh42

[2020-11-05 20:23] jonrkarr commented on #1359
I just incorporated this into the `align-with-api` branch of `Biosimulations_utils`.

[2020-11-05 20:23] #1359 closed, assigned to jonrkarr

[2020-11-05 20:24] jonrkarr opened #1441 "Switch simulator submission actions to use main branch of biosimulation_utils"
Do once branch is merged

[2020-11-06 16:38] jonrkarr opened #1454 "Expand support for SED-ML"
- Other types of model changes: addXml, RemoveXMl, etc.
- Multiple trajectories
- Non-scalar parameters (e.g., lists, dictionaries)
  - Parameter values which are KiSAO terms

[2020-11-06 17:03] jonrkarr commented on #1310
This looks to be done.

[2020-11-06 17:03] #1310 closed, assigned to bilalshaikh42

[2020-11-06 17:04] #1362 closed, assigned to nobody

[2020-11-06 17:04] todo[bot] opened #1455 "move this to API"
https://github.com/biosimulations/Biosimulations/blob/e4723aaac7519daa90dcd21c45436f4263326347/biosimulations/apps/simulators/src/app/simulators/ontology.service.ts#L3-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e4723aaac7519daa90dcd21c45436f4263326347 when #1435 was merged. cc @biosimulations.

[2020-11-06 17:04] todo[bot] opened #1456 "Put this into its own library. Currently importing the auth library requires hav..."
https://github.com/biosimulations/Biosimulations/blob/e4723aaac7519daa90dcd21c45436f4263326347/biosimulations/libs/auth/nest/src/lib/authz/authz.service.ts#L4-L7

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e4723aaac7519daa90dcd21c45436f4263326347 when #1435 was merged. cc @biosimulations.

[2020-11-06 17:05] todo[bot] opened #1457 "Decide if API needs to be sent the key or the value of the enum. Make sure this ..."
https://github.com/biosimulations/Biosimulations/blob/e4723aaac7519daa90dcd21c45436f4263326347/biosimulations/libs/datamodel/common/src/lib/common/algortihm-parameter-type.ts#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e4723aaac7519daa90dcd21c45436f4263326347 when #1435 was merged. cc @biosimulations.

[2020-11-06 17:22] jonrkarr opened #1458 "Add attribute to keep track if simulators are validated or not"
This would allow the database to be bigger to include
- Simulators that don't have Docker images
- Simulators that don't validate

This would make the database more inclusive while still allowing us to feature the validated simulators.

[2020-11-09 14:17] #1348 closed, assigned to gmarupilla

[2020-11-09 14:17] todo[bot] opened #1464 "Implement Stop simulation functionality from user-end"
https://github.com/biosimulations/Biosimulations/blob/7d5ef2ac6f9c1c9adab78fb68f6b9d832394bdfc/biosimulations/apps/dispatch-service/src/app/services/hpc/hpc.service.ts#L147-L152

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7d5ef2ac6f9c1c9adab78fb68f6b9d832394bdfc when #1357 was merged. cc @biosimulations.

[2020-11-09 15:35] #1401 closed, assigned to bilalshaikh42

[2020-11-09 15:37] bilalshaikh42 commented on #1391
done in #1435

[2020-11-09 15:38] #1374 closed, assigned to bilalshaikh42

[2020-11-09 15:47] bilalshaikh42 commented on #1417
closed in #1435

[2020-11-09 15:47] #1417 closed, assigned to jonrkarr

[2020-11-09 15:47] bilalshaikh42 commented on #1418
closed in #1435

[2020-11-09 15:47] #1418 closed, assigned to jonrkarr

[2020-11-09 15:47] bilalshaikh42 commented on #1400
closed in #1435

[2020-11-09 15:47] #1400 closed, assigned to jonrkarr

[2020-11-09 15:48] #1391 closed, assigned to jonrkarr

[2020-11-09 15:51] bilalshaikh42 commented on #1457
We should values

[2020-11-09 15:51] #1457 closed, assigned to nobody

[2020-11-09 21:24] #1398 closed, assigned to jonrkarr

[2020-11-10 17:29] bilalshaikh42 opened #1479 "Use HTTP Error codes for dispatch API"
The dispatch api should use proper error codes. Currently all requests return OK with a message

[2020-11-10 17:32] bilalshaikh42 opened #1480 "Organize dispatch api using REST semantics"
The dispatch API routes should be organized to follow rest semantics. Users should put a  simulation run, and get back simulation runs with data/status.

[2020-11-10 17:34] bilalshaikh42 commented on #1480
Simulators should be represented as a resource.
/Simulators endpoint should not return different outputs based on query

[2020-11-10 17:46] bilalshaikh42 opened #1481 "Dispatch API/Service do not use message queue"
The dispatch client and API are sending messages without a queue. A queue should be used to ensure that only one simulation is run for each submission. The service will run multiple simulations if it is scaled to more than 1 replica.

[2020-11-10 17:49] bilalshaikh42 opened #1482 "Dispatch API/Service share Database connection"
Both the dispatch and the service are connecting to the database. This is probably not the best design option. Communication between the API and service should be through messages, not the database.

[2020-11-10 17:50] bilalshaikh42 opened #1483 "Dispatch API/Service are using both Mongoose and Typegoose"
Only one of these packages should be used.
@gmarupilla  Which package are you using for the database connection?

[2020-11-10 19:08] gmarupilla commented on #1480
Yes, I too had that in mind. This API is temporary and might not even be working anymore ever since we moved the docker images from the Docker registry to the GitHub registry. So, this will eventually be removed once the simulators API (api.biosimulators.org) is ready (has all the simulators and their versions) and that will be a server to server request therefore we won't need this API.

I tried

[2020-11-10 19:19] gmarupilla commented on #1480
These are the mappings that I'm considering:

POST /dispatch -> POST /simulation-run

GET /download/{uuid} -> GET /simulation-run/download/{uuid}

GET /logs/{uuid} -> GET /simulation-run/logs/{uuid}

GET /result/structure/{uuid} -> GET /simulation-run/structure/{uuid}

GET /result/{uuid} -> GET /simulation-run/{uuid}

POST /jobinfo -> We can keep it as is, even though it fetches the data but accor

[2020-11-10 19:21] gmarupilla commented on #1479
I'm already on it will be fixed in the next PR.

[2020-11-10 19:27] gmarupilla commented on #1481
I will do it alongside #1479

[2020-11-10 19:32] gmarupilla commented on #1482
Agreed. But, things like job status, simulation status and results are required by frontend, so in this scenario, we need to have a DB connection with API. Now, service is accessing DB to check and update job status, since service is the only part which can interact with HPC, only service will have the info about job updates, so you need me to create a message subscriber (@MessagePattern) in API a

[2020-11-10 19:36] gmarupilla commented on #1483
I look into it.

[2020-11-10 20:23] jonrkarr opened #1486 "Unable to resolve EDAM format_3972"
The simulators app isn't resolving EDAM `format_3972` (BGNL). Example: second row of table in https://biosimulators.org/simulators.

`format_3972` is defined in `libs/ontology/sources/src/lib/edam.json`. My best guess is that the deployed API is using an old version of `edam.json` which doesn't have this term. @bilalshaikh42 could you check if this needs to be updated?

[2020-11-10 20:27] bilalshaikh42 commented on #1486
Yes I can redeploy the API. What happened is that the changes to the ontology script in a previous commit changed the url for the owl file. That url contains an out of date file.
This was fixed in https://github.com/biosimulations/Biosimulations/pull/1467/commits/c2805d10f9e8313bc7b891ff0882ba38733b7f77 as a part of #1467.

[2020-11-10 20:37] bilalshaikh42 commented on #1486
I am now seeing this resolved at https://biosimulators.org/simulators.
Might be a couple minutes until the cache clears.

[2020-11-10 20:37] #1486 closed, assigned to bilalshaikh42

[2020-11-10 20:45] #1458 closed, assigned to bilalshaikh42

[2020-11-10 23:42] bilalshaikh42 opened #1488 "Dispatch Front end does not indicate simulation status"
When looking at the particular simulation, i.e https://run.biosimulations.org/simulations/<ID> the front end does not indicate if the status of the simulation is queued. To the user this appears as a blank results page

[2020-11-11 16:21] jonrkarr opened #1490 "Remove simulator Docker images from Docker Hub"
@gmarupilla I want to move the simulator images to the GitHub Container Registry. Can we remove the simulator images from Docker Hub?

[2020-11-11 16:29] gmarupilla commented on #1490
Yes, you can move, and all the latest singularity images were already identified on HPC. Also, I'll remove API, which fetches all the containers list with their versions from `dispatch-api`. As far as I know, these are the reliances per my familiarity.

[2020-11-11 18:11] bilalshaikh42 opened #1491 "Should runBioSimulations generate UUIDs or use MongoIDs"
Currently we are generating 128-bit UUIDs for each simulations. Having the UUID is sufficient to retrieve the results of each simulation.
MongoDB is already assigning  96-bit ids for each document. The MongoID is slightly more guessable, [discussion here](https://stackoverflow.com/questions/11577450/are-mongodb-ids-guessable), but neither method provides absolute protection from guessing (and argu

[2020-11-11 18:29] jonrkarr commented on #1491
I think the 96-bit UUID is sufficient. The 128-bit UUIDs we're generating would be fine too. Of course any password can be guessed, but guess won't be easy.

[2020-11-11 18:33] gmarupilla commented on #1491
@bilalshaikh42 For HPC structure, it won't change anything.

[2020-11-11 18:42] gmarupilla commented on #1490
Heads up, this will break runBioSimulations until the plugin happens in this #1263 as discussed here #1480

[2020-11-11 20:30] bilalshaikh42 commented on #1491
#1484  will be using the default MongoID to refer to simulation runs

[2020-11-11 20:36] jonrkarr commented on #1490
I removed the Docker images for the simulators from the the biosimulators Docker Hub account to avoid confusion with the new location in the GitHub Container Registry.

For now, the images for the application (e.g., simulations-api, account-api, etc.) are still in the biosimulations Docker Hub account. This is not a priority to move since the community doesn't need to access these images.

[2020-11-11 20:36] #1490 closed, assigned to jonrkarr

[2020-11-11 21:01] gmarupilla commented on #1490
@jonrkarr I can see new images for tellurium and CobraPy, which have URL `docker pull ghcr.io/biosimulators/<Image_name>:<Image_Version>` , But the packages of VCell and COPASI have something like this `docker pull docker.pkg.github.com/biosimulators/biosimulators_copasi/copasi:latest.` Can I create a new release to make it consistent with all others?

[2020-11-11 21:13] jonrkarr commented on #1490
I'm using two types of images:
- (Public) "Registry" images: id/tag pattern ` ghcr.io/biosimulators/<Image_name>`
- (Private) "Development" images: id/tag pattern ` ghcr.io/biosimulators/biosimulators_<image_name>/<Image_name>`

I'm using "registry" images to keep a copy of all submitted images. When other people create images, they will first push them to their own Docker Hub or GitHub accounts.

[2020-11-12 17:59] jonrkarr opened #1493 "Make some attributes nullable"
Make the following attributes nullable (i.e. the attribute is required, but the value can be `null`)
- `Simulator.format` -- used when the `Simulator.image` is null
- `Simulator.license` -- used when the license is not a SPDX license
- `Algorithm.parameters` -- to distinguish between (a) the parameters haven't been curated and (b) the algorithm has no parameters
- `Citation.journal`

[2020-11-12 17:59] jonrkarr opened #1494 "Display missing attributes in Swagger app for the BioSimulators API"
The following attributes should be shown in Swagger app for the BioSimulators API
- `BiosimulatorsMeta.validated`

The code looks fine to me. Does the swagger app need to be re-deployed?

[2020-11-12 18:03] jonrkarr opened #1495 "Group Simulator.image and Simulator.format attributes together"
`Simulator.format` specifically relates to `Simulator.image`. For example, when `Simulator.image` is null, `Simulator.format` should be null.

Replace these two attributes with something like the following:
[code]

[2020-11-12 19:19] jonrkarr commented on #1493
Presently, the API does allow these attributes to be null. However,
- The code looks like null shouldn't be valid
- The generated Swagger docs don't indicate that null is valid.

I think I still don't understand the options to `@nestjs/swagger.ApiProperty` and `@nestjs/mongoose.Prop`.

We should properly enforce null/non-null.

[2020-11-12 19:20] gmarupilla opened #1496 "Connect local storage of simulations in runBioSimulations to API and debug"
**Please describe the bug**
If we share the URL to visualization, it won't work on other browsers. Would only work on the browser where the simulations are stored in the browser's local DB.

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Dispatch a simulation from runbiosimulations
2. When it finishes, copy the URL
3. Paste and go to the URL in the incognito tab/w

[2020-11-12 19:41] jonrkarr commented on #1495
Following the change in the API and database we'll need to make these updates:
- Update simulators app
- Update JSON spec files in simulator repos
- Update simulator entries in database
- Update help instructions in apps/simulators/src/app/help/help/help.component.html
- Update template simulator repo

[2020-11-13 15:25] jonrkarr opened #1498 "APIs should validate data type of AlgorithmParameter.value and recommendedRange"
The BioSimulators API currently only checks that the attributes below of `AlgorithmParameter` are `string | null`. The API should lidate that the data types of these attributes are consistent with `AlgorithmParameter.type`.
- `value` should be a string, but numbers are accepted
- `recommendRange` should be an array of strings, but arrays of numbers are accepted

[2020-11-13 17:51] jonrkarr opened #1501 "Add SIO to ontologies"
Semanticscience Integrated Ontology
https://raw.githubusercontent.com/MaastrichtU-IDS/semanticscience/master/ontology/sio/release/sio-release.owl

[2020-11-13 17:59] jonrkarr commented on #1494
Done

[2020-11-13 17:59] #1494 closed, assigned to bilalshaikh42

[2020-11-13 18:47] #1263 closed, assigned to gmarupilla

[2020-11-13 18:47] #1488 closed, assigned to gmarupilla

[2020-11-14 00:22] bilalshaikh42 opened #1502 "Change Authentication Audience for GitHub Actions"
The Simulators API has been changed to use its own authentication system. The "API audience" field in the authentication flow should be updated to "api.biosimulators.org"  instead of the previous "api.biosimulations.org". All the other fields and methods should stay the same.

When running the Simulators API the value of the API_AUDIENCE in the config.env should also be changed to "api.biosimulato

[2020-11-14 00:51] bilalshaikh42 commented on #1422
Done

[2020-11-14 00:51] #1422 closed, assigned to bilalshaikh42

[2020-11-14 01:42] todo[bot] opened #1503 "move this to common utils"
https://github.com/biosimulations/Biosimulations/blob/f3f5602a961ab629ce6e4358ed4c1ff6a329ec94/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.model.ts#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f3f5602a961ab629ce6e4358ed4c1ff6a329ec94 when #1484 was merged. cc @biosimulations.

[2020-11-14 01:42] todo[bot] opened #1504 "combine with already defined enum"
https://github.com/biosimulations/Biosimulations/blob/f3f5602a961ab629ce6e4358ed4c1ff6a329ec94/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.model.ts#L21-L26

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f3f5602a961ab629ce6e4358ed4c1ff6a329ec94 when #1484 was merged. cc @biosimulations.

[2020-11-16 16:00] jonrkarr commented on #1502
Thanks for letting me know. I updated Biosimulations_utils.

[2020-11-16 16:00] #1502 closed, assigned to jonrkarr

[2020-11-16 20:36] bilalshaikh42 opened #1521 "CI workflows failing due to change in GIthub Actions"
A security issue mitigation in github actions caused our workflows to break.  We need to change the set environment command to use the environment variable file as described [here](https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#environment-files).

[2020-11-16 21:55] bilalshaikh42 commented on #1521
Should be fixed by #1523

[2020-11-16 21:55] #1521 closed, assigned to bilalshaikh42

[2020-11-17 01:44] bilalshaikh42 opened #1526 "Send the sbatch over directly from string"
@gmarupilla Does the sbatch need to be sent over as a file? There is a lot of extra work happening here. We have the sbatch file as a string, write it locally, then open up an sftp connection, copy it over, then open an ssh connection, then execute the file.
Why not just ssh and execute the command directly?

---

https://github.com/biosimulations/Biosimulations/blob/9c26da60658ead6d6e6fbf2f86ce97

[2020-11-17 02:06] bilalshaikh42 commented on #1480
Addressed in #1484

[2020-11-17 02:06] #1480 closed, assigned to bilalshaikh42, gmarupilla

[2020-11-17 02:06] bilalshaikh42 commented on #1479
Addressed in #1484

[2020-11-17 02:06] #1479 closed, assigned to bilalshaikh42, gmarupilla

[2020-11-17 19:21] gmarupilla commented on #1526
I saw the change where you're trying `echo ${sbatchString} | sbatch` to execute the sbatch directly. I'll have to test it because the sbatch command doesn't work if it's not properly indented. The indentation will be an issue if we execute it directly from the string. Still, I'll execute it via string once and verify.

[2020-11-17 23:53] bilalshaikh42 commented on #1526
Yeah I was not sure if it would work. But sbatch man pages do say that it can read the job in from standard input, so there should be a way to have that sent over as one command via ssh.

[2020-11-18 19:13] gmarupilla opened #1538 "Show simulator name in runbiosimulations table"
Save the simulator and simulator version into DB

[2020-11-19 16:53] bilalshaikh42 commented on #1538
This is already being done in #1520

[2020-11-19 16:54] bilalshaikh42 commented on #1526
@gmarupilla  were you able to test this?

[2020-11-19 18:41] gmarupilla commented on #1526
I tested it, here are the results:
1. `cat <sbatchfile> | sbatch` --> works
2. sbatchContent=`cat <sbatchFile>`
    echo $sbatchContent | sbatch. --> doesn't work, gives error: `Batch job submission failed: Invalid qos specification`

3. sbatchString=`<Complete SBATCH script as string>`
    --> after hitting enter, gives:` !/bin/bash\n#SBATCH: event not found`
    --> We can make it work by removi

[2020-11-19 18:43] gmarupilla commented on #1538
On the `Your Simulations` page as Ion suggested we need to fetch the Simulator name to display in the table.

[2020-11-19 19:31] bilalshaikh42 commented on #1526
can we use echo to just write the string to a file, and then provide that
file as input? This should be relatively simple.

On Thu, Nov 19, 2020 at 1:41 PM GMarupilla <notifications@github.com> wrote:

[2020-11-19 19:49] jonrkarr opened #1543 "Make ontologies API return additional metadata about ontologies (version, source)"
For example, in addition to return the name of each ontology, the GET `/list` method could return
- Version
- Source URL/package

[2020-11-19 19:52] jonrkarr opened #1544 "Remove 'SPDX' and 'URL' entries for `/list` output of the ontologies API"
The ontologies API doesn't have routes for SPDX. Therefore, it should be removed from the list of ontologies.

I'm not sure what the entry URL is instead to mean. I think this should also be deleted.

[2020-11-19 19:56] gmarupilla commented on #1526
Tried this:

![image](https://user-images.githubusercontent.com/53095348/99716959-b9676280-2a76-11eb-9011-f84d7f8ed680.png)

This executes the sbatchString in command (after echo) directly, doesn't write to the file.

I tried using quoted SbatchString along with internal quotes escaped using `\`,  which is equivalent to the 3rd case in the above comment. In short, that didn't work either.

What if

[2020-11-20 03:41] bilalshaikh42 commented on #1526
Addressed in pr

[2020-11-20 03:41] #1526 closed, assigned to gmarupilla

[2020-11-20 06:29] #1493 closed, assigned to jonrkarr

[2020-11-20 06:29] #1495 closed, assigned to jonrkarr

[2020-11-20 06:29] #1501 closed, assigned to jonrkarr

[2020-11-20 06:29] #1543 closed, assigned to jonrkarr

[2020-11-20 06:29] #1544 closed, assigned to jonrkarr

[2020-11-23 23:28] jonrkarr opened #1551 "Fix handling of optional attributes in dispatch, platform APIs"
- Apply `addValidationForNullableAttributes` to dispatch, platform schemas
- Make sure `required: true` is explicitly set for API attributes
- Remove undefined as allowed type of attributes (e.g., `attr?: string`) and replace with explicit null (e.g., `attr: string | null`)
- Make sure database and API decorators are aligned
  - Required
  - Nullable

[2020-11-26 06:32] #1498 closed, assigned to jonrkarr

[2020-11-26 06:32] todo[bot] opened #1567 "add validation that `value` and elements of `recommendedRange` are instances of ..."
https://github.com/biosimulations/Biosimulations/blob/f73db851802da71450fd1fa15d6f5e0f3b9c62a1/biosimulations/apps/platform-api/src/app/resources/models/biomodel.model.ts#L96-L100

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f73db851802da71450fd1fa15d6f5e0f3b9c62a1 when #1566 was merged. cc @biosimulations.

[2020-11-26 06:32] todo[bot] opened #1568 "add validation that `value` and elements of `recommendedRange` are instances of ..."
https://github.com/biosimulations/Biosimulations/blob/72b16f1cf65447a1194baf59ce6cd8b1befadc61/biosimulations/apps/platform-api/src/app/resources/models/biomodel.model.ts#L96-L100

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 72b16f1cf65447a1194baf59ce6cd8b1befadc61. It&#x27;s been assigned to @jonrkarr because they committed the code.

[2020-11-27 18:32] jonrkarr commented on #337
Done except for Identifiers.org registration for BioSimulations -- see #467.

[2020-11-27 18:32] #337 closed

[2020-11-27 19:18] jonrkarr opened #1571 "Automate deployment of images to Kubernetes"
- [ ] Create GCloud user and key
- [ ] Save email and key for GCloud user to GitHub secrets. Overwrite the existing secrets; they're just place holders.
  - `GCLOUD_EMAIL`
  - `GCLOUD_KEY`
- [ ] Uncomment last list of `biosimulations/tools/docker-build`

[2020-11-27 22:28] jonrkarr commented on #1438
Added an optional `urlHashFragment` attribute to `TabPageTabComponent`. This enables navigation to particular tabs, e.g. https://biosimulators.org/simulators/tellurium/latest#versions. The hash is in the address bar is now automatically changed when the user navigates to a tab that has a defined hash.

[2020-11-27 22:28] #1438 closed, assigned to jonrkarr

[2020-11-29 21:54] bilalshaikh42 opened #1572 "CI should check the libraries as well as apps"
I believe the current setup for the ci does not run tests  or lint for the libraries, only for apps. This would cause issues in the libraries to be skipped.  Nx has a command to output the affected libraries as well that can be used.

[2020-11-29 21:58] bilalshaikh42 commented on #1571
I have run into the docker hub issue as well previously if I manually pushed images. I was not aware that we are pushing images from actions however (unless this was recently added in). If we are, they should be going to the GHCR not dockerhub.
We can create the docker images and update them in the repository.

The update for the deployment needs to be handled by the deployment repository to keep

[2020-11-29 22:04] bilalshaikh42 opened #1573 "CI auto approve can run as one step"
The CI steps for auto approving PRs should be changed to approve anything that is submitted by the daemon account. This would reduce the clutter of the jobs in the actions view.
The various jobs that create PRs should be configured to use the daemon account for that step.

[2020-11-29 22:18] bilalshaikh42 commented on #1538
I see, my comment was in response to "Save the simulator and simulator version into DB." That part is being handled by the PR.

The front end does need to be updated

[2020-11-29 22:18] jonrkarr commented on #1572
Done

[2020-11-29 22:26] jonrkarr commented on #1571
Until this weekend, the GitHub action was not correctly building all images. It was just building one image. I fixed this. I also parallelized the GitHub action to speed up building images for all of the apps (and linting and testing the apps).

It would be helpful to understand how the deployment works because running the kuberctl control command does not deploy the latest version of the apps. Fr

[2020-11-29 22:29] bilalshaikh42 commented on #1568
Does this still need to be done? I thought we were going to use strings for all the values and ranges.

[2020-11-29 22:29] bilalshaikh42 commented on #1567
repeat of #1568

[2020-11-29 22:29] #1567 closed, assigned to nobody

[2020-11-29 22:32] bilalshaikh42 commented on #1572
Seems to be some errors with libraries that do not have the test target.

[2020-11-29 22:34] bilalshaikh42 opened #1574 "Docker images are generated even if tests fail"
If the tests fail for any library or app, docker containers should not be generated. This will cause inconsistent deployments across apps  and some apps to have bugs that make it to the images.

[2020-11-29 22:37] #1574 closed, assigned to jonrkarr, bilalshaikh42

[2020-11-29 22:42] jonrkarr commented on #1572
This can avoided either by adding the missing targets, even if there are no tests or running `nx affected:test` (but this would loose the parallelization).

[2020-11-29 23:13] jonrkarr commented on #1572
These missing targets should be caught now.

[2020-11-29 23:18] bilalshaikh42 commented on #1572
Is this in reference to https://github.com/biosimulations/Biosimulations/commit/30093e9ae5b1132c1bb88a937fd2b241dc65ef3f? Or was there some other change?

[2020-11-29 23:27] jonrkarr commented on #1572
I changed the workflow config `ci2.yml` so that it doesn't throw errors when it tries to lint or test targets that don't exist (i.e. libs that don't have a lint or test target defined).

[code]

[2020-11-29 23:29] jonrkarr commented on #1572
I forgot to push it. Its pushed now.

[2020-11-29 23:30] bilalshaikh42 commented on #1571
I see. The docker build action had not been completed yet. I assume that it was using the cache from previous builds which was causing the same image to be built on a loop. This was not being pushed to docker hub however, as I had not yet fixed the cache issue.
Dockerhub is building the images independently. This can be turned off now since the actions will update the images as needed. I had been

[2020-11-29 23:36] #1572 closed, assigned to jonrkarr

[2020-11-29 23:43] bilalshaikh42 opened #1576 "Docker images should not be pushed for PRs and dev branches"
- [ ] Docker images should be built for all branches to ensure that they are working
- [ ] Docker images should only be pushed for Dev, Stage, and Deploy.
- [ ] Docker images should be pushed for Tags
- [ ] Tools script should be replaced a matrix in the GitHub actions.

[2020-11-30 00:15] jonrkarr commented on #1576
- The images are being built for all branches.
- The images are also being pushed for those branches (and all others). This can be limited to those branches with an if statement in the tools script. Alternatively, a matrix strategy could be used to accomplish the same thing. GitHub actions support a more sophisticated matrix strategy which allows you to outline each task and the properties of each

[2020-11-30 00:32] bilalshaikh42 commented on #1576
This is exactly what was intended by the first two points. We should only push the images for the dev stage and deploy branches

For point three, a tag on the repository should also create and push the image

Point four was that we should implement this in the actions workflow itself so that we can add the customization based on the environment. There is no need to call the bash script from the ac

[2020-11-30 02:35] jonrkarr commented on #1576
Refactor the build as you like.

It took me a little bit to figure out exactly how dynamically control matrix strategies. I'm sharing this to avoid also needing to dig through examples.

You can use the alternative format of the matrix strategy to exert control over which libraries and apps are linted, tested, built, push, deployed, etc. This can be accomplished by first using any code to build a

[2020-12-01 00:55] #1576 closed, assigned to jonrkarr, bilalshaikh42

[2020-12-02 15:48] #1097 closed, assigned to nobody

[2020-12-02 15:49] bilalshaikh42 opened #1589 "Filter the Available Simulators to only show the available simulators"

[2020-12-02 16:02] bilalshaikh42 opened #1590 "Ensure working results for At-least Vcell, Copasi, and Tellurium"

[2020-12-02 16:06] jonrkarr opened #1591 "Only display `Visualize` button in `Your Simulations` table once simulation results are available"

[2020-12-02 16:06] jonrkarr opened #1592 "Add route from simulation id in `Your simulations` table to `/simulations/{ id }`"

[2020-12-02 16:08] jonrkarr opened #1593 "Collect other types of simulation execution errors and include them in simulation error log"

[2020-12-02 16:12] jonrkarr opened #1594 "Disable tabs in `/simulations/{ id }` routes"
- [ ] Disable "Log" tab until status is completed or failed
- [ ] Disable "Design chart" tab until status is completed
- [ ] Disable "Visualize chart" tab until status is completed

[2020-12-02 16:14] jonrkarr opened #1595 "Temporarily hide email input in "Run a simulation" page"
The input should be hidden because email notification isn't yet implemented

[2020-12-02 16:15] jonrkarr opened #1596 "Temporarily hide Export simulations and import simulations buttons above"

[2020-12-02 16:16] jonrkarr opened #1597 "Temporarily hide "Export simulations" and "Import simulations" buttons above "Your simulations" table"

[2020-12-02 16:17] jonrkarr opened #1598 "Fix appending of simulation to "Your simulations" list when opened in browser"

[2020-12-02 16:18] jonrkarr opened #1599 "Fix Import and Export of "Your simulations" table"

[2020-12-02 16:19] jonrkarr opened #1600 "Sort simulations alphabetically by name in "Run a simulations" select box"

[2020-12-02 18:24] #1482 closed, assigned to bilalshaikh42, gmarupilla

[2020-12-02 18:24] todo[bot] opened #1601 "add type checking here"
https://github.com/biosimulations/Biosimulations/blob/68376b254a75b3e596380f28dcd2e92a0d3ffa0d/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.controller.ts#L126-L131

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 68376b254a75b3e596380f28dcd2e92a0d3ffa0d when #1520 was merged. cc @biosimulations.

[2020-12-02 18:25] todo[bot] opened #1602 "Dont hardcode these"
https://github.com/biosimulations/Biosimulations/blob/68376b254a75b3e596380f28dcd2e92a0d3ffa0d/biosimulations/apps/dispatch-service/src/app/app.controller.ts#L57-L62

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 68376b254a75b3e596380f28dcd2e92a0d3ffa0d when #1520 was merged. cc @biosimulations.

[2020-12-02 18:25] todo[bot] opened #1603 "have this send back a status and adjust response accordingly"
https://github.com/biosimulations/Biosimulations/blob/68376b254a75b3e596380f28dcd2e92a0d3ffa0d/biosimulations/apps/dispatch-service/src/app/app.controller.ts#L69-L74

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 68376b254a75b3e596380f28dcd2e92a0d3ffa0d when #1520 was merged. cc @biosimulations.

[2020-12-02 18:25] todo[bot] opened #1604 "Use this implementation to send job"
@gmarupilla Would something like be suffcient for replacing the other method and addresssing #1526?

---

https://github.com/biosimulations/Biosimulations/blob/68376b254a75b3e596380f28dcd2e92a0d3ffa0d/biosimulations/apps/dispatch-service/src/app/services/hpc/hpc.service.ts#L35-L40

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 68376b254a75b3e5

[2020-12-02 18:25] todo[bot] opened #1605 "save the sbatch into simDirbase"
https://github.com/biosimulations/Biosimulations/blob/68376b254a75b3e596380f28dcd2e92a0d3ffa0d/biosimulations/apps/dispatch-service/src/app/services/hpc/hpc.service.ts#L48-L53

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 68376b254a75b3e596380f28dcd2e92a0d3ffa0d when #1520 was merged. cc @biosimulations.

[2020-12-02 21:38] #1589 closed, assigned to gmarupilla

[2020-12-02 21:38] #1601 closed, assigned to nobody

[2020-12-02 21:38] #1604 closed, assigned to nobody

[2020-12-02 21:38] #1605 closed, assigned to nobody

[2020-12-02 21:47] jonrkarr commented on #1538
I have added the simulator to the "Your simulations" table in #1606

[2020-12-02 22:30] jonrkarr commented on #1504
The multiple versions of this enumeration are inconsistent. They needs to be aligned and merged into 1.

[2020-12-02 23:39] jonrkarr commented on #1504
~Working on this in #1606~. Reverted these changes.

[2020-12-02 23:39] jonrkarr commented on #1594
Working on this in #1606

[2020-12-03 00:20] jonrkarr commented on #1496
The implementation of this is not yet complete. I implemented most of this, but couldn't complete it because the API is still only partly functional.

The intended behavior is below.

When the app is opened, the following should happen:
1. The list of simulations that the user has worked with is loaded from local storage
2. The status of each of these is fetched from the API

Each time the user op

[2020-12-03 01:52] #1481 closed, assigned to gmarupilla

[2020-12-03 01:52] #1483 closed, assigned to gmarupilla

[2020-12-03 06:12] jonrkarr commented on #1496
@gmarupilla I looked into this. `apps/dispatch/src/app/services/simulation/simulation.service.ts.getSimulationByUuid` is not implemented as intended. `getSimulationByUuid` should query the API not local storage. Querying of a simulation that isn't stored in local storage should result in adding the simulation to the local storage.

I'm working on sorting this out. Unfortunately, its hard to make s

[2020-12-03 06:25] jonrkarr commented on #1496
I brought this issue up in September as #1170. I had assigned this to @gmarupilla to connect with the API.

[2020-12-03 06:25] jonrkarr commented on #1170
Closing. Subsumed by #1496.

[2020-12-03 06:25] #1170 closed, assigned to jonrkarr

[2020-12-03 06:29] jonrkarr commented on #1597
Subsumed by #1598

[2020-12-03 06:29] #1597 closed, assigned to jonrkarr

[2020-12-03 06:31] jonrkarr commented on #1598
Overlaps with #1496

[2020-12-03 06:31] #1598 closed, assigned to jonrkarr

[2020-12-03 06:32] jonrkarr commented on #1599
Overlaps with #1496

[2020-12-03 06:32] #1599 closed, assigned to jonrkarr

[2020-12-03 06:35] jonrkarr commented on #1496
Remaining todo:
- [ ] Check that app periodically polls API for updated status of simulations
- [ ] Check that simulation export button works
- [ ] Check that simulation import button works
- [ ] Check that simulations not stored in local storage can be opened, and this results in adding an additional simulation to local storage

[2020-12-03 15:51] #1538 closed, assigned to jonrkarr

[2020-12-03 15:51] #1591 closed, assigned to jonrkarr

[2020-12-03 15:51] #1592 closed, assigned to jonrkarr

[2020-12-03 15:51] #1594 closed, assigned to jonrkarr

[2020-12-03 15:51] #1595 closed, assigned to jonrkarr

[2020-12-03 15:51] #1600 closed, assigned to jonrkarr

[2020-12-03 15:51] todo[bot] opened #1620 "do other failed states need to be handled (CANCELLED, TIMEOUT, OUT_OF_MEMORY, NO..."
https://github.com/biosimulations/Biosimulations/blob/e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030/biosimulations/apps/dispatch-api/src/app/app.service.ts#L105-L110

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030 when #1606 was merged. cc @biosimulations.

[2020-12-03 15:51] todo[bot] opened #1621 "do other starting states need to be handled (RUNNING)?"
https://github.com/biosimulations/Biosimulations/blob/e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030/biosimulations/apps/dispatch-api/src/app/app.service.ts#L112-L117

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030 when #1606 was merged. cc @biosimulations.

[2020-12-03 15:51] todo[bot] opened #1622 "do other terminated states need to be handled (CANCELLED, TIMEOUT, OUT_OF_MEMORY..."
https://github.com/biosimulations/Biosimulations/blob/e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030/biosimulations/apps/dispatch-api/src/app/app.service.ts#L124-L129

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030 when #1606 was merged. cc @biosimulations.

[2020-12-03 15:51] todo[bot] opened #1623 "Un-hardcode simulators"
https://github.com/biosimulations/Biosimulations/blob/e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030/biosimulations/apps/dispatch/src/app/components/run/dispatch/dispatch.component.ts#L71-L74

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030 when #1606 was merged. cc @biosimulations.

[2020-12-03 15:51] todo[bot] opened #1624 "should this be interpreted as an error message?"
https://github.com/biosimulations/Biosimulations/blob/e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L85-L90

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e49395ed4f4ae9019b2c6ab6acd3d334c2ea8030 when #1606 was merged. cc @biosimulations.

[2020-12-03 15:57] jonrkarr commented on #1568
The `value` attribute is a string that encodes data in the type indicated by the `type` attribute. (Similar for the `recommendedRange` attribute.) Fore example, when `type=integer`, we should validate that `value` is null or a string that encodes an integer. If this is not the case (e.g., `value` is a non-integer float, or non-numeric string), an error should be thrown. I already implemented this

[2020-12-03 17:00] bilalshaikh42 opened #1625 "Build breaks when updating mongoose"
It seems that the latest update of mongoose has added native typescript definitions, which are more accurate than the @types/mongoose definitions used previously. This causes some of the definition to break, mostly around some of the null validation methods added in #1550 .

There is also a mismatch between the API input and the Database input for the simulators.

I will be working to fix this in

[2020-12-03 17:04] jonrkarr commented on #1625
Lets set aside the updating of mongoose for later. We need to focus on getting minimal functionality working before 12/20.

I've been trying to minimize the mismatch between the API and database. We really need to implement a test that checks this. What is the mismatch between the API and database?

[2020-12-03 17:19] gmarupilla commented on #1593
Can you please provide a sample OMEX simulation of which throws additional errors that are not yet being logged in the simulation logs?

[2020-12-03 17:22] jonrkarr commented on #1593
For example, yesterday the example simulation wasn't executing and the logs were empty. Whatever the error was, some minimal information needs to be communicated to the user.

https://github.com/biosimulators/Biosimulators_test_suite/raw/dev/biosimulators_test_suite/BIOMD0000000297.omex

[2020-12-03 17:25] gmarupilla commented on #1620
Started working in #1459, for other failed states as well.

[2020-12-03 17:26] jonrkarr opened #1626 "Save and display both stdout and stderr for simulations interleaved together"
Currently runBioSimulations is setup to display one of stdout or stderr. Even when a simulation fails, it would be useful to display the stdout (up to the point of failure).

Currently, runBioSimulations displays stdout and stderr separately. This makes it hard to understand when the stderr was written relatively to messages in stdout. In contrast, consoles typically display both stdout and stderr

[2020-12-03 17:27] gmarupilla commented on #1621
Will be done alongside #1620.

[2020-12-03 17:30] jonrkarr opened #1627 "Ensure that all errors in the runBioSimulations frontend are appropriately handled"
runBioSimulations was catching some errors and only displaying error messages under `development` and `test` modes. I removed this. Instead, errors should be caught by the global error handler that I setup. When errors are caught, this should provide users a generic error message.

Please check that all errors are being appropriately handled.

[2020-12-03 17:35] bilalshaikh42 commented on #1625
Agreed. I skipped the update, but did fix some of the typing issues in #1628

[2020-12-03 17:37] bilalshaikh42 commented on #1625
The update revealed some type issues that were not being checked in the previous version

[2020-12-03 17:54] jonrkarr commented on #1625
The number of new type issues isn't that big. I don't seen anything that appears to be related to the changes that I made with the handling of null. The issues are related to type casting and only having some attributes defined in some places (e.g., `meta` of `BiosimulatorsMeta`).

A good test of the APIs would be to upload a document to the API, have the database save it, retrieve the document fr

[2020-12-03 19:07] todo[bot] opened #1631 "catch errors here"
https://github.com/biosimulations/Biosimulations/blob/46fb40c7d5c85d556f03460a528fcfee939a8eba/biosimulations/apps/dispatch/src/app/services/dispatch/dispatch.service.ts#L41-L45

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 46fb40c7d5c85d556f03460a528fcfee939a8eba when #1630 was merged. cc @biosimulations.

[2020-12-03 20:38] jonrkarr opened #1632 "Delete GitHub releases and git tags"
The GitHub releases and tags are old from before the current organization of the repo. Can they be deleted?

[2020-12-03 21:53] jonrkarr commented on #1627
`ErrorHandler` just needs to uncommented in `biosimulations/apps/dispatch/src/app/app.module.ts`

[2020-12-03 21:58] jonrkarr commented on #1631
Will be handled by #1627

[2020-12-03 22:02] jonrkarr commented on #1496
@gmarupilla @bilalshaikh42 please let me know when the API is working so I can finish making sure the local storage and retrieval from the database is working as intended.

[2020-12-03 22:48] todo[bot] opened #1634 "Replace this call with only the one below"
https://github.com/biosimulations/Biosimulations/blob/b4b6f5ca42b82a2e1e70f5c878743d0f6d1f9808/biosimulations/apps/dispatch-service/src/app/submission.controller.ts#L56-L61

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b4b6f5ca42b82a2e1e70f5c878743d0f6d1f9808 when #1629 was merged. cc @biosimulations.

[2020-12-03 22:50] bilalshaikh42 commented on #1625
Yup, I was able to fix the changes with the validators. There was a field that was spelled incorrectly, and a method that explicitly needed undefined passed to it to satisfy the compiler. The other type issues seems to be a case of the compiler being less sure of the type than  we are. That will probably just need to be cast.

[2020-12-03 23:02] bilalshaikh42 commented on #1632
Should be done? Can you confirm? I have removed them locally, but git by default is strange about pushing tags

[2020-12-03 23:02] bilalshaikh42 commented on #1632
nevermind, still there

[2020-12-03 23:05] bilalshaikh42 commented on #1632
I can run `git tag  -d [tag]` just fine locally. When I try `git push --tags` the terminal hangs. Not sure why it won't push the deleted tags, but might be a github policy?

[2020-12-03 23:11] bilalshaikh42 commented on #1632
Hanging was an unrelated issue. Done

[2020-12-03 23:11] #1632 closed, assigned to nobody

[2020-12-03 23:11] jonrkarr commented on #1632
I used `git push --delete origin tagname`

[2020-12-04 01:22] bilalshaikh42 commented on #1496
#1630 fixed the job submissions. This is working
#1629 Should have addressed the results. I am not sure about this one. @gmarupilla  can confirm.

[2020-12-04 01:23] bilalshaikh42 commented on #1573
Done

[2020-12-04 01:23] #1573 closed, assigned to nobody

[2020-12-04 02:43] todo[bot] opened #1638 "do other failed states need to be handled (CANCELLED, TIMEOUT, OUT_OF_MEMORY, NO..."
https://github.com/biosimulations/Biosimulations/blob/127edcd2213180fb6146734a6d4b1476f8108e78/biosimulations/apps/dispatch-api/src/app/app.service.ts#L105-L110

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 127edcd2213180fb6146734a6d4b1476f8108e78 when #1635 was merged. cc @biosimulations.

[2020-12-04 02:43] todo[bot] opened #1639 "do other terminated states need to be handled (CANCELLED, TIMEOUT, OUT_OF_MEMORY..."
https://github.com/biosimulations/Biosimulations/blob/127edcd2213180fb6146734a6d4b1476f8108e78/biosimulations/apps/dispatch-api/src/app/app.service.ts#L124-L129

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 127edcd2213180fb6146734a6d4b1476f8108e78 when #1635 was merged. cc @biosimulations.

[2020-12-04 02:43] #1639 closed, assigned to nobody

[2020-12-04 02:44] #1638 closed, assigned to nobody

[2020-12-04 03:13] bilalshaikh42 commented on #1496
There was a bug in the submission of the jobs. The API is working for the following steps:
1) Using the /run path, create a simulations run. This creates a run with the status of Queued
2) Use the /jobinfo path to get the structure of the results
3) Use the /result path with the information from the step 2 to view the results

Issues to address:
1) The status of the Job is not being updated.
2) Th

[2020-12-04 03:15] bilalshaikh42 opened #1640 "Service should update the API when checking job status"
The service runs a cron job to check the status of the job. It then sends a message to share the results. Instead, it should make a patch request to the API.

@gmarupilla Would you want to work on this?

[2020-12-04 03:21] bilalshaikh42 commented on #1640
The service will need to authenticate to the API. The backend configuration has been set up already. Here are the steps for authenticating:
`curl --request POST \
  --url https://crbm.auth0.com/oauth/token \
  --header 'content-type: application/json' \
  --data '{"client_id":"CLENTID","client_secret":"CLIENTSECRET","audience":"dispatch.biosimulations.org","grant_type":"client_credentials"}'`
This

[2020-12-04 03:24] jonrkarr commented on #1496
## Status
I don't think it's critical to display detailed status to users now. For now, the status displayed to users could just be "Not yet run", "Succeeded", and "Failed", where
- "Not yet run" covers created, queued, started, and running and
- "Failed" covers all errors including run time errors, out of memory, time out, etc.

Does that simplify things?

## Todos
I don't quite follow what needs

[2020-12-04 03:34] bilalshaikh42 commented on #1496
There is no real difference between the level of detail. The status just needs to be sent to the API either way.  @gmarupilla has already implemented monitoring the status. But right now, only the service is aware of the information

The breakdown between the  components is as follows: The API handles the database entries for the simulations runs, and has the information about user, filename, emai

[2020-12-04 03:46] jonrkarr commented on #1496
Thanks. I think I now understand what need to be done.

[2020-12-04 17:13] jonrkarr opened #1650 "Turn HTTP caching off or set expiry"

[2020-12-04 19:06] gmarupilla commented on #1640
Started working on this in #1637

[2020-12-06 18:51] gmarupilla commented on #1496
The required APIs are now working, changes will be merged with PR #1637.
Note: I've not tested/fixed all APIs. The APIs required for running a simulation, get logs, download results, get results in json format, get json data for chart, get result structure. All these are working. I've also plugged them with frontend.

Simulations are running end to end via frontend. Status are being updated as req

[2020-12-07 19:43] gmarupilla commented on #1068
@jonrkarr Fixed in the commit 5caf5092ee4d921acd7586e79b825ed41b1efae6 of PR #1459 , but is there a way to fix with making changes in libs? I tried with :host CSS selector, it didn't work.

[2020-12-08 00:05] jonrkarr commented on #1068
I simplified the resizing in PR #1660. @gmarupilla does this address your comment?

[2020-12-08 00:26] gmarupilla commented on #1068
Yes, PR #1660 solves this issue, and I approved the PR. Thanks.

[2020-12-08 02:40] #1068 closed, assigned to jonrkarr

[2020-12-08 16:38] jonrkarr opened #1666 "Provide API data models in JSON schema format"
Outputting this as a JSON schema would be helpful for promoting the data model as a "standard" beyond just the input format for BioSimulators.

- [ ] Use this package https://www.npmjs.com/package/@openapi-contrib/openapi-schema-to-json-schema to generate JSON schema file from OpenAPI spec.
  - Save the file to `biosimulations/libs/shared/assets/src/assets/`.
  - Implement as dev tool in `biosimul

[2020-12-08 19:17] bilalshaikh42 opened #1668 "## do we need this wrapper?"
## do we need this wrapper?

@jonrkarr What is the intention of this wrapper around the hpc service?

---

https://github.com/biosimulations/Biosimulations/blob/69fffff23a5734bdd7d714da244db1fcd773e6e8/biosimulations/apps/dispatch-service/src/app/services/simulation/simulation.service.ts#L9-L14

---

###### This comment was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in

[2020-12-08 19:37] jonrkarr commented on #1668
No. @gmarupilla set this up.

[2020-12-08 19:48] gmarupilla commented on #1668
I had a few more methods in mind to add before refactoring of code that is being done right now. So creating a new service made sense at that time, but we won't need it now. We can remove this.

[2020-12-08 20:08] jonrkarr opened #1669 "Switch report format to HDF5"
## For now
No, for now lets keep our goal of runBioSimulations using CSV. For now, lets focus on the singularity containers that Akhil manually created.

## Next steps
I've written methods in Biosimulators-utils for the containers to produce reports in CSV and HDF5 formats. For now, I can have the simulators save to both CSV and HDF5. When we're ready, I can turn off the output to CSV (and re-buil

[2020-12-08 20:32] #1005 closed, assigned to nobody

[2020-12-08 20:33] jonrkarr commented on #1015
Closing. This should be handled by the Cayenne developers.

[2020-12-08 20:33] #1015 closed, assigned to nobody

[2020-12-08 22:43] #1668 closed, assigned to nobody

[2020-12-10 05:54] #1640 closed, assigned to gmarupilla

[2020-12-10 05:54] todo[bot] opened #1678 "Remove this message when implmentation is finished"
https://github.com/biosimulations/Biosimulations/blob/1000eade93012d81a784ea263377546128d6896c/biosimulations/apps/dispatch-service/src/app/submission.controller.ts#L124-L129

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1000eade93012d81a784ea263377546128d6896c when #1637 was merged. cc @biosimulations.

[2020-12-10 05:54] todo[bot] opened #1679 "Remove this message when implmentation is finished"
https://github.com/biosimulations/Biosimulations/blob/34e6da5f89cbcd78ef2a888cd11794055beef873/biosimulations/apps/dispatch-service/src/app/submission.controller.ts#L124-L129

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 34e6da5f89cbcd78ef2a888cd11794055beef873. It&#x27;s been assigned to @gmarupilla because they committed the code.

[2020-12-10 06:00] #1625 closed, assigned to jonrkarr, bilalshaikh42

[2020-12-10 22:59] jonrkarr opened #1687 "Encode table filters into URL hash fragment"
In `biosimulations/libs/shared/ui/src/lib/table/table.component.ts`

- [x] Push active filters to hash fragment
- [x] On page load, set active filters based on hash fragment

[2020-12-11 02:24] #1504 closed, assigned to nobody

[2020-12-11 02:24] #1593 closed, assigned to nobody

[2020-12-11 02:24] #1603 closed, assigned to nobody

[2020-12-11 02:24] #1620 closed, assigned to nobody

[2020-12-11 02:24] #1621 closed, assigned to nobody

[2020-12-11 02:24] #1622 closed, assigned to nobody

[2020-12-11 02:24] #1634 closed, assigned to nobody

[2020-12-11 02:24] #1678 closed, assigned to nobody

[2020-12-11 02:24] #1679 closed, assigned to gmarupilla

[2020-12-11 02:24] todo[bot] opened #1688 "Change this to hdf"
change this to hdf files to implement changes needed for #1669

---

https://github.com/biosimulations/Biosimulations/blob/628b3743e188d9ce06de309c78909d877db3f3dc/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L33-L38

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 628b3743e188d9ce06de309c78909d877db3f3dc when #1686 wa

[2020-12-11 02:24] todo[bot] opened #1689 "Complete implementation"
https://github.com/biosimulations/Biosimulations/blob/628b3743e188d9ce06de309c78909d877db3f3dc/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L53-L58

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 628b3743e188d9ce06de309c78909d877db3f3dc when #1686 was merged. cc @biosimulations.

[2020-12-11 02:24] todo[bot] opened #1690 "Change this over to observable to allow for chaining/error handling"
https://github.com/biosimulations/Biosimulations/blob/628b3743e188d9ce06de309c78909d877db3f3dc/biosimulations/apps/dispatch-service/src/app/simulation-run/simulation-run.service.ts#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 628b3743e188d9ce06de309c78909d877db3f3dc when #1686 was merged. cc @biosimulations.

[2020-12-11 05:15] jonrkarr opened #1695 "Simulation runtime should be the walltime required to execute the COMBINE archive"
Simulation runtime is currently set to the time from (a) when the simulation was submitted to (b) the latest update of the status of the simulation. This reflects the multiple things including how long the simulation is queued before beginning execution. The runtime can be obtained from the job scheduler.

Incorrect code in `biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.servic

[2020-12-11 08:54] jonrkarr opened #1701 "Dispatch API not returning simulation results"
Example 500 errors:
- https://dispatch.biosimulations.dev/result/5fd33217105d253d925990ab?chart=true&sedml=simulation_1&report=simulation_1
- https://dispatch.biosimulations.dev/download/result/5fd33217105d253d925990ab

[2020-12-11 08:54] jonrkarr commented on #1695
This is not critical to fix now.

[2020-12-11 10:06] jonrkarr opened #1702 "Simulations disappear from local storage"

[2020-12-12 20:48] jonrkarr commented on #1702
Fixed

[2020-12-12 20:48] #1702 closed, assigned to jonrkarr

[2020-12-12 20:56] jonrkarr commented on #1496
I substantially revised the view component and simulation service.

I believe this is working now.
- Simulations are no longer dropped from the history -- this was due to saving to local storage before local storage finished initializing
- Simulations run by other people or on other machines can be opened. This causes the simulation to be appended to local storage and its status updated using the

[2020-12-12 20:56] #1496 closed, assigned to jonrkarr

[2020-12-13 06:51] bilalshaikh42 commented on #1098
Done

[2020-12-13 06:51] #1098 closed, assigned to bilalshaikh42

[2020-12-13 06:52] #1067 closed, assigned to gmarupilla

[2020-12-13 06:59] bilalshaikh42 commented on #1695
I think we should keep the runtime field as is to keep a record of the time that the end user needed to wait for results.
We can add another field for the walltime as well. This way, we can break down the queue, walltime and runtime for the user.

  Dockerhub for example lets the user know how long was spent in the queue and how long actually running.

[2020-12-13 07:00] bilalshaikh42 commented on #1695
I propose we label this as an enhancement, and keep the current implementation/remove the bug tag.  Please revert if you disagree

[2020-12-13 07:01] bilalshaikh42 commented on #1701
In progress in #1709

[2020-12-13 07:23] bilalshaikh42 opened #1711 "Running Cron jobs will be cancelled on service restarts"
Any currently running monitoring of a simulation run will be cancelled if the dispatch service is restarted. This will prevent updates to the status of the run and generation of results

We need to look into the options that kubernetes provides for this.
I vaguely remember that there are  options around graceful shutdown of a an out of date pod, and ensuring that no new traffic is sent to that pod

[2020-12-13 07:28] bilalshaikh42 opened #1712 "Delay between "connection created" event and submission of job"
From the logs of the SSH service in the dispatch-service, there is a considerable delay between setting up the ssh connection and getting confirmation that the job has been submitted. This should be investigated.

[2020-12-13 07:34] bilalshaikh42 opened #1713 "Replace GH_TOKEN in secrets"
The current GHCR_TOKEN in the secrets is tied to @jonrkarr 's account. This should be replaced with @biosimulations-daemon

[2020-12-13 07:38] jonrkarr commented on #1713
Yes, I didn't have the password for that account. You can replace the user name and token.

`GHCR_USERNAME` should be set to `biosimulations-daemon`.

The token needs `repo` (and child scopes) and write:packages` scopes (and child scopes)

[2020-12-13 07:40] jonrkarr commented on #1067
Is email working? If so, we can re-enable the email input in the submission form.

[2020-12-13 07:43] jonrkarr commented on #1695
I agree its useful to have both pieces of information -- queue time and execution walltime. But I think it the sum could generate confusion. Users are likely to think its because the execution wall time is long when the queue time is dominating. I think we should wait to display this until we can display the individual times.

[2020-12-13 10:01] bilalshaikh42 opened #1714 "Jobs marked as failed under high load"
**Please describe the bug**

When the dispatch service receives many many jobs at one time, several of the jobs are marked as failed.
However, the hpc has actually run them successfully. This is probably caused by the ssh failing and being caught

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Use the API to rapidly submit jobs
2. Look for jobs that are marked as

[2020-12-13 10:03] bilalshaikh42 opened #1715 "Add rate limiting for job submission"
@mpw6 @moraru What are your thoughts on reasonable limits/maximum limits for a given IP or user

[2020-12-13 10:47] jonrkarr commented on #1715
Skip this for now. This will be a good problem to have to deal with.

[2020-12-13 18:00] bilalshaikh42 commented on #1067
No this is not working currently.

On Sun, Dec 13, 2020 at 2:40 AM Jonathan Karr <notifications@github.com>
wrote:

[2020-12-13 18:20] jonrkarr opened #1717 "Move dispatch VisualizationComponent to shared library"
Move `biosimulations/apps/dispatch/src/app/components/simulations/view/visualization` to `biosimulations/libs/shared/ui/src/lib/`.

[2020-12-13 22:21] jonrkarr opened #1718 "Add support for 3D visualizations to runBioSimulations"
Currently, multidimensional datasets are shown as options, but are disabled because VisualizationComponent can only handle 2-D visualizations. Ideally, this would be generalized to support results of spatial simulations.

[2020-12-13 22:29] todo[bot] opened #1719 "connect with new AppService"
https://github.com/biosimulations/Biosimulations/blob/6a99cda4b554bdcd93e74f14b3ede7ee7827474f/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L220-L223

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6a99cda4b554bdcd93e74f14b3ede7ee7827474f when #1716 was merged. cc @biosimulations.

[2020-12-13 22:29] todo[bot] opened #1720 "connect with new results API / App Service */"
https://github.com/biosimulations/Biosimulations/blob/6a99cda4b554bdcd93e74f14b3ede7ee7827474f/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L285-L290

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 6a99cda4b554bdcd93e74f14b3ede7ee7827474f when #1716 was merged. cc @biosimulations.

[2020-12-13 22:29] todo[bot] opened #1721 "connect with new AppService"
https://github.com/biosimulations/Biosimulations/blob/79a19cd80f281d91ad9b97053b07f049c02fee4a/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L220-L223

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 79a19cd80f281d91ad9b97053b07f049c02fee4a. It&#x27;s been assigned to @jonrkarr because they committed the code

[2020-12-13 23:52] bilalshaikh42 commented on #1717
If the visualization component relies on knowledge of a data model, it should not be in the shared UI library, as that should not have any dependencies to the datamodel.

Lets create a new library called presentation or view that can be used to have shared components (across scopes) that have dependencies on the shared datamodel.

I think there are a few current UI components that also depend on t

[2020-12-13 23:59] bilalshaikh42 commented on #1715
The primary concern was the risk of a script/test  or bug in the code sending requests rapidly. Unlikely, but could cause issues with jobs on the hpc

[2020-12-14 00:16] bilalshaikh42 opened #1723 "Remove internal logs from user"
**Please describe the bug**
Users are shown log information that is unrelated to the simulations

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Go to the runBiosimulations application and start a job
2. When complete, view the error log
3. Error log will contains text such as the following

[code]

**How should BioSimulations have behaved**
This information shoul

[2020-12-14 00:33] bilalshaikh42 opened #1724 "Add other working simulators to dispatch frontend"
The images for gillespy2 and  bionetgen and any other containers should be added back

[2020-12-14 00:36] #1426 closed, assigned to bilalshaikh42

[2020-12-14 00:37] #1323 closed, assigned to bilalshaikh42

[2020-12-14 00:38] #1215 closed, assigned to gmarupilla

[2020-12-14 00:38] #1216 closed, assigned to gmarupilla

[2020-12-14 00:38] #1196 closed, assigned to gmarupilla

[2020-12-14 00:41] bilalshaikh42 commented on #984
We have stored simulation data as CSV on the HPC. The dispatch  service reads this and saves the data to the Mongo database.
The images are being updated to use HDF.
This HDF file can be stored on the HPC file system, onto the database using Gridfs, or some form of object storage. The dispatch service will be updated to then read HDF instead of CSV

[2020-12-14 00:41] #984 closed, assigned to mpw6, moraru, bilalshaikh42, gmarupilla

[2020-12-14 00:41] #934 closed, assigned to bilalshaikh42, gmarupilla

[2020-12-14 00:42] #851 closed, assigned to nobody

[2020-12-14 00:43] #338 closed

[2020-12-14 00:43] #850 closed, assigned to nobody

[2020-12-14 00:44] bilalshaikh42 commented on #991
Done

[2020-12-14 00:44] #991 closed, assigned to bilalshaikh42

[2020-12-14 00:51] bilalshaikh42 opened #1725 "Integrate the typescript definitions for the dispatch api and frontend"
@jonrkarr will connect the front end to the API when addressing #1719 and #1721.
#1709 contains definitions for the return type of the api in the dispatch/api-models library. These should eventually be imported into the front end to ensure typing is correct.

[2020-12-14 00:57] bilalshaikh42 opened #1726 "Provide an example list of simulation ids to import"
To demonstrate the capabilities of the application to reviewers/users we should create an exported file of simulations ids.
These simulations can have various combinations of files and simulators to represent successful and failed simulations demonstrating the feature of visibility into the failures and the role of specifying the correct simulator for given formats/algorithms.

Examples:
1) Bionet

[2020-12-14 02:39] jonrkarr commented on #1717
The UI components do involve data models, but these are data models that are specific to the components. Their data models are different from the data models for our APIs.

For example, the data model for visualizations is the data model for Plotly. This is different than the data model for SED-ML reports.

[2020-12-14 02:40] jonrkarr commented on #1724
I'll take care of this.

[2020-12-14 02:42] jonrkarr commented on #1725
Let me know when I should get started on this. Anticipating this, I also started to explicitly define a data model. This should be quick to merge.

[2020-12-14 02:44] jonrkarr commented on #1726
This is the idea for the test suite. For now, I'll copy omex archives I use to test the individual simulators over to the test suite. I'll organize this later this week.

Note, BioNetGen only supports the BNGL language. This will need to be used with different images from the other simulators.

[2020-12-14 03:45] bilalshaikh42 commented on #1726
To clarify, for this I meant a simulations.json file exported from the front end. This could be used to demonstrate the features of various cases. A simulation run in which bionetgen was used to run an omex file with SBML would show an example of a failed simulation, with the error logs providing the explanation (unsupported language).

It would be simpler for a reviewer to import a simulations.js

[2020-12-14 03:51] jonrkarr commented on #1726
What's a simulations.json file?

[2020-12-14 03:52] #1724 closed, assigned to jonrkarr

[2020-12-14 04:00] bilalshaikh42 commented on #1726
The file that can be exported from https://run.biosimulations.org/simulations

[2020-12-14 04:08] jonrkarr commented on #1726
Ah. I see. This is a good idea. I can add a UI element to "Import sample simulations" without the user even having to download + upload a JSON file.

I can create a JSON file within the repo for the same simulations. This can be imported as a JSON module.

[2020-12-14 05:32] moraru commented on #1715
I agree with Jonathan that this can wait.  We have some decent monitoring to safeguard against runaway job submission.  I’ll check with Mike to make sure it applies to the runbiosim dedicated resources.

No need to implement it in the API for now.  Later on what we need to do is to support soft and hard quotas.

From: Bilal Shaikh <notifications@github.com>
Sent: Sunday, December 13, 2020 7:00 PM

[2020-12-14 05:35] bilalshaikh42 commented on #1715
Great, thank you!

On Mon, Dec 14, 2020 at 12:33 AM moraru <notifications@github.com> wrote:

[2020-12-14 05:44] moraru commented on #984
A little confused – I thought we don’t move to HDF now, but only after paper submission inquiry?

From: Bilal Shaikh <notifications@github.com>
Sent: Sunday, December 13, 2020 7:41 PM
To: biosimulations/Biosimulations <Biosimulations@noreply.github.com>
Cc: Moraru,Ion <moraru@uchc.edu>; Assign <assign@noreply.github.com>
Subject: Re: [biosimulations/Biosimulations] How should simulation data be st

[2020-12-14 05:56] jonrkarr commented on #984
Correct, Bilal is setting up the API to accept CSV files. He's designing this in such a way that it will be easy to switch to HDF. For example, CSV files are expected to be at the same location as they will be in HDF5 files. The row/column structure of the CSV files is the same as what the HDF5 will have.

Simultaneously, I'm making the images produce CSV (as well as HDF). When we're ready to swit

[2020-12-14 06:13] moraru commented on #984
OK, got it.

[2020-12-14 06:14] moraru commented on #984
As you know,I was always a fan of HDF5, just wasn't sure if there was a change to the timeline.

[2020-12-14 22:45] jonrkarr opened #1733 "Collect, process, and display more detailed log information for executions of COMBINE archives"
This would be a nice feature. But implementing it requires a fair amount of help from the developers of the simulation tools. Until there's more community buy-in, implementing the rest of the tasks are moot. For that reason, we need to table this for the future.

- [x] Develop data model for more detailed log information
     - [x] Add to dispatch-database-models
     - [x] Add to new log module i

[2020-12-15 00:18] #1226 closed, assigned to nobody

[2020-12-15 00:18] #1503 closed, assigned to nobody

[2020-12-15 00:18] #1590 closed, assigned to nobody

[2020-12-15 00:18] #1689 closed, assigned to nobody

[2020-12-15 00:18] #1701 closed, assigned to nobody

[2020-12-15 00:19] todo[bot] opened #1734 "move to utils"
https://github.com/biosimulations/Biosimulations/blob/e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6/biosimulations/apps/dispatch-api/src/results/results.model.ts#L17-L22

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6 when #1709 was merged. cc @biosimulations.

[2020-12-15 00:19] todo[bot] opened #1735 "handle error"
https://github.com/biosimulations/Biosimulations/blob/e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L80-L85

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6 when #1709 was merged. cc @biosimulations.

[2020-12-15 00:19] todo[bot] opened #1736 "investigate"
https://github.com/biosimulations/Biosimulations/blob/e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L86-L91

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6 when #1709 was merged. cc @biosimulations.

[2020-12-15 00:19] todo[bot] opened #1737 "create a dispatch even class to distinguish between response/no response"
https://github.com/biosimulations/Biosimulations/blob/e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6/biosimulations/libs/messages/messages/src/lib/dispatch.ts#L1-L4

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6 when #1709 was merged. cc @biosimulations.

[2020-12-15 00:19] todo[bot] opened #1738 "remove transpose once all simulators follow row format"
https://github.com/biosimulations/Biosimulations/blob/e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6/biosimulations/libs/messages/messages/src/lib/dispatch.ts#L64-L69

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e78ab8c4d60b12fcd1a5427bcc4fef88012cd8d6 when #1709 was merged. cc @biosimulations.

[2020-12-15 02:29] bilalshaikh42 opened #1740 "Refactor Dispatch component"
The dispatch view component is connected to the API in a very adhoc way. The data is directly parsed from the http response and then fed to the components.

The app should maintain its internal state with the information about each simulations, and the results for that simulation. It should then use this information to populate the chart.

This would also be a good time to include #1725

[2020-12-15 03:14] todo[bot] opened #1741 "Determine how to handle "Time ""
@jonrkarr  not sure what the hardcoded time is for. In the example I am using (5fd811a37efd18fb32c90a21), the output already contains a lowercase &quot;time&quot;

---

https://github.com/biosimulations/Biosimulations/blob/4b67b485caf182b7e60645034fae69ab0cdcf6b0/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L325-L330

---

###### This issue was generated by [t

[2020-12-15 04:23] jonrkarr commented on #1741
The hard-coded time should be removed. This is just held over because Akhil's API hard-coded time into the "x" attribute of its response and the other predictions into the "y" attribute of its response. This had allowed the view component to assume that the x-axis was time.

The view component should not make any assumptions about the meaning of any dataset (rows of reports). For example, it shoul

[2020-12-15 04:34] jonrkarr commented on #1740
Yes, this logic could be factored out into a service as its the case for the simulators app. I've started to move in this direction. The computations to get and transform the data could be moved to a service. The outputs of the methods of the service could be hooked up to a subset of the attributes:
  - `formattedSimulation$`, `statusRunning$`: basic info about the simulation
  - `logs$`
  - `data

[2020-12-15 04:38] jonrkarr commented on #1735
FYI, there is a global error handler for the entire app which is currently commented out. This error handler is designed to catch all errors and provide basic information to users. This can be uncommented when ready to enable it.

Note, this global error handler is not designed to display detailed info about errors to users, or to log errors encountered during deployment to us as the developers. T

[2020-12-15 04:43] jonrkarr commented on #1717
As talking, I understand Bilal suggestion better know:
- [ ] Move the data models for the more complex shared UI components (e.g., table, visualization, table of contents) to a separate shared library
- [ ] Change the apps to import the data models from this shared UI component data model library rather than from the shared UI component library

This would provide more separation of (a) data model

[2020-12-15 04:49] gmarupilla commented on #1723
Here's another approach:
We're only getting these unrelated logs while downloading the omex. What if we replace `wget <OMEX URL>` with `wget <OMEX URL> 1>/dev/null 2>&1` ?

I think this should solve our problem?

[2020-12-15 04:51] jonrkarr commented on #1464
This is a nice feature to have, but not critical. At least until people are submitted lots of jobs, I think the use case for this is minimal. Users aren't harmed by not being able to cancel jobs.

[2020-12-15 04:54] bilalshaikh42 commented on #1723
I originally thought this was the easier approach. Only problem, this would
prevent us from being able to view the logs internally to debug issues.
Currently, there are a few jobs missing omex files, and the logs are needed
to determine if the download worked or not.

On Mon, Dec 14, 2020 at 11:49 PM GMarupilla <notifications@github.com>
wrote:

[2020-12-15 04:55] jonrkarr commented on #1723
This doesn't seem like a critical issue to address. I think the modern approach (e.g., GitHub actions, Read the Docs, Circle CI) is for users to get complete logs that encompass logs related to the application itself. Following this has the added advantage of not requiring any work.

[2020-12-15 04:58] jonrkarr commented on #1723
To clarify, I don't think this is a bug. In fact, it could be considered a feature. The current logs are a feature in that they show exactly what runBioSimulations did. One could argue this is good for reproducibility.

Building on this, perhaps we should display to users exactly the commands we used to run the simulation. This is inspired by GitHub actions, CircleCI, etc. which display the exact

[2020-12-15 05:08] #1741 closed, assigned to nobody

[2020-12-15 05:10] bilalshaikh42 commented on #1723
This makes sense. We would need to have some change to the display at
least, as currently even successful downloads appear as red errors. That
was the what initially caught my eye as a potentially confusing message for
the end user

On Mon, Dec 14, 2020 at 11:58 PM Jonathan Karr <notifications@github.com>
wrote:

[2020-12-15 05:14] jonrkarr commented on #1723
I agree with that. This is similar to what I had in mind with #1626.

For now, we could change the color of the error output to reduce the emphasis on stderr that aren't problematic errors.

Another thing that could be done is to store logs separately for each step similar to what GitHub actions does. This would help users make sense of where errors are coming from.

[2020-12-15 05:17] bilalshaikh42 commented on #1736
This might actually be an approach that can address #1712

[2020-12-15 05:18] bilalshaikh42 commented on #1721
Done in #1739

[2020-12-15 05:18] #1721 closed, assigned to nobody

[2020-12-15 05:18] bilalshaikh42 commented on #1720
Done in #1739

[2020-12-15 05:18] #1720 closed, assigned to nobody

[2020-12-15 05:18] bilalshaikh42 commented on #1719
Done in #1739

[2020-12-15 05:18] #1719 closed, assigned to nobody

[2020-12-15 05:20] bilalshaikh42 commented on #1726
That would certainly work better. Is a json file even needed? Is a list of ids sufficient to load in the information?

[2020-12-15 05:25] jonrkarr commented on #1726
The file could look like this:
[code]

The simulation service is already set up to use the API to load the other attributes of each simulation. This might require a slight edit to the simulation service which manages the local storage and simulations table to accept `undefined` for the value of every other attribute.

[2020-12-15 05:27] jonrkarr commented on #1726
I can take care of making the UI work with this.

[2020-12-15 17:09] jonrkarr opened #1754 "Automate checking that Docker images can be converted to singularity as non-root user"
To enable #1602, we need to automate the generation of singularity images. There's multiple possibilities including

- Integrating this into the workflow for accepting simulators into the registry: convert image and save image to a repository
- Make pulling the Docker image and conversion to singularity (if necessary) part of running a simulation

[2020-12-15 17:11] jonrkarr opened #1755 "More prominently indicate that a simulation is in progress"
- [ ] E.g., add spinners to rows in the simulations table
- [ ] Add similar indicator to view simulation component

[2020-12-15 17:37] bilalshaikh42 commented on #1627
This was done in #1709

[2020-12-15 17:37] #1627 closed, assigned to nobody

[2020-12-15 17:41] bilalshaikh42 commented on #1713
This is done, but with a caveat.
The gh_token in still tied to @jonrkarr.
I have added token from the daemon account, but have removed the daemon accounts admin permission.

This is because the branch protection rules are not enforced for admins, and any action with the admin token can bypass checks. This causes the branches to be merged in even if tests are failing.

I moved over the actions that

[2020-12-15 17:41] #1713 closed, assigned to nobody

[2020-12-15 17:58] jonrkarr commented on #1713
I don't quite understand this:

It looks like you updated the organization `GHCR_USERNAME` and `GHCR_TOKEN` secrets. This means that the GitHub actions on the biosimulations repo will no longer use the token I create previously from my account. (i.e., the token that the actions use is no longer linked to my account). Thus, I can delete the old token, ensuring it can no longer be used anywhere.

[2020-12-15 18:18] gmarupilla commented on #1754
In the first approach, we need to set up the GH actions container to convert docker to singularity and then use any singularity registry to save the built singularity images.

In the second approach, if we build a singularity image on every simulation, it'll take a lot of time to start a simulation unless we use some cache to cache the previously built image.

I think the first approach is way cle

[2020-12-15 18:31] jonrkarr commented on #1754
Either way, there should be a local cache of Singularity images so images don't need to be pulled for each simulation. It the cache gets too big, we can use a LRU policy and start deleting images that haven't been used recently.

I could incorporate generation of Singularity images into the [register simulator workflow](https://github.com/biosimulators/Biosimulators/blob/dev/.github/workflows/comm

[2020-12-15 18:50] bilalshaikh42 commented on #1713
It seems like you had a couple of tokens. One was for pushing images, but
there is still one that was being used by some actions. For example some of
the automated commits would be credited to you account, since it was your
token being used. I have changed those actions to use the daemon account.
There is still a token registered to you account, but I am working on
changing the actions that use th

[2020-12-15 18:54] bilalshaikh42 commented on #1754
I like the idea of posting to singularity hub. Then, the simulators database can include an additional format in the images section of the metadata.
The dispatch job can then use the singularity hub URL for each simulation run.  I assume that singularity, like docker, will keep a local cache automatically and will not re download the singularity images that it does not need to.

[2020-12-15 18:55] bilalshaikh42 commented on #1754
Though, I think it would be better to have a separate action to build the singularity images that is triggered by an update to the container registry. This would account for any rebuilds that we might do, as well as test tags that we need to push

[2020-12-15 18:59] jonrkarr commented on #1713
My account only had 1 token. I don't believe this is stored in any secrets anymore. I just deleted this one token. We can now be sure that token is no longer being used.

Some of the steps may be setup to run as the user who pushed the commits (or labels). This uses the `$github.actor`/`$GITHUB_ACTOR` variable.

[2020-12-15 18:59] bilalshaikh42 commented on #1754
Singularity Hub seems to a be an academic project that could fit our needs. It would be especially important that we use a local cache however
https://singularityhub.github.io/singularityhub-docs/2019/security-release/

[2020-12-15 19:02] jonrkarr commented on #1754
I can set this up as an action on pushing containers to GHCR. That's better than what I suggested.

[2020-12-15 19:03] bilalshaikh42 commented on #1754
So looking into it more, I don't think singularity hub would work. It seems to require connection to git repo with recipe files, and does not have a way to push built images.

[2020-12-15 19:11] bilalshaikh42 commented on #1754
Looking at this documentation here, I think it might actually be sufficient to just run the singularity pull command from the GHCR.

Doing something such as  singularity pull docker://ghcr.io/biosimulators/gillespy2:1.5.6 should create the image for us, and cache it. We might just be able to add this to the sbatch script. I can look into this.

https://singularity.lbl.gov/docs-docker

[2020-12-15 19:23] bilalshaikh42 commented on #1754
I did just try this, and it seemed to have worked. Rather than point singularity to a precreated image on the cluster, I pointed it to the dockerhub container registry URL.  The image was downloaded, converted, cached, and then run. This took longer than the usual simulations, but hopefully the next run will be faster.

[2020-12-15 19:24] bilalshaikh42 commented on #1754
I would like to run this by @mpw6 and @moraru, but it seems that we can just change our script slightly, and not worry about building the images at all

[2020-12-15 19:27] jonrkarr commented on #1754
Looking more, Singularity Hub might be tough. Overall, it seems to be an academic project that's still a bit immature. In addition, to what Bilal suggested, it has a bunch of limits on number of builds, pulls, etc. I don't think it was designed with the intention of someone using this to build a domain-specific container registry. I think we'd need to reach out to them to allow our account to bypa

[2020-12-15 19:27] bilalshaikh42 commented on #1754
The image was created and cached the same way that it would have been if done manually
`INFO:    Creating SIF file...
INFO:    Build complete: /home/FCAM/crbmapi/.singularity/cache/oci-tmp/4674a8025b15e1dde4113e0b15b426af6aa93f456345b0dcef022f58609af161/gillespy2_latest.sif
INFO:    Image cached as SIF at /home/FCAM/crbmapi/.singularity/cache/oci-tmp/4674a8025b15e1dde4113e0b15b426af6aa93f456345b0d

[2020-12-15 19:39] bilalshaikh42 commented on #1754
I can confirm that the image did not need to be built the second time, it proceeded straight to running it. There was no output however, but actually an error. The docker image is able to produce the correct output. @jonrkarr is the gillespy2:latest tag up to date?
 XPaths must reference unique objects. The following XPaths do not match any objects:
  - /sbml:sbml/sbml:model/sbml:listOfSpecies/sbm

[2020-12-15 19:59] jonrkarr commented on #1754
This looks good to me. The simulation correctly generated an error because the SED-ML references an target (XPATH) that doesn't exist in the SBML file. In this case, BUD is a variable, not a species. The SED-ML file in BioModels is actually invalid.

The target should have been this:
[code]

Note, I haven't yet had time to cleanup the examples collated into biosimulators_test_suite. Some of the th

[2020-12-15 20:04] bilalshaikh42 commented on #1754
Huh. It seems then that the gillespy2 image did not update yesterday as I had thought. The current singularity image does produce the output, like it use to before the fix

[2020-12-15 20:05] bilalshaikh42 commented on #1754
I was able to confirm with the tellurium image, that a direct pull from dockerhub will work. I will confirm that this is okay with mike and ion and then update the service

[2020-12-15 20:23] bilalshaikh42 commented on #1754
https://sylabs.io/guides/3.7/user-guide/singularity_and_docker.html#best-practices
@jonrkarr  This link provides some documentation into the constraints that the docker image must satisfy to be compatible with this approach. I dont see us running into any issues, but we should pin this to the documentation to ensure that all containers built for simulators are following these priciples

[2020-12-15 20:38] bilalshaikh42 commented on #1754
This seems to be a registry where we can upload singularity containers independently of running them on the hpc
https://cloud.sylabs.io/library

The @biosimulators-daemon account has been connected to the biosimulators username on syslabs.

[2020-12-15 21:16] bilalshaikh42 commented on #1754
Here is an example container pushed  to the registry, https://cloud.sylabs.io/library/biosimulators/default/gillespy2
 I was able to use the online builders that are provided. It is also possible to use the cli

[2020-12-16 03:08] jonrkarr commented on #1754
I created biosimulators/Biosimulators#24 to build workflow for generating and pushing Singularity images to Syslab

[2020-12-16 09:16] jonrkarr commented on #1726
PR #1761 adds a UI element with a button to try loading existing simulations.

The list of example simulations are stored here `apps/dispatch/src/app/components/simulations/browse/example-simulations.json`. The only attribute that's needed is the `id` attribute. I kept the others so we can easily see what each example corresponds to.

@moraru, to generate the list of example simulations
1. Clear y

[2020-12-16 15:36] #1755 closed, assigned to nobody

[2020-12-16 16:15] jonrkarr opened #1762 "Support OMEX files > 16 mb"

[2020-12-16 16:16] jonrkarr opened #1763 "Fix simulation results zip download"

[2020-12-16 16:36] jonrkarr commented on #1754
Since Docker images can easily be converted to Singularity, we have decided not to push images to Syslabs, at least until we can get a larger quoata.

Todo
- [x] Add Singularity conversion to image validation workflow
- [x] Add notes about compatibility with Singularity to BioSimulators tutorial and image standards
- [ ] Add documentation about how to use images with Singularity to BioSimulators t

[2020-12-17 02:30] bilalshaikh42 opened #1766 "Handle reports larger than 16mb"
The same limitation in #1762  applies to each report as well.

We will need to find a way to break up the results files into multiple database entries if they are greater than 16mb per report. The simplest solution would be to spit per output variable, but this would be incredibly inefficient for cases with many variables that could have fit into a single document.

One potential patterns that Mon

[2020-12-17 02:33] bilalshaikh42 commented on #1766
@jonrkarr what are your thoughts on this? I am strongly in favor of making this work within the MongoDB framework due to the tools that it would give us for analysis. But I wonder if I am looking at this too narrowly since I am familiar with MongoDB but not other more "big-data" approaches

@moraru  How does vcell store large result sets? Are they just files, or is it possible to do server side an

[2020-12-17 03:10] jonrkarr commented on #1766
First, I think there's two separate questions here:
a. Format that simulators produce data in
b. Format that the database uses to serve slices of data

I think we should stick with HDF5 for (a).

I don't have any preconceptions about (b). Saving each dataset to a separate document could work. That would give a 16 mb limit per dataset, which is still finite, but I think pretty big. Essentially, thi

[2020-12-17 03:31] bilalshaikh42 commented on #1766
Yes, this question did assume HDF5 was the output and was only open regarding part b. By dataset are you referring to each each sedml report? Would this not be limiting for very long simulations with many timepoints? The report could contain multiple variables for the output, which each variable limiting the total number of timepoints possible. I am not sure what the "typical" and "possible" sizes

[2020-12-17 03:49] jonrkarr commented on #1766
In SED-ML terminology, a "dataset" is a row of a HDF5 file. For non-spatial models, 16mb divided by 4 bytes per time point, would support 4 million timepoints -- plenty. However, for a spatial model with a 100 x 100 x 100 grid, this would only support 4 time points. Seems like a problem ...

[2020-12-17 05:49] todo[bot] opened #1768 "use config service"
https://github.com/biosimulations/Biosimulations/blob/dff045e815028ed82b5e09350bfecb9f84235f1e/biosimulations/apps/dispatch-service/src/app/simulation-run/simulation-run.service.ts#L13-L18

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in dff045e815028ed82b5e09350bfecb9f84235f1e. It&#x27;s been assigned to @bilalshaikh42 because they committed th

[2020-12-17 05:56] bilalshaikh42 opened #1769 "Simulators does not display versions"
**Please describe the bug**
A clear and concise description of what the bug is.

**Please describe how to reproduce the bug**
1 https://biosimulators.org/simulators/gillespy2/latest#versions
2 click on versions
3. See versions not displayed
 @jonrkarr Not sure when this bug started, but I dont think it is related to the deployment changes. Could you take a look before the demo?

![Screenshot from

[2020-12-17 05:59] moraru commented on #1766
@bilalshaikh42 vcell has a strongly bimodal distribution of result set sizes - most non-spatial data is in the MB range while most spatial data is in the GB range; what we do is for all non-spatial sims we push the entire dataset to the client, and all processing/filtering/export for whatever purpose (vis/save/etc. happens client-side), and for all spatial sims we do processing and data reduction

[2020-12-17 06:03] moraru commented on #1766
this is also done in conjunction with check-pointing while running: non-spatial solvers will update a single binary result set through the entire run (currently file but could be db entry), while spatial solvers will output periodically to sequential outputstreams (again currently file, but could be object or db entry)

[2020-12-17 06:04] moraru commented on #1766
using hdf5 would bring not only scalability but also great flexibility on what is being done server side vs client side

[2020-12-17 06:56] moraru commented on #1766
@jonrkarr not sure I follow - so leaving the spatial solvers aside for now, an output of an average size model with 50 variables with their values as doubles will use 400 bytes per timepoint; while this is still enough for 10,000 timepoints in 16 MB, which should be OK for "normal" uniform time course output  requests, there are a number of issues with it: (i) for variable time step solvers the un

[2020-12-17 07:03] jonrkarr commented on #1766
Mongo's 16 MB limit is per **document**. In putting results in MongoDB, we could use 1 document per SED-ML dataset (trajectory of a single species in a single simulation). For a model with 50 variables, we could use 50 MongoDB documents. This would maximize the size of the results from a COMBINE archive that could be put into MongoDB.

Assuming, each time point was a float, 16MB could accommodate,

[2020-12-17 07:05] #1687 closed, assigned to jonrkarr

[2020-12-17 07:19] bilalshaikh42 commented on #1766
Got it, so based on this, we will definitely need to move to another datamodel for the spatial models.
But for the non spatial, a one dataset per document approach could work, though this is really not how mongo was intended to be used, so we would probably see much better performance/scalability/fewer implementation bugs  from some other database.

@moraru for the processing of the results server

[2020-12-17 07:22] moraru commented on #1766
OK, we can trim them to floats and break it down that way and stick them in as separate docs.  We could even break down spatial datasets so they fit (one time point/variable combo per doc using floats will allow mesh sizes up to 4 million which would cover maybe 99% of "real life" usage for spatial sims from what I've seen). But the bigger problem is that I don't think that Mongo scales as well as

[2020-12-17 07:23] jonrkarr commented on #1766
Correct, MongoDB is not intended to have huge numbers of documents. That's the issue that Bilal mentioned.

I think we should consider either a hybrid HDF/Mongo approach where MongoDB stores pointers to HDF5 files, or investigate something like a tabular database. The fact that there's no clear technical solution I think is one reason why this kind of data is typically stored ad hoc. Unfortunately

[2020-12-17 07:23] #1769 closed, assigned to jonrkarr

[2020-12-17 16:24] jonrkarr commented on #1623
This is almost ready to unhard code. We should wait for after decision from the NAR editor.

To do this well, the pulling of images from ghcr.io by the simulation service needs to be automated.

- [x] Complete simulator validation workflow
- [x] Change simulator repos to tag images to a different namespaces than `ghcr.io/biosimulators/` -- I think this is only necessary for VCell, the others don't

[2020-12-18 18:17] jonrkarr opened #1781 "Add button to delete simulations from "Your simulations""

[2020-12-18 22:25] #1781 closed, assigned to nobody

[2020-12-18 22:30] jonrkarr commented on #985
Done

[2020-12-18 22:30] #985 closed, assigned to jonrkarr

[2020-12-19 02:00] bilalshaikh42 commented on #1763
The results are being generated and the api endpoint is working. The front end still displays N/A.

[2020-12-20 00:19] jonrkarr opened #1790 "Results retrieval fails for example simulation with VCell"
The results retrieval fails with file not found error:
https://dispatch.biosimulations.dev/results/5fde96f8c5f1aa4f6dcce193?sparse=true

OMEX file: https://github.com/biosimulators/Biosimulators_test_suite/blob/dev/examples/sbml-core/Parmar-BMC-Syst-Biol-2017-iron-distribution.omex

[2020-12-20 00:22] jonrkarr opened #1791 "Update version of VCell image in ghcr.io"
The [Villar example](https://github.com/biosimulators/Biosimulators_test_suite/blob/dev/examples/sbml-core/Vilar-PNAS-2002-minimal-circardian-clock.omex) doesn't work with the version of VCell at `ghcr.io/biosimulators/vcell:latest`. The OMEX file does work with runBioSimulations. I believe the image need to be pushed to `ghcr.io`.

[2020-12-20 00:32] jonrkarr opened #1792 "Pull latest versions of AMICI, COPASI, and GillesPy2 images into runBioSimulations simulation service"
These versions fix the `sedml.variable.modelReference` issue that Ion raise yesterday.

- `ghcr.io/biosimulators/amici:0.11.11`
- `ghcr.io/biosimulators/copasi:4.30.233`
- `ghcr.io/biosimulators/copasi:4.29.227`
- `ghcr.io/biosimulators/copasi:4.28.226`
- `ghcr.io/biosimulators/gillespy2:1.5.6`
- `ghcr.io/biosimulators/gillespy2:1.5.5`
- `ghcr.io/biosimulators/gillespy2:1.5.4`

[2020-12-20 07:37] bilalshaikh42 commented on #1792
Done.

[2020-12-20 07:37] #1792 closed, assigned to bilalshaikh42

[2020-12-20 07:52] bilalshaikh42 commented on #1790
This simulation seems to be the cause of the "Payload too large" errors that were showing up in the logs.
This should be simple fix, assuming it is just the  config that is causing the issue.  There is also a 500 error being return by the api. I'm not able to tell from the logs if that is a separate issue, or somehow caused by the payload limit, but it shouldn't be, since that has a separate error

[2020-12-20 07:58] jonrkarr commented on #1790
On my machine, the CSV file that VCell generates is only 166 kb

[2020-12-20 07:58] jonrkarr commented on #1790
Thanks for looking into this.

[2020-12-20 08:08] bilalshaikh42 commented on #1790
I think https://github.com/biosimulations/Biosimulations/commit/4c0ec843c997d6cc43eb40f8da0a3d10bd20ee39 should have fixed it. We can check at run.biosimulations.dev once it deploys, and merge it into deploy branch if it works.

[2020-12-20 08:08] bilalshaikh42 commented on #1790
I think https://github.com/biosimulations/Biosimulations/commit/4c0ec843c997d6cc43eb40f8da0a3d10bd20ee39 should have fixed it. We can check at run.biosimulations.dev once it deploys, and merge it into deploy branch if it works.

[2020-12-20 08:08] moraru commented on #1790
This is what it should look like on the file system where it is run.

[2020-12-20 03:04.53]  ~
[IonMoraru.phoenix] → ls -al /drives/c/tmp/biosim/CLI/simulation/*csv
-rwxrwx---    1 IonMorar UsersGrp     96295 Dec 20 03:03 /drives/c/tmp/biosim/CLI/simulation/tsk_0_0.csv
-rwxrwx---    1 IonMorar UsersGrp     96295 Dec 20 03:03 /drives/c/tmp/biosim/CLI/simulation/tsk_0_1.csv
-rwxrwx---    1 IonMorar

[2020-12-20 08:12] bilalshaikh42 commented on #1790
I see only one file output as simulation_1.csv

[2020-12-20 08:14] moraru commented on #1790
that may be a different test that I just ran - what uuid you looking at?

[2020-12-20 08:15] bilalshaikh42 commented on #1790
This is for the attached omex in this issue that Jonathan posted

[2020-12-20 08:16] moraru commented on #1790
sorry, did not pay attention - i was referring to the issue i posted yesterday where only 4 of the 6 sims show up in the  viz selector

[2020-12-20 08:16] moraru commented on #1790
that one was for vilar example

[2020-12-20 08:25] bilalshaikh42 commented on #1790
Ah i see. Can't find that issue now, but i remember reading it. That might be the same issue. The deployment on run.biosimulations.dev might have that fixed now.

[2020-12-20 08:27] moraru commented on #1790
maybe, maybe not - there seems to be an issue with output not found that happens just for cvode; will describe in a new issue

[2020-12-20 08:32] moraru opened #1796 "sim results from cvode solver in vcell seem to be missing"
multiple sim run with vcell shows only 4 out of 6 sims:
https://run.biosimulations.org/simulations/5fdda8358b0da07b332ffa5a
both missing sims are the two cvode alg ones

running edited omex with single sim using cvode produces error 500 on viz attempt (presumably no results found)

this is reproduced with two different single sim models:
https://run.biosimulations.org/simulations/5fdf02f5391352356

[2020-12-20 08:36] moraru commented on #1790
opened up #1796

[2020-12-20 08:38] #1790 closed, assigned to moraru, bilalshaikh42

[2020-12-20 08:42] bilalshaikh42 commented on #1796
Does this look correct for the output?

[code]

[2020-12-20 08:50] moraru commented on #1796
Yes, correct.
- the 0_0 and 0_1 files are the ones that aren't showing up in the viz selector
- also, the .stochinput files should be ignored and are harmless - litter due to Akhil forgetting to put the cleanup routine for intermediate files in one of the solver handlers (Gibson); and they'll go away after we update the VC image

[2020-12-20 08:52] bilalshaikh42 commented on #1796
This seems to be the same root issue as #1790
Does this contain the correct output?
https://run.biosimulations.org/simulations/5fdf1065f10d6881fa393b44#tab=design-viz

[2020-12-20 08:54] moraru commented on #1796
yes, yay!

[2020-12-20 08:54] #1796 closed, assigned to nobody

[2020-12-20 08:55] #1763 closed, assigned to nobody

[2020-12-20 09:57] moraru opened #1797 "Some successful simulation runs do not show log or results"
single sim run with tellurium succeeds, but two links seem broken

the job is:
[code]

clicking on either log or viz produces error 500 empty page

clicking on download works, returning a zip file containing logs and a pdf file of results report which looks ok

[2020-12-20 19:06] gmarupilla commented on #1791
I merged the latest changes in [Biosimulators_vcell](https://github.com/biosimulators/Biosimulators_VCell) from [vcell](https://github.com/virtualcell/vcell) and pushed the docker image to ghcr.io, and built singularity on HPC with version `7.3.0.1p`. The [OMEX](https://github.com/biosimulators/Biosimulators_test_suite/blob/dev/examples/sbml-core/Vilar-PNAS-2002-minimal-circardian-clock.omex) file

[2020-12-20 19:18] moraru commented on #1791
@gmarupilla the patch branch is the wrong one to use for images as it does not have any of the omex and sedml fixes in it, please pull back ASAP.  You must merge from the trunk until I tell you to make a new reference tag.

[2020-12-20 20:15] jonrkarr opened #1799 "Simulation fails for unknown reasons, unrelated to simulators"
- Simulation id: 5fdfae6ca2f1af479ae5c30a, [OMEX file](https://github.com/biosimulators/Biosimulators_test_suite/blob/dev/examples/sbml-core/Parmar-BMC-Syst-Biol-2017-iron-distribution.omex)
- Simulation id: 5fdfadc5a2f1af748fe5c302, [OMEX file](https://github.com/biosimulators/Biosimulators_test_suite/blob/dev/examples/sbml-core/Caravagna-J-Theor-Biol-2010-tumor-suppressive-oscillations.omex)

[2020-12-20 20:16] jonrkarr commented on #1799
I don't think its related to VCell. I ran the simulation again with VCell, and it succeeded.

[2020-12-20 20:30] jonrkarr commented on #1797
I suspect this is related to the simulation service, rather than the tellurium image. The tellurium image has no role in whether logs are saved, retrieved, or displayed.

[2020-12-20 20:41] moraru commented on #1791
@gmarupilla commit [c3f834](https://github.com/virtualcell/vcell/commit/c3f834cd0e89ea2e76497bd4c8bff2c6887e51e7) is vcell repo ready
Please:
- [x] create new tag 7.3.0.07
- [x] deploy vcell alpha
- [x] merge source on biosim repo
- [x] make new image
- [ ] update runbiosimulations and docker repository with new image

[2020-12-20 20:45] moraru commented on #1797
i have same problem running with vcell image - it runs succesfully, download button works, viz and log links show error 500

https://run.biosimulations.org/simulations/5fdf08f0391352059f26ecb9

[2020-12-20 21:02] jonrkarr commented on #1797
In this instance, the problem is because the results API returns a 404 error
https://run.api.biosimulations.org/results/5fdf08f0391352059f26ecb9?sparse=true

The UI is just passing along this error to the user

[2020-12-20 21:05] moraru commented on #1797
but why is the download button working?  are there different API calls to fetch the results, some which work and some which do not?

[2020-12-20 21:07] jonrkarr commented on #1797
They're different endpoints.
- 1 endpoint retrieves a zip archive of CSV files which is produced when the simulation results are first saved.
- A second endpoint retrieves the results as a JSON data structure.

[2020-12-20 21:54] moraru commented on #1797
It actually is specific to tellurium, and it actually depends on the omex file.
This happens when tellurium produced PDF instead of CSV.
The API is correct as it is being asked for CSV but there is none.

[2020-12-20 22:00] jonrkarr commented on #1797
To help us debug, please post the OMEX files associated with each error.

Whether or not a CSV file is produced depends on whether a `report` is defined in the SED-ML file. tellurium not generating a CSV file is not a tellurium error.

This sound like a problem with the simulation results service. The service should not fail when the simulator correctly did not produce CSV files.

[2020-12-20 22:26] moraru commented on #1797
1. I think the service is correct with regard to CSV.  It has no way of knowing whether there should be or not a CSV output, it just says there isn't one.

It is the UIs job to populate the links depending on the outcome and handle the absence of the CSV file. If there is no CSV data, thus nothing to visualize, the link for visualization should not be there.

2. For the log files, I am not sure wh

[2020-12-20 23:29] jonrkarr commented on #1797
This requires more discussion. Right now, I don't think that the API response is distinguishing between (a) results were not generated (i.e. not results were requested) and (b) results could be returned. The UI needs the API to return two different responses for these scenarios because the latter is an error that needs to be communicated to users. Until this is the case, we cannot complete the UI.

[2020-12-20 23:56] moraru commented on #1797
Something went wrong with the change in UI.  The viz column disappeared completely and clicking on any of the actual runs has the viz part grayed out, even for the runs that do have CSV results.

[2020-12-21 00:07] moraru commented on #1797
on the other hand, viewing the logs now works on all runs, no longer returns the error 500 on any of them

[2020-12-21 02:29] jonrkarr opened #1801 "What error code does the results API return when the simulation run correctly didn't generate a report?"
Ion raised an issue about runBioSimulations incorrectly handling the case when a simulation run doesn't request a report (no `sedml:report` element), and therefore the simulator doesn't generate any reports.

In this scenario, does the results API return an error? If so, what is the code/message? and is this a distinct error code/message distinct from that of other responses such that the frontend

[2020-12-21 02:38] jonrkarr opened #1802 "Add information about whether reports were generated to `/run/{id}` dispatch API"
Similar to #1801, we need to distinguish between cases where

- A simulation run correctly generated no reports (because the SED-ML didn't include a `report` element). In which case, there is no simulation data which can be visualized.
- API could not returned the outputted simulation results.

In the former case, even we a simulation succeeds, we don't want to display a button in the simulations

[2020-12-21 04:40] bilalshaikh42 commented on #1801
I am having a bit of trouble following the discussion across the issues, so excuse any repetitive discussion.

Essentially, the results endpoint will return the results if they are available and return a 404 if they are not. It is not aware whether or not the results were supposed to be generated by the sedml. All it know is whether or not the results exist in the database.

The results are added

[2020-12-21 04:41] bilalshaikh42 commented on #1801
I see the problem now, which is that the front end will enable the chart tab upon the simulation run being successful rather than based on the presence of the results. The quickest fix to this would be to change the conditional to check if there are results reported before giving the option to view the visualization.

[2020-12-21 04:44] bilalshaikh42 commented on #1802
The results structure endpoint was the older endpoint used when retrieving the results was a two step process. I am not sure if it still works/provides correct information and was planning to remove it

The run/id endpoint does not return any information if there was no results generated. It would simply return a 404 if it is unable to find any results.

[2020-12-21 04:51] jonrkarr commented on #1801
No need to try and fix this right now. We can discuss when we meet. I'm adding issue to help track what needs to be done.

[2020-12-21 05:23] jonrkarr opened #1804 "Some simulations remain in running state and never complete"
Example: https://run.biosimulations.org/simulations/5fe02efd174a537213e9d9ae
[OMEX](https://github.com/biosimulators/Biosimulators_test_suite/raw/dev/examples/sbml-core/Ciliberto-J-Cell-Biol-2003-morphogenesis-checkpoint.omex), although I don't think this is related to the specific OMEX file

[2020-12-21 06:20] jonrkarr commented on #1804
This eventually failed, but it took much longer than it should have

[2020-12-21 17:02] moraru opened #1810 "Restore viz column in simulations table | make API return enough information for table to know whether there is data that can be visualized"
The viz column disappeared completely and clicking on any of the actual runs has the viz part grayed out, even for the runs that do have CSV results.

[2020-12-21 17:57] jonrkarr commented on #1810
This is already discussed in #1797. The Viz column was intentionally removed because the API doesn't provide enough information to know whether there are results are not. The API only says whether there was an output (report OR plot), whereas viz requires at least one report.

The visualization is still working. You may need to refresh your browser. If you still see the error, please post a specif

[2020-12-21 18:10] moraru commented on #1810
Hard refresh of the browser worked, design chart tab is no longer grayed out on the runs that do have results.

However, it seems that the simulations detail page is able to distinguish on a successful run whether it has CSV output (tab available) vs PDF output (tab greyed out) - shouldn't it be possible then to use the same logic to populate the viz links column?

[2020-12-21 18:14] jonrkarr commented on #1810
Yes, the simulations table component needs to subscribe to another endpoint which has this information, as the view simulation component is doing. I haven't had time to do this yet. I've been working to make sure 5 simulation tools are working with examples for each.

[2020-12-21 18:28] gmarupilla commented on #1791
I created a tag with [7.3.0.07](https://github.com/biosimulators/Biosimulators_VCell/releases/tag/7.3.0.07), with the latest changes on [Biosimulators_vcell](https://github.com/biosimulators/Biosimulators_VCell), but I'm having a hard time pushing the image to the ghcr.io using the [CD pipeline](https://github.com/biosimulators/Biosimulators_VCell/runs/1590240398?check_suite_focus=true). I can bui

[2020-12-21 18:48] jonrkarr commented on #1791
The CD pipeline is rerunning.

I'm working toward changing the pipeline NOT to push to the top-level container namespace (`ghcr.io/biosimulators`). Simulator repos should NOT push here. The validation workflow will push containers to that namespace. This allows us to separate between the images we're building for simulation tools and all images received by BioSimulators. Simulator repos should pus

[2020-12-21 23:04] bilalshaikh42 commented on #1791
Just seeing this now. Akhil were you able to push the image?

On Mon, Dec 21, 2020 at 1:49 PM Jonathan Karr <notifications@github.com>
wrote:

[2020-12-21 23:07] jonrkarr commented on #1791
Its now tagged with `ghcr.io/biosimulators/vcell:7.3.0.07` and `ghcr.io/biosimulators/vcell:latest`

[2020-12-22 05:45] moraru commented on #1791
I don't see 07 in the version list on the run page.  Refreshing browser did not help.

[2020-12-22 05:56] gmarupilla commented on #1791
#1798 has the required change.

[2020-12-22 22:28] jonrkarr commented on #1754
Done except merging docs in dev branch

[2020-12-22 22:29] jonrkarr commented on #1441
Done

[2020-12-22 22:29] #1441 closed, assigned to jonrkarr

[2020-12-22 22:29] jonrkarr commented on #1360
Move to biosimulators, biosimulators-test-suite repos

[2020-12-22 22:29] #1360 closed, assigned to jonrkarr

[2020-12-22 22:31] jonrkarr commented on #998
Moved to biosimulators-test-suite

[2020-12-22 22:31] #998 closed, assigned to nobody

[2020-12-22 22:32] jonrkarr commented on #997
Moved to biosimulators-test-suite

[2020-12-22 22:32] #997 closed, assigned to nobody

[2020-12-22 22:33] jonrkarr commented on #1004
Done in biosimulators-test-suite

[2020-12-22 22:33] #1004 closed, assigned to nobody

[2020-12-23 06:41] #1754 closed, assigned to jonrkarr

[2020-12-23 16:00] jonrkarr commented on #1726
Implemented by `apps/dispatch/src/app/components/simulations/browse/example-simulations.json`

[2020-12-23 16:00] #1726 closed, assigned to nobody

[2020-12-23 16:09] jonrkarr commented on #1324
Closed. Only Google accounts allowed.

[2020-12-23 16:09] #1324 closed, assigned to bilalshaikh42

[2020-12-23 22:21] bilalshaikh42 opened #1823 "How are static routes generated for the sitemap?"
Are static routes generated manually? If so, would adding them to the python script and then outputting all the routes to the same                   sitemap.xml file be equivalent?

[2020-12-23 22:49] jonrkarr commented on #1823
Short answer: yes.

The static routes are generated by hand. They're saved to an XML file.

There's no reason why the sitemap has to be divided into 2 files. I just chose to do it that way. Equivalently, all of the URLs could be in on file.

Yes, alternatively the Python script could produce a single sitemap XML file with all of the "static" and dynamic (those which depend on the content in the da

[2020-12-23 23:23] bilalshaikh42 commented on #1823
Great. I made a change to the generation in #1824  and also added the routes for the simulator standards.
Let me know if there are any issues.

[2020-12-23 23:29] jonrkarr commented on #1823
I glanced. It looks good. Google will complain if it isn't.

Thanks for including the routes for the standards pages.

Ideally, the whole sitemap would be dynamically generated from the application. I couldn't figure out a way to do it. With enough effort I'm sure we could figure out a way, but with relatively little effort we can get 95% of the way to automating the sitemap. The static routes jus

[2020-12-24 01:24] #1823 closed, assigned to jonrkarr

[2020-12-24 03:23] #1791 closed, assigned to moraru, gmarupilla

[2020-12-27 18:23] bilalshaikh42 commented on #1804
Based on the logs, this seems to be an issue with the HPC and not the current codebase. We are switching over the host for the jobs to a dedicated node, which would help us debug this.
I'll close and we can create a new issue if we run into further issues

[2020-12-27 18:27] bilalshaikh42 commented on #1799
Both jobs ran successfully on the HPC. If they were marked as failed, this was because the service was unable to connect to the hpc and get the updated status, and thus defaulted to failed to handle the error. The new host for the hpc should help with this as well, and I can create a new issue to handle ssh timeouts a little more robustly.
This is likely tied to #1712

[2020-12-27 18:27] #1799 closed, assigned to nobody

[2020-12-28 04:35] #1100 closed, assigned to bilalshaikh42

[2020-12-28 04:35] todo[bot] opened #1836 "use the database for logs, remove the connection to nfs"
https://github.com/biosimulations/Biosimulations/blob/2809e56fd6da17bc51d79ecfb1baeea06d1fd60a/biosimulations/apps/dispatch-api/src/app/app.service.ts#L16-L21

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2809e56fd6da17bc51d79ecfb1baeea06d1fd60a when #1832 was merged. cc @biosimulations.

[2020-12-28 04:35] todo[bot] opened #1837 "this is not really a service, just use the config map and remove this, or add so..."
https://github.com/biosimulations/Biosimulations/blob/2809e56fd6da17bc51d79ecfb1baeea06d1fd60a/biosimulations/libs/config/angular/src/lib/config.service.ts#L3-L8

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2809e56fd6da17bc51d79ecfb1baeea06d1fd60a when #1832 was merged. cc @biosimulations.

[2020-12-28 04:35] todo[bot] opened #1838 "update these"
https://github.com/biosimulations/Biosimulations/blob/2809e56fd6da17bc51d79ecfb1baeea06d1fd60a/biosimulations/libs/config/nest/src/lib/biosimulations-urls-config.ts#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2809e56fd6da17bc51d79ecfb1baeea06d1fd60a when #1832 was merged. cc @biosimulations.

[2020-12-28 04:35] todo[bot] opened #1839 "this is not really a service, just use the config map and remove this, or add so..."
https://github.com/biosimulations/Biosimulations/blob/df02c50ac93c466f4ddf8fe58f1411aa3db1ec29/biosimulations/libs/config/angular/src/lib/config.service.ts#L3-L8

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in df02c50ac93c466f4ddf8fe58f1411aa3db1ec29. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2020-12-28 04:38] #1837 closed, assigned to nobody

[2020-12-28 06:22] bilalshaikh42 opened #1841 "Re-add email field to dispatch form"
Basic email notifications are now working

[2020-12-28 06:23] bilalshaikh42 opened #1842 "Create HTML email templates"
Basic email notifications are working, with a text only  one sentence notification. This can be implemented as a html template to provide a better experience.

[2020-12-28 06:24] bilalshaikh42 opened #1843 "Add authentication to get email information for runs"
Simulation run should not return the email from the database unless from an authorized app (eg mail-service)

[2020-12-28 06:27] bilalshaikh42 opened #1844 "Create wrapper for nats client"
Creating a decorator around the nats client emit function for sending messages will allow for static type checking of the message structures

[2020-12-28 06:29] bilalshaikh42 commented on #1768
Done

[2020-12-28 06:29] #1768 closed, assigned to bilalshaikh42

[2020-12-28 06:30] bilalshaikh42 opened #1845 "Remove duplication of Dispatch api client and authentication methods"
The dispatch api client code and the authentication code is duplicated
The authentication client needs to be moved to a library so that all apps can use it to authenticate to each others api's.

[2020-12-28 06:40] jonrkarr commented on #1841
The email input just needs to be uncommented in the HTML template

[2020-12-28 06:55] jonrkarr commented on #1842
Here's the template Akhil and I started in #1067, updated for the current app.

Subject:
[code]

Body:
[code]

[2020-12-28 17:54] bilalshaikh42 commented on #1405
Is json the only language needed currently?

[2020-12-28 18:09] jonrkarr commented on #1405
We're currently using just two:
- `json`
- `dockerfile`

[2020-12-28 18:50] #1405 closed, assigned to bilalshaikh42

[2020-12-28 18:53] jonrkarr commented on #992
PySCeS image is almost ready.

[2020-12-28 19:23] bilalshaikh42 commented on #705
Jaeger tracing is enabled for the dev deployment. The UI is available at
https://tracing.api.biosimulations.dev

We now need to send logging messages to the collector:
https://github.com/biosimulations/Biosimulations/wiki/Tracing

[2020-12-29 07:29] jonrkarr commented on #992
Done. Ready to incorporate into runBioSimulations.

[2020-12-29 08:41] jonrkarr opened #1851 "Read simulation status output into simulations database"
The simulator containers built with BioSimulators-utils (AMICI, COPASI, GillesPy2, PySCeS and soon BoolNet, BioNetGen, CBMPy, COBRApy) will save status information when they are next rebuilt.

These containers will also now produce reports (and eventually plots) progressively. Meaning,
- Reports will be initialized once the first task completes.
- Once at least one data set of a report has been ge

[2020-12-30 17:56] #992 closed, assigned to jonrkarr

[2021-01-01 08:24] jonrkarr commented on #989
Done

[2021-01-01 08:24] #989 closed, assigned to jonrkarr

[2021-01-02 19:20] jonrkarr opened #1862 "Allow more flexibility in descriptions of licenses of simulation tools"
- [ ] SPDX expression (e.g., `GPL OR LGPL`): See
  - https://spdx.dev/spdx-specification-21-web-version/#h.jxpfx0ykyb60
  - https://www.npmjs.com/package/spdx-expression-parse
  - https://www.npmjs.com/package/@types/spdx-expression-parse
- [ ] Allow non-SPDX licenses
  - In this case, capture a URL where the license is located

[2021-01-02 19:22] jonrkarr commented on #1331
Done. Created separate issue for key remaining open item (more flexibility in descriptions of licenses -- see #1862).

[2021-01-02 19:22] #1331 closed, assigned to jonrkarr

[2021-01-02 21:17] jonrkarr commented on #1804
Here's another example of a simulation that was in the CREATED state for a while
https://run.biosimulations.dev/simulations/5ff0e1a589a8e747380ad097

[2021-01-02 21:24] jonrkarr opened #1863 "Recent changes break example simulations for runBioSimulations.dev"
Attempting to view the example simulations:
https://github.com/biosimulations/Biosimulations/blob/dev/biosimulations/apps/dispatch/src/app/components/simulations/browse/example-simulations.json

Generates this error in run.biosimulations.dev.
[code]

Note, this doesn't impact the deployed version at run.biosimulations.org.

It appears that the examples saved in the database are not compatible with

[2021-01-03 21:18] jonrkarr opened #1866 "Cleanup old Docker images for BioSimulations in BioSimulations DockerHub organization"
These should be removed to avoid confusion with the newer images in GHCR

[2021-01-03 21:48] bilalshaikh42 commented on #1863
I don't remember making any changes to the dispatch code. I am able to run new simulations, and the api seems to be returning the data correctly.  However, for the example runs, the data is not being returned. There must be some issue with reading the files correctly on the HPC.
Im pretty sure this is caused by the results files not being copied over to the dev environment properly. I can try to g

[2021-01-03 22:10] bilalshaikh42 commented on #1863
This was caused by an error in the exporting of the results data from the old database to the  dev database. This is now fixed, though some of the recent runs on the dev environment may not be found

[2021-01-03 22:11] #1863 closed, assigned to bilalshaikh42

[2021-01-03 22:15] bilalshaikh42 commented on #1866
Done

[2021-01-03 22:15] #1866 closed, assigned to bilalshaikh42

[2021-01-03 22:17] bilalshaikh42 commented on #1862
1. What is the use case for this issue? I am not sure what the SPDX expression parsing is needed for.

2. What are the licences needed that are not in SPDX?

[2021-01-03 22:19] bilalshaikh42 commented on #1862
Okay, regarding 1, I see now what the use case  is. Some simulators may have dependencies or require binaries/components under separate licence terms.

[2021-01-03 22:21] bilalshaikh42 opened #1867 "Consider moving test suite code from Biosimulations_utils to Biosimulations_COMBINE_archive_test_suite"

[2021-01-03 22:21] #1867 closed, assigned to nobody

[2021-01-03 22:22] bilalshaikh42 opened #1868 "Proof read website"
Created from project to keep track of task

[2021-01-03 22:24] bilalshaikh42 commented on #1464
I think we can close this.
1. The jobs will eventually complete/fail and dont really need to be cancelled
2.  The events mentioned in the code above have been changed and are no longer produced

[2021-01-03 22:24] #1464 closed, assigned to gmarupilla

[2021-01-03 22:27] jonrkarr commented on #1862
This isn't critical.

(1) Some simulators have licenses such as `LGPL OR GLPL`. Currently, we're forcing simulators to choose 1 license to curate.

(2) Here's a few examples of non-SPDX licenses which I currently have annotated as `null`
- [BioUML](https://bio-store.org/#!static/terms_and_conditions)
- [CellNetAnalyzer](http://www2.mpi-magdeburg.mpg.de/projects/cna/license.html)

[2021-01-03 22:28] jonrkarr commented on #1464
I agree this isn't critical, certainly not now. However, this is something that Ion asked for.

[2021-01-03 22:30] jonrkarr commented on #1868
I quickly proofread run.biosimulations.org and biosimulators.org around 12/15. Someone else should do this again before we submit papers.

[2021-01-03 22:33] bilalshaikh42 opened #1869 "Dispatch API is not tolerant of Dispatch-Service failures"
If the dispatch service fails to submit a simulation, the dispatch api marks the simulation run as created and then does not ever update the state.  Subsequent queries of the simulation run will continue to return "created" as the status.
This can be addressed in a few ways

1) Wait for a response, and if received with a certain amount of time, resend messages. After a few tries mark as failed
2)

[2021-01-03 22:43] bilalshaikh42 commented on #1804
This is caused by the ssh connection to the HPC not responding. I am planning to work on handling the error in #1869

[2021-01-03 22:48] bilalshaikh42 commented on #1851
Parsing yaml won't be a problem. Same steps json, but a different package. Simply do YAML.parse() rather than JSON.parse(). [yaml package](https://www.npmjs.com/package/yaml)

[2021-01-03 22:57] bilalshaikh42 commented on #1851
1. Is the archive status ever set to `QUEUED`? Since we are having only one archive running at a time, I worry that a top level status will cause confusion with the status of a simulation run job.
2. Can archives have a status of `SUCCEEDED` if a task or report was skipped due to not being supported? Can reports be successful independent of tasks that they depend on?
3. Does  a simulation run that

[2021-01-03 23:09] bilalshaikh42 commented on #1624
Code section was updated

[2021-01-03 23:10] bilalshaikh42 commented on #1851
For updating the status to the database, is this also intended to be done through some sort of polling mechanism? This would be possible to implement but lead to some of the same issues that we are having currently with the NFS connection and SSH connection. It would also be another task that in kept in the dispatch-service as a stateful component. (#1711 #1714 #1712)

We could create some sort of

[2021-01-03 23:33] jonrkarr commented on #1851
## 1
- The archive status is only briefly set to `QUEUED`
- The archive status will be similar to the SLURM job status.
- I included the archive status for symmetry, and as a summary of the status of the entire job. I thought the summary would be useful when containers are run outside our SLURM environment, not necessarily in  the context of a HPC system which a job manager.

## 2
- Yes, an archiv

[2021-01-03 23:38] jonrkarr commented on #1851
This isn't critical to implement now. I think it would be more impactful for us to focus on making the simulation system more reliable and then focusing our attention on the biosimulations.org sharing/reuse platform.

[2021-01-04 04:11] jonrkarr commented on #1851
A few days ago, I created biosimulators/Biosimulators_utils#15 to keep track of the simulator side of this issue.

Calling an API endpoint to post the status of a simulation is ideal. The only reason I was considering watching for changes to a YAML file is that we should be mindful of making it as easy as possible to create containers of simulation tools.

[2021-01-04 17:37] jonrkarr commented on #990
Done

[2021-01-04 17:37] #990 closed, assigned to jonrkarr

[2021-01-04 17:38] #1804 closed, assigned to nobody

[2021-01-04 17:44] bilalshaikh42 opened #1875 "Providing invalid simulation IDs causes 5xx errors rather than 4xx"
Navigating to a simulation ID that is not a valid mongo id causes 5xx  errors since the id cannot be converted to a valid ObjectID. This should be caught in parsing arguments and handled as a 400 error.

[2021-01-05 05:08] #1842 closed, assigned to nobody

[2021-01-05 05:08] #1841 closed, assigned to nobody

[2021-01-05 18:21] bilalshaikh42 opened #1881 "Dispatch app is polling simulation runs that have been completed"
On run.biosimulations.org, loading the example simulations causes the app to poll for their status, even though all are marked as completed.

[2021-01-05 18:22] bilalshaikh42 opened #1882 "Dispatch app is not saving simulations"
run.biosimulations.org is not saving submitted simulations to local storage. This may be a local browser issue, but I believe it is a problem with the app

[2021-01-05 18:32] bilalshaikh42 opened #1883 "Polling in dispatch app causes simulations to be repeated in table of contents"
The "mobile table" is repeating the simulations on every poll. This causes the list of simulations to get longer and longer
![RepeatedList](https://user-images.githubusercontent.com/32490144/103684943-60865780-4f5a-11eb-9b3e-d91b570e092b.png)

[2021-01-05 20:18] #1712 closed, assigned to gmarupilla

[2021-01-06 15:48] bilalshaikh42 opened #1890 "Create testing for Simulator API"
We dont have any end to end testing of the simulators api.
We should create a series of expected responses to inputs for the api and use a tool like [Postman](https://www.postman.com/automated-testing/) to prevent regressions.

In the meantime, @jonrkarr Could you confirm that the validation is still working on the simulators api? I remember there was some issue regarding null vs undefined. I had

[2021-01-06 15:57] bilalshaikh42 opened #1891 "Update sbatch script to automatically pull singularity images from GHCR"
The dispatch service currently depends on singularity containers being available on a particular directory on the HPC. This should be changed so that the image is generated automatically from the GHCR image.

[2021-01-06 16:31] bilalshaikh42 commented on #1882
Unable to reproduce

[2021-01-06 16:32] jonrkarr opened #1892 "Local storage of simulations has problems with multiple browser tabs"

[2021-01-06 17:13] bilalshaikh42 commented on #1882
The current production deployment does not seem to have the issue, but I am encountering in the dev deployment

[2021-01-06 17:21] bilalshaikh42 commented on #1882
I think I see the issue now. The app at the dev deployment is not running in production mode. There must be some limitations to the storage when this is the case. 

[2021-01-06 17:38] bilalshaikh42 commented on #1882
That was not sufficient to fix the issue. @jonrkarr Could you take a look? This is going to block other changes since I need the dev deployment to test any changes

[2021-01-07 04:09] jonrkarr commented on #1881
This might be related to the local storage issue #1882. If the state can't be saved, it could keep polling.

[2021-01-07 04:11] jonrkarr commented on #1882
My initial thought is that maybe there's a security setting we need to set.

Second, it sounds like the `dev` deployment should be changed to run in production mode.

[2021-01-07 04:13] jonrkarr opened #1893 "Change dev deployment to run in production mode"
In #1882, Bilal noticed that the production and dev deployments behave differently because dev is not running in "production" mode. To help us use the dev deployment to preview the behavior of the production deployment, the dev development should also be run in production mode.

[2021-01-07 04:23] jonrkarr commented on #1890
For testing the API, use the same [COMBINE archives as the simulators test suite](https://github.com/biosimulators/Biosimulators_test_suite/tree/dev/examples). The test suite will have already checked that the simulation tools can execute those archives. The README has a table of which tools should be expected to work with which COMBINE archives.

Since the simulators are tested separately, I reco

[2021-01-07 04:24] jonrkarr commented on #1890
Which version of the simulators API needs to be checked?

[2021-01-07 06:11] jonrkarr commented on #1890
The simulators API looks fine.

I curated the new attributes for all of the simulation tools and pushed them to the deployment API.

The specs for all of the simulation tools are valid with (a) the deployed production API, (b) the deployed dev API, and (c) the dev branch.

I also manually checked a few things:
- `Person.middleName`
  - optional. when not submitted, the value becomes `null`
  - `nu

[2021-01-07 06:33] jonrkarr commented on #1883
This is fixed in #1894. Elements weren't unregistered themselves from the TOC upon their destruction. This is fixed for all components that use the TOC.

[2021-01-07 07:12] jonrkarr commented on #1882
The status will be polled while either of these conditions are true:
- The status of a simulation is `CREATED`, `QUEUED`, or `RUNNING`
- The status of a simulation `SUCCEEDED` and `resultsSize` is `undefined`

(a) The `resultsSize` attribute is undefined for the previously run "example" simulations. This will cause the polling for status to repeat forever. The "example" simulations need to be re-r

[2021-01-07 07:27] jonrkarr opened #1901 "Simulation service can't handle spaces in names of COMBINE archive files"
Example simulation #5ff6b5e92fcd3374d4f0236a.

The simulation service failed when the uploaded archive had the filename `test-bngl (2).omex`. The filename needs to be wrapped in `""`.

[code]

[2021-01-07 07:28] jonrkarr commented on #1901
I added quotes in #1894.

[2021-01-07 07:43] jonrkarr commented on #1882
I updated the example simulations. On my browser, the app doesn't continue to poll status with these simulations.

[2021-01-07 08:05] jonrkarr opened #1902 "Change link to example COMBINE archives to use branch `deploy` once the pulling of simulators has been automated"
Set `appConfig.exampleCombineArchives.repoRef` in `apps/dispatch/src/assets/config.json` to `deploy`.

[2021-01-07 08:06] jonrkarr commented on #1902
Can be done after #1891

[2021-01-07 08:10] jonrkarr commented on #1881
The status will be polled while either of these conditions are true:
- The status of a simulation is `CREATED`, `QUEUED`, or `RUNNING`
- The status of a simulation `SUCCEEDED` and `resultsSize` is `undefined`

(a) The `resultsSize` attribute is undefined for the previously run "example" simulations. This will cause the polling for status to repeat forever. The "example" simulations need to be re-r

[2021-01-07 08:22] jonrkarr commented on #1882
I can confirm this is specific to `production` mode.

I don't think this is related to the IndexedDB. Other methods are able to set and read that.

This seems to result from a difference in how `production` vs `development` is compiled.

[2021-01-07 09:05] jonrkarr commented on #1882
Actually, I can replicate this in development as well.

[2021-01-07 15:20] bilalshaikh42 commented on #1882
Yes, I i initially thought it had to do with production mode, but that does not seem to be the issue.

Using logging statements it seems that the storage module is not initializing. The "ready" event never fires.

[2021-01-07 15:25] bilalshaikh42 commented on #1893
This was already changed as a part of debugging the local storage issue.

[2021-01-07 15:25] #1893 closed, assigned to bilalshaikh42

[2021-01-07 17:04] jonrkarr commented on #1882
The ready event fires in my browser. I think the issue is with the `keys` method. Shouldn't take much longer to figure this out.

[2021-01-07 18:06] jonrkarr commented on #1882
It works for me in firefox.

[2021-01-07 18:58] bilalshaikh42 commented on #1882
This is strange. I am now able to get it to work in chrome as well.

On Thu, Jan 7, 2021 at 1:06 PM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-07 19:10] bilalshaikh42 commented on #1882
It seems the issue is completely  resolved on run.biosimulations.dev for me now. But there has not been any changes to the deployment since I last could reproduce the issue yesterday. I performed the same clearing of the browser cache yesterday, though I did restart the browser completely because I was running into issues loading other websites as well.  I would have assumed that meant it was uniq

[2021-01-07 19:23] jonrkarr commented on #1882
I thought I understand what's happening, but now I don't think so. I see the problem in Chrome, but not in Firefox. In Chrome, the promise for the `ready` method resolves, but the promise for the `keys` method doesn't (neither does the `get` method). Executing the `set` method doesn't translate into the IndexedDB initializing. No errors appear to be thrown either. The issue seems to be specific to

[2021-01-07 19:59] jonrkarr commented on #1882
I cleared my whole Chrome cache (all apps) and it seems to work now.

[2021-01-07 20:27] jonrkarr commented on #1882
Its working for me in all of these environments:
| Branch | Browser | OS |
| ------- | --------- | ---- |
| deploy | Chrome | Windows |
| deploy | Edge | Windows |
| deploy | FireFox | Linux |
| deploy | FireFox | Windows |
| karr/dev | Chrome | Linux |
| karr/dev | FireFox | Linux |
| dev | Edge | Windows |
| dev | Chrome | Linux |
| dev | Chrome | Windows |
| dev | FireFox | Linux |
| dev | Fire

[2021-01-07 20:56] jonrkarr commented on #1882
When I run the locally in `production` mode, Chrome uses IndexedDB. I'm trying to figure out two things (a) why chrome is sometimes using WebSQL and (b) why WebSQL isn't working.

[2021-01-07 22:05] jonrkarr commented on #1882
(a) I fixed an issue with WebSQL so that simulation storage should work when the ionic storage falls back to use WebSQL. I don't think this addresses the problem I'm seeing in deployment in Chrome in Linux.

(b) The new deployment of run.biosimulations.org seems to be working better, although its using WebSQL in Chrome/Linux for reasons I don't understand. The fix I mentioned above should address

[2021-01-07 22:08] jonrkarr commented on #1882
# READ THIS SUMMARY
I think we should do this:
- Deploy #1894 to run.biosimulations.org. I think this will address the latest issue I'm seeing in the deployed app.
- Try run.biosimulations.org and assess if any further issues need to be addressed. I can't replicate the remaining issues, so I think we need to deploy the new changes and see what happens.

[2021-01-07 23:06] #1883 closed, assigned to jonrkarr, bilalshaikh42

[2021-01-07 23:06] #1901 closed, assigned to nobody

[2021-01-07 23:06] todo[bot] opened #1904 "This service relies on knowledge of the sbatch script, and both use the same con..."
https://github.com/biosimulations/Biosimulations/blob/869e635f7e57c0225e79a10cb93eff264f20342d/biosimulations/apps/dispatch-service/src/app/services/hpc/hpc.service.ts#L8-L11

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 869e635f7e57c0225e79a10cb93eff264f20342d when #1903 was merged. cc @biosimulations.

[2021-01-07 23:07] #1891 closed, assigned to bilalshaikh42

[2021-01-08 05:01] jonrkarr commented on #1738
This is just waiting on changes to VCell

[2021-01-08 05:02] jonrkarr commented on #1688
This could be changed once VCell outputs HDF. All other simulators now output HDF.

[2021-01-08 05:02] jonrkarr commented on #1669
This could be changed once VCell outputs HDF. All other simulators now output HDF.

[2021-01-08 05:04] jonrkarr commented on #1626
This idea is superseded by #1733, #1851.

[2021-01-08 05:04] #1626 closed, assigned to nobody

[2021-01-08 05:06] jonrkarr commented on #1723
I think this will be addressed by #1733 and #1851.

[2021-01-08 05:08] jonrkarr commented on #1602
This refers to handling simulators that produce row vs column-oriented outputs.

This can be done once VCell transposes its outputs.

[2021-01-08 05:08] jonrkarr commented on #1623
I think this could be done now.

Until VCell can pass the test suite, we'll need to manually update its record in the BioSimulators database.

[2021-01-08 05:14] #1902 closed, assigned to bilalshaikh42

[2021-01-08 05:21] #1723 closed, assigned to gmarupilla

[2021-01-08 23:18] #1845 closed, assigned to nobody

[2021-01-09 17:42] jonrkarr commented on #1881
@bilalshaikh42 do you still see this issue?

[2021-01-10 03:22] jonrkarr commented on #1695
This can now be handled by #1733

[2021-01-10 03:23] jonrkarr commented on #994
Done using BoolNet

[2021-01-10 03:23] #994 closed, assigned to jonrkarr

[2021-01-11 01:26] bilalshaikh42 commented on #1881
Nope, seems to be resolved

[2021-01-11 01:26] #1881 closed, assigned to jonrkarr, bilalshaikh42

[2021-01-11 01:28] bilalshaikh42 commented on #1882
This seems to be resolved

[2021-01-11 01:28] #1882 closed, assigned to jonrkarr, bilalshaikh42

[2021-01-11 01:38] #1623 closed, assigned to jonrkarr

[2021-01-11 02:15] bilalshaikh42 commented on #1836
will be covered by #1851

[2021-01-11 02:15] #1836 closed, assigned to bilalshaikh42

[2021-01-11 16:58] jonrkarr commented on #1851
Potential packages for rendering stdout/err
- ansi_up
- shell-color

[2021-01-11 20:30] #1456 closed, assigned to bilalshaikh42

[2021-01-11 20:30] #1843 closed, assigned to bilalshaikh42

[2021-01-11 22:45] #1869 closed, assigned to nobody

[2021-01-11 22:45] todo[bot] opened #1929 "add the slurm id to the database for internal use only"
https://github.com/biosimulations/Biosimulations/blob/f2b3ffca6693062271a535527f4125b4deb8f521/biosimulations/apps/dispatch-service/src/app/submission/submission.controller.ts#L67-L72

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f2b3ffca6693062271a535527f4125b4deb8f521 when #1928 was merged. cc @biosimulations.

[2021-01-11 22:45] todo[bot] opened #1930 "add the slurm id to the database for internal use only"
https://github.com/biosimulations/Biosimulations/blob/cda26a0a56967c35c5f23235e737316c1bc56466/biosimulations/apps/dispatch-service/src/app/submission/submission.controller.ts#L67-L72

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in cda26a0a56967c35c5f23235e737316c1bc56466. It&#x27;s been assigned to @bilalshaikh42 because they committed the cod

[2021-01-11 22:46] #1930 closed, assigned to bilalshaikh42

[2021-01-12 02:06] #1875 closed, assigned to nobody

[2021-01-12 17:46] bilalshaikh42 opened #1942 "Image building is very slow"
Building the singularity image on each run is very slow. Even though the layers are cached, the image is still rebuilt for simulators that already exist.
We can remove the singularity pull command on each run. This will lead to the problem that images will not be updated if a change is made for a new tag. A simple API endpoint should be sufficient to provide an automated way to update images

[2021-01-12 17:50] bilalshaikh42 opened #1943 "Remove logging of results"
On completion of the simulation, results should not be logged. This clutters the logs making it harder to debug

[2021-01-12 17:51] bilalshaikh42 commented on #1797
Is this resolved?
#1851 should provide more details on the available outputs

[2021-01-12 17:51] #1797 closed, assigned to nobody

[2021-01-12 17:58] #1801 closed, assigned to bilalshaikh42

[2021-01-12 18:04] jonrkarr commented on #1942
I think this could be done by breaking down the pulling of the Docker image and building of the Singularity image into separate steps:
1. Use Docker to check if there's a new version and pull the version if needed. This will rely more directly on Docker's cache.
2. Inspect Docker's output to detect whether Docker pulled a new version.
3. Build a singularity image only if Docker pulled a new versio

[2021-01-12 18:05] bilalshaikh42 commented on #1942
No, we do not have the ability to use docker on the HPC

On Tue, Jan 12, 2021 at 1:04 PM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-12 18:06] jonrkarr commented on #1942
I see. That removes one option.

[2021-01-12 18:07] bilalshaikh42 commented on #1942
The api endpoint would actually be rather simple. We already have all the code for making a ssh connection and running a command. I can get a PR up shortly

[2021-01-12 18:07] jonrkarr commented on #1942
I know that Docker can't be used to execute images in the HPC environment, but can Docker be used to pull images?

[2021-01-12 18:08] bilalshaikh42 commented on #1942
No, docker is not present on the environment at all.

On Tue, Jan 12, 2021 at 1:07 PM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-12 18:14] jonrkarr commented on #1942
I think you're right about needing to build a service for this. I can't see a way to do this with Singularity alone. I checked the Singularity API as well. I don't see anything that I think would help with this.

[2021-01-12 18:26] jonrkarr commented on #1943
For debugging, I think its useful for us to have a comprehensive log that encompasses everything that the SLURM job does. I think this can also be helpful for users because it transparently communicates exactly what each SLURM job did. Personally, I like this feature of services such as GitHub actions and Read the Docs.

#1851 is intended to allow simulators to provide more helpful, more structure

[2021-01-12 18:28] bilalshaikh42 commented on #1943
This is just for me to remember to remove some of the logging statements
that  I had added
Currently, the results array is printed out and this clogs up the logs when
trying to debug a specific run.
These logs are not visible to users, but stored on google cloud

On Tue, Jan 12, 2021 at 1:26 PM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-12 18:30] bilalshaikh42 commented on #1943
This was an easy fix, already done in #1944. Just waiting to merge in #1931  first

[2021-01-12 18:43] jonrkarr commented on #1943
I'm working on expanding the logs that the simulators produce.

[2021-01-12 19:31] #1943 closed, assigned to bilalshaikh42

[2021-01-12 21:41] bilalshaikh42 opened #1949 "Add Open API response info to permissions decorator"
The permissions decorator handles all the authentication for each method,
To this we should add

1.  OpenAPI definitions for the various errors (401 and 403)
2. OpenAPI definitions for the auth object and the scopes

[2021-01-13 00:43] bilalshaikh42 opened #1950 "Dispatch app "crashes" after long period of inactivity"
if the network disconnects during an update, the error handler catches the error and displays an error page. This should be handled at the network call level rather than globally, so that network calls that timeout or fail to connect can be repeated after some time.

This is done on the backend services when communicating with the api

[2021-01-13 00:44] bilalshaikh42 commented on #1690
Done

[2021-01-13 00:44] #1690 closed, assigned to nobody

[2021-01-13 00:45] bilalshaikh42 commented on #1950
#1631  is where the errors need to be caught

[2021-01-13 02:24] jonrkarr commented on #1950
Yes, the error handler is setup to catch all otherwise uncaught exceptions. As you point out, not all exceptions should be treated as errors. Where relevant, individual errors should be caught.

[2021-01-13 15:26] #1942 closed, assigned to nobody

[2021-01-13 19:29] bilalshaikh42 opened #1964 "Add error reporting to backend services that catch errors"
The backen services catch errors when they occur. Some of these should be reported to the error monitoring

[2021-01-13 20:24] jonrkarr commented on #1454
This is being handled by the simulators. By extension, runBioSimulations supports this. I don't think support for these features will be essential to the "platform" app.

[2021-01-13 20:24] #1454 closed, assigned to nobody

[2021-01-13 20:24] jonrkarr commented on #1436
Closing until we get feedback from others.

[2021-01-13 20:24] #1436 closed, assigned to nobody

[2021-01-13 20:26] jonrkarr commented on #1003
Moved to biosimulators/Biosimulators_utils#21

[2021-01-13 20:26] #1003 closed, assigned to nobody

[2021-01-13 21:25] #705 closed, assigned to nobody

[2021-01-13 23:01] bilalshaikh42 commented on #1217
Old code

[2021-01-13 23:01] #1217 closed, assigned to gmarupilla

[2021-01-13 23:02] #1868 closed, assigned to nobody

[2021-01-13 23:02] bilalshaikh42 commented on #1810
can this be closed?

[2021-01-13 23:04] bilalshaikh42 commented on #1714
this was resolved when making changes to the job host

[2021-01-13 23:04] #1714 closed, assigned to nobody

[2021-01-13 23:06] bilalshaikh42 commented on #1602
Transposing is handled by #1738. This was validation that the simulator was valid. This is handled at the API level

[2021-01-13 23:06] #1602 closed, assigned to jonrkarr

[2021-01-13 23:07] bilalshaikh42 commented on #1227
Done with urls lib

[2021-01-13 23:07] #1227 closed, assigned to nobody

[2021-01-13 23:07] bilalshaikh42 commented on #1316
Older code

[2021-01-13 23:07] #1316 closed, assigned to gmarupilla

[2021-01-13 23:10] bilalshaikh42 commented on #1733
Datamodel: https://github.com/biosimulators/Biosimulators_utils/blob/dev/biosimulators_utils/log/data_model.py

[2021-01-13 23:24] jonrkarr commented on #1810
Ideally, the column of "Viz" buttons should be restored to the simulations tables. Unless @bilalshaikh42 just took care of this, I think the column is still commented out.

[2021-01-14 00:30] jonrkarr commented on #1733
I started a typescript version. I try to finish that tonight.

[2021-01-14 05:08] jonrkarr commented on #1666
I worked out a simpler way to do this.

[2021-01-14 15:34] jonrkarr opened #1976 "https://biosimulators.org/standards/simulation-reports creates RunTimeError"
Transferred from biosimulators/Biosimulators#104

**Please describe the bug**
Opening
https://biosimulators.org/standards/simulation-reports
creates a RunTimeError

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
Open https://biosimulators.org/standards/simulation-reports in Firefox

**How should BioSimulators have behaved**
No RunTimeError.

**Screenshots**
![image](

[2021-01-14 15:38] jonrkarr commented on #1976
I can't replicate this issue under Windows or Linux with Chrome or Firefox. I even used the same version of Firefox in Ubuntu.

@bilalshaikh42 is error logging now integrated into the UI apps?

[2021-01-14 16:58] bilalshaikh42 commented on #1976
Yes, it is but only on the dev branch so far. So any errors on .org won't be reported untill a new deployment

[2021-01-14 17:00] bilalshaikh42 commented on #1976
I see that the issue was created from outside the team. This may just be bad timing when the server was down/being changed.

[2021-01-14 17:19] jonrkarr commented on #1976
I think this issue can be closed. I can't see a reason why this would cause an error, and we have no log to inspect. Once Bilal's logging system is deployed, such errors will be logged and we'll be able to debug them much more easily.

[2021-01-14 17:19] #1976 closed, assigned to nobody

[2021-01-14 18:10] jonrkarr opened #1977 "Validate that algorithms and parameters of a simulator have unique KiSAO ids"
- [x] Algorithms have unique KiSAO ids
- [x] Parameters of an algorithm have unique KiSAO ids

[2021-01-14 19:30] bilalshaikh42 commented on #1802
#1931 now sets status as "processing" when running and "completed" when results have been produced. If  a run is "completed" but there is  a 404 on the reports, then there was no report produced.
I actually need to run a couple of examples to test that assertion. Its possible that the API might not be able to handle an empty report

[2021-01-14 20:39] bilalshaikh42 opened #1978 "Simulation Run "Updated" field does not change when status is not updated"
When the dispatch service checks the status of a job and sends a request to the api to update it, if the status is still the same the updated field will not change. This makes sense, since there is no write to the database, and the data is the same.

However, I was thinking of the updated field from the perspective of the user/submitter. I want the updated field to reflect when the status of the s

[2021-01-14 20:49] jonrkarr commented on #1666
Still todo
- Provide schema for CombineArchiveLog in JSON schema format. Basically, there's just a little code that needs to be commented out in `apps/dispatch-api/src/main.ts`

[2021-01-15 21:43] #1650 closed, assigned to bilalshaikh42

[2021-01-15 21:44] todo[bot] opened #1988 "determine if we want to alert/ask user about this"
https://github.com/biosimulations/Biosimulations/blob/deb3e959a46e1db03b44a1d82c79b6239469e80d/biosimulations/libs/shared/pwa/src/lib/prompt-update.service.ts#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in deb3e959a46e1db03b44a1d82c79b6239469e80d when #1987 was merged. cc @biosimulations.

[2021-01-15 21:44] todo[bot] opened #1989 "determine if we want to alert/ask user about this"
https://github.com/biosimulations/Biosimulations/blob/d3e969ac12f0232bc947e9c4c091d9ed20074637/biosimulations/libs/shared/pwa/src/lib/prompt-update.service.ts#L26-L31

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d3e969ac12f0232bc947e9c4c091d9ed20074637. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-01-15 22:24] #1989 closed, assigned to bilalshaikh42

[2021-01-16 01:10] jonrkarr commented on #1733
@bilalshaikh42 My proposal for the data model works for both collecting log information in the simulation tools and displaying log information in the UI.

~~There is one aspect which could be simplified. In a few places I used dictionaries to map ids of SED documents, tasks, and outputs to objects that represent their logs. This can be implemented with OpenAPI. From the perspective of the package

[2021-01-16 07:21] jonrkarr commented on #1695
#1733 basically handles this. If we're happy with this, and don't want to address this issue, then the duration could be removed from both
- the simulations summary table and
- the simulation overview tab.

[2021-01-17 05:35] jonrkarr commented on #1733
I decided to go ahead and simplify the data model as described above.

[2021-01-17 05:58] jonrkarr commented on #1977
There's at least a couple of reasons why someone might want to use a KiSAO id twice:
- Different implementations of the same algorithm.
- Different method signatures (e.g., parameter data types) of the same algorithm

The former should be handled by using a parameter to captured the desired implementation. We have several examples of this (e.g., CPLEX vs GLPK for CBMPy and COBRApy).

The latter co

[2021-01-17 05:59] #1977 closed, assigned to jonrkarr

[2021-01-19 15:21] todo[bot] opened #2003 "make the toggle icon change; this seems like a change detection issue"
https://github.com/biosimulations/Biosimulations/blob/86bf1a4dac457cb709cca79a33a341cec7811bd9/biosimulations/libs/shared/ui/src/lib/text-page/text-page-content-section.component.ts#L76-L81

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 86bf1a4dac457cb709cca79a33a341cec7811bd9 when #1986 was merged. cc @biosimulations.

[2021-01-19 19:51] bilalshaikh42 commented on #2003
@jonrkarr this seems to causing the app to crash in dev mode. Can you reproduce that problem? I cannot load the example  simulations without disabling the error handling.

[2021-01-19 20:24] jonrkarr commented on #1733
`dispatch.service.ts` with structured log returned.

[code]

[2021-01-21 15:40] todo[bot] opened #2013 "Refactor"
https://github.com/biosimulations/Biosimulations/blob/14a0e061ca699958d33f188b26e2873eb6d85abe/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L122-L127

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 14a0e061ca699958d33f188b26e2873eb6d85abe when #2005 was merged. cc @biosimulations.

[2021-01-21 15:40] todo[bot] opened #2014 "integrate with local storage"
https://github.com/biosimulations/Biosimulations/blob/14a0e061ca699958d33f188b26e2873eb6d85abe/biosimulations/apps/dispatch/src/app/services/simulation/simulation.service.ts#L210-L215

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 14a0e061ca699958d33f188b26e2873eb6d85abe when #2005 was merged. cc @biosimulations.

[2021-01-21 17:09] jonrkarr opened #2015 "Add alternative mechanism to input COMBINE archives to dispatch app by URLs"
- [ ] Add input box for URL to webform
- [ ] Change validation to accept 1 of (a) a URL or (b) an uploaded file
- [ ] Allow URL input to be populated from a URL query argument
- [ ] Update function that calls dispatch API to submit simulation

[2021-01-21 18:39] jonrkarr commented on #2015
Can be done after Bilal's todos in the [project](https://github.com/biosimulations/Biosimulations/projects/18)

[2021-01-22 04:09] bilalshaikh42 opened #2017 "Log component is cut off on smaller displays"
**Please describe the bug**
On displays smaller than the page breakpoint, the top of the log component is cut off by the top bar

![cutoff](https://user-images.githubusercontent.com/32490144/105445299-9f482d00-5c3d-11eb-94ae-ec4b5889e639.png)

[2021-01-22 20:10] todo[bot] opened #2021 "Change this to secrets.OVERLAY"
https://github.com/biosimulations/Biosimulations/blob/e2f52f818f0443943defe5b32e7f8e3c6cce0d2b/.github/workflows/cd.yml#L261-L266

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e2f52f818f0443943defe5b32e7f8e3c6cce0d2b. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-01-22 20:28] bilalshaikh42 commented on #733
This is now handled by the CD script

[2021-01-22 20:28] #733 closed, assigned to bilalshaikh42

[2021-01-22 20:37] todo[bot] opened #2022 "issues"
https://github.com/biosimulations/Biosimulations/blob/3cdb56dc54adaa1a23d170b215b0ef0ea3f8d7ce/.github/workflows/closeStaleTodos.yml#L1-L6

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 3cdb56dc54adaa1a23d170b215b0ef0ea3f8d7ce. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-01-22 20:37] todo[bot] opened #2023 "]"
https://github.com/biosimulations/Biosimulations/blob/3cdb56dc54adaa1a23d170b215b0ef0ea3f8d7ce/.github/workflows/closeStaleTodos.yml#L19

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `todo` comment in 3cdb56dc54adaa1a23d170b215b0ef0ea3f8d7ce. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-01-22 20:40] #2023 closed, assigned to bilalshaikh42

[2021-01-22 20:40] #2022 closed, assigned to bilalshaikh42

[2021-01-22 20:51] jonrkarr commented on #1224
This is used by the user account registration app. I think a potential solution is to provide links from the registration to the code of conduct, terms of service, privacy policy posted at https://biosimulations.org. This would avoid needing to either (a) parse markdown and render it within the account registration app or (b) reuse the terms or service, privacy policy components within the registr

[2021-01-22 20:52] jonrkarr commented on #1223
Same comment as in #1224.

This is used by the user account registration app. I think a potential solution is to provide links from the registration to the code of conduct, terms of service, privacy policy posted at https://biosimulations.org. This would avoid needing to either (a) parse markdown and render it within the account registration app or (b) reuse the terms or service, privacy policy co

[2021-01-22 21:20] jonrkarr opened #2024 "Display schemas alphabetically by id in Swagger apps"
Example: https://ontology.api.biosimulations.dev/

The schemas are displayed in this order
- OntologyInfo
- OntologyTerm
- AboutLinksObject
- ErrorSourceObject
- ErrorObject
- ErrorResponseDocument

I think it would be cleaner to display the schemas in alphabetical order such as below:
- AboutLinksObject
- ErrorObject
- ErrorResponseDocument
- ErrorSourceObject
- OntologyInfo
- OntologyTerm

[2021-01-23 00:01] #2017 closed, assigned to jonrkarr

[2021-01-23 00:39] #2024 closed, assigned to nobody

[2021-01-23 01:07] bilalshaikh42 opened #2025 "Make Open API Schema valid"
There are a few errors in the open api schemas. For example, the simulator api as some errors that can be seen with SwaggerHub:

https://app.swaggerhub.com/apis/bilalshaikh42/bio-simulators_api/0.1

[2021-01-23 01:08] bilalshaikh42 opened #2026 "Create Tests for valid open api definitions"
To prevent errors such as #2025 we can create a simple script to use an openAPI validator to ensure that the schema definitions for each api are valid.

https://github.com/IBM/openapi-validator
https://github.com/p1c2u/openapi-spec-validator

[2021-01-23 01:12] jonrkarr commented on #2025
That's surprising. I assumed that the library would only be able to create valid schemas.

[2021-01-23 01:16] bilalshaikh42 commented on #2025
It seem that we provided some additional fields in some cases where they are not applicable. I also have not bothered to add the security scopes which is the other problem

[2021-01-23 01:21] bilalshaikh42 commented on #2025
The security issue should be covered by #1949
The other issue seems to be providing "examples" for enums. The examples are just defined as valid enumerations, so should not be provided separately.

[2021-01-23 02:30] jonrkarr commented on #2025
To avoid accumulating errors, here's a tool that could be incorporated into the CI workflows, either as a unit test or as a separate step.
https://github.com/IBM/openapi-validator

[2021-01-25 15:35] bilalshaikh42 opened #2031 "Ontology update workflow caused builds to fail"
The ontology update workflow led to builds failing.  Need to determine why and fix

[2021-01-25 15:55] bilalshaikh42 opened #2033 "Update css to work with dark mode theme"
This should be largely handled by the theme.

- [ ] I've largely used the theme to set colors, but I haven't been great about greys. To make the dark theme work well, everything below (lines that include `#`, `rgba`, `darken` or `lighten` in `.scss` or `.sass` files) should be tied back to the theme so the appearance switches in dark mode.

[code]

- [ ] Also, alternative primary, accent, and tert

[2021-01-25 16:37] bilalshaikh42 commented on #2031
https://github.com/biosimulations/Biosimulations/actions/runs/506630388

[2021-01-25 17:44] bilalshaikh42 opened #2034 "Return to top button does not account for #tab in url"
**Please describe the bug**
When clicking the return to top button on the list of algorithms in biosimulators, rather than scrolling to the top, the page switches to the first tab

**Please describe how to reproduce the bug**
1. Go to https://biosimulators.dev/simulators/tellurium/latest#tab=algorithms
2. Scroll down
3. Click the return to top button
4. See the tab switched to the overview page

*

[2021-01-26 08:29] jonrkarr opened #2041 "Permissions to write simulators to api.biosimulators.dev"
My account (jonrkarr@biosimulations.org) seems to no longer have write:simulators access to api.biosimulators.dev. @bilalshaikh42 can you restore access?

[2021-01-26 14:23] bilalshaikh42 commented on #2041
Whoops, sorry about that.
Forgot to add it back after changing some settings.
Will do shortly.

On Tue, Jan 26, 2021, 3:29 AM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-26 20:17] #1978 closed, assigned to bilalshaikh42

[2021-01-26 20:17] todo[bot] opened #2042 "remove at some point, when sufficient number of older models have been converted..."
https://github.com/biosimulations/Biosimulations/blob/b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7/biosimulations/apps/dispatch-api/src/logs/logs.service.ts#L43-L46

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7 when #2035 was merged. cc @biosimulations.

[2021-01-26 20:17] todo[bot] opened #2043 "move the logging methods to seperate service, add here"
https://github.com/biosimulations/Biosimulations/blob/b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7/biosimulations/apps/dispatch-service/src/app/results/results.controller.ts#L30-L33

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7 when #2035 was merged. cc @biosimulations.

[2021-01-26 20:17] todo[bot] opened #2044 "handle this error"
https://github.com/biosimulations/Biosimulations/blob/b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L69-L74

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7 when #2035 was merged. cc @biosimulations.

[2021-01-26 20:17] todo[bot] opened #2045 "make enpoint consistent with other (no ending /)"
https://github.com/biosimulations/Biosimulations/blob/b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7/biosimulations/libs/dispatch/nest-client/src/lib/simulation-run.service.ts#L74-L79

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in b7f4af5cf83a4bb8ba411e5aa2d11c3602303ad7 when #2035 was merged. cc @biosimulations.

[2021-01-26 21:46] bilalshaikh42 opened #2046 "Log Parsing is failing on the front end"
**Please describe the bug**
The front end is not displaying the structured logs correctly

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Go to https://run.biosimulations.dev/simulations/601089bcc4eb1ef2c987f3fd#tab=log

**How should BioSimulations have behaved**
Logs should be displayed with color and should show correct output.

**Screenshots**
![Capture](https:

[2021-01-26 21:59] bilalshaikh42 commented on #2046
Here is the api response that is causing the error. It seem that the simulator details contains a key for "parameters" that does not have an associated value. Since the rest of the response is valid, this must be caused by the image output.

I can make a patch to the front end to handle this case, but it seems like the value should be reported as null

Relevant Section:
[code]
Full Response:
[code

[2021-01-26 22:22] jonrkarr commented on #2046
The issue appears to be with the log API.

The image is producing the `value` attribute with value equal to `{}`:
[code]

It looks like the log API is dropping the `value` attribute, probably because the data type doesn't match what it expects.

In any case, I made the frontend more resilient so that it will produce the empty string when `value` is missing.

[2021-01-26 22:29] jonrkarr commented on #2046
Sounds to me that the mongoose decorator for the value attribute needs to be corrected.

As a first step, take a look at what was input to the API after the simulation run. The yaml should show `value: {}`. I assume the YAML file will be parsed correctly. Assuming the YAML is parsed correctly, then check that what the database stores is the same as what it received -- I think the two are different

[2021-01-26 22:35] jonrkarr opened #2048 "Add database schema and validation for simulation logs"
An endpoint analogous to the simulator/validate endpoint would be useful. Then we can use this to create a test case within the simulators test suite which checks that simulation tools produce valid logs.

[2021-01-26 22:54] bilalshaikh42 commented on #2046
This seems to be a similar issue.
https://stackoverflow.com/questions/26703742/mongoose-is-removing-empty-object-out-of-embedded-documents-in-array

[2021-01-26 22:58] jonrkarr commented on #2046
Unfortunately, more complicated than I estimated. But the post suggests a solution.

If that solution doesn't work, we could (a) change the simulators to produce `null` instead of `{}` and (b) add custom validation to check that the value isn't `{}`.

[2021-01-26 23:10] bilalshaikh42 commented on #2048
Currently the database is not validating the structure of the logs at all, assuming that the simulators will be producing a compliant output. This is similar to the results endpoints.

We could have the database perform this validation, but we would then need to define the database schemas for  the log components

[2021-01-26 23:18] bilalshaikh42 commented on #2046
Was just as simple as disabling the minimization.

[2021-01-26 23:18] #2046 closed, assigned to jonrkarr

[2021-01-26 23:19] bilalshaikh42 commented on #2046
Run run simulations
https://run.biosimulations.dev/simulations/6010a2cffcf6c0bb97bfc8ba#tab=log

[2021-01-26 23:25] jonrkarr commented on #2048
I agree with assuming that simulators produce valid results. HDF5 is quite different than JSON/YAML, and the results are heavily validated by the test suite. Results are the basis for most of the test cases.

I could also put validation for logs in biosimulators-test-suite. This could be done using the JSON schema version of the schema for the logs. But I think its easier to implement that in this