[2022-02-03 15:11] bilalshaikh42 commented on #4120
repeat of

[2022-02-03 15:11] #4120 closed, assigned to nobody

[2022-02-03 15:14] bilalshaikh42 commented on #4088
Done in #4087

[2022-02-03 15:14] #4088 closed, assigned to jonrkarr

[2022-02-03 15:14] bilalshaikh42 commented on #4074
Done in #idempotent

[2022-02-03 15:14] #4074 closed, assigned to bilalshaikh42

[2022-02-03 17:26] bilalshaikh42 commented on #4076
With the dev deployment now working, 136 runs were all  completed and validated with no errors in about 8 minutes. The bottleneck was basically the concurrency limit on the extract and thumbnail steps (10 jobs at a time), so this should scale linearly with no issues. With 3 replicas, we can do 30 at a time, 5, 50 at a time etc.
I think we can close this now and deploy to prod shortly

[2022-02-03 17:26] #4076 closed, assigned to nobody

[2022-02-03 17:34] bilalshaikh42 commented on #4076
300 runs seems to have taken out the HPC submit node however 😞 . Not sure how, since the concurrency limit also applies to job submissions/monitoring, so no more than 30 connections at a time should be happening

[2022-02-03 17:42] jonrkarr commented on #4076
Sounds great. I agree this seems closed!

Except pushing Mike to deal with the submit node, the only thing I could think to do is to rate limit submissions to the submit node.

[2022-02-03 17:45] bilalshaikh42 commented on #4076
So that's why I am a bit confused because the concurrency limit of 10 also applies to the dispatch queue. So no more than 10 X number of replicas jobs should be submitted at any given time. So between the two runs, of 130 vs 300 there should be no additional load on the submit node since the same limit applies. There must be some other underlying issue that causes the node to go down frequently.

[2022-02-03 17:55] jonrkarr commented on #4076
The crash could largely be unrelated to your submissions. I agree the node seems to have some instability.

Maybe try 300 again after Mike restarts it.

[2022-02-03 18:04] bilalshaikh42 opened #4121 "Add graceful shutdown options to dispatch-service"
There is a method for performing graceful shutdown on workers, https://docs.bullmq.io/guide/workers/graceful-shutdown
This should be integrated with the nestjs wrapper somehow, or done manually

[2022-02-03 18:57] bilalshaikh42 opened #4126 "🐛: Unhandled SSH error causes dispatch-service to crash"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

Occasionally, an error in an ssh command will get past the error handling and result in an unhandled async error, which causes the app to crash

### What made it happen?

Large load, but in general any error in ssh can cause this. From the logs, it seems that many ssh error were properly caught and

[2022-02-03 21:17] bilalshaikh42 opened #4127 "🐛: Boolnet simulations failing"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Boolnet simulations have a higher than  average failure rate. The error is consistent, shown below in the logs

### What made it happen?

Submitted the following simulation
https://run.biosimulations.dev/simulations/61fc430b0da091d9e8116d82#tab=log

### Version

Development (Deployed on a .dev domain)

### Wha

[2022-02-03 22:36] jonrkarr commented on #4127
This is probably related to upgrading R. R seems to be trying to use a directory (value of `R_TempDir`) that it can't write to in UConn HPC. R is likely trying to use `/tmp` or a sub-directory of it.

The SBatch service sets the `--tmpdir` argument for `singularity run` to `local`. @bilalshaikh42 what does this do? I don't see that argument in the version of singularity on my machine.

Potential o

[2022-02-03 22:37] jonrkarr commented on #4127
@bilalshaikh42 is `/tmp` not expected to be accessible within containers in the HPC?

[2022-02-03 22:48] bilalshaikh42 commented on #4127
local is folder that will be located on the actual host the job is running on. The reason we want to use that over something in the home directory for example is that cache/tmp files shouldn't need to traverse the network since this is very slow for the types of operation that need a tmp directory

[2022-02-03 22:48] bilalshaikh42 commented on #4127
I am not sure about this. I seem to remember that it is not, but will need to confirm with @mpw6

[2022-02-03 22:50] bilalshaikh42 opened #4128 "🐛: Some simulation runs failing without logs"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

It seems since the logs are now retrieved exclusively through s3, in some failure modes we are unable to get logs at all and cannot diagnose the issue if the failure happens before the processing step

### What made it happen?

Ran the following simulations:
FAILED 61fc593d0da091d9e811b97f --- Lorenz system (G

[2022-02-03 22:58] bilalshaikh42 commented on #4128
61fc593d0da091d9e811b97f - No raw log produced, but log.yml is present. This is a new one
61fc59797142c34c3867fca2- same issue
61fc593ea35573735c0e43ab- ```/xvfb-startup.sh``` error like suspected

[2022-02-03 22:58] bilalshaikh42 commented on #4128
61fc59950da091d9e811be23
[code]

[2022-02-03 22:58] jonrkarr commented on #4128
This can be reverted to only use SSH. Or SSH can be used as a fallback when the log wasn't uploaded to S3.

I didn't consider this. Presently, logs won't be uploaded to S3 if there's an early failure in a SLURM job. If the failure is early enough, there's no way to catch it within the job script. In such cases, the log has to be loaded to S3 external to the execution of the job (i.e. using the old

[2022-02-03 23:01] jonrkarr commented on #4128
I believe `61fc59950da091d9e811be23` is also because of `/tmp`. The log says `tmp` is out of space.

[2022-02-03 23:08] jonrkarr commented on #4128
`61fc593d0da091d9e811b97f` and `61fc59797142c34c3867fca2`: These are strange. The directories in UConn HPC for these don't have `job.sbatch` files either.

[2022-02-04 16:16] jonrkarr commented on #4127
This issue overlaps with #4128.

I agree we want to bind `/tmp` to the local file system. However, it sounds like `/tmp` isn't guaranteed to have space.

@mpw6 suggested binding `/tmp` to `/local` (add `--bind /local:/tmp` to `singularity run ...`), which is much larger.

[2022-02-04 18:11] bilalshaikh42 commented on #4128
These were submitted shortly after the node was down due to issues with their file system locking up while processing writes (if i remember correctly). Unless this pops up again, I think we can close this as a one-time HPC error.

[2022-02-04 18:11] #4128 closed, assigned to nobody

[2022-02-04 18:13] jonrkarr commented on #4128
That makes sense. The other errors also appear to be transient
- XVFB
- /tmp empty

[2022-02-05 15:14] bilalshaikh42 opened #4134 "🐛: Vcell Simulations Failing"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Seems vcell image has a regression with the logs issue in #4075

### What made it happen?

Submitted vcell examples
FAILED 61fd6f3f8edd56f301e6a042 --- Iron distribution (Parmar et al., BMC Syst Biol, 2017; SBML; CVODE; VCell)
FAILED 61fd6f518c1e3dc95a797876 --- Repressilator (Elowitz & Leibler, Nature, 2000;

[2022-02-05 15:40] bilalshaikh42 opened #4135 "Bind /tmp to /local in sbatch script"
Add the following to the singularity run command:
[code]
This should resolve the issue seen in #4127

[2022-02-05 15:41] bilalshaikh42 commented on #4127
Superceeded by #4135

[2022-02-05 15:41] #4127 closed, assigned to jonrkarr

[2022-02-05 15:54] bilalshaikh42 commented on #4134
Manually set validation to false for vcell

[2022-02-05 19:25] jonrkarr opened #4143 "Reduce the height on the cookie notification for mobile screens"
Noticed by @moraru.

The height of the cookie notification needs to be constrained, such as `maxHeight: min(900px, calc(100vh - 2rem))` so that it can't be larger than the size of the screen.

This needs to be added at https://github.com/biosimulations/biosimulations/blob/0c1c222ee63a0e36857b93085f027c7f12fd41f7/libs/analytics/angular-analytics/src/lib/consent.service.ts#L51

[2022-02-05 22:46] bilalshaikh42 opened #4146 "🐛: Api repeatedly crashes on submitting BiGG projects"
### Contact Details

_No response_

### Location

BioSimulations API

### What happened?

Something about the Bigg Projects is causing the API to crash repeatedly. This happens even if the biosimulations-bigg python package first simulates each project locally, so it does not seem to be caused by submitting too many simulations at a time. The major difference between the Bigg Projects and the exam

[2022-02-05 23:48] #4119 closed, assigned to bilalshaikh42

[2022-02-06 00:58] jmdetloff commented on #3516
Thanks for the additional info! I'm getting a better idea of the objects and api's at play and how they relate. I have a rough idea of how I'll proceed, but I'd like to sanity check it just to make sure I haven't misunderstood anything critical.

1. Create a new route run-with-modifications within dispatch which expects a runId param.
2. Open this new route from some UI element on /simulations, /s

[2022-02-06 01:34] jonrkarr commented on #4146
The results are a little larger, but not particularly large since theres no time dimension.

[2022-02-06 03:21] jonrkarr commented on #3516
Regarding the architecture of what interacts with S3 and MongoDB, this could be changed as needed.

## Storage of simulation projects and their results

I think it might be helpful to explain how we store user requests to execute COMBINE archives and the results of their execution.

The UI interacts with the storage through the API. The storage is implemented using a combination of MongoDB, S3, an

[2022-02-06 03:26] jonrkarr opened #4148 "Add endpoint for modifying COMBINE archives"
New endpoint discussed in #3516 with @jmdetloff needed for UI for modifying COMBINE archives

Route: `/combine/modify`

Input
- COMBINE archive or URL for COMBINE archive
- New specifications for SED-ML files

Output: modified COMBINE archive OR S3 URL for modified archive

Operation
- If a URL was submitted, download the COMBINE archive
- Unpack the archive (with validation disabled)
- Use the SE

[2022-02-06 19:25] bilalshaikh42 commented on #4148
Would it be feasible to architect this to use the sedml file and model files directly? Seems that it would save some bandwidth/time on downloading archives.

I suppose that might not work with sedml files that refer to multiple model files

[2022-02-06 19:41] jonrkarr commented on #4148
The purpose of this new endpoint is to support a web form for modifying archives (see #3516).

We do already have an endpoint for creating COMBINE archives (`/combine/create`). This endpoint could be reused for this new purpose, however I thought a new endpoint would be simpler for the UI to use. The two endpoints would use much of the same underlying Python code.

The inputs to the existing endpo

[2022-02-07 02:06] jonrkarr commented on #4146
You could try removing the caching of simulation results.

The validation could be refactored so that it's moved into the dispatch service and it's result is stored to the database. This would avoid rechecking this later and allow more control over the computational load.

[2022-02-07 14:17] bilalshaikh42 opened #4176 "Clean queues based on some strategy"
The queues can easily fill up now that we are storing more data in the jobs. We should periodically clean out the queues. This is probably easiest to do with another queue.

After a workflow completes:
- [ ] If the workflow was successful: Add a job to the clean queue to delete all relevant jobs after a few hours
- [ ] If the workflow was a failure: Add a job to the clean queue to delete all relev

[2022-02-07 17:36] #4113 closed, assigned to nobody

[2022-02-07 17:36] #4176 closed, assigned to bilalshaikh42

[2022-02-07 17:37] #4118 closed, assigned to nobody

[2022-02-07 17:44] biosimulations-daemon commented on #4113
:tada: This issue has been resolved in version 9.0.5 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 17:44] biosimulations-daemon commented on #4176
:tada: This issue has been resolved in version 9.0.5 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.0.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 19:14] jonrkarr opened #4179 "Modify type of citation in schema.org metadata for compatibility with Google"
Change type of citation from `Article` to `CreativeWork` because Google doesn't recognize `Article` as a valid type for `citation`

Example from https://biosimulations.org/projects/Yeast-cell-cycle-Irons-J-Theor-Biol-2009

[code]

Three locations to change

- [x] https://github.com/biosimulations/biosimulations/blob/3450fe7bdd1e23188bf0039a951e9487659b0d3d/libs/simulation-runs/service/src/lib/view

[2022-02-07 19:16] jonrkarr opened #4180 "Truncate descriptions in JSON-LD metadata to 5000 characters for compatibility with Google"
One of the relevant places in the code: https://github.com/biosimulations/biosimulations/blob/10c713886ea555e8f2b0dbbdb76d3dcd882cc9d7/apps/simulators/src/app/simulators/view-simulator/view-simulator.service.ts#L322

[2022-02-07 19:18] jonrkarr commented on #4032
@bilalshaikh42 can this issue be closed? This seems like its probably no longer relevant as a result of your refactoring?

[2022-02-07 19:49] #4135 closed, assigned to bilalshaikh42

[2022-02-07 20:19] biosimulations-daemon commented on #4135
:tada: This issue has been resolved in version 9.1.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-07 20:45] #4143 closed, assigned to bilalshaikh42

[2022-02-07 21:13] biosimulations-daemon commented on #4143
:tada: This issue has been resolved in version 9.1.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-08 03:21] bilalshaikh42 commented on #4180
It seems to be the other way around. The text that was flagged was "Boolean model of the budding yeast cell cycle" which is 45 characters, short of the minimum 50 characters

[2022-02-08 03:23] jonrkarr commented on #4180
I know the error is because the description is too short. We can't make descriptions longer, but we can truncate them to the 5,000 character limit if needed.

[2022-02-08 16:52] #4134 closed, assigned to nobody

[2022-02-08 16:52] bilalshaikh42 commented on #4101
Resolved for new deployment on Google cloud buckets

[2022-02-08 16:52] #4101 closed, assigned to nobody

[2022-02-08 16:52] #4100 closed, assigned to nobody

[2022-02-08 17:13] #4179 closed, assigned to bilalshaikh42

[2022-02-08 17:20] biosimulations-daemon commented on #4179
:tada: This issue has been resolved in version 9.2.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-08 20:02] bilalshaikh42 commented on #3421
Largely done at this point

[2022-02-08 20:02] #3421 closed, assigned to bilalshaikh42

[2022-02-08 20:16] #3741 closed, assigned to bilalshaikh42

[2022-02-11 14:16] #4032 closed, assigned to bilalshaikh42

[2022-02-11 14:22] biosimulations-daemon commented on #4032
:tada: This issue has been resolved in version 9.2.3 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-11 23:38] bilalshaikh42 commented on #4110
We should also create a documentation page for each of these concepts.

[2022-02-11 23:54] #4180 closed, assigned to jonrkarr

[2022-02-12 00:36] jmdetloff commented on #3516
As I've been working on the UI for this, it occurred to me that whatever I make should match the form style in the Run screen, and then since I'd be digging into the UI anyways I made a few edits to the Run screen UI to try and improve readability and clarity. I've attached a video of the new and old UI, and I'd be curious to hear if you feel it's an improvement, if there are additional changes yo

[2022-02-12 00:44] jonrkarr commented on #3516
The new style looks nice!

We have a couple other simpler forms we'll want to update too.

[2022-02-12 01:26] biosimulations-daemon commented on #4180
:tada: This issue has been resolved in version 9.2.4 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-12 04:59] #4098 closed, assigned to jonrkarr

[2022-02-12 04:59] #4110 closed, assigned to jonrkarr

[2022-02-12 05:04] biosimulations-daemon commented on #4110
:tada: This issue has been resolved in version 9.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-12 05:04] biosimulations-daemon commented on #4098
:tada: This issue has been resolved in version 9.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-12 21:55] jonrkarr opened #4219 "Refactor validation of simulation runs from API to dispatch service"
This will further reduce the load on the API by shifting it to the dispatch service. This will also
- Ensure that runs can be published quickly once finished (because they will have already been validated)
- Long validations (due to validating large results) won't result in timeouts

Todo
- [ ] Move `SimulationRunValidationService` to the dispatch service. Call it from a new queue which is run as

[2022-02-12 21:58] jonrkarr opened #4220 "Refactor calculation of summaries of simulation runs to dispatch service"
This will further reduce the load on the API by shifting it to the dispatch service.

Todo
- [ ] Move `_getRunSummary` in api to dispatch service
- [ ] Store result in MongoDB
- [ ] Refactor `getRunSummary` in api to read from MongoDB rather than use `_getRunSummary`
- [ ] Remove caching for `getRunSummary` and `getRunSummaries` in API

[2022-02-12 22:05] jonrkarr commented on #4146
Sounds like this doesn't appear to be a significant issue. @bilalshaikh42 can we close this, or mark this as `future`?

Refactoring calculation of summaries is captured by #4220.

[2022-02-12 22:09] jonrkarr opened #4222 "Remove caching for simulation results"
Related to #4146, we could try removing the caching of simulation results to try reducing the load on Redis. With the move to Google object storage, this might not be that helpful anymore.

[2022-02-13 00:06] #3147 closed, assigned to jonrkarr

[2022-02-13 00:43] #4148 closed, assigned to jonrkarr

[2022-02-13 00:43] jonrkarr commented on #3516
I added an endpoint for modifying COMBINE/OMEX archives (#4223). Below is an outline of how its intended to be used.

[code]

[2022-02-13 00:43] github-actions[bot] opened #4224 "support repeated tasks in COMBINE archive creation and modification by COMBINE API"
support repeated tasks

https://github.com/biosimulations/biosimulations/blob/922f65e5a629c11c2f0a30aae53e7988e49a8e45/apps/combine-api/src/handlers/combine/utils.py#L185

[code]

fbdc6e823461b6a135ca746ad8fa676f35797fb7

[2022-02-13 00:49] biosimulations-daemon commented on #4148
:tada: This issue has been resolved in version 9.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-13 00:50] jonrkarr commented on #3516
Also, the UI for modifying simulations in COMBINE archives could start with a subset of SED-ML. The great majority of existing COMBINE archives only use a subset of features anyway. A UI with the restrictions below would be able to modify the great majority of COMBINE archives that exist and are being created.

- Archives with a single SED-ML file
- SED-ML files with a single model, a single simul

[2022-02-13 06:14] bilalshaikh42 commented on #4146
With the additional issues this is probably good to close

[2022-02-13 06:14] #4146 closed, assigned to nobody

[2022-02-13 20:46] jonrkarr opened #4226 "Expand SED-ML support to L1V4"
Can be done once biosimulators/biosimulators_utils#22 is addressed.

Low priority because few simulation tools and few existing SED-ML files take advantage of these features.

[2022-02-13 20:57] jonrkarr opened #4227 "Support SED-ML L1V4 styles"
Some SED-ML files from BioModels need line and marker styles

## Todo
- [x] Add models to COMBINE API using ApiCurio
- [x] Add to SED-ML reading by COMBINE API: `apps/combine-api/src/handlers/combine/get_sedml_specs_for_combine_archive.py`
- [x] Add to SED-ML writing by COMBINE API:  `apps/combine-api/src/handlers/combine/utils.py`
- [x] Re-generate COMBINE API angular library
- [x] Re-generate CO

[2022-02-14 18:31] #4094 closed, assigned to jonrkarr

[2022-02-14 18:31] github-actions[bot] opened #4233 "move to service to get strong typing without needing to define queue types as ab..."
move to service to get strong typing without needing to define queue types as above

https://github.com/biosimulations/biosimulations/blob/59bff6e6cec7aae84a35e2136592b9695262144c/apps/api/src/simulation-run/simulation-run.controller.ts#L263

[code]

a3a63ffb44f196c96875bcf8bdaebb07757af541

[2022-02-14 18:37] biosimulations-daemon commented on #4094
:tada: This issue has been resolved in version 9.5.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-15 06:10] #4227 closed, assigned to jonrkarr

[2022-02-15 06:17] biosimulations-daemon commented on #4227
:tada: This issue has been resolved in version 9.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-17 04:05] jonrkarr opened #4236 "Investigate Performance Issues"
I submitted the BiGG projects again to update the biosimulations-bigg repo, which is tracking what the BiGG simulation runs. Several hours later 8 several runs are still running, 5, simulation failed, and 1 failed to publish to BioSimulations. The logs show a number of issues. See [error-log.txt](https://github.com/biosimulations/biosimulations/files/8083611/error-log.txt). One of the Redis replic

[2022-02-17 07:33] jonrkarr opened #4237 "Simulation data is not returning reliably"
Example: Vega visualization for https://biosimulations.org/projects/iAF1260b. Noticed by @freiburgermsu.

[2022-02-17 07:36] jonrkarr opened #4238 "Disable 2D line plots and 2D heatmaps for 1D simulation results (e.g., FBA)"
I assumed that investigators would realize these plot types don't make sense for 1D data, but @freiburgermsu was confused why lines aren't drawn for 1D FBA simulation results. I think we need to guide investigators more by disabling these plot types when they are not appropriate.

[2022-02-17 16:58] moraru opened #4239 "PDE 3D dataset HDF5"
@jonrkarr @bilalshaikh42 see full dataset example output here: http://vcell.org/export/4678531229.hdf5 (file size is approx 1 GB)

[2022-02-17 20:20] bilalshaikh42 commented on #4236
A few things that I am noticing that are different from the example runs
1. Redis memory usage shoots much higher
2. Combine API goings down often, causing the retries and memory issues on the dispatch-service
3. API has a lot of 502s, despite not actually going down. I think this is due to the loadbalancer assuming no response is coming for some of the larger requests of logs etc that may be a bi

[2022-02-17 20:26] bilalshaikh42 commented on #4236
Logs seem to be taking up the most space: for example, https://api.biosimulations.org/logs/620ea96261a88cceaed29d18 has nearly 13MB of logs.  The top 20 keys on redis using the most space are all log objects

This is somehow unique to the Bigg runs. Running all 90 or so Bigg simulations uses nearly 2GB of memory on redis. On the other hand, running nearly 300 of the example runs is using less than

[2022-02-17 20:52] bilalshaikh42 commented on #4236
Plans to address this
- [ ] Determine why combine API fails.
- [x] Clean out jobs from Redis as soon as the processing is complete
- [x] ~~Reduce the concurrency of the CPU intensive jobs~~ I don't think this is a problem. The lock issue must have been from redis crashing and loosing the lock keys, not the job getting stuck. Once the changes from #4253 are deployed, we can test again
- [ ] Get the

[2022-02-17 21:06] bilalshaikh42 commented on #4236
@jonrkarr Could we reduce the warnings logged by the simulators/turn them off in the Sbatch script?
It seems like the vast majority of the logs size is coming from this sort of message repeated over and over

[code]

[2022-02-17 21:07] jonrkarr commented on #4236
The logs are largely coming from libSBML. 13mb doesn't seem like a lot. I don't think its unreasonable to support logs of this size.

[2022-02-17 21:37] #4044 closed, assigned to bilalshaikh42

[2022-02-17 21:53] #4222 closed, assigned to bilalshaikh42

[2022-02-17 21:55] bilalshaikh42 commented on #4237
Closing as related to #4236

[2022-02-17 21:55] #4237 closed, assigned to bilalshaikh42

[2022-02-18 03:37] biosimulations-daemon commented on #4222
:tada: This issue has been resolved in version 9.6.4 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-18 03:56] #4238 closed, assigned to jonrkarr

[2022-02-18 04:17] biosimulations-daemon commented on #4238
:tada: This issue has been resolved in version 9.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-18 12:19] bilalshaikh42 opened #4262 "🐛: Dispatch retries fail due to already existing directory"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

If a job submission fails, it is retired. However, the retry will fail if the directory for the job has already been created
Simple solution: use -p on the mkdir command

### What made it happen?

Job submission failure

### Version

Production (Deployed on a .org domain), Development (Deployed on

[2022-02-18 14:59] bilalshaikh42 opened #4265 "Combine API error"
Stackdriver Error Reporting error detail

AttributeError: 'SedShadedArea' object has no attribute 'getLogY'
https://console.cloud.google.com/errors/CJGlwMT995K17wE?project=biosimulations&src=VESPA&time=P30D

[2022-02-18 15:11] jonrkarr commented on #4265
This is from a SED-ML L1V4 document. It looks like SED-ML L1V4 made an attribute polymorphic.

[2022-02-18 18:02] jonrkarr commented on #4265
Underlying issue will be addressed with biosimulators/Biosimulators_utils#100

[2022-02-19 06:32] jonrkarr commented on #4265
Can close once this package is bumped to biosimulators-utils 0.1.162

[2022-02-19 16:37] bilalshaikh42 opened #4279 "🐛: Existing runs broken by `SedStyle` changes"
### Contact Details

_No response_

### Location

runBiosimulations, BioSimulations

### What happened?

Loading a page for a project causes an error message to display.

### What made it happen?

Load https://biosimulations.org/projects/NFAT-translocation-Tomida-EMBO-J-2003

### Version

Production (Deployed on a .org domain), Development (Deployed on a .dev domain)

### What browsers are you see

[2022-02-19 16:40] bilalshaikh42 commented on #4279
Relevant portion of the code:
[code]
```serializedSedDoc.styles``` likely needs to be initialized to an empty array if it is undefined. Ideally the API would just send an empty array in this case.

[2022-02-19 17:13] jonrkarr commented on #4279
I forgot to provide backward handling for older documents stored in the database.

[2022-02-19 17:16] bilalshaikh42 opened #4281 "🐛: Smoldyn Simulation failed"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Another x11 related error on smoldyn

### What made it happen?

Running examples (5 of each)

### Version

Production (Deployed on a .org domain)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code o

[2022-02-19 17:17] bilalshaikh42 commented on #4281
This seems to be a permsissions issue. Seem that /tmp/.X11-unix may be only accessible to root, or just '/tmp` itself

[2022-02-19 17:25] jonrkarr commented on #4281
We're mapping container:`/tmp` to host:`/local`. In retrospect, we probably want to map container:`/tmp` to host:`/local/{unique-directory}`. This would guarantee each container gets a separate space in the filesystem.

[2022-02-19 17:37] #4279 closed, assigned to jonrkarr

[2022-02-19 17:43] biosimulations-daemon commented on #4279
:tada: This issue has been resolved in version 9.7.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-19 19:28] jonrkarr opened #4283 "Improve performance of COMBINE API"
- [x] Speed up JSON encoding. Done in #4288.
- [x] Extract specifications of manifest from manifest file (in S3) rather than COMBINE archive file: ~0.3 s.
  - [x] Enable COMBINE-API to extract manifest specifications from individual manifest XML files in #4285
  - [x] Change manifest queue to depend on the extraction queue
  - [x] Change dispatch service to send the S3 URL for the manifest XML fil

[2022-02-19 21:49] jonrkarr opened #4287 "Confirm `EndpointLoader` receives correct configuration"
I'm trying to understand why the COMBINE API responses appear to be slow. I doubt its because external URLs are being used rather than internal URLs. Nevertheless, @bilalshaikh42 is the configuration for the `EndpointLoader` set up correctly? I can't find the environment variables defined anywhere. It looks like the URLs are always external.

- `API_URL`
- `SIMULATORS_API_URL`
- `COMBINE_API_URL`

[2022-02-19 22:31] jonrkarr commented on #4283
@bilalshaikh42 I looked into the performance of the COMBINE API SED-ML extraction. There doesn't seem to be anything obvious to improve with the code. One other thought is to increase the CPU assigned to the COMBINE API (e.g., the deployment is much slower than my local machine).

https://github.com/biosimulations/deployment/blob/aa2ba78a1484e06728c97b40654ab06cf8968b77/base/apps/combine-api.yaml#

[2022-02-20 00:15] jonrkarr opened #4289 "Fix labels of simulation types in simulation projects route"
https://biosimulations.org/projects

E.g., "ML Steady state" --> "Steady state"

[2022-02-20 18:44] bilalshaikh42 commented on #4287
The endpoint loader is setup so that this could be configured if desired. At the moment, all the env variables in the actual deployment are set to use the external URLS. This could be changed by setting the variables you mentioned above to the internal versions and then adding the corresponding external variables in the config for each app in the deployment.

[2022-02-20 18:56] bilalshaikh42 commented on #4283
I am not seeing the cpu usage for the combine-api come anywhere near  the limit, so that won't make much difference. The only other reason that I can think of is that it has something to do with the gunicorn wrapper

[2022-02-20 18:56] jonrkarr commented on #4287
Does that mean data has to transit in and out of the cluster?

[2022-02-20 18:59] bilalshaikh42 commented on #4287
yes, that way everything is going through the ingress, so we get logging/data on the network calls. I don't think this is much of a problem, however. Google's internal networking should route this quite efficiently.
The issue with the combine API was the python process in the container timing out, not the network requests.

[2022-02-20 19:00] jonrkarr commented on #4283
My recollection is that you mentioned that the combine api is going down. It seems that the CPU time and load are fine.

I could take another look at the gunicorn settings. However, I'll be grasping at straws. The settings aren't particularly clear.

Is there any log information that is illuminating?

[2022-02-20 19:01] jonrkarr commented on #4287
I asked about network requests because the data transfer (granted to my browser) is a significant part of the overall response time.

[2022-02-20 19:02] #4287 closed, assigned to bilalshaikh42

[2022-02-21 20:43] bilalshaikh42 opened #4291 "🐛: COMBINE-API MASSPy and NetPyNe tests failing"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

The tests for the combine-API seem to be failing for all the Pull requests

### What made it happen?

Running the tests for the combine API

### Version

Offline (Some Library, Tool, or Image not on the web)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[2022-02-21 20:44] bilalshaikh42 commented on #4291
@jonrkarr  is this fixed by https://github.com/biosimulations/biosimulations/pull/4282?

[2022-02-21 20:48] bilalshaikh42 opened #4292 "🐛: COMBINE API Swagger app UI gives 500 error"
### Contact Details

_No response_

### Location

Other (please describe below)

### What happened?

The Combine API is crashing when loading the main documentation or the API specifications

### What made it happen?

Open up [https://combine.api.biosimulations.org](https://combine.api.biosimulations.org)

### Version

Production (Deployed on a .org domain)

### What browsers are you seeing the pr

[2022-02-22 16:06] jonrkarr commented on #4292
Caused by trying to speed up JSON serialization in the COMBINE API by replacing the standard json with ujson. This should have only affected the Swagger UI app, not the execution of the endpoints.

Todo
- [x] Switch JSON serialization to orjson
- [x] Add unit test for Swagger UI app

[2022-02-22 17:05] jonrkarr commented on #4291
I'm pretty sure this is either due to a non-intuitive interaction between alternate JSON encoding libraries, MASSpy, and NetPyne or due to a recently upgraded dependency. I saw this the other day once, but ignored it because it only happened once and otherwise seemed to be fine.

[2022-02-22 17:57] jonrkarr opened #4298 "Debounce change handlers for form input fields"
Example:  https://github.com/biosimulations/biosimulations/blob/6a907085e2c9e8f2ba9a3b10bee7709909cc0aa5/libs/simulation-project-utils/ui/src/lib/create-project/create-project/create-project.component.ts#L701

[2022-02-22 19:13] bilalshaikh42 opened #4299 "Forms should properly handle multiple successive requests"
See #4296

[2022-02-22 19:16] bilalshaikh42 opened #4300 "Add indicator for network errors on submit form processing"
- There isn't currently any UI indication if posting the selected archive or downloading the sed spec for the posted archive fails.

_Originally posted by @jmdetloff in https://github.com/biosimulations/biosimulations/discussions/4296_

[2022-02-22 19:40] jonrkarr commented on #4300
We are using snack bars to display errors with posting model files. See https://github.com/biosimulations/biosimulations/blob/6a907085e2c9e8f2ba9a3b10bee7709909cc0aa5/libs/simulation-project-utils/ui/src/lib/create-project/create-project/create-project.component.ts#L715

@jmdetloff, could you describe what errors aren't being displayed?

[2022-02-22 19:42] jonrkarr opened #4301 "Be consistent about using linked text vs icon links in text"
Noted by @jmdetloff in #4296.

[2022-02-22 19:51] jonrkarr commented on #4299
Noticed by @jmdetloff.

Example
https://github.com/biosimulations/biosimulations/blob/6a907085e2c9e8f2ba9a3b10bee7709909cc0aa5/libs/simulation-project-utils/ui/src/lib/create-project/create-project/create-project.component.ts#L701

The form makes a post request each time the model file input is changed. On requests, any outstanding request should be canceled.

[2022-02-22 23:14] #4291 closed, assigned to jonrkarr

[2022-02-22 23:14] #4292 closed, assigned to jonrkarr

[2022-02-22 23:21] biosimulations-daemon commented on #4292
:tada: This issue has been resolved in version 9.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-22 23:21] biosimulations-daemon commented on #4291
:tada: This issue has been resolved in version 9.8.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-22 23:58] jonrkarr opened #4302 "Results (zip download) is broken"
http://localhost:3333/results/6215730a0d013de592a4867f/download

`output.zip` is getting saved to S3, but the API is trying to get the wrong key

[2022-02-23 00:08] jonrkarr opened #4304 "The SSH connection for refreshing simulator Docker images gets stale"
Image refreshing is not working reliably

Example:
[code]

[2022-02-23 00:49] bilalshaikh42 commented on #4304
I have not looked at this in a long time. Was the sbatch script for this updated along with the other changes we made to the singularity configuration? I'll look at the HPC job and logs and see what could be the issue

[2022-02-23 00:51] jonrkarr commented on #4304
Its working, but not consistently. That leads me to think its the SSH connection.

[2022-02-23 00:51] #4262 closed, assigned to jonrkarr

[2022-02-23 00:51] #4281 closed, assigned to jonrkarr

[2022-02-23 00:51] #4302 closed, assigned to jonrkarr

[2022-02-23 00:55] bilalshaikh42 commented on #4304
By not working, do you mean the image is not updated as it should be? Or there is some error? I believe due to the cache of the singularity build, sometimes multiple images being built at the same time can cause a cache conflict that  prevents the build from completing

[2022-02-23 00:55] bilalshaikh42 commented on #4304
~~An issue with the SSH connection would cause a clear error in the logs (I don't see any currently)~~

I was looking at the dev deployment. The prod has ssh errors

[2022-02-23 00:55] jonrkarr commented on #4304
Sometimes the endpoint succeeds. Sometimes I get a 500 error.

[2022-02-23 00:56] bilalshaikh42 commented on #4304
Ah okay. I'll investigate further

[2022-02-23 00:56] jonrkarr commented on #4304
This is what I see in the log
[code]

[2022-02-23 00:57] biosimulations-daemon commented on #4281
:tada: This issue has been resolved in version 9.8.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-23 00:57] jonrkarr commented on #4304
I haven't looked at the HPC jobs. I don't have any reason to think that isn't working.

[2022-02-23 00:58] biosimulations-daemon commented on #4262
:tada: This issue has been resolved in version 9.8.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-23 00:58] biosimulations-daemon commented on #4302
:tada: This issue has been resolved in version 9.8.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-23 00:59] bilalshaikh42 commented on #4304
Yup, I was looking at the dev. This is caused bc the SSH connection gets stale after a long time of no use (#4099). For the simulation related calls, this is now handled by the queues retrying. I did not account for this for the image updates. We can either add a queue for these as well, or since this is internal, just do the retries on the client side. When the ssh connection errors, it reconnect

[2022-02-23 01:01] bilalshaikh42 commented on #4304
[code]
As you can see, the connection failed, but is re initialized, so new calls now will work. This explains the inconsistent behavior.
I think the best option will be to just add a queue for this, because worst case, you could hit every replica on retires until you are guaranteed to hit a replica with a valid connection

[2022-02-23 01:29] jonrkarr commented on #4304
However you want to manage it is fine. A queue seems reasonable.

[2022-02-23 05:12] jonrkarr commented on #4304
The Sbatch script is working fine. #4305 organizes the scripts and logs a bit. The issue seems to be the SSH connection.

[2022-02-23 06:38] #4289 closed, assigned to jonrkarr

[2022-02-23 06:44] biosimulations-daemon commented on #4289
:tada: This issue has been resolved in version 9.9.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-23 09:41] jonrkarr opened #4308 "Add tab to simulation run and project views with description of simulations"
Display
- [ ] Tasks. For each task
  - [ ] Model
    - [ ] Source
    - [ ] Format
    - [ ] Changes
  - [ ] Simulation
    - [ ] Type
    - [ ] Start time, end time, etc.
    - [ ] Algorithm
    - [ ] Algorithm parameters
- [ ] Outputs (reports and plots)
  - [ ] Corresponding task
  - [ ] Target or symbol

Note, this suggests presenting a view of the SED-ML rather than a literal display of the d

[2022-02-23 10:33] #4265 closed, assigned to jonrkarr

[2022-02-23 10:39] biosimulations-daemon commented on #4265
:tada: This issue has been resolved in version 9.10.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-23 22:22] jmdetloff commented on #4300
Thought's copied over from #4296 :

The potential error I'm referring to is when the call into combineApiService.getSpecsOfSedDocsInCombineArchive might fail. The dispatch component doesn't register any error handling here, and the combineApiService is catching errors but doesn't look like it's presenting anything user facing (that I can tell). In this potential error case users wouldn't see their

[2022-02-23 22:49] jonrkarr commented on #4300
Yes, it looks like we missed an error handler for that.

You're also correct that the purpose of that endpoint is to get information to make suggestions. That information isn't required to run a simulation because the user could provide it. Nevertheless, its probably best to warn the user that we're unable to make suggestions.

[2022-02-24 16:23] bilalshaikh42 commented on #4121
Inlcuded in library

[2022-02-24 16:23] #4121 closed, assigned to nobody

[2022-02-24 16:29] jonrkarr opened #4315 "Manage load on Redis for when multiple simulations are run close in time"
When multiple runs are executed close in time, Redis can fill up with post-processing data, such as logs. As noticed in #4236, this can overload Redis, resulting in failures in post-processing.

One potential solution is to control the number of simulation jobs that are going through post-processing to limit to Redis memory required to store the intermediate state of their post-processing.

[2022-02-24 16:30] jonrkarr commented on #4236
I reduced the size of logs that simulation tools generate. For flux balance and MASS models, the logs should now be much smaller and more easily read by humans.

[2022-02-24 16:30] #4236 closed, assigned to jonrkarr, bilalshaikh42

[2022-02-25 23:51] jonrkarr opened #4318 "Thumbnails in sub directories can't be saved"
locations must be URI encoded

[2022-02-25 23:59] #4318 closed, assigned to jonrkarr

[2022-02-26 00:02] jonrkarr opened #4319 "45 of 74 ModelDB runs did not succeed for multiple reasons"
The first number in each bullet is the ModelDB id of the project. The corresponding COMBINE archives in https://github.com/biosimulations/biosimulations-modeldb/tree/dev/biosimulations_modeldb/final/projects.

- [x] Thumbnails in sub directories could not be saved -- See #4318
  - 31 projects
- [x] Failed to extract file -- see #4329
  - Unpacked contents of archive not uploaded to S3
  - This err

[2022-02-26 00:07] biosimulations-daemon commented on #4318
:tada: This issue has been resolved in version 9.11.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.11.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-26 02:26] jonrkarr opened #4321 "`ExtractionService` in `apps/dispatch-service/src/extraction/extraction.service.ts` is not used"
In trying to debug #4319, I noticed `ExtractionService` is not used. This should be used or removed.

[2022-02-26 02:38] jonrkarr opened #4322 "`ManifestProcessor` seems to be called to early"
The `ManifestProcessor` seems to frequently raise errors on its first try. I think because it tries to access the manifest before its been posted to S3. It sounds like the dependency on the ExtractProcessor needs to be corrected.

[2022-02-26 14:25] bilalshaikh42 commented on #4322
This is strange, since this was never an issue previously. This must have been causes by the change to use the manifest file rather than the combine archive directly.

[2022-02-26 14:27] bilalshaikh42 commented on #4319
The hsload issue seems to be either a dependent issue or something wrong with the shape of the HDF5 file based on the error. Is this an intermittent problem, or does it occur consistently?

[2022-02-26 14:37] bilalshaikh42 commented on #4322
Looking at the code, the manifest processing step  does not have any dependencies defined since previously it was simply using the combine archive to get the manifest. Now that it is dependent on the extraction happening, there will need to be some significant changes to the processing flow.

@jonrkarr I can make the dependency changes, but a simpler solution might be to restore the behavior of us

[2022-02-26 17:57] #4322 closed, assigned to jonrkarr

[2022-02-26 17:58] github-actions[bot] opened #4325 "Switch to getting the specifications of manifests directly from manifest XML fil..."
This requires making the manifest queue dependent on the extraction queue

id,

'manifest.xml',

);

https://github.com/biosimulations/biosimulations/blob/c2dc2ab9c8cc12ec5905a0107bc0cbac9cef6037/apps/dispatch-service/src/manifest/manifest.service.ts#L18

[code]

[2022-02-26 18:02] jonrkarr opened #4326 "`extractZipObject` fails on COMBINE archives with many member files"
As noted in #4319, `extractZipObject` appears to fail with archives that have a large number of members likely 128 or 256. This is irrespective of the size in bytes of those files.

[2022-02-26 18:03] jonrkarr commented on #4325
Already discussed in #4283

[2022-02-26 18:03] #4325 closed, assigned to jonrkarr

[2022-02-26 18:20] jonrkarr opened #4327 "Change `extractZipArchive` to optimistically save files to S3"
`extractZipArchive` currently terminates on the first failure rather than uploading as many files as it can and then terminating with an error. The issue is due to using `Promise.all` without additional error handling.

[2022-02-26 21:29] jonrkarr opened #4328 "`unzipper.Open` is very slow for archives with many files"
The unzipper package seems to be quite slow for some archives, such as modeldb 152028 (258 files). Using an uncompressed Zip file doesn't seem to help much.

An easy solution is so migrate S3 uploading to the HPC.

[2022-02-26 23:32] biosimulations-daemon commented on #4322
:tada: This issue has been resolved in version 9.11.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-27 16:07] jonrkarr commented on #4328
Done in #4329

[2022-02-27 16:07] #4328 closed, assigned to jonrkarr

[2022-02-27 16:07] jonrkarr commented on #4327
Done in #4329

[2022-02-27 16:07] #4327 closed, assigned to jonrkarr

[2022-02-27 16:07] jonrkarr commented on #4326
Done in #4329

[2022-02-27 16:07] #4326 closed, assigned to jonrkarr

[2022-02-27 16:08] jonrkarr commented on #4112
Done in #4329

[2022-02-27 16:08] #4112 closed, assigned to jonrkarr

[2022-02-27 16:08] jonrkarr commented on #4321
Done in #4329

[2022-02-27 16:08] #4321 closed, assigned to jonrkarr

[2022-02-27 21:16] jonrkarr opened #4332 "Improve SSH retrying performance of refreshing Docker images for simulation tools"
As discussed in #4304, the refreshing of the simulator Docker images needs to be retried to work reliably.

Retrying was implemented until it was removed in ef44d573ad027082ce2912f95d94071aecb73818. I restored this in #4331.

The performance could be improved to avoid locking up resources during the waiting period between retries:
- [ ] Remove current retrying mechanism. See https://github.com/bio

[2022-02-27 21:46] biosimulations-daemon commented on #4304
:tada: This issue has been resolved in version 9.11.3 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.11.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 00:02] jonrkarr opened #4334 "Logs and other outputs should be accessible from S3 even when the data service fails"
The data service failed to accept results for 4 runs in https://github.com/biosimulations/biosimulations/runs/5352951560

The order of the post-processing in the Sbatch template should be changed to make logs (even if slightly incomplete) more reliably available from S3
1. Save logs to S3
2. Save other outputs to S3
3. Save contents of COMBINE archive to S3
4. Update log
5. Save results to HSDS
6.

[2022-02-28 00:33] #4334 closed, assigned to jonrkarr

[2022-02-28 00:39] biosimulations-daemon commented on #4334
:tada: This issue has been resolved in version 9.12.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 02:27] jonrkarr opened #4336 "Debug COMBINE API simulation endpoints"
https://combine.api.biosimulations.dev/run/simulators
https://combine.api.biosimulations.dev/run/run

[2022-02-28 02:34] jonrkarr commented on #4336
Noticed in conversation with @Miniland1333 about @LibreTexts.

Example COMBINE archive: https://bio.libretexts.org/@api/deki/files/58677/out.omex

[2022-02-28 02:38] bilalshaikh42 commented on #4304
I don't think the attached PR will solve this issue. The init connection is a async stream so the retired command will be called before the initialization has completed

[2022-02-28 03:20] jonrkarr opened #4337 "Enable CORS for LibreText"
https://bio.libretexts.org is currently enabled. @LibreText appears to be using a new domain because they report CORS is blcoked. @Miniland1333 please let us know what domain you need enabled.

The new LibreText domain should be added at
https://github.com/biosimulations/biosimulations/blob/146b327b72b1d60beedc7a51a5a47e31cceb4977/apps/api/src/main.ts#L47

[2022-02-28 03:27] Miniland1333 commented on #4337
I was actually attempting to access `"https://api.biosimulators.org/simulators/vcell/latest?includeTests=false"` from bio.libretexts.org (the API for seeing which simulator versions are available), which was what was returning the CORS error. Since you gave me the better solution of using "latest" for simulationVersion, the current CORS settings are okay.

I think possibly the only change you may

[2022-02-28 03:29] jonrkarr commented on #4337
Yes, the APIs have presently have separate white lists. Ideally we would factor this out to our configuration.

[2022-02-28 03:29] #4337 closed, assigned to nobody

[2022-02-28 06:03] jonrkarr opened #4339 "Most runs are not getting published after they succeeed (39 of 73)"
- [ ] The data service is down
 - [ ] Nested observables look like they may not be handled correctly
    - https://github.com/biosimulations/biosimulations/blob/7a01eb09887be10964a04de590d1d7fbe01a9540/apps/dispatch-service/src/app/submission/publish.processor.ts#L72
    - https://github.com/biosimulations/biosimulations/blob/7a01eb09887be10964a04de590d1d7fbe01a9540/apps/dispatch-service/src/app/s

[2022-02-28 06:10] jonrkarr opened #4340 "Simulations results for 6 of 73 runs could not be saved to the data service"
The data service appeared to not be available
- 116867: `621c5bb510c8e44e16e9682a`
- 148637: `621c5bbf10c8e44e16e968e9`
- 228337: `621c5bcdf812ec05e015e87f`
- 229640: `621c5bcdf812ec05e015e886`
- 260730: `621c5bd810c8e44e16e96aa0`
- 83558: `621c5bad10c8e44e16e967fd`

[2022-02-28 06:11] jonrkarr commented on #4319
The hsload issue is an real bug with hsload. Incidentally, it revealed another issue with the results which I fixed.

Results from next run are in #4339 and #4340.

[2022-02-28 06:11] #4319 closed, assigned to jonrkarr

[2022-02-28 07:10] jonrkarr commented on #4336
This regression in the deployment appears to due to changing the worker class to gevent.

[2022-02-28 07:28] jonrkarr commented on #4336
@Miniland1333, on my local deployment of this API (on desktop) your COMBINE archive took ~1 s to execute with simulator=`tellurium`. Note, the deployed versions at https://combine.api.biosimulations.dev and https://combine.api.biosimulations.org will be a little bit slower because they have less CPUs.

@Miniland1333, this model seems to be stiff. A few notes:
- To get tellurium to work better, I r

[2022-02-28 14:22] jonrkarr opened #4342 "dispatch-service needs to be more reliable for testing in deployment workflow"
Tests haven't been reliable starting with 9.11.3 (see run-5352951560) which did not make any relevant changes.

[2022-02-28 14:56] jonrkarr commented on #4336
The API is running. The edited COMBINE archive above is simulating with tellurium.

Note, the first query to https://combine.api.biosimulations.dev/run/simulators after the API loads is slow until the result is cached. If the first query(s) timeout, the endpoint can be re-run and it should complete within a few retries.

[2022-02-28 15:23] #4336 closed, assigned to jonrkarr

[2022-02-28 18:23] bilalshaikh42 commented on #4342
There must have been some change causing this, as the timeout is quite large. There could be an issue with the deployment, in which  case that should be addressed before promoting to prod

[2022-02-28 18:55] bilalshaikh42 opened #4346 "Send URLs for the values for the results data rather than load it into the API"
The api loads all the values from the data service and formats it directly into the values of the results. Instead, it should just provide a URL for the particular results, and let the client handle loading the parts of the data that it needs.

[2022-02-28 18:57] jonrkarr commented on #4346
In addition to this, it would be helpful to have the ability to retrieve only specific rows and/or columns of simulation results.

[2022-02-28 19:13] jonrkarr opened #4347 "If logs are not available from S3, read them from SSH"
If a simulation times out, its log may not be available from S3. In that case, it should be read from UConn HPC using SSH.

- [ ] Read log using SSH if not available from S3
- [ ] Remove additional S3 log upload steps in the Sbatch template so that the log is only written at the end, so that if the log is available from S3 we know that it is complete.

[2022-02-28 21:41] jonrkarr commented on #4336
In #4351 I refactored https://combine.api.biosimulations.dev/run/simulators so its fast without the need for a burn in.

[2022-02-28 21:46] biosimulations-daemon commented on #4336
:tada: This issue has been resolved in version 9.13.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.13.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-28 22:17] jonrkarr commented on #4340
In the next run, the HSDS failed again causing 3 of 73 runs to fail.

[2022-02-28 22:18] jonrkarr commented on #4339
The same occurred again in the next batch of runs. The HSDS appeared to lock up (although Kubernetes still thought the pods were healthy). This might be the cause.

[2022-03-01 04:55] jonrkarr opened #4352 "Production deploys version in advance of what's been released to it"
https://deployment.biosimulations.org/applications/biosimulations-prod shows v9.13.1 even though this hasn't been released. Critically, this could be out of sync with the frontend. Not sure if this comes from deleting the HSDS and resyncing.

[2022-03-01 05:07] jonrkarr commented on #4340
The HSDS seems to be failing repeatedly. The most relevant change I can recall is the removal of the caching, which results in pinging the HSDS more.

It feels like a more robust way of evaluating its health (and restarting it) might be helpful. Perhaps this needs to try uploading and downloading a test HDF5 file. If this fails, the service needs to be restarted.

[2022-03-01 09:24] bilalshaikh42 commented on #4352
I am not seeing the issue.

The message on the top is simply the latest commit message of the git repo that has been synced.
The message states that dev was updated to 9.13.1. The actual version of the deployed pods in prod is older

[2022-03-01 09:25] #4352 closed, assigned to bilalshaikh42

[2022-03-01 14:20] jonrkarr commented on #2848
I sped up the one endpoint with the slowest start up time.

[2022-03-01 14:20] #2848 closed, assigned to nobody

[2022-03-01 14:21] jonrkarr commented on #2455
Hash information is now included in the simulator specifications.

[2022-03-01 14:21] #2455 closed, assigned to nobody

[2022-03-01 14:22] jonrkarr opened #4353 "Improve reliability of dispatch service"
The dispatch service is still failing at multiple points. In simulations of BiGG and ModelDB last night, I encountered failures in several places (roughly in descending order of frequency):
- Getting simulation results from HSDS to verify simulation results (this may be due to the HSDS being pulled down by posting results)
- Posting simulation results to HSDS
- Posting manifest information
- Posti

[2022-03-01 14:22] jonrkarr commented on #4342
Collapsing multiple similar issues into #4353.

[2022-03-01 14:22] #4342 closed, assigned to nobody

[2022-03-01 14:22] jonrkarr commented on #4340
Collapsing multiple similar issues into #4353.

[2022-03-01 14:22] #4340 closed, assigned to nobody

[2022-03-01 14:23] jonrkarr commented on #4339
Collapsing multiple similar issues into #4353.

[2022-03-01 14:23] #4339 closed, assigned to nobody

[2022-03-01 15:48] jonrkarr opened #4355 "Investigate lockup of HSDS"
In the past few runs of ModelDB and BiGG, the HSDS appears to have locked up where Kubernetes thinks the HSDS pods are healthy, but the HSDS fails to process GET or POST requests.

As suggested in #4340, a more relevant way of evaluating the health of the HSDS (and restarting it) might be helpful. Perhaps this needs to try uploading and downloading a test HDF5 file. If this fails, the service shou

[2022-03-01 23:53] bilalshaikh42 commented on #4355
The serivce seems to be returning 503s, meaning it is overloaded. Restarting it at that time could results in data loss since the cache is dirty. It might be that removing the results cache is what is causing the extra load. We can try to increase the number of replicas

[2022-03-03 16:57] bilalshaikh42 commented on #4346
This is built into HSDS, so should be quite straightforward to add to the API.

[2022-03-10 14:52] jonrkarr opened #4362 "Support more flexible specifications of hybrid algorithms"
Presently, algorithms must be described as a single KiSAO term. This creates the need to create additional terms for each hybrid combination. A more flexible approach would be to allow inline descriptions of combinations such as "X and Y" or "anyOf(X,Y,Z,...)". This is motivated by tools such as Morpheus and E-Cell.

[2022-03-17 14:16] jonrkarr commented on #4304
The connections still go stale

[2022-03-23 23:11] bilalshaikh42 opened #4390 "Allow simulations submission without specifying a name"
In some cases, a user may prefer using the webform to submit simulations in bulk,  and repeatedly use the webform. Due to the defaults and the introspection of the project that can automatically select an appropriate simulator, the only field that must be filled each time is the "name".
Instead of this being required at the form level, we can auto-generate a name if the user does not provide one.

[2022-03-23 23:12] bilalshaikh42 commented on #4390
@jmdetloff  We won't have time for this for a while, so feel free to include it in #4295  if you want!

[2022-03-23 23:21] bilalshaikh42 opened #4391 "Add a webhook option for simulation runs"
The user can provide a URL to a server. When the simulation run is complete/failed the service will send a POST request to the webhook with the simulationRun as the body.

This should be implemented as a decoupled module that listens to the "simulation completed" and "simulation failed" events (see the architecture of the mail-service) and then sends the HTTP POST.

[2022-03-23 23:23] #3627 closed, assigned to nobody

[2022-03-24 01:28] jonrkarr commented on #4390
The names of simulation runs could be made optional. These names are separate from the titles of published simulation projects.

[2022-03-24 05:52] bilalshaikh42 commented on #4355
![image](https://user-images.githubusercontent.com/32490144/159851158-b2891d31-63e1-409b-9723-6fe6e83c7529.png)

When running multiple simulations, the service gets stuck, and then after some time recovers. This is probably due to the max pending writes being exceeded. I'll look into what could be causing this. Maybe we need to move the bucket to the same region

[2022-03-24 06:04] bilalshaikh42 commented on #4355
Debugging in https://github.com/HDFGroup/hsds/issues/130

[2022-03-24 06:14] bilalshaikh42 opened #4394 "Some OpenCOR simulations fail"
This seems to be a common failure
[code]

For example: https://run.biosimulations.org/runs/623c012520a7bb7518fbb5fb#tab=log

[2022-03-24 06:16] bilalshaikh42 commented on #4394
@jonrkarr it seems somewhere in the docker image (not sure if opencor itself, or our wrapper) there is an explicit path to the "opencor" users home directory, which is not going to be available on the HPC when used as a singularity container.

[2022-03-26 20:17] jonrkarr commented on #4304
@bilalshaikh42 please fix this. Currently I have to manually refresh each new version of each simulation tool.

[2022-03-26 20:56] jonrkarr commented on #4394
The real problem is a SED-ML error. This is clearly indicated lower in the log.

It seems that OpenCOR is trying to save a file (`/home/opencor/OpenCOR/bin/../python/bin/biosimulators-utils`) to part of the file system that is read-only when converted to Singularity. I guess OpenCOR only tries to do this on failures. OpenCOR does try to catch errors, but not the type this raises. I filed this issu

[2022-03-26 20:56] #4394 closed, assigned to jonrkarr

[2022-03-26 21:55] bilalshaikh42 commented on #4304
Sorry, somehow missed this was reopened.

Will do

[2022-03-29 12:45] jonrkarr opened #4412 "Expand developers guide"
Such as
- How to set up a machine to run this repository
- How to run an individual app
- How to run backend and frontend apps together
- How to change configuration variables
- How to create new apps and libraries
- Scoping for apps and libraries

[2022-03-29 13:03] jonrkarr opened #4413 "Clean up forked repositories"
Can any of the forked repositories be removed?

These appear to be even with their sources
- https://github.com/biosimulations/redis-sentinel-ha-k8s-deployment
- https://github.com/biosimulations/hsds

[2022-03-29 17:53] bilalshaikh42 commented on #4413
I deleted the first one.
I intend to use the hsds one at some point to help manage the open API specs

[2022-03-29 18:05] bilalshaikh42 commented on #4355
This should be resolved by making some changes to the deployment and sbatch script. The bottleneck is the CPU usage which gets very high when loading HDF files

- [ ]  disable HTTP compression
- [ ]  increase the max_pending_write_requests
- [ ] Use --link when uploading files since they are not going to be changed
- [ ] Incrase deployment CPU

[2022-03-29 18:23] #4413 closed, assigned to bilalshaikh42

[2022-04-10 20:15] #4412 closed, assigned to bilalshaikh42

[2022-04-11 14:40] biosimulations-daemon commented on #4412
:tada: This issue has been resolved in version 9.13.6 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.13.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-11 14:56] jonrkarr opened #4443 "Fix display of authors in simulation project metadata"
Example: https://run.biosimulations.org/runs/624f7cbc06b36564297d3516#tab=metadata

These authors are not displayed
- Shakti Gupta
- Mano Ram Maurya
- Daren L. Stephens
- Edward A. Dennis
- Shankar Subramaniam

Trace
- The authors are correctly encoded into RDF (example: https://storage.googleapis.com/files.biosimulations.org/simulations/624f7cbc06b36564297d3516/contents/metadata.rdf)
- The BioSim

[2022-04-11 15:05] jonrkarr commented on #4443
Nevermind. The authors are displayed under the title rather than on the right side.

[2022-04-11 15:05] #4443 closed, assigned to nobody

[2022-04-11 15:21] bilalshaikh42 opened #4444 "🐛: Interactive 2d plots cannot be constructed for some models"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

Submitted https://run.biosimulations.org/runs/624f7cc0f0f95cc6a52edf56#tab=select-viz

The plots defined in the SED-ML are viewable by selecting the appropriate drop-down, but the creating a custom 2d visualization does not work.

### What made it happen?

This could be due to the way the HDF file is encoded,

[2022-04-11 23:01] bilalshaikh42 opened #4445 "🐛: Main thread is blocked on biosimulation.org/projects"
### Contact Details

_No response_

### Location

BioSimulations

### What happened?

When loading https://biosimulations.org/projects the main thread is blocked.

### What made it happen?

Load https://biosimulations.org/projects
While projects are loading, try to click on the nav buttons. The input is not processed indicating that the main thread is blocked.

### Version

Production (Deployed on

[2022-04-11 23:36] jonrkarr commented on #4445
This is one of the performance issues that we've discussed. This needs to be addressed by pagination and/or moving the calculation of filters to the server.

[2022-04-11 23:48] bilalshaikh42 commented on #4445
Yup, I had considered this a slightly different issue since  It might be possible to make the calculation asynchronous in some way. While the loading might still take time, it should be on a separate thread

[2022-04-12 01:18] jonrkarr commented on #4445
I see. You're right that the calculation could be moved to a separate thread.

[2022-04-12 01:40] bilalshaikh42 opened #4447 "Investigate Combine-API performance issue"
![image](https://user-images.githubusercontent.com/32490144/162861637-4e1c06af-c875-47cc-a629-255a0551740f.png)

Combine-API success rate dropped a couple of times before recovering. Could be due to load, or some errors in particular models that caused the container to crash

[2022-04-12 04:43] bilalshaikh42 commented on #4445
Before working on this,  we should actually profile the page loading. I suspect its more likely caused by waiting for a network request on the main thread than computation.

But if it is computation, this would be the approach:  https://angular.io/guide/web-worker

[2022-04-12 04:46] bilalshaikh42 commented on #4445
And a quick example: https://dev.to/ngconf/supercharge-your-angular-application-using-web-workers-5h9b

[2022-04-12 04:52] bilalshaikh42 opened #4448 "UI should intercept/rewrite navigations to http://www.omex-library.org/"
When clicking on a linked predecessor metadata value, the user is directed to http://www.omex-library.org/, which is just a placeholder namespace.

The UI should determine if the link corresponds to a valid reference in the biosimulations database and redirect there instead if that is the case.

[2022-04-12 12:47] jonrkarr commented on #4448
The interception should be to `http://www.omex-library.org/*.omex`.

[2022-04-20 13:59] bilalshaikh42 opened #4450 "🐛: Authentication for submitting simulation runs is broken"
### Contact Details

_No response_

### Location

BioSimulations API

### What happened?

Submitting a simulation run with a projectId always returns an unauthorized error regardless of token attached.

### What made it happen?

The "user" object of the request is not being parsed correctly, its always an empty object

### Version

Production (Deployed on a .org domain)

### What browsers are you

[2022-04-20 14:06] bilalshaikh42 commented on #4450
Seems to be a repeat of #3628, works fine with clients other than biosimulators_utils

[2022-04-20 14:06] #4450 closed, assigned to nobody

[2022-04-21 19:57] bilalshaikh42 commented on #4448
Actually, I think the API should just replace the `http://www.omex-library.org/` with the `hostname`  of the API and edit the URL to point to the download link of the path. That way the metadata URIs will uniquely identify its subject and treating the URI as a URL will redirect to the resource itself.

@jonrkarr would biosimulators-utils need extensive changes to support this for things like valid

[2022-04-21 20:59] jonrkarr commented on #4448
`http://www.omex-library.org/` is a constant in the library. This could be turned into a configurable variable. This would be fairly simple.

For hyperlinks, this can be modified in BioSimulations.

[2022-04-26 12:30] bilalshaikh42 commented on #4444
This seemed to be a physiome import issue that is now resolved

[2022-04-26 12:30] #4444 closed, assigned to bilalshaikh42

[2022-05-03 13:34] jonrkarr opened #4454 "Set up and maintain secret for Gurobi license"
The Gurobi license (for using Gurobi within GitHub actions) needs to be refreshed at least once every 3 months.

1. Apply for a license at https://www.gurobi.com/academia/academic-program-and-licenses/. This should be done within the next 2 weeks before expiration on 5/29/2022. This has to be done from campus or from an SSH connection.

2. Save the values of the license keys as organization secret

[2022-05-03 16:57] #4454 closed, assigned to bilalshaikh42

[2022-05-08 00:11] github-actions[bot] opened #4462 "Example simulation runs need to be fixed"
The following 32 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.org/runs/61fea483f499ccf25faafc4d" target="biosimulations">61fea483f499ccf25faafc4d</a>)</b></summary><br/>
Simulation run is not valid for publication: Simulation results could not be found for ru

[2022-05-09 13:15] github-actions[bot] opened #4463 "extend to other types of changes"
https://github.com/biosimulations/biosimulations/blob/360ac823fcf94e2dcd0f605f61f2a38e34cf0d35/libs/simulation-project-utils/service/src/lib/create-project/project-introspection.ts#L165

[code]

[2022-05-09 13:15] github-actions[bot] opened #4464 "Support additional change types."
https://github.com/biosimulations/biosimulations/blob/360ac823fcf94e2dcd0f605f61f2a38e34cf0d35/libs/simulation-project-utils/ui/src/lib/create-project/form-steps/model-changes.component.ts#L106

[code]

[2022-05-13 23:57] jmdetloff commented on #3723
I thought this as well and started towards this goal in 030f1b84efc3d58b8eebc066ad73a8bdbb4c5b03 where I created a module that exports some form validator functions in shared/ui. I imagine there are other validators still to be consolidated, just noting the existence of that module here for future reference.

[2022-05-18 21:50] #4462 closed, assigned to nobody

[2022-05-22 00:43] github-actions[bot] opened #4469 "Example simulation runs need to be fixed"
The following 33 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.org/runs/61fea483f499ccf25faafc4d" target="biosimulations">61fea483f499ccf25faafc4d</a>)</b></summary><br/>
Valiation failed
</details>

<details><summary><b>Budding yeast cell cycle (Irons, J Theo

[2022-05-24 15:11] #4469 closed, assigned to nobody

[2022-05-26 06:22] github-actions[bot] opened #4470 "remove temp data generator"
if (num > 1 || num < 0) return randn_bm(); // resample between 0 and 1

https://github.com/biosimulations/biosimulations/blob/e019b6c82617216aa683f53092d75c3549ba1c38/libs/statistics/summary-page/src/lib/summary-page/summary-page.service.ts#L6

[code]

[2022-05-29 00:47] github-actions[bot] opened #4474 "Example simulation runs need to be fixed"
The following 33 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.org/runs/61fea483f499ccf25faafc4d" target="biosimulations">61fea483f499ccf25faafc4d</a>)</b></summary><br/>
Valiation failed
</details>

<details><summary><b>Budding yeast cell cycle (Irons, J Theo

[2022-05-29 05:30] #4474 closed, assigned to nobody

[2022-06-01 20:58] bilalshaikh42 opened #4515 "Create a hearbeat detector for successful simulation runs"
while status.biosimulations.org is able to monitor that the various services are online and returning a healthy status, it cannot catch more subtle bugs such as simulation runs failing on the HPC or the data service having errors.
We can create a cron job that runs the example simulations runs (we already have this) and if successful sends a heartbeat to some endpoint or monitor.
The health endpoi

[2022-06-01 21:52] bilalshaikh42 commented on #4515
The workflow has been configured,  currently displayed at https://biosimulations.betteruptime.com. This should be included on status.biosimulations.org

[2022-06-06 22:56] bilalshaikh42 opened #4522 "🐛: Tasks for CellML models do not contain language abbreviation field"
### Contact Details

_No response_

### Location

BioSimulations API

### What happened?

When getting project summaries, the task summaries do not contain the "acronym" field for cell-ml models

### What made it happen?

This is potentially happening either in the API endpoint for the summaries or is due to combine-API not returning the information. I don't recall exactly where this information i

[2022-06-06 22:58] #4239 closed, assigned to nobody

[2022-06-06 23:22] bilalshaikh42 commented on #4522
This should be fixed by #4524.
Rather than loading the data from JSON file which is going to of type "any" , it might be useful to more precisely define the types and data in a regular typescript file.  The code also uses "as" quite a bit which can be removed to make it more robust.

@jonrkarr is this information generated by hand or does it update with the ontology updates? If it is not automatic

[2022-06-06 23:28] jonrkarr commented on #4522
CellML doesn't have a longer name.

This information is hard-coded. At least for now, it can't be read from EDAM.

[2022-06-06 23:34] bilalshaikh42 commented on #4522
Yup, the reason for the acronym field not being present makes sense, but I was just using it as default to display as labels on the chart.  I thought the table component was also doing this, but it must have accounted for this since it displays "CellML" correctly.

[2022-06-07 00:06] jonrkarr commented on #4522
You should display the acronym || name.

[2022-06-07 00:06] #4522 closed, assigned to nobody

[2022-06-07 00:17] biosimulations-daemon commented on #4522
:tada: This issue has been resolved in version 9.17.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.17.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-07 15:34] #4470 closed, assigned to nobody

[2022-06-07 15:35] jonrkarr opened #4526 "Add featured carousel of projects to home page"
Suggested by Eran.

- Steer users to projects with good example simulations and visualizations
- Use a subset of the original example COMBINE archives
  - Pick ones with Vega visualizations
  - Pick ones involving a range of model formats and simulation tools
- Display as grid or carousel

[2022-06-07 15:46] jonrkarr opened #4527 "Complete and polish stats"
- [x] Calculate stats for project sizes and frameworks
- [x] Only show licenses for projects as a whole by filtering out licenses for individual files in COMBINE archives
- [x] Truncate bar labels and append `...` to truncated labels
- [x] Shorten the organism names e.g., `E. coli`
- [x] Replace simulator ids with names
- [x] Display labels for all bars
- [x] Reduce spacing from x-axes to bar labe

[2022-06-13 20:40] #4515 closed, assigned to nobody

[2022-06-13 21:57] #4527 closed, assigned to bilalshaikh42

[2022-06-13 22:04] biosimulations-daemon commented on #4527
:tada: This issue has been resolved in version 9.18.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.18.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-13 22:55] bilalshaikh42 opened #4547 "🐛: Simulation Run module not loading on runBioSimulations"
### Contact Details

_No response_

### Location

runBiosimulations

### What happened?

An error message is displayed when attempting to load the simulation run page

### What made it happen?

1. Go to https://run.biosimulations.dev
2. Click on "Run a simulation"
3. Observe the error

### Version

Development (Deployed on a .dev domain)

### What browsers are you seeing the problem on?

_No respo

[2022-06-14 00:05] bilalshaikh42 commented on #4547
@jonrkarr Could use some help with this one.
The last deployment that worked was deployed [ May 26th at 7:54 pm](https://628f2299384877291ce62b81--run-biosimulations-dev.netlify.app/)
The first deployment that shows this error was deployed[ May 27th at 7:59 pm](https://629165d1b0f7b613a94a9205--run-biosimulations-dev.netlify.app/)

This probably corresponds to release [v9.16.0](https://github.com/

[2022-06-14 00:08] jonrkarr commented on #4547
I'd examine changes to versions of dependencies as nothing else relevant would have changed between May 26 and 27.

[2022-06-14 00:26] bilalshaikh42 commented on #4547
yup. going through git bisect to try to pin down the issue. It's tricky due to the build also being cached. But I am pretty sure now that v9.16.0 was the first release with the issue and v9.15.1 was good

[2022-06-14 00:49] bilalshaikh42 commented on #4547
Looks like it is indeed using @thi.ng/color (or at least commit) causing the issue. I am confused though since it shouldn't impact the dispatch app, just the platform. I would have thought it wouldn't even get included in the final bundle.

[code]

[2022-06-14 01:41] jonrkarr commented on #4547
This is when i had trouble resolving a set of versions of dependencies. Did you try rebuilding the package lock?

[2022-06-19 00:29] github-actions[bot] opened #4549 "Example simulation runs need to be fixed"
The following 33 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.dev/runs/61fea45614ff5e356d426b71" target="biosimulations">61fea45614ff5e356d426b71</a>)</b></summary><br/>
Simulation run is not valid for publication: Simulation results could not be found for ru

[2022-06-20 21:16] bilalshaikh42 commented on #4547
This seems to be caused by thi.ng/color depending on buffer.js, which in turn expects that "global" is defined. This was removed from angular back in version 6.

However, there is a workaround that seems to fix the issue
https://github.com/angular/angular-cli/issues/9827#issuecomment-386154063

[2022-06-20 21:45] #4547 closed, assigned to nobody

[2022-06-27 21:18] #4526 closed, assigned to bilalshaikh42

[2022-06-27 21:25] biosimulations-daemon commented on #4526
:tada: This issue has been resolved in version 9.19.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-27 21:25] biosimulations-daemon commented on #4547
:tada: This issue has been resolved in version 9.19.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.19.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-28 15:32] jonrkarr opened #4559 "Polish feature projects"
![image](https://user-images.githubusercontent.com/2848297/176219927-b95ae9ee-0464-4c92-851d-ab9657a80844.png)

- Change "Featured Projects" to "Featured projects"
- Maintain constant height of cards as the carousel is scrolled
- Add blue background to header
- Added corner rounding to the top of the reader
- Change header text color to white
- Make images smaller (height 200px)
- Maintain image a

[2022-06-28 22:03] #4559 closed, assigned to bilalshaikh42

[2022-06-28 22:10] biosimulations-daemon commented on #4559
:tada: This issue has been resolved in version 9.20.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.20.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-28 22:17] #4304 closed, assigned to bilalshaikh42

[2022-06-28 22:24] biosimulations-daemon commented on #4304
:tada: This issue has been resolved in version 9.20.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/biosimulations/releases/tag/v9.20.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-28 22:53] #4549 closed, assigned to nobody

[2022-06-28 22:55] #4332 closed, assigned to nobody

[2022-06-30 17:11] bilalshaikh42 opened #4568 "Add typing for forms"
Angular forms now support strict typing throughout.

The migration to v14 has changed all Forms to UntypedForms to prevent any build issues. These should be changed back to Form wherever possible with the added type information.

See https://angular.io/guide/typed-forms

[2022-06-30 17:13] bilalshaikh42 opened #4569 "Add titles to static routes and dynamic pages"
Angular 14 allows customization of page titles. This can be helpful for things like titling the page on the project name rather than id.

See https://angular.io/guide/router#setting-the-page-title

[2022-07-03 00:16] github-actions[bot] opened #4571 "Example simulation runs need to be fixed"
The following 33 example simulation runs did not succeed:

<details><summary><b>Budding yeast cell cycle (Irons, J Theor Biol, 2009; SBML-qual; BoolNet; synchronous) (<a href="https://run.biosimulations.dev/runs/61fea45614ff5e356d426b71" target="biosimulations">61fea45614ff5e356d426b71</a>)</b></summary><br/>
Simulation run is not valid for publication: A simulation run with id '61fea45614ff5e356d