[2021-01-26 23:29] jonrkarr commented on #2046
Looks good!

The logging is structured so that the collected output should be minimal, unless there's an error. As a result, most or all of our examples won't demonstrate the collection of ANSI codes for colors/bold/underlining. I think we'd need to create an example that codes for a failing simulation to demonstrate these codes and their rendering.

[2021-01-27 02:00] #2043 closed, assigned to nobody

[2021-01-27 06:23] jonrkarr commented on #2031
The error arises in this action: https://github.com/biosimulations/Biosimulations/runs/1755760527?check_suite_focus=true

It looks like the parsing of the KISAO owl file failed. The real issue is that this should have caused the workflow to fail (and commit no changed ontology files) rather to than commit an empty file.

It looks to me that the problem is with `tools/generate-ontologies`. In this

[2021-01-27 06:33] bilalshaikh42 opened #2051 "Logs do not appear for failed simulation runs"
If a simulation fails, the log processing is never called. This causes the database entry for the log to be empty. The api  corrects for this by attempting to read the output from the filesystem, but it seems that that is failing as well, leading to the final output being an error message.  This is probably because the output std err file is now combined with the std out

quick fix- have the error

[2021-01-27 06:50] jonrkarr commented on #2051
The simulation tools are designed to generate `log.yml` even if one or more tasks or outputs fails.

The simulation tools are also designed to output to `log.yml` "progressively" so that a partial log should be available even if the SLURM job fails, such as because the SLURM job times out or runs out of memory. In such cases, `log.yml` will be syntactically valid. It will include all SED documents

[2021-01-27 07:19] bilalshaikh42 opened #2059 "Save table state to local storage"

[2021-01-27 07:27] #2051 closed, assigned to nobody

[2021-01-27 07:35] jonrkarr commented on #2059
Do you mean the sorting and active filters?

[2021-01-28 19:36] bilalshaikh42 commented on #2059
yup, this would be more convenient when looking at multiple entries sequentially

[2021-01-28 20:29] jonrkarr commented on #2059
That's similar to what I've tried to do with URL fragments.

[2021-01-28 22:01] todo[bot] opened #2068 "use the database for output, remove the connection to nfs"
https://github.com/biosimulations/Biosimulations/blob/7e672f08801e95eebd456d284c67131c06b666ae/biosimulations/apps/dispatch-api/src/app/app.service.ts#L11-L16

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7e672f08801e95eebd456d284c67131c06b666ae when #2067 was merged. cc @biosimulations.

[2021-01-28 22:01] todo[bot] opened #2069 "use the database for output, remove the connection to nfs"
https://github.com/biosimulations/Biosimulations/blob/9913822809007492d191c47c21f6983d86e850e5/biosimulations/apps/dispatch-api/src/app/app.service.ts#L11-L16

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9913822809007492d191c47c21f6983d86e850e5. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-01-28 22:01] #2068 closed, assigned to nobody

[2021-01-28 22:01] bilalshaikh42 commented on #1851
Done

[2021-01-28 22:01] #1851 closed, assigned to nobody

[2021-01-28 22:02] bilalshaikh42 commented on #2048
Should this be closed/ moved to the simulators repo?

[2021-01-29 01:25] bilalshaikh42 commented on #2059
I see, I didn't notice that this was already being done for the filters.
The sorting information is not saved however, which is what I was noticing
when noting the issue

On Thu, Jan 28, 2021 at 3:30 PM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-29 02:08] jonrkarr commented on #2059
Sorting could be added.

I felt we should manage such application state in a way that's compatible with the browsers forward/backward navigation, and ideally which can be decoded/encoded into URLs to users can directly navigate to a state. Integration with forward/backward could be achieved with a queue. Working with URLs requires encoding/decoding state into query arguments or fragments. This all

[2021-01-30 08:10] jonrkarr opened #2083 "Some simulations fail for unclear reasons"
Example failure
- 60151264b20a74247477037c (in dev)

Examples of simulations that remain in the processing state (all involve VCell 7.3.0.07, all in dev)
- 60151262b20a7469b4770370
- 60151264b20a746b8077037a
- 601513f0b20a741c067703a4
- 60151265b20a740fcd770382

[2021-01-30 15:04] bilalshaikh42 commented on #2083
This is caused by vcell not outputting the logs.yml. I forgot to account
for this. I'll put up a patch shortly.

On Sat, Jan 30, 2021 at 3:11 AM Jonathan Karr <notifications@github.com>
wrote:

[2021-01-30 21:28] jonrkarr commented on #2034
My browser don't switch to a different tab. It scrolls to the top, but not quite all the way up. I fixed (PR #2082) how far it scrolls up so it scrolls all the way to the top.

[2021-01-31 00:28] #1455 closed, assigned to nobody

[2021-01-31 00:28] #1363 closed, assigned to nobody

[2021-01-31 00:28] #1163 closed, assigned to bilalshaikh42

[2021-01-31 00:28] #1155 closed, assigned to nobody

[2021-01-31 00:28] #849 closed, assigned to nobody

[2021-01-31 07:08] jonrkarr opened #2085 "Register runBioSimulations namespace with Identifiers.org"
Since we're trending toward treating simulation ids as permanent and encouraging authors to use them to reference simulations, I think we should register runBioSimulations with Identifers.org.

Here's the registration page: https://registry.identifiers.org/prefixregistrationrequest

- Namespace Name: runBioSimulations
- Description: runBioSimulations is a platform for sharing simulation experiment

[2021-02-01 15:20] todo[bot] opened #2097 "support loading COMBINE archive URL by query argument"
https://github.com/biosimulations/Biosimulations/blob/06a59fe070d8fc6e6d02f2376e5ed64318b8fff1/biosimulations/apps/dispatch/src/app/components/run/dispatch/dispatch.component.ts#L94-L99

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 06a59fe070d8fc6e6d02f2376e5ed64318b8fff1 when #2086 was merged. cc @biosimulations.

[2021-02-01 15:23] #2034 closed, assigned to jonrkarr

[2021-02-01 15:23] #2059 closed, assigned to jonrkarr

[2021-02-01 15:26] bilalshaikh42 commented on #1733
Done.
Vcell needs to be updated to output the logs.yml

[2021-02-01 15:26] #1733 closed, assigned to jonrkarr, bilalshaikh42

[2021-02-01 15:27] bilalshaikh42 commented on #1695
I would propose displaying the information, but sourcing it from the logs rather than the database entry for the simulation run

[2021-02-01 16:09] jonrkarr commented on #1695
Yes, use the `duration` from the logs.

[2021-02-01 16:26] todo[bot] opened #2109 "Change return type to observable"
https://github.com/biosimulations/Biosimulations/blob/541a922eddc326bb5eaad4944d84fa90c8b2db3b/biosimulations/libs/dispatch/nest-client/src/lib/simulation-run.service.ts#L46-L50

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 541a922eddc326bb5eaad4944d84fa90c8b2db3b when #2108 was merged. cc @biosimulations.

[2021-02-01 16:26] todo[bot] opened #2110 "Change return type to observable"
https://github.com/biosimulations/Biosimulations/blob/e9a078590f534de209f9db1c37b3e0a048a346fc/biosimulations/libs/dispatch/nest-client/src/lib/simulation-run.service.ts#L46-L50

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in e9a078590f534de209f9db1c37b3e0a048a346fc. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-02-01 19:55] bilalshaikh42 commented on #2083
Some interesting causes for this.
The case with the vcell outputs has been resolved.
A  second issue has popped up causing the simulations to get stuck in the "processing" state. Sometimes, under high load, the dispatch api will not receive the update to set the status to "processing" until it has already received the update to set the status to "complete". Since the processing status arrives late

[2021-02-01 21:03] bilalshaikh42 commented on #2083
Simulation getting stuck in processing addressed in in  8b0a5ce1373af671b9733006c185f69db41b4996

[2021-02-01 21:06] bilalshaikh42 commented on #2083
Some simulations fail on submission under load. This seems to be a repeat of #1714

[2021-02-02 01:02] bilalshaikh42 commented on #1802
This is handled by the logs

[2021-02-02 01:02] #1802 closed, assigned to jonrkarr, bilalshaikh42

[2021-02-02 01:03] bilalshaikh42 commented on #1740
This is largely done. More specific cases have their own todos

[2021-02-02 01:03] #1740 closed, assigned to nobody

[2021-02-02 02:57] bilalshaikh42 commented on #2083
Simulations failing under load was caused by a parsing error that was not noticed until many simulations were submitted at once.
The queue system on the HPC almost immediately begins to run our jobs, unless there are a lot of jobs submitted at once. In that case, the job is queued and the status update needs to be parsed. There was a "\n" at the end of the output for queued jobs, causing the switc

[2021-02-02 02:57] #2083 closed, assigned to bilalshaikh42

[2021-02-03 00:48] bilalshaikh42 opened #2119 "Replace SSH polling implementation"
Currently, the ssh polling is done locally per instance of the dispatch-service. This leads to the service having a state that is lost if the service crashes (caused by bugs) or restarts ( caused by updates). This leads simulation runs to stop updating in their last recorded state.

Another problem that is caused by this approach is that the service makes many requests to the hpc cluster at the ex

[2021-02-03 00:54] gmarupilla commented on #2119
Yes, I'll work on this.
I understood the part where we will add the jobs to the queue, and I also understood who will consume the jobs from the queue, but what I couldn't understand was, how will it prevent/replace the SSH polling? Because, whenever a job is consumed(listened to) from the Redis queue, in the end, we will have to SSH HPC to check the job status with SLURM ID, correct? or Am I missi

[2021-02-03 04:16] #2041 closed, assigned to nobody

[2021-02-03 04:17] bilalshaikh42 commented on #2044
done

[2021-02-03 04:17] #2044 closed, assigned to nobody

[2021-02-03 04:17] #2021 closed, assigned to bilalshaikh42

[2021-02-03 04:19] #1725 closed, assigned to bilalshaikh42

[2021-02-04 16:21] bilalshaikh42 opened #2140 "Connect to S3 buckets"
We need to connect the Uconn S3 buckets, and use it to store the following. This would replace both using mongodb to store files, and the file system.

- [x] Combine  archives if uploaded
- [x] Output zip archive
- [x] Results hdf  file
- [x] log.yml file

We also need a route to proxy to the s3 buckets to allow for public downloads for the files.

[2021-02-04 16:22] bilalshaikh42 commented on #2140
@gmarupilla We would need to work on this before #2119

[2021-02-08 22:12] todo[bot] opened #2150 "maybe handle this to assume app/json and check for url"
https://github.com/biosimulations/Biosimulations/blob/284583d0c4754b15b2e6df3823c1cdc72e4a6d9e/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.controller.ts#L144-L149

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 284583d0c4754b15b2e6df3823c1cdc72e4a6d9e when #2131 was merged. cc @biosimulations.

[2021-02-11 18:47] #2014 closed, assigned to nobody

[2021-02-13 07:37] jonrkarr opened #2159 "Simulators API permissions are broken"
The "GitHub Simulators Actions" Auth0 application can't make changes to the database. The application does have the permissions that Auth0 complains about below. I can't make change using the Swagger app either.

URL: https://api.biosimulators.org/simulators/copasi/4.30.233

Error:
[code]

[2021-02-13 23:10] jonrkarr commented on #2159
This is what I get from `/auth/permissions`.

One difference I see is the capitalization of the scopes (`write:simulators` vs `write:Simulators`).

[code]

[2021-02-14 00:22] #1631 closed, assigned to nobody

[2021-02-14 00:25] jonrkarr commented on #1568
This issue is still relevant

[2021-02-14 02:41] jonrkarr commented on #2159
I fixed the issue with the "GitHub Simulators Actions" Auth0 application.

[2021-02-14 04:04] jonrkarr opened #2160 "Simulators API fails for larger documents (triggered by new test cases)"
This example (111.2 kb) fails with 500 error: [specs.json.zip](https://github.com/biosimulations/Biosimulations/files/5976972/specs.json.zip)

Now that the test site has more test cases, results for 3 of 8 simulation tools couldn't be uploaded to the registry.

Temporarily, I manually worked around this by setting some of the logs for passed test cases to `''`. With that one change, the API accept

[2021-02-14 05:32] bilalshaikh42 commented on #2159
Taking a look at the auth0 settings now. How did you fix the issue? I  see that the role based auth was turned off, which should  not be the case. Did you use a workaround?

[2021-02-14 05:38] jonrkarr commented on #2159
The issue was with something else unrelated.

The user permissions haven't been working for some time. I posted another
issue about this a few weeks ago.

On Sun, Feb 14, 2021, 12:32 AM Bilal Shaikh <notifications@github.com>
wrote:

[2021-02-14 05:39] bilalshaikh42 commented on #2159
I re-enabled the RBAC, and made sure that the proper permissions are granted to the github actions as well as the admin role. Both should be working now.

[2021-02-14 05:44] bilalshaikh42 commented on #2160
The default upload limit is set to 100kb, though I am not sure why. I updated the limits for the other applications as we ran into the limit, but have not yet for the simulators api. I'll make sure to update it.

[2021-02-14 06:05] bilalshaikh42 commented on #2159
@jonrkarr Could you confirm if this is resolved? I can take another look if not

[2021-02-14 06:05] #2159 closed, assigned to bilalshaikh42

[2021-02-14 18:51] jonrkarr commented on #2159
Its working again.

I saw RBAC was off, but wasn't sure if this should have been on.

Also, I added permissions to the simulators scopes to the superuser role.

[2021-02-14 19:13] #2160 closed, assigned to bilalshaikh42

[2021-02-14 19:15] jonrkarr opened #2162 "Provide clearer error messages when JSON payload exceeds the server limit"
This is low priority.

When an API receives a document that exceeds the server limit, the user sees the following uninformative error:
[code]

In contrast, the following informative message is printed to the console
[code]

It would be helpful to return more error information to the user.

[2021-02-16 14:55] bilalshaikh42 commented on #2015
This is ready to be implemented on the front end

[2021-02-17 16:54] bilalshaikh42 opened #2184 "Replace lunr with flexsearch"
The table/dispatch component are quite large (almost 5mb). Part of this is because lunr is not optimized with es6 module imports. This can be replaced by [flexsearch](https://github.com/nextapps-de/flexsearch) which seems to be faster, more lightweight, and should support webworkers in an upcoming release.

[2021-02-17 16:56] bilalshaikh42 opened #2185 "Enable strict template checking"
At some point during configuring the workspace, strict template checking was turned off. This has led to the compiler missing a large number of potential errors in the HTML templates of the frontend apps and these errors have accumulated. The checking needs to be re enabled and the errors corrected.

- [x] Dispatch
- [x] Platform
- [x] Account
- [x] Simulators

[2021-02-17 18:06] bilalshaikh42 opened #2186 "Builds Broken"
Building on the latest node docker image is broken due to https://github.com/angular/angular-cli/issues/19957.

I will add a temporary workaround, but this should be fixed when the issue is resolved

[2021-02-17 18:09] todo[bot] opened #2187 "Remove this when #2186 is resolved"
https://github.com/biosimulations/Biosimulations/blob/7d67d33eebf3a0674573b17f5d8d376208665df7/Dockerfile#L65-L69

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7d67d33eebf3a0674573b17f5d8d376208665df7. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-02-17 18:52] bilalshaikh42 opened #2188 "Export simulations button is not working"
The export simulations button is trying to encode an observable into a json object, which is not possible, giving an error.
Instead, the resolved observable needs to be encoded.

[2021-02-19 02:21] bilalshaikh42 opened #2201 "Some simulations are marked completed, but results are not availalble."
The results are being uploaded to the api slightly after the simulation is marked as complete. This causes the front end to sometimes stop polling when the run is marked as complete, but the results are not available.
This is caused by a missing return of the log processing module, so the await statement resolves immediately.

[2021-02-19 16:22] bilalshaikh42 commented on #2185
- [ ] Dispatch
- [ ] Platform
- [ ] Account
- [ ] Simulators

[2021-02-20 02:00] #2015 closed, assigned to nobody

[2021-02-20 05:20] bilalshaikh42 opened #2210 "Change example simulations json to use undefined rather than null"
The current example json files have 'null' for some fields. This requires parsing to change the nulls to undefined to match the data model. This would be much cleaner if the json jus contained undefined.

@jonrkarr Would you be able to adjust the scripts that generate the examples?

[2021-02-20 05:22] #2201 closed, assigned to bilalshaikh42

[2021-02-20 06:36] jonrkarr opened #2212 "Add button for sharing simulations"

[2021-02-20 15:59] jonrkarr opened #2213 "Several dependencies should be moved from devDependencies to regular dependencies"
I believe several dependencies required to build the applications should be moved from devDependencies to regular dependencies in `package.json`

Examples
- plotly
- npnslider
- fortawesome
- flexlayout
- forms
- ionic/storage
- ngx-highlight
- mongoose

[2021-02-20 18:00] bilalshaikh42 commented on #2213
So this was a optimization I made to keep the docker images small. Angular
is essentially compiled and linked via webpack which bundles all the
scripts into a single/module of javascript files. When serving this to a
user, we are just presenting static files, and not actually installing the
package described by the package.json.

This means all of the runtime libraries for the front end are only n

[2021-02-20 18:01] #2188 closed, assigned to bilalshaikh42

[2021-02-20 18:01] todo[bot] opened #2214 "remove the parser"
https://github.com/biosimulations/Biosimulations/blob/ba164486516504a00df391ed4eff5fc7b8d90c0c/biosimulations/apps/dispatch/src/app/components/simulations/browse/browse.component.ts#L480-L483

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ba164486516504a00df391ed4eff5fc7b8d90c0c when #2211 was merged. cc @biosimulations.

[2021-02-20 18:01] todo[bot] opened #2215 "remove the parser"
https://github.com/biosimulations/Biosimulations/blob/2ef928a632f857f48cc25cc474936c9872d8fbea/biosimulations/apps/dispatch/src/app/components/simulations/browse/browse.component.ts#L480-L483

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 2ef928a632f857f48cc25cc474936c9872d8fbea. It&#x27;s been assigned to @bilalshaikh42 because they committed

[2021-02-20 18:02] bilalshaikh42 commented on #2215
depends on #2210

[2021-02-20 18:07] #2214 closed, assigned to nobody

[2021-02-20 18:07] #2109 closed, assigned to nobody

[2021-02-20 18:12] #2213 closed, assigned to bilalshaikh42

[2021-02-20 18:43] jonrkarr commented on #2213
That make sense.

[2021-02-21 00:23] #1737 closed, assigned to nobody

[2021-02-21 00:23] #1735 closed, assigned to nobody

[2021-02-22 04:48] jonrkarr commented on #2085
I submitted a request

[2021-02-22 04:50] jonrkarr opened #2216 "Example simulations cannot be loaded on https://run.biosimulations.org"
The examples aren't in the database. The API returns 404 errors.

We need to make sure these work by the time we submit our article.

[2021-02-23 18:59] #2210 closed, assigned to jonrkarr, bilalshaikh42

[2021-02-23 18:59] #2215 closed, assigned to bilalshaikh42

[2021-02-25 18:37] #2216 closed, assigned to bilalshaikh42

[2021-02-26 01:06] bilalshaikh42 opened #2244 "Vcell example combine archive fails to run"
This is the namespace issue discussed previously

[2021-02-26 04:48] bilalshaikh42 opened #2248 "Create tag for NAR Webserver submission"
Create tag to document the state of the code at the time of submission

[2021-02-26 07:29] bilalshaikh42 opened #2255 "Vcell container exit code is incorrect"
For the following run: https://run.biosimulations.dev/simulations/6037ee416e279f2c46954646#tab=log
The run is marked as succeeded, but vcell had an error. This is either the container or the slurm script that is failing to report the exit code correctly. This should display as a failed job

[2021-02-26 07:30] bilalshaikh42 commented on #2255
@gmarupilla Could you confirm that the vcell container is correctly reporting the exit code?

[2021-02-26 07:47] jonrkarr opened #2256 "Simplify submit simulation form"
Toggle whether file input or URL input is displayed based on choice of the first input

[2021-02-26 07:48] jonrkarr opened #2257 "Add share simulation button to `Your simulations` table"

[2021-02-26 07:51] jonrkarr opened #2258 "Avoid failures when query argument to dispatch run route is not a valid id for a simulator"
Instead of a failure, leave the simulation tool box unselected.

Provide similar handling for other query arguments

Example failure:
https://run.biosimulations.org/run?simulator=boolet

[2021-02-26 15:20] jonrkarr opened #2259 "Add hyperlinks to example ontology terms in documentation of simulator specifications format"
Schema section of https://biosimulators.org/standards/simulator-specs

[2021-02-26 15:25] jonrkarr opened #2260 "Add links to jLibSED-ML to documentation for format for simulation experiments"
https://biosimulators.org/standards/simulation-experiments

https://sourceforge.net/projects/jlibsedml/

- [x] Left side menu
- [x] "Recommended resources for implementing the execution of simulation experiments" section

[2021-02-26 15:30] jonrkarr opened #2261 "Add links to HDF5 results for example OMEX files to README"
https://github.com/biosimulators/Biosimulators_test_suite/tree/deploy/examples

[2021-02-26 15:39] jonrkarr commented on #2048
I think it would be best to implement a database schema for this. The test suite can check if simulation tools produce valid logs for a few examples, but its difficult to verify that a simulation tool will always produce valid logs.

I can make the test suite use the JSONSchema description of the schema to check that simulation tools produce valid logs (for a small set of examples)

[2021-02-26 15:54] jonrkarr opened #2262 "Fix error in date filter for table"
Runtime error occurs when
- Start date is null
- End is not null
- User clears the end date

[2021-02-26 15:59] jonrkarr opened #2263 "Fix hyperlinks to SIO terms from simulator pages"
Example page with bad link
https://biosimulators.org/simulators/tellurium/latest#tab=algorithms

Example bad link
https://ebi.ac.uk/ols/ontologies/sio/terms?iri=http%253A%252F%252Fsemanticscience.org%252Fresource%252FSIO_000418

Correct link
https://www.ebi.ac.uk/ols/ontologies/sio/terms?iri=http%3A%2F%2Fsemanticscience.org%2Fresource%2FSIO_000418

[2021-02-26 16:09] jonrkarr opened #2264 "Add "runBioSimulations" to sample badge in documentation"
https://run.biosimulations.org/help/faq

[2021-02-26 16:11] jonrkarr opened #2265 "Polish name of sender of simulation completion notifications"
The name current appears as "notifications". This could be changed to "runBioSimulations".

[2021-02-26 16:13] jonrkarr opened #2266 "Polish simulation completion email notification"
- [x] Change case of button to "View results"
- [x] Adding more spacing between the "View results" button and the text
- [x] Lower case "User" in "Dear runBioSimulations User"
- [x] Delete "Your project and its outputs will be available for six months."
- [x] Add a sentence to the first paragraph such as "This URL can also be used to share your simulation and its results with collaborators or publ

[2021-02-26 16:18] #2212 closed, assigned to bilalshaikh42

[2021-02-26 18:48] #2266 closed, assigned to jonrkarr, bilalshaikh42

[2021-02-26 22:20] jonrkarr commented on #2261
Done in test suite repo. Also added links to publications for example models.

https://github.com/biosimulators/Biosimulators_test_suite/tree/dev/examples

[2021-02-26 22:20] #2261 closed, assigned to jonrkarr

[2021-02-26 22:30] jonrkarr commented on #2260
Done in #2267.

[2021-02-26 22:55] jonrkarr opened #2268 "Add query argument to submit simulation form for algorithm KiSAO id"

[2021-02-26 23:00] jonrkarr commented on #2268
Done in #2267

[2021-02-26 23:02] jonrkarr commented on #2097
Done in #2267

[2021-02-26 23:03] jonrkarr commented on #2264
Done in #2267

[2021-02-26 23:04] jonrkarr opened #2269 "Add badge suggestions to biosimulators FAQs"
- [x] Status: registered, validated
- [x] Latest registered version

[2021-02-26 23:11] jonrkarr commented on #2269
Done in #2267

[2021-02-26 23:39] jonrkarr commented on #2256
Done in #2267.

Also
- Corrected capitalization of COMBINE and OMEX formats and URL
- Cleaned up alignment of submit button

[2021-02-27 00:03] jonrkarr commented on #2257
Done in #2267

[2021-02-27 00:05] jonrkarr opened #2270 "Add status message when copy to clipboard buttons clicked"
- [x] Copying URL for sharing simulation in simulations table
- [x] `copyDockerPullCmd`

Copy the method that Bilal used for the bread crumbs button component: use `MatSnackBar`.

[2021-02-27 00:14] jonrkarr commented on #2259
Done in #2267

[2021-02-27 00:46] jonrkarr commented on #2258
Done in #2267.

Also made handling of simulator versions more flexible:
- Query argument `4.30` can match to the latest subversion e.g., `4.30.233`
- Query argument `4.30.233.1` can match to the latest parent version e.g., `4.30.233`

[2021-02-27 01:10] jonrkarr commented on #2263
The issue was different than I thought. This issue was that the IRI was URI-encoded twice. I cleaned up the URI encoding for IRIs for all ontologies.

Done in #2267

[2021-02-27 05:20] jonrkarr commented on #2184
I looked into FlexSearch and some other potential alternatives. The only other potentially usable library was elasticlunr, but this is inactive.

I explored replacing Lunr with FlexSearch in #2271. For the most part, FlexSearch is easy to use in place of Lunr.

However, in my opinion FlexSearch lacks a key feature of Lunr. Lunr supports searching over individual fields, wildcards, and negation. Se

[2021-02-27 05:30] jonrkarr commented on #2262
Done in #2267

[2021-02-27 06:00] jonrkarr commented on #2270
Done in #2267.

Also
- polished message for bread crumbs button for copying URLs for sharing simulations
- polished style of snack bars
- moved snack bar duration to configuration

[2021-02-27 06:16] jonrkarr commented on #1666
Done in #2267

[2021-02-27 08:19] jonrkarr commented on #2185
I addressed a bunch of issues in #2267.

There's a modest number of issues left with the platform app

[2021-02-27 09:24] jonrkarr commented on #1695
Done in #2267.
- Simulations table
- Individual simulations view

Note, this requires the simulations table component to get the structured log for each simulation.

[2021-02-27 09:33] jonrkarr commented on #1695
I ended up removing runtime from the simulations table because this require logs which aren't necessarily available when the simulation first reaches non-running status.

[2021-02-27 16:11] jonrkarr commented on #1810
I added back the viz button in #2267. The summary table still isn't using the results endpoint to detect if data is available to visualize. Instead, the "Design viz" tab is now always enabled; when no report is available, it displays a message that says no data is available rather than displaying the visualization design form.

[2021-02-27 16:20] jonrkarr opened #2272 "resultsSize missing from some simulation runs"
`resultsSize` is missing from this simulation run even though results were saved. The simulations table is using that attribute to determine whether visualization and export buttons should be displayed.
https://run.api.biosimulations.dev/run/6037ee3b6e279f120495462c

If this has already been fixed and this example was run before the fix, this can be closed.

[2021-02-27 17:08] jonrkarr commented on #2033
I'm closing this because a dark theme isn't essential.

[2021-02-27 17:08] #2033 closed, assigned to nobody

[2021-02-27 17:41] jonrkarr commented on #2025
I fixed a few of the issues found by SwaggerHub.

I tried the IBM validator. This identifiers many, many more issues. This looks for more more issues beyond SwaggerHub including best practices such as capitalization of enumerated values.

[2021-02-27 17:43] jonrkarr commented on #1892
The solution is for the local storage to add/delete/modify individual simulations.

[2021-02-27 17:57] jonrkarr commented on #2265
I believe this will be addressed by #2267.

I just looked into the data model for the version of SendGrid that we're using in `node_models/@sendgrid/helpers/classes/email-address.d.ts`.

This is the type definition
[code]

This appears to outline how to provide a name for a sender.

[2021-02-27 19:44] jonrkarr commented on #2244
I fixed the namespace of the Vilar example. I confirmed that VCell 7.3.0.07 runs the corrected file. I also confirmed it works through the dispatch app.

Note, VCell 7.3.0.13 appears to have other issues that prevent it from running this and other examples. See /biosimulators/Biosimulators_VCell#60.

[2021-02-27 19:44] #2244 closed, assigned to jonrkarr

[2021-02-27 19:51] #1666 closed, assigned to jonrkarr

[2021-02-27 19:51] #1695 closed, assigned to bilalshaikh42

[2021-02-27 19:51] #2097 closed, assigned to jonrkarr

[2021-02-27 19:51] #2256 closed, assigned to jonrkarr

[2021-02-27 19:51] #2257 closed, assigned to jonrkarr

[2021-02-27 19:51] #2258 closed, assigned to jonrkarr

[2021-02-27 19:51] #2259 closed, assigned to jonrkarr

[2021-02-27 19:51] #2260 closed, assigned to jonrkarr

[2021-02-27 19:51] #2262 closed, assigned to jonrkarr

[2021-02-27 19:51] #2263 closed, assigned to jonrkarr

[2021-02-27 19:51] #2264 closed, assigned to jonrkarr

[2021-02-27 19:51] #2268 closed, assigned to jonrkarr

[2021-02-27 19:51] #2269 closed, assigned to jonrkarr

[2021-02-27 19:51] #2270 closed, assigned to jonrkarr

[2021-02-27 19:51] #1810 closed, assigned to nobody

[2021-02-27 19:51] #2265 closed, assigned to jonrkarr

[2021-02-27 19:51] todo[bot] opened #2273 "maybe handle this to assume app/json and check for URL"
https://github.com/biosimulations/Biosimulations/blob/5e36dbe4c6b1ef9d39c7b710b6d55092ed473594/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.controller.ts#L139-L142

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 5e36dbe4c6b1ef9d39c7b710b6d55092ed473594 when #2267 was merged. cc @biosimulations.

[2021-02-27 19:51] todo[bot] opened #2274 "maybe handle this to assume app/json and check for URL"
https://github.com/biosimulations/Biosimulations/blob/44b03dd3fa37114cf82e5f82bd50acfaea0db5c6/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.controller.ts#L139-L142

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `Todo` comment in 44b03dd3fa37114cf82e5f82bd50acfaea0db5c6. It&#x27;s been assigned to @jonrkarr because they committed the code.

[2021-02-27 20:16] jonrkarr commented on #2265
Confirmed to be working!

[2021-02-28 05:02] jonrkarr commented on #2048
I looked into using the JSONSchema version of the OpenAPI spec to validate that simulators produce valid logs within the simulators test suite. This could be done, but the JSONSchema doesn't recognize `nullable`. Another way to look at it is that the OpenAPI spec isn't being translated into a 100% compatible JSONSchema due to the fact that the OpenAPI spec is broader than JSONschema.

One option i

[2021-02-28 13:54] bilalshaikh42 commented on #2048
I remember there were quite a few discussion about this on the open api
repo a few months ago. As far as I remember, open api and Jason schema are
now fully compatible as of the latest versions.  I will look into this
more, but I seem to remember null being added to json schema at some point.
Perhaps the libraries we are using do not have the latest versions
implemented.

On Sun, Feb 28, 2021, 12:

[2021-02-28 15:49] jonrkarr commented on #2048
I think the next versions of OpenAPI (3.1) and JSON Schema (Draft 4) are supposed to be compatible.

The current version of JSON Schema supports null type, but it doesn't recognize `nullable`.  The library we're using to convert OpenAPI to JSON Schema (https://github.com/openapi-contrib/openapi-schema-to-json-schema) is supposed to convert nullable to `oneOf(..., {"type": "null"})`, but this doesn

[2021-02-28 16:00] jonrkarr commented on #2085
Namespace was approved!

[2021-02-28 16:00] #2085 closed, assigned to jonrkarr

[2021-03-01 14:20] bilalshaikh42 commented on #2255
Seems to be working correctly

[2021-03-01 14:20] #2255 closed, assigned to gmarupilla

[2021-03-01 14:23] #2273 closed, assigned to nobody

[2021-03-01 14:23] #2274 closed, assigned to nobody

[2021-03-01 14:24] bilalshaikh42 commented on #2272
I see am seeing the issue. it seems to be happening intermittently. I'll investigate it and check the logs. I didn't write this part of the code, so not sure what could be happening.

[2021-03-01 16:24] #2110 closed, assigned to bilalshaikh42

[2021-03-03 21:14] jonrkarr commented on #2248
Done

[2021-03-03 21:14] #2248 closed, assigned to jonrkarr

[2021-03-03 21:14] jonrkarr opened #2290 "Clean up test tag and release"
https://github.com/biosimulations/Biosimulations/releases/tag/test
https://github.com/biosimulations/Biosimulations/tree/test

[2021-03-04 18:10] bilalshaikh42 commented on #2290
Done

[2021-03-04 18:10] #2290 closed, assigned to bilalshaikh42

[2021-03-04 21:06] bilalshaikh42 commented on #2186
Resolved upstream, need to update packages

[2021-03-04 21:08] bilalshaikh42 commented on #2140
These are now all uploaded to the s3 bucket. Separate issues will be added for downloading each type of output, hdf, zip, and plots.

[2021-03-04 21:08] #2140 closed, assigned to nobody

[2021-03-05 05:26] jonrkarr opened #2294 "Simulations fail in dev deployment due to AWS error"
@bilalshaikh42 I'm guessing this is just a consequence of an intermediate state of development in working with AWS. In case you're not aware, here's an issue I saw. The production deployment isn't affected.

Example: https://run.biosimulations.dev/simulations/6041bf61c3d87d575aefbcd1#tab=log

[code]

[2021-03-05 06:11] #2294 closed, assigned to bilalshaikh42

[2021-03-05 07:54] jonrkarr opened #2298 "Move vega dependencies to devDependencies?"
@bilalshaikh42 should the Vega dependencies be moved to `devDependencies`?

[code]

[2021-03-05 08:07] jonrkarr opened #2299 "Align data model for reports with Vega (change from map to list of objects)"
The current data model below for the values of data sets of SED reports (e.g., columns of CSV result tables) isn't immediately compatible with Vega.
[code]

Because it's not compatible with Vega, I needed to transform our data for use with Vega (this is done with TypeScript code in the dispatch app). This means that we can't use URLs to our API to connect Vega with our data. Instead, the values of

[2021-03-05 16:35] jonrkarr commented on #2298
Done. Needed to avoid installing dependencies needed to compile canvas into the production Docker image. This would have added a few hundred MB to the Docker image.

[2021-03-05 16:35] #2298 closed, assigned to jonrkarr

[2021-03-06 06:35] jonrkarr opened #2301 "Zip file is empty for some simulation runs"
Example
http://run.biosimulations.dev/simulations/6043193db540fd9bc85b90a6

[2021-03-06 06:57] jonrkarr opened #2303 "Support Vega-Lite in addition to Vega"

[2021-03-07 00:25] #1839 closed, assigned to bilalshaikh42

[2021-03-07 00:25] #1838 closed, assigned to nobody

[2021-03-10 14:51] bilalshaikh42 commented on #2301
I have not seen this happening on the org deployment. Can you confirm that?

[2021-03-10 14:53] bilalshaikh42 commented on #2301
Oops, I see the error. Silly mistake in the paths of the files. I'll put up a patch shortly

[2021-03-10 18:18] bilalshaikh42 commented on #2301
What should we include in the output folder? Now that we are producing an HDF5 output, the files present in the output directory are

1. The HDF5 File
2. Log.yml
3. plots.zip
4. Sbatch Script
5. stdout/stderr
6. omex archive

Should all of these be included? Or should we just provide the HDF file?

[2021-03-10 18:30] jonrkarr commented on #2301
The only things that seem essential are
- reports.h5
- plots.zip

In case log.yml > 16 MB, I guess that can be included too. Same with stdout/error.

The OMEX archive doesn't seem critical to include with the outputs since its available separately.

The SBATCH provides some transparency about exactly what runBioSimulations does, but its reusability is a little limited because its somewhat specific

[2021-03-10 18:54] bilalshaikh42 opened #2307 "Add colors and sectioning to stdout"

[2021-03-10 19:12] bilalshaikh42 opened #2308 "Add a delete all button for dispatch table"

[2021-03-11 17:14] #2042 closed, assigned to nobody

[2021-03-11 17:14] #2272 closed, assigned to bilalshaikh42

[2021-03-11 17:14] #2301 closed, assigned to jonrkarr, bilalshaikh42

[2021-03-11 17:20] bilalshaikh42 opened #2316 "Remove uneeded files from output zip"
Currently, all the files of the directory, including the omex and sbatch file. These should be removed.

[2021-03-11 20:18] bilalshaikh42 commented on #2316
Forgot that I already did this in #2309

[2021-03-11 20:18] #2316 closed, assigned to nobody

[2021-03-21 00:25] #1929 closed, assigned to nobody

[2021-03-21 00:25] #1738 closed, assigned to nobody

[2021-03-21 00:25] #1688 closed, assigned to nobody

[2021-03-21 19:02] jonrkarr opened #2321 "Results and logs are not recorded from some simulation runs"
Example
- [ ] https://run.biosimulations.org/simulations/605797d69ee11f86483dde5a

Here's another example which generates a different error:
- [ ] https://run.api.biosimulations.dev/results/6057976761883685e1e8c86f?sparse=true

[2021-03-22 14:01] bilalshaikh42 commented on #2321
Does this happen every time? I am working on reproducing this now

[2021-03-22 14:08] bilalshaikh42 commented on #2321
I see this is happening for the boolent example. This is the same error that we discussed. Here is the full trace. Some element is being added to the mongo db that has a "." in it I beleive.

[code]

[2021-03-22 14:09] bilalshaikh42 commented on #2321
This error happens when the results and logs are being posted to the api.  The front end then gets the 404 page. The "log not found" was an older fallback that is now removed.

[2021-03-22 21:44] jonrkarr opened #2323 "Add link to HARMONY video/slides to help"
https://www.youtube.com/watch?v=h0SCn0ZDqq8
https://drive.google.com/file/d/1Q0X6GNQlT5PfZOcBNVu1B92SSAxJWrnS/view?usp=sharing

https://biosimulators.org/help
https://run.biosimulations.org/help

[2021-03-23 20:20] todo[bot] opened #2331 "this needs to be changed everyime job srun changes. Need a better long term solu..."
https://github.com/biosimulations/Biosimulations/blob/48027610fa55feee351095bf5558a2069d2ae235/biosimulations/apps/dispatch-service/src/app/services/hpc/hpc.service.ts#L60-L65

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 48027610fa55feee351095bf5558a2069d2ae235. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-03-26 15:18] jonrkarr opened #2336 "Support for null array values is broken"
The BioSimulators API no longer accepts submissions with null algorithm parameters:
[code]

`null` is intended to mean that the parameters haven't been annotated. This distinct from empty array (`[]`) which indicates that the algorithm don't have any parameters.

[2021-03-26 16:27] bilalshaikh42 opened #2337 "Create vega files from the sedml plots"
Parse sedml to create vega files that can be presented as default visualization options on runBiosimulations

[2021-03-26 16:28] bilalshaikh42 opened #2338 "Add Libretext to cors"
Allow libre text to connect to the API via browser

[2021-03-26 16:55] jonrkarr commented on #2337
Use sbmlsim if possible

[2021-03-26 19:22] bilalshaikh42 commented on #2336
Do you know when this started? I can't think of any changes recently that would have caused this.

[2021-03-26 19:51] jonrkarr commented on #2337
@matthiaskoenig we're thinking of converting SED-ML plots to Vega as a way to render SED-ML plots online with runBioSimulations. Is this possible with sbmlsim?

[2021-03-26 20:12] jonrkarr commented on #2336
Not sure. the simulators API file hasn't been changed recently nor has the `addValidationForNullableAttributes` method.

[2021-03-26 21:57] matthiaskoenig commented on #2337
At the moment this is not possible. This is on the top of my list after finishing the SED-ML L1V4 plotting support.
See https://github.com/matthiaskoenig/sbmlsim/issues/27 to track the issue.

Currently I only provide rendering of plots via matplotlib, but this could easily be extended to provide D3 web output via mpld3. See https://github.com/matthiaskoenig/sbmlsim/issues/102 to track the issue

[2021-03-26 22:25] jonrkarr commented on #2337
This would work nicely with runBioSimulations. The main immediate motivation is to provide interactive versions of the plots in the SED-ML files in BioModels. We'll create this another way.

Here's the video and slides. We'll add links to this from https://biosimulators.org.
https://www.youtube.com/watch?v=h0SCn0ZDqq8
https://drive.google.com/file/d/1Q0X6GNQlT5PfZOcBNVu1B92SSAxJWrnS/view?usp=shari

[2021-03-26 22:34] matthiaskoenig commented on #2337
This should be easily doable. Especially the subset of SED-ML used by biomodels is very limited. I.e. it should be sufficient to render line plots in vega. You are talking about the SED-ML files in the curated branch in the COMBINE archives? If this is the use case this should be very easy to implement (because I would not need to have everything of SED-ML L1V4 for the subset).

[2021-03-26 22:41] jonrkarr commented on #2337
The curated subset of BioModels is trivial -- just 2d line plots. The plotting widget in runBioSimulations already supports the same options as SED-ML. We just need to connect the displayed curves to the sets of curves in SED-ML plots. To make multiple plots visible at once, we could tile plots together.

[2021-03-26 23:21] jonrkarr commented on #2323
Done

[2021-03-26 23:21] #2323 closed, assigned to jonrkarr

[2021-03-27 15:48] jonrkarr commented on #2336
Fixed in 3ac80f8435b78c169ad37934478fac3ebf47e4af. The problem was with the custom validation function I wrote.

[2021-03-27 15:48] #2336 closed, assigned to jonrkarr

[2021-03-27 16:11] jonrkarr commented on #2308
Done in 682590407938c8d22d2d24d559ee5c4eb1a87d81

[2021-03-27 16:11] #2308 closed, assigned to jonrkarr

[2021-03-28 04:05] jonrkarr commented on #2321
The error still happens even without "." in the report ids.

Here's an example:
[Irons J Theor Biol 2009.zip](https://github.com/biosimulations/Biosimulations/files/6216851/Irons.J.Theor.Biol.2009.zip)
https://run.api.biosimulations.dev/logs/6060003efac07b8bb39a1f13?download=false

[2021-03-30 03:17] #2338 closed, assigned to nobody

[2021-03-30 04:35] jonrkarr opened #2347 "Make the resources allocated to each simulation job configurable"
This is in response to reviewer feedback.

Currently, jobs are limited to 1 core, 8 GB, and 20 min.

20 min seems low. @moraru can we increase this to say 12 h?

[2021-03-30 04:38] jonrkarr opened #2348 "Document total resources available and resources available to each job"
@moraru, @mpw6  what is the total amount of resources available to the dispatch app (or could be allocated, potentially even just temporarily)?
- Cores
- RAM
- Disk space

I started slots for this information in the FAQ (`biosimulations/apps/dispatch/src/app/components/help/faq/faq.component.html`) in a new branch.

[2021-03-30 07:29] moraru commented on #2347
This is some blatant error or misunderstanding – regular jobs are capped at a wallclock time of 20 *days*, not *minutes*… Not sure where this comes from.  And, BTW, the limit can be overridden – for VCell, we have a special “power user” setting which allows jobs to run for 21 days or longer, which we can also configure for biosimulations if necessary, but it obviously never came into play, since n

[2021-03-30 07:31] jonrkarr commented on #2347
I believe Bilal is setting the SBATCH jobs much more conservatively. We're
going to change this.

On Tue, Mar 30, 2021, 3:29 AM moraru ***@***.***> wrote:

[2021-03-30 07:59] moraru commented on #2348
That is a loaded question.  Since biosim is running in the general pool, jobs can *potentially* use up to the entire amount of non-reserved resources (thousands of cores, TBs of RAM, and PBs of storage).  Obviously not the proper answer, need some thinking about how to address.

From: Jonathan Karr ***@***.***>
Sent: Tuesday, March 30, 2021 12:39 AM
To: biosimulations/Biosimulations ***@***.***>
C

[2021-03-30 14:58] bilalshaikh42 commented on #1491
@jonrkarr

[2021-03-30 15:04] bilalshaikh42 commented on #2347
Sorry for the confusion. I simply set the limit to 20 minutes, since I wanted jobs to time out beyond that while testing. This can be much greater.

[2021-03-30 16:13] jonrkarr commented on #2347
- [x] Add options to GUI
    - Default options should be higher than present values
    - Maxima:  24 cores, 192 GB RAM, and 20 days
- [x] Add options to REST API
   - Validation should enforce our chosen maxima: 24 cores, 192 GB RAM, and 20 days
- [x] Apply options to SBATCH script

[2021-03-30 16:15] jonrkarr opened #2353 "Enhance simulation submission form to help users find specific tools capable of executing their COMBINE archive"
Add select boxes for
- [x] Model format
- [x] Modeling framework
- [x] Simulation algorithm

Select boxes should be linked to filtering the simulators select box

[2021-03-30 16:16] jonrkarr opened #2354 "Move service for getting ontology terms in simulator app to common service"
So ontology terms can be reused in dispatch app for #2353

Duplicate code (nearly identical)
- `biosimulators/apps/simulators/src/app/simulators/ontology.service.ts`
- `biosimulators/apps/dispatch/src/app/services/ontology/ontology.service.ts` (only supports a subset of the ontologies; otherwise identical to the other service)

Todo
- [x] Move `biosimulators/apps/simulators/src/app/simulators/onto

[2021-03-30 16:30] jonrkarr opened #2355 "Build form for creating COMBINE archives with model files"
- Select box for model file
- Select box for format of this file
- Select box for type of simulations -- uniform time course, steady state
- Input for time course parameters
  - Start time
  - Output start time
  - Output end time
  - Number of points
- Select box for algorithm (KiSAO term) -- can indicate which tools support it
   "CVODE -- tellurium, VCell"
- Table of Input boxes for values of p

[2021-03-30 16:32] jonrkarr opened #2356 "Add webform and endpoint to validate COMBINE archive"
For XML model formats, validate XPATHs

[2021-03-30 18:58] jonrkarr commented on #2348
This what I'm thinking of responding with and posting to the FAQ:

[2021-03-30 18:58] #2348 closed, assigned to jonrkarr

[2021-03-31 04:39] jonrkarr commented on #2347
Ready to test and deploy

[2021-03-31 17:27] jonrkarr commented on #2353
Names of ontology terms need to be pulled from the ontology API. This requires #2354.

[2021-03-31 17:29] jonrkarr opened #2368 "Pull names of ontology terms into enhanced simulation submission form"
Can be done once #2354 is completed

[2021-03-31 23:01] todo[bot] opened #2369 "move this conversion to the write side after parsing hdf files"
https://github.com/biosimulations/Biosimulations/blob/3ab72df91be780e9b63a79c2be5233bbde13258e/biosimulations/apps/dispatch-api/src/results/results.controller.ts#L184-L189

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 3ab72df91be780e9b63a79c2be5233bbde13258e when #2358 was merged. cc @biosimulations.

[2021-03-31 23:01] todo[bot] opened #2370 "abstract this conversion"
https://github.com/biosimulations/Biosimulations/blob/3ab72df91be780e9b63a79c2be5233bbde13258e/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L547-L552

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 3ab72df91be780e9b63a79c2be5233bbde13258e when #2358 was merged. cc @biosimulations.

[2021-03-31 23:01] todo[bot] opened #2371 "abstract this conversion"
https://github.com/biosimulations/Biosimulations/blob/ba42dcc8b74068a280c6dc2f7d915c8c27a55f45/biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts#L547-L552

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ba42dcc8b74068a280c6dc2f7d915c8c27a55f45. It&#x27;s been assigned to @bilalshaikh42 because they committed the

[2021-04-01 00:04] bilalshaikh42 opened #2372 "Strange Clipping in Vega Visualization"
**Please describe the bug**
There is a strange clipping effect when the vega figure is panned

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Go to https://run.biosimulations.dev/simulations/60650c6ca7398bdfac3203a8#tab=viz
2. Click and hold the map. Move map around
3. Note trail of letters left when map is moved (see example photo)

**Screenshots**
If applicable,

[2021-04-01 00:48] jonrkarr commented on #2372
I've seen this. Andrew has too. It's not specifically related to this diagram. Its a bug in Vega or more likely in the canvas package that Vega uses for rendering. Its probably exacerbated with the complexity of the diagram. In either case, there's not much we can do except file a bug report. The other thing we could do is switch to the SVG renderer. But, the performance would likely be significan

[2021-04-01 05:07] jonrkarr commented on #2353
Names of ontology terms are now pulled. Duplicate code for reading ontology terms should still be moved to a shared library.

[2021-04-01 05:08] jonrkarr commented on #2368
Done. Duplicate code for pulling ontology terms should still be moved to a shared library.

[2021-04-01 16:31] #2370 closed, assigned to nobody

[2021-04-02 00:36] #2347 closed, assigned to jonrkarr

[2021-04-02 00:36] #2353 closed, assigned to jonrkarr

[2021-04-02 00:36] #2368 closed, assigned to jonrkarr

[2021-04-03 05:13] jonrkarr opened #2383 "Disable CORS for Vega editors"
- [x] https://vega.github.io/editor/
- [x] http://idl.cs.washington.edu/projects/lyra/app/

[2021-04-03 05:18] jonrkarr commented on #2383
Will be done in #2346 shortly.

[2021-04-03 19:50] jonrkarr opened #2385 "Initialize plots according to SED plot specifications in COMBINE archives"
- [ ] Make simulators save plot data to HDF5
- [x] Implement logic for `/combine/sedml-output-specs` endpoint with Python
- [x] Deploy endpoint
- [x] Map endpoint to `getSpecsOfSedPlotsInCombineArchive` in `visualization.service.ts`
- [x] Use `getSpecsOfSedPlotsInCombineArchive` to initialize plots in `https://run.biosimulators.org/simulations/{run-id}`

[2021-04-03 19:53] jonrkarr commented on #2385
I created a skeleton of a method (`getSpecsOfSedPlotsInCombineArchive` in `visualization.service.ts`) for retrieving the specifications of the SED plots in a COMBINE archive. This method can be connected to the new Python-powered endpoint (`/combine/sedml-output-specs`).

I connected the method to the initialization of plots. I tested this with the data below with the Caravagna simulations (e.g.,

[2021-04-03 22:16] jonrkarr commented on #2385
I think the Python code for this endpoint is ready for deployment and calling from `visualization.service.ts`.

I still need to update the simulators to save the plot data to the HDf5/CSV files.

[2021-04-04 00:10] #2003 closed, assigned to nobody

[2021-04-04 00:10] #1988 closed, assigned to nobody

[2021-04-04 00:10] #1624 closed, assigned to nobody

[2021-04-05 21:39] jonrkarr commented on #2355
Form data
- Model file
- Language of model file
  - BNGL: `urn:sedml:language:bngl`, `http://bionetgen.org/`
  - ~~CellML:`urn:sedml:language:cellml`, `http://identifiers.org/combine.specifications/cellml`~~
  - SBML: `urn:sedml:language:sbml`, `http://identifiers.org/combine.specifications/sbml`
  - ~~Other~~
- Type of simulation
  - Time course: SedUniformTimeCourseSimulation
  - Steady state: S

[2021-04-05 22:49] #2383 closed, assigned to jonrkarr

[2021-04-06 19:48] bilalshaikh42 commented on #2069
Still needed

[2021-04-09 15:20] bilalshaikh42 opened #2409 "Combine Endpoint has invalid example"
The documentation for the /combine/create endpoint does not have a 'value' object. This makes testing difficult as the docs cannot be used to make calls without manually editing the input

[2021-04-09 15:40] jonrkarr commented on #2409
Not sure what you're referring to.

[2021-04-09 19:01] jonrkarr opened #2410 "BoolNet Container Logs are not compatible with json endpoint"
- COMBINE archive: https://run.api.biosimulations.dev/run/607093329bb7309709d0ecd1/download
  Simulator: BoolNet

- COMBINE archive: https://run.api.biosimulations.dev/run/607094329bb73048d2d0ecd6/download
  Simulator: BoolNet

- COMBINE archive: https://run.api.biosimulations.dev/run/6070a3ca9bb730760cd0ece0/download
  Simulator: BoolNet

[2021-04-09 20:46] bilalshaikh42 commented on #2410
The listed simulations ran correctly, so there must be some other issue.

[2021-04-09 20:52] bilalshaikh42 opened #2412 "Cannot Submit Simulations using webform"
The submit button is not working on the webform.

[2021-04-09 20:56] jonrkarr commented on #2412
How so?

The form has changed. Its necessary to select a file and choose a simulation tool.

[2021-04-09 20:59] bilalshaikh42 commented on #2412
Starting a new run, it seems that one needs to both upload a file, then switch to the "url" option and paste a URL. Then, either a file upload or URL will work.

[2021-04-09 21:00] bilalshaikh42 commented on #2412
This must be a validation issue where both fields are marked as required

[2021-04-09 21:02] bilalshaikh42 commented on #2412
The button also does not seem to indicate when it is disabled or enabled. The color remains grey throughout. Didn't this turn blue when ready previously?

[2021-04-09 21:14] bilalshaikh42 commented on #2410
This is being caused by the log output of the simulation run. The following structure is not able to be converted to json for uploading to the API.

[code]

Here is the error from the parser

[code]

[2021-04-09 21:17] bilalshaikh42 commented on #2410
Attached is the full simulation ouput
[6070bd64a3fde934863fadbf.zip](https://github.com/biosimulations/Biosimulations/files/6288560/6070bd64a3fde934863fadbf.zip)

[2021-04-09 21:19] #1491 closed, assigned to nobody

[2021-04-09 21:21] jonrkarr commented on #2412
I fixed the validation of the combination of the file/URL options.

The button is now always enabled. Clicking it before the form is valid will lead to errors being displayed.

[2021-04-09 21:25] jonrkarr commented on #2410
I see the issue now. This straightforward to fix.:
- [x] Change simulator details for BoolNet to use plain Python types (rather than R types) which serialize nicely to JSON
- [x] Push new version to BioSimulators

This strange. Other archives work fine with BoolNet.

[2021-04-09 21:26] bilalshaikh42 commented on #2412
Are the changes pushed?

[2021-04-09 21:29] bilalshaikh42 opened #2413 "Change view simulation run error handling to allow for partial failures."
Currently, any error in fetching a part of the simulation causes the entire page to be replaced with an error handler page. This means that missing logs prevent results from being visualized.  In the reverse, if a dataset is missing, the user is unable to view the logs.
The errors need to be caught at the component level rather than the app level.

[2021-04-09 21:30] #2372 closed, assigned to jonrkarr

[2021-04-09 21:32] jonrkarr commented on #2412
They are will be in #2414.

[2021-04-09 22:06] jonrkarr commented on #2355
Largely done in #2414 except
- [x] Create archives using models at URLs
- [x] Get variables using models at URLs
- [x] Basic model changes

[2021-04-09 22:13] bilalshaikh42 opened #2415 "Delete created combine archives after some time"

[2021-04-09 22:25] jonrkarr commented on #2415
This refers to archives created by https://run.biosimulations.org/create.

This should be deleted, say after 24 h, so we're not storing users data long-term.

[2021-04-11 00:10] #2045 closed, assigned to nobody

[2021-04-11 00:10] #1224 closed, assigned to nobody

[2021-04-11 00:10] #1223 closed, assigned to nobody

[2021-04-11 15:11] jonrkarr commented on #2415
I believe this can be done with a lifecycle configuration rule.
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#bucketlifecycleconfiguration
https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketLifecycleConfiguration.html

Here's Python code. Note, I've changed the prefix to `temp/createdCombineArchive/` to help us keep track of these files.
[code]

[2021-04-11 20:24] jonrkarr opened #2416 "Simulation results not saved for some simulations and overall status doesn't reflect such errors"
Example (with BoolNet): https://run.api.biosimulations.dev/results/607093329bb7309709d0ecd1?sparse=true

Here's a summary of how this example is currently handled:
- There appear to have been failures both in saving results and logs.
- This example has status "succeeded" even though results and logs weren't saved.
- The results retrieval endpoints raises a 404 error, which we are interpreting to m

[2021-04-11 20:28] jonrkarr opened #2417 "View simulation pages hit results and log endpoints multiple times due to chain of piping"
I think rxjs `share` or `shareReplay` needs to be used to prevent the simulation pages (e.g., http://localhost:4200/simulations/60735544c94a8a93ae7bf2b5) from hitting the results and log endpoints multiple times.

I haven't read to figure out how this supposed to work. Instead, I tried blindly adding to no avail.

[2021-04-11 22:15] #2355 closed, assigned to jonrkarr

[2021-04-11 22:15] #2409 closed, assigned to nobody

[2021-04-11 22:15] #2412 closed, assigned to jonrkarr

[2021-04-11 22:15] #2413 closed, assigned to nobody

[2021-04-12 03:14] jonrkarr commented on #2410
Fixed in Biosimulators_BoolNet 0.1.8. This should be pushed through to BioSimulators soon.

Todo
- [ ] Check that runBioSimulations can now correctly simulate the COMBINE archive for the above failures.

[2021-04-12 16:28] bilalshaikh42 opened #2420 "Simulator API container is not working correctly"
This is due to the last commit. Importing the utils service in the following file is the cause of the issue. The utils service only works for frontend apps, but this is not reflected in the lining rules.

@jonrkarr would you be able to refactor this?

biosimulations/libs/simulators/database-models/src/lib/algorithmParameter.ts

[2021-04-13 16:18] #2420 closed, assigned to jonrkarr, bilalshaikh42

[2021-04-13 16:21] bilalshaikh42 opened #2427 "Create separate docker images for front end to allow better deployments of development branches"

[2021-04-13 19:05] bilalshaikh42 commented on #2417
This was an interesting exercise actually. Notes as I was debugging that might be helpful sometime later:

If one loads the url as shown above, then logs are called multiple times. This is because the app as a whole is initializing, so the simulation stored in the cache is updated, triggering a refresh of all downstream observables. This can be fixed in the simulator service, but the interaction b

[2021-04-13 19:07] jonrkarr commented on #2417
Great!

[2021-04-13 19:23] #2416 closed, assigned to bilalshaikh42

[2021-04-13 19:25] bilalshaikh42 opened #2430 "Add formatting to the CI"
Use nx format to automatically format the code on each push. This will keep all formatting to separate commits to make git diffs easier to parse

[2021-04-13 19:27] jonrkarr commented on #2430
This would be convenient.

[2021-04-13 19:28] bilalshaikh42 commented on #2415
I agree that the lifecycle configuration is ideal to use.  I am a bit uncertain on how to manage this across the various apps. It seems that the "put" method replaces the entire configuration. Each app would only have knowledge of its own rules.

This might be better of as a one of script/ its own config in a file in the repo. This seems more of a policy change made at the infrastructure level rat

[2021-04-13 19:31] jonrkarr commented on #2410
I made a few additional changes to BoolNet that will be pushed once the new version BioSimulators-utils is pushed through to PyPi in a few minutes:
- Used libSBML for stricter model validation
- Fixed typo in error message
- Fixed handing of namespaces in attribute references in target XPATHs in BioSimulators-utils

[2021-04-13 20:42] #2415 closed, assigned to bilalshaikh42

[2021-04-13 20:44] bilalshaikh42 opened #2432 "Confirm that the created combine archives are being deleted as set in the policy"
[Sample File](http://biosimdevbucket.cam.uchc.edu/s3/temp/createdCombineArchive/dcddf914-399f-4188-a1de-b77eed589aaf)

[2021-04-13 20:52] jonrkarr commented on #2415
Handling this globally works. I didn't mean to suggest this needed to be managed locally by each app.

Few other thoughts -- no action needed.
- If you wanted to handle it locally to each app, you could use a combination of `get` and `put` calls to make sure you preserve all other lifecycle rules.
- Another option to support more local management of lifecycle rules is to use multiple buckets. I do

[2021-04-13 21:03] bilalshaikh42 opened #2433 "Create CI action to apply the bucket policies"

[2021-04-13 21:04] #2417 closed, assigned to bilalshaikh42

[2021-04-13 21:04] todo[bot] opened #2434 "Remove all of these hardcoded paths"
https://github.com/biosimulations/Biosimulations/blob/c3346c02be46dc89d365b734bd07cb9521a6d4b9/biosimulations/apps/dispatch/src/app/services/dispatch/dispatch.service.ts#L137-L141

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c3346c02be46dc89d365b734bd07cb9521a6d4b9 when #2429 was merged. cc @biosimulations.

[2021-04-13 21:05] jonrkarr opened #2435 "Change COMBINE archives to be downloaded rather than redirected to"
The UI can't facilitate the downloading of COMBINE archives due to this security issue (runBioSimulations runs over HTTPs, but the download runs over HTTP).
[code]

Steps to reproduce:
- Open https://run.biosimulations.dev/create?modelUrl=https:%2F%2Fraw.githubusercontent.com%2Fbiosimulators%2FBiosimulators_utils%2Fdev%2Ftests%2Ffixtures%2FBIOMD0000000075.xml&modelFormat=format_2585&modelingFramew

[2021-04-13 21:06] jonrkarr commented on #2433
That's smart.

[2021-04-13 21:17] bilalshaikh42 commented on #2435
A temporary solution is to redirect the users to the URL rather than have
the UI trigger the download. We should have https working shortly

On Tue, Apr 13, 2021 at 5:05 PM Jonathan Karr ***@***.***>
wrote:

[2021-04-13 22:34] jonrkarr commented on #2435
I temporarily changed this to redirection. This should be changed back once HTTPS is enabled so that the UI can make sure the file is downloaded with a more informative named e.g., `archive.omex` rather than `{id}.zip`.

[2021-04-13 22:47] jonrkarr opened #2437 "Simulations all stuck in processing state"
I've tried several simulations with BoolNet, PySCeS and tellurium. They're all getting stuck in the processing state. The log for the first one is below.

- http://localhost:4200/simulations/60760fcf9100bf17622f6aa6#tab=log
- http://localhost:4200/simulations/60761d629100bf6bac2f6aa9
- http://localhost:4200/simulations/60761edd9100bfd0f02f6aae
- https://run.biosimulations.org/simulations/60761f034

[2021-04-13 22:50] jonrkarr commented on #2410
This should be working. Can confirm when simulation service is working again.

[2021-04-13 23:20] todo[bot] opened #2438 "once https is enabled for http://biosimdevbucket.cam.uchc.edu,"
https://github.com/biosimulations/Biosimulations/blob/f36d2920d220e20cea22a7cf057b10b914abce67/biosimulations/apps/dispatch/src/app/components/create-simulation-project/create-simulation-project/create-simulation-project.component.ts#L1548-L1553

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f36d2920d220e20cea22a7cf057b10b914abce67 when #2436

[2021-04-13 23:20] todo[bot] opened #2439 "once https is enabled for http://biosimdevbucket.cam.uchc.edu,"
https://github.com/biosimulations/Biosimulations/blob/75db0c6d8bc96d3a2395635c9bc5b5e19a4867c1/biosimulations/apps/dispatch/src/app/components/create-simulation-project/create-simulation-project/create-simulation-project.component.ts#L1548-L1553

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 75db0c6d8bc96d3a2395635c9bc5b5e19a4867c1. It&#x27;s

[2021-04-13 23:25] jonrkarr commented on #2438
Redundant with #2435

[2021-04-13 23:25] #2438 closed, assigned to nobody

[2021-04-13 23:25] jonrkarr commented on #2439
Redundant with #2435

[2021-04-13 23:25] #2439 closed, assigned to jonrkarr

[2021-04-14 00:18] bilalshaikh42 commented on #2437
Just to clarify, are you running these on local host? The  dispatch service will not be able to read the output files since it is relying on an NFS mount to uconn. This is the last part of the system that depends on the mount, (issue #2069 ). The processing step won't be successful.

Since I made the change to process the result upload independently it might now timeout rather than just failing. I

[2021-04-14 00:20] bilalshaikh42 commented on #2437
I am able to run the simulation on the deployment just fine here
https://run.biosimulations.dev/simulations/60763500aae5614fe1bf0c4b

[2021-04-14 00:29] bilalshaikh42 commented on #2437
I see, I am able to reproduce the issue on the .org domain.  Here is the error that we are getting. I am not sure anymore how far the org deployment is from the dev, but we should update it. This error would have been caught and caused the job to fail on the current dev deployment.
[code]

[2021-04-14 00:34] bilalshaikh42 commented on #2437
Though it seems we have a different issue on the dev deployment.

[code]

[2021-04-14 01:48] jonrkarr commented on #2437
I tried local and .org. I tried the simulation with "." in the id and one of the example simulations that we've run previously with 3 tools.

Is the key with "." being used in logs or results?

The .org deployment is old. This can definitely be updated.

[2021-04-14 02:22] bilalshaikh42 commented on #2437
This key with "." is being uploaded to results. (It seems the field is
called Time (arb.) ) or something along those lines.

On Tue, Apr 13, 2021 at 9:49 PM Jonathan Karr ***@***.***>
wrote:

[2021-04-14 02:30] jonrkarr commented on #2437
I thought this was changed with the new data model for results. It sounds like there's still a data model somewhere that needs to be converted from a dictionary to a list of objects.

[2021-04-14 02:48] bilalshaikh42 commented on #2437
Yes, the data is returned in the new structure but still stored in the old way.  I'll create an issue to fix that.
This issue has been resolved as now the simulation will be marked as failed as it should be. I had some confusion on the error handling due to returning  Promise<void> by having an  async function return 'void'  as opposed to  returning a Promise that resolves to void.  The type check

[2021-04-14 02:57] bilalshaikh42 opened #2440 "Results cannot handle special characters in keys."
This has supposedly been resolved in later versions of mongo, but might need to set some options on the drivers.

[Some discussions on workarounds
](https://stackoverflow.com/questions/12397118/mongodb-dot-in-key-name)

[2021-04-14 02:57] jonrkarr commented on #2437
Thanks. Feel free to change the structure of the log or create an issue for me to make a change.

I'm getting starting on the last topic for the revision -- improving error messages from the simulation tools, plus still trying to wrap up the display of plots described in SBML.

[2021-04-14 02:57] #2437 closed, assigned to bilalshaikh42

[2021-04-14 02:58] jonrkarr commented on #2437
Didn't intend reopen this.

[2021-04-14 03:07] bilalshaikh42 opened #2441 "Make application errors more transparent to users"
**Is your feature request related to a problem? Please describe.**

In some cases, a simulation may execute  properly, but our code/handling of the results has a bug, or some network issue leads to errors with properly uploading the results or logs. In these cases, #2428 made sure that the simulation was marked as failed rather than succeeded. However, the actual cause of the failure is not noted

[2021-04-14 03:07] jonrkarr commented on #2440
The [MongoDB docs](https://docs.mongodb.com/manual/core/document/) say
- The database engine supports "." and "$" as of v3.6
- The query language doesn't support "." and "$"

The [Moongoose issues](https://github.com/Automattic/mongoose/issues/7470) also appear to suggest that "." isn't yet supported.

In practice, it sounds like  "." and "$" can't be used and they need to be avoided. As long as w

[2021-04-14 04:09] jonrkarr opened #2442 "Add attribute to results data model(s) to keep track of the type of each "report""
In order to render plots described in SED documents as discussed at the end of the HARMONY with Lucian Smith and Frank Bergmann, we need to save the data for plots (e.g. to HDF/CSV). After thinking about this, I think the simplest solution is to basically treat report and plot data the same -- save the plot data to CSV/HDF and use the same typescript/MongoDB data structures.

To help keep track of

[2021-04-14 22:44] jonrkarr opened #2448 "Simulation runs stuck in running status"
Is there potentially a problem submitting simulations shortly after an image refresh was triggered? or are some image refreshes failing?

I was able to run a couple simulations with BoolNet this hour, but simulations with PySCeS and tellurium are stuck in running status
- https://run.biosimulations.dev/simulations/607769c665d205e3b7ea2f43
- https://run.biosimulations.dev/simulations/60776a8265d205

[2021-04-15 14:34] jonrkarr commented on #2410
The fix looks to be deployed.

[2021-04-15 14:34] #2410 closed, assigned to jonrkarr

[2021-04-15 15:09] bilalshaikh42 commented on #2448
The logs suggest that the image needed to be built, and this caused the timeout. It seems that building the images in advanced in quite necessary. Did you call the image refresh endpoint when the images were updated?

[2021-04-15 15:18] bilalshaikh42 commented on #2448
Okay, seems that the job to generate the image itself was timed out. I will increase the timeout for this.

[2021-04-15 15:50] jonrkarr commented on #2448
I refreshed the images hours earlier. It seemed like image generation likely had failed and no valid image was available.

[2021-04-15 15:53] jonrkarr opened #2455 "Add API endpoint to get list of available Singularity images and their tags and hashes"
Currently, its hard to figure out whether an image for a simulator has been refreshed and what version/hash is currently available for simulation. It would be helpful to have an endpoint which reads out some information about this.

[2021-04-15 15:58] jonrkarr opened #2456 "Add feature to export visualizations design with UI to SED-ML"
- [ ] Add button to `biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.html`
- [ ] Add method to `biosimulations/apps/dispatch/src/app/components/simulations/view/view.component.ts` that converts the visualization configured with the UI into a form similar to SED-ML. The method should call a new endpoint that patches SED-ML files in COMBINE archives and download the r

[2021-04-15 17:33] bilalshaikh42 commented on #2448
Should be fixed

[2021-04-15 17:33] #2448 closed, assigned to bilalshaikh42

[2021-04-15 17:37] bilalshaikh42 commented on #2432
The sample file is still present. need to figure out why

[2021-04-15 21:52] jonrkarr commented on #2299
The output data model has been aligned such that API URLs can now be used directly in Vega documents.

[2021-04-15 21:52] #2299 closed, assigned to bilalshaikh42

[2021-04-15 21:53] jonrkarr commented on #2307
I believe this has been done. Colors and sectioning are now visible.

[2021-04-15 21:53] #2307 closed, assigned to nobody

[2021-04-15 21:55] jonrkarr commented on #2321
This is now covered by #2440.

[2021-04-15 21:55] #2321 closed, assigned to bilalshaikh42

[2021-04-15 21:56] jonrkarr commented on #1762
I believe this is done.

[2021-04-15 21:56] #1762 closed, assigned to nobody

[2021-04-15 21:57] jonrkarr commented on #1411
Upon further thought, this is not possible. KiSAO doesn't have enough information about the similarity between algorithms. Instead, we have added forms that help users pick appropriate simulation tools.

[2021-04-15 21:57] #1411 closed, assigned to nobody

[2021-04-15 22:43] #2385 closed, assigned to jonrkarr, bilalshaikh42

[2021-04-16 03:43] jonrkarr opened #2459 "Simulation results storage appears to be failing"
Examples with tellurium:
- http://localhost:4200/simulations/6079067de1002d931719ecd2#tab=log
- https://run.biosimulations.dev/simulations/607906b7e1002d562919ecd9#tab=log

[2021-04-16 03:43] jonrkarr opened #2460 "Simulations are getting stuck in running state"
Examples with COPASI and GillesPy2:
- http://localhost:4200/simulations/60790638e1002d4dbe19ecd0
- http://localhost:4200/simulations/607905bce1002d786f19ecce

[2021-04-16 03:48] jonrkarr commented on #2460
I think this is because the images weren't available and had to be converted to singularity images.

[2021-04-16 03:48] #2460 closed, assigned to bilalshaikh42

[2021-04-16 05:03] bilalshaikh42 commented on #2459
Here are the relevant logs:
Dispatch Service:
[code]

Dispatch API:
[code]

The Parse error happens when a dataset contains a mix of datatypes. I.e booleans mixed with floats.
[Here](https://github.com/biosimulations/Biosimulations/blob/0bcec6470884845b5e79a151c696756af00aa1f8/biosimulations/apps/dispatch-api/src/results/results.controller.ts#L106) is the code that raised the error
[code]

EDIT: I

[2021-04-16 05:17] bilalshaikh42 commented on #2459
I see the problem. There is no field called ""Phosphorylated". However, there is  "Phosphorylated,  modified Swe1", and other such fields. The data is being read from csv output. The first comma in the header is causing the issue. "modified Swe1" cannot be parsed into a number, causing the issue.

This should be addressed by  parsing the HDF rather than the csv I imagine. But until  then, we can f

[2021-04-16 05:21] jonrkarr commented on #2459
It may be because one of the rows begins with `"Phosphorylated, modified Swe1"` (enclosed in double quotes due to a comma inside the row label). csv2json's docs suggest it should be able to handle this. Maybe its not handling this.

Can you also check that csv2json works with unicode characters (e.g., `TNFα`)?

[2021-04-16 05:22] bilalshaikh42 commented on #2459
[Here ](https://github.com/biosimulations/Biosimulations/blob/0bcec6470884845b5e79a151c696756af00aa1f8/biosimulations/apps/dispatch-service/src/app/results/results.service.ts#L98) is the parsing code causing the error, in particular line 98. It is simply splitting on "," without accounting for any quotes.

[code]

[2021-04-16 05:23] jonrkarr commented on #2459
The CSV files are valid CSV. Elsewhere you're using csv2json. This can handle the splitting correctly. Use csv2json at line 98 instead.

`import csv from 'csvtojson';`

[2021-04-16 05:25] bilalshaikh42 commented on #2459
If  I remember correctly, the reason this is done manually was because csvtojson was assuming a different orientation than was output. I'll look into working around that.

This is the same issue that I ran into  https://github.com/Keyang/node-csvtojson/issues/381

[2021-04-16 05:29] jonrkarr commented on #2459
You could use csv2json and then transpose the result. Its fine it this isn't maximally efficient. It just has to work correctly until we can move to using HDF5.

[2021-04-16 05:33] bilalshaikh42 commented on #2459
Looking at the library and the spec, it does not seem that headings can be placed as the first column, but they must be the first row.

       of the file with the same format as normal record lines.  This
       header will contain names corresponding to the fields in the file
       and should contain the same number of fields as the records in
       the rest of the file (the presence or absenc

[2021-04-16 06:09] jonrkarr commented on #2459
Excel and many other programs don't have this constraint. Surely another NPM package can parse this.

[2021-04-16 18:05] bilalshaikh42 opened #2468 "API results validation does not account for padding of datasets with "NaN""
**Please describe the bug**
The API currently checks each row of the results by parsing the input into numbers. If the input is parsed to 'NaN' then the input is considered invalid. However, the BioSimulators specification recommends padding the dataset with  'NaN' to get equivalent shapes for each row.

@jonrkarr  Wanted to confirm that I should account for this in the API.  I can do a check to s

[2021-04-16 18:10] #2459 closed, assigned to bilalshaikh42

[2021-04-16 18:16] jonrkarr commented on #2468
"NaN" is valid in CSV because data sets don't necessarily have the same shape.

I'm using Pandas to create the CSV files. Here's how Pandas exports a 3x2 matrix of `NaN` with a single non-NaN at (2, 1) to CSV:

[code]

Pandas exports "NaN" as empty strings (``).

[2021-04-16 18:17] jonrkarr commented on #2468
Unfortunately, this is only the major subtle was that CSV is not used consistently -- more reason to use HDF5 where we can be more specific about NaN vs empty strings.

[2021-04-16 18:32] bilalshaikh42 commented on #2468
Sorry, I am not clear on what the final outputs will contain.  Should both empty strings and 'NaN' be accepted?

Another clarification: Will these ever be the first element of a dataset?

[2021-04-16 22:38] todo[bot] opened #2474 "add all scopes/find a way to automate this from auth0"
https://github.com/biosimulations/Biosimulations/blob/95289f4603035173e4ac975555939e9ecdbbbd09/biosimulations/apps/dispatch-api/src/main.ts#L122-L126

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 95289f4603035173e4ac975555939e9ecdbbbd09 when #2472 was merged. cc @biosimulations.

[2021-04-16 22:38] todo[bot] opened #2475 "add all scopes/find a way to automate this from auth0"
https://github.com/biosimulations/Biosimulations/blob/ff15503862e62412418f3144353e76a8cd877f7b/biosimulations/apps/dispatch-api/src/main.ts#L122-L126

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ff15503862e62412418f3144353e76a8cd877f7b. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-04-16 22:44] #2187 closed, assigned to bilalshaikh42

[2021-04-16 22:44] #2475 closed, assigned to bilalshaikh42

[2021-04-18 21:46] jonrkarr opened #2476 "Image refreshing still seems to sometimes fail to complete"
It seems image refreshing may still sometimes not complete. I think these refreshes may not have succeeded today (4/18 around 3-5 pm).
- AMICI 0.11.16
- COBRApy 0.21.0

Please also check tomorrow that these older versions correctly refreshed.
- AMICI 0.11.14
- AMICI 0.11.11
- COPASI 4.30.233
- COPASI 4.29.227
- COPASI 4.28.226

[2021-04-19 05:40] jonrkarr opened #2479 "Re-enable validation of schema of combine-service"
The schema for the combine-service is cyclic (`ValidationMessage` is a child of `ValidationMessage`). This seems to cause problems for some of the openapi libraries. I worked around this by disabling some validation.
- Validation that examples in API specs are consistent with the schema (in `.github/workflows/ci.yml`)
- Validation that the API responses adhere to the schema (in `biosimulations/app

[2021-04-20 19:09] bilalshaikh42 opened #2502 "Add button to run simmilar simulation"
The simulation view page can have a button to preload all of the information into the form to submit a new run. This will make it easier to make minor changes to repeated runs (ie change version of the tool)

[2021-04-20 19:13] jonrkarr commented on #2502
Yes, this requires a few changes
- Modify the create archive form to support modification
- Create an endpoint to extract models/ SED specifications out of archives
- Ideally, expand the create archive form to support more of the features of SED-ML, at the very least multiple tasks. This is relatively easy. The form elements for each task could be displayed within tabs or an accordion.

[2021-04-20 19:28] bilalshaikh42 commented on #2502
I was actually thinking much simpler. The omex file would be identical, but
give the use the option to swap it out entirely. Introspection of the
actual simulation is definitely a more complicated usecase. I ran into this
when trying to run the same simulation file with different versions of
simulators.

On Tue, Apr 20, 2021 at 3:14 PM Jonathan Karr ***@***.***>
wrote:

[2021-04-20 19:35] bilalshaikh42 opened #2503 "Cache M2M authentication credentials locally"
The backend services request a new credential on every request. This will cause issues over time as we hit the Auth0 rate limits. More importantly, It should give us some more leeway and reduce blast radius of a major outage such as today.

[2021-04-20 19:51] jonrkarr commented on #2502
That's this. Just add a route to `/run` with query arguments.

[2021-04-21 20:48] #2476 closed, assigned to bilalshaikh42

[2021-04-22 23:48] jonrkarr opened #2506 "COMBINE archive validation not working with uploaded files for Lucian"
https://run.biosimulations.org/validate

@bilalshaikh42 can you reproduce an error?

[2021-04-23 01:15] bilalshaikh42 commented on #2506
Is there a url to try it on in particular?

[2021-04-23 01:23] jonrkarr commented on #2506
He said it worked for him with archives at URL. The issue is with uploaded archives.

[2021-04-23 01:36] bilalshaikh42 commented on #2506
Works fine for me for the omex archives that happen to me in my downloads folder currently. Is there a particular omex archive or error message?

[2021-04-23 01:42] jonrkarr commented on #2506
Same for me. I can't reproduce the problem. Is there error logging set up yet that we can check?

[2021-04-23 01:43] bilalshaikh42 commented on #2506
Yup, no reported errors. At least nothing severe enough to cause an unhandled error in the backend. I can read through any logs to see if there was a handled error that was just printed

[2021-04-23 01:45] bilalshaikh42 commented on #2506
I do see this warning on the combine-service
[code]

[2021-04-23 02:00] jonrkarr commented on #2506
That's probably what Lucian did. I also get an error if I use a plain archive. I'll push a correction.

[2021-04-23 03:04] jonrkarr commented on #2506
This should be fixed now. It was not specifically related to uploading.

[2021-04-23 03:04] #2506 closed, assigned to bilalshaikh42

[2021-04-23 22:38] jonrkarr opened #2513 "COMBINE API endpoints limited to small files"
`/combine/validate` seems to be limited to small files -- see error below. Larger (1.5 mb) files generate 413 errors. I'm guessing the other endpoints have the same problem.

@bilalshaikh42 do you know where this is coming from?

[code]

[2021-04-24 05:41] bilalshaikh42 commented on #2513
I assume something like the following is needed in the main app file. The upload limit seems to be unlimited by default, but maybe it is set by connexion somehow.

[code]

[2021-04-24 05:43] bilalshaikh42 commented on #2513
Actually, I just noticed that the source of the error is Nginx and not the python app. It seems that the default ingress limit is quite low. This might be the issue:
https://www.net7.be/blog/article/kubernetes_nginx_ingress_max_upload_size.html

[2021-04-24 05:44] bilalshaikh42 commented on #2513
Would 16mb be a reasonable limit for this?

[2021-04-24 18:02] bilalshaikh42 commented on #2513
@jonrkarr  I have tried to u[date the limit on the dev branch. Could you confirm if it is working? If so, I can set the configuration for the org deployment as well

[2021-04-24 18:03] bilalshaikh42 commented on #2468
This will be resolved with HDF

[2021-04-24 18:03] #2468 closed, assigned to jonrkarr, bilalshaikh42

[2021-04-24 21:57] jonrkarr commented on #2513
Looks good. I added validation to the forms for file sizes.

Should be good to redeploy.

[2021-04-25 00:10] #2150 closed, assigned to nobody

[2021-04-29 02:46] bilalshaikh42 commented on #2513
The deployment is updated. The max size is actually set to 600MB I can update the validation shortly

[2021-04-29 02:52] jonrkarr commented on #2513
Great. There's also a couple points in the documentation that say "16 MB". That string should be updated too.

[2021-04-29 14:02] jonrkarr opened #2520 "Add REST endpoint and web form for getting similar algorithms"
from @bilalshaikh42

features from biosimulation as well?
Does d. imply that the "isImplementedIn" field of Kisao is now being
updated? Or is this pinging the biosimulators database?

[2021-04-29 14:34] jonrkarr commented on #2520
## Done/soon to be done: Status of incorporation into BioSimulations
The substitutability of algorithm terms will be included in the next version of each of the simulation tools (except VCell). I think we should hold off pushing these versions to the BioSimulators database until we hear back from reviewers (they will be pushed to GitHub, but not released).

## Todo: Expose the new functionality in

[2021-04-30 20:43] jonrkarr opened #2523 "Add confirmation button for deleting simulations"

[2021-04-30 21:05] jonrkarr opened #2524 "By default display delete individual simulations button"

[2021-05-03 04:59] #2502 closed, assigned to nobody

[2021-05-03 04:59] #2520 closed, assigned to nobody

[2021-05-03 04:59] #2523 closed, assigned to nobody

[2021-05-03 04:59] #2524 closed, assigned to nobody

[2021-05-09 00:30] #1734 closed, assigned to nobody

[2021-05-09 00:30] #1568 closed, assigned to nobody

[2021-05-10 20:55] bilalshaikh42 opened #2528 "Remove special handling of vcell output"
Currently, vcell data is transposed. This should be removed as it adds complexity to the code.
@jonrkarr could we remove vcell from the simulators list temporarily? Since there is not currently an HDF output, it is difficult to incorporate further changes while still accounting for vcell.

[2021-05-10 20:56] bilalshaikh42 opened #2529 "Use h5pyd to upload the results to the data service"
This needs to be added as a step to the current slurm workflow.

depends on #2530

[2021-05-10 20:56] bilalshaikh42 opened #2530 "Install h5pyd on the hpc environment"

[2021-05-10 20:57] bilalshaikh42 opened #2531 "Change URLs:"
Data.biosimulations.dev, Data.biosimulations.org => point to hsds
Files.biosimulations.dev, Files.biosimulations.org. => point to s3

[2021-05-10 20:57] bilalshaikh42 opened #2532 "Get logs from S3 rather than reading from disk"

[2021-05-10 21:19] bilalshaikh42 opened #2533 "Fetch results from hsds instead of mongo"
We can use the python client wrapped in flask to retrieve the results. however, this would be annoying to get working with the existing datamodel as they would need to be kept in sync manually and all the error handling etc would need to be impemented.
Alternatively, we can use the  [OpenApi ](https://github.com/biosimulations/data-service-api/blob/openapi/openapi.yaml) spec to generate typescript

[2021-05-10 21:58] jonrkarr opened #2535 "Determination of affected libraries/apps should account for changes to the Pipfile/Piplock file"

[2021-05-11 21:04] bilalshaikh42 opened #2536 "Check for size limits to address security vulnerability in URL handling code"
When a URL is provided to a combine archive the backend will download the file in order to simulate it. A malicious user could repeatedly provide a URL to extremely large files causing denial of service and blocking backend resources.

The API should download the file and include a check to make sure it is below a reasonable size for a Combine Archive.

@jonrkarr What would be a good limit to use

[2021-05-11 21:06] bilalshaikh42 commented on #2531
Files.biosimulations.dev should be changed to files-dev. biosimulations.org to avoid complication with SSL certtificates on the uconn backend

[2021-05-11 21:06] bilalshaikh42 commented on #2530
This is now done

[2021-05-11 21:06] #2530 closed, assigned to nobody

[2021-05-11 21:19] jonrkarr commented on #2536
For reference, the largest compressed entry in BioModels is 68 MB. This is mainly driven by a large PNG image for a simulation result. The biggest SBML file is 3 MB. The biggest SED-ML files is 0.1 MB. In other contexts, I have seen larger SBML files > 15 MB. Of course someone could quickly get to a larger archive if they had multiple variants of a model in a single archive. While I can't think of

[2021-05-11 22:46] bilalshaikh42 commented on #2536
Got it, thanks

[2021-05-11 22:47] bilalshaikh42 commented on #2536
Block size on the NFS is 1048576 bytes.
1gb limit would be set as ```ulimit -f 1048576000```
This can be added to the download part of the bash script

[2021-05-11 22:48] bilalshaikh42 commented on #2531
Urls have been set, waiting for ssl. Should take a few days

[2021-05-11 22:56] jonrkarr commented on #2536
We should also update the relevant part of the FAQs with this new limit:
https://github.com/biosimulations/Biosimulations/blob/dev/biosimulations/apps/dispatch/src/app/components/help/faq/faq.component.html#L178

The following FAQ already has a note that users can contact us for help executing larger simulations.

[2021-05-11 22:58] bilalshaikh42 opened #2537 "Update the relevant part of the FAQs new limit"
We should also update the relevant part of the FAQs with this new limit:
https://github.com/biosimulations/Biosimulations/blob/dev/biosimulations/apps/dispatch/src/app/components/help/faq/faq.component.html#L178

The following FAQ already has a note that users can contact us for help executing larger simulations.

_Originally posted by @jonrkarr in https://github.com/biosimulations/Biosimulations/

[2021-05-11 23:02] bilalshaikh42 commented on #2537
In #2513  The size limit was set to 600MB. This should be updated to 1GB to be consistent. This will also need documentation updates.

[2021-05-11 23:03] bilalshaikh42 commented on #2513
Superseded by #2537

[2021-05-11 23:03] #2513 closed, assigned to jonrkarr

[2021-05-11 23:04] bilalshaikh42 commented on #2537
The Angular forms for the combine archives have a validation set for 16MB. This must also be updated

[2021-05-11 23:07] jonrkarr commented on #2537
Thanks for making all of this consistent.

[2021-05-13 18:18] bilalshaikh42 commented on #2356
Done

[2021-05-13 18:18] #2356 closed, assigned to nobody

[2021-05-14 17:01] #2536 closed, assigned to bilalshaikh42

[2021-05-14 17:01] todo[bot] opened #2539 "account for network failure"
https://github.com/biosimulations/Biosimulations/blob/161b9f83db93396dad01f79ee2e22d7d6cc5fc0a/biosimulations/apps/dispatch-api/src/simulation-run/simulation-run.service.ts#L191-L196

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 161b9f83db93396dad01f79ee2e22d7d6cc5fc0a when #2538 was merged. cc @biosimulations.

[2021-05-14 17:01] bilalshaikh42 commented on #2529
Done in #2538

[2021-05-14 17:01] #2529 closed, assigned to nobody

[2021-05-14 17:56] bilalshaikh42 opened #2540 "Rerun button does not remove tabs from url, causing failure in downloading the omex archive"
**Please describe the bug**
The rerun button in the simulation run page does not properly set the url of the form

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Go to https://run.biosimulations.dev/simulations/609eb8d243b089476566a226#tab=log
2. Click on  rerun
3. Look at URL field
4. See URL is https://run.api.biosimulations.dev/run/609eb8d243b089476566a226#tab=

[2021-05-14 17:59] bilalshaikh42 opened #2541 "Backend parses logs before uploading is complete"

[2021-05-15 00:53] bilalshaikh42 opened #2543 "Complete std output not shown in front end"
**Please describe the bug**
Only a portion of the log is shown
**Please describe how to reproduce the bug**
Steps to reproduce the behavior:
1. Go to '.https://run.biosimulations.dev/simulations/609f196c6374a5fb3231e90a#tab=log
2. Click on view full output
3. See only first part of log
4. Download full logs. See more info is presetn, but just not displayed

**How should BioSimulations have behaved

[2021-05-15 01:26] jonrkarr commented on #2543
The text isn't being rendered into the HTML, so its not a formatting issue.

Something must be preventing the full text from being passed to the HTML template.

[2021-05-15 14:46] jonrkarr commented on #2540
This also impacts the sharing button.

[2021-05-15 15:08] jonrkarr commented on #2543
Its due to the `ansi-to-html` package. This is truncating the logs.

[2021-05-15 15:14] jonrkarr commented on #2543
I think maybe `ansi-to-html` has trouble with the progress bar

[code]

[2021-05-15 15:46] jonrkarr commented on #2543
Switched to `anser`. Seems to work better.

[2021-05-15 15:49] jonrkarr commented on #2184
Closing because FlexSearch lacks a key feature. Can be reopened if someone feels strongly about this issue.

[2021-05-15 15:49] #2184 closed, assigned to nobody

[2021-05-15 23:27] #2540 closed, assigned to jonrkarr

[2021-05-15 23:27] #2543 closed, assigned to nobody

[2021-05-15 23:30] bilalshaikh42 commented on #2541
This was an incorrect diagnosis of #2543

[2021-05-15 23:30] #2541 closed, assigned to bilalshaikh42

[2021-05-17 13:46] #2535 closed, assigned to nobody

[2021-05-17 13:46] bilalshaikh42 commented on #2531
Done

[2021-05-17 13:46] #2531 closed, assigned to nobody

[2021-05-17 13:49] bilalshaikh42 commented on #2186
Done

[2021-05-17 13:49] #2186 closed, assigned to bilalshaikh42

[2021-05-18 19:43] bilalshaikh42 opened #2551 "Mongo error when invalid id is queried"
Stackdriver Error Reporting error detail

reason: Error: Argument passed in must be a single String of 12 bytes or a string of 24 hex characte...
https://console.cloud.google.com/errors/CN-yqMWkg7mEbQ?project=biosimulations&src=VESPA&time=P30D

This must be caused by a user querying for an invalid id, since all IDs generated server side are valid. We should catch this error and return a 404 instea

[2021-05-19 16:11] #1711 closed, assigned to nobody

[2021-05-19 16:12] todo[bot] opened #2560 "define shared constants for queue names"
https://github.com/biosimulations/Biosimulations/blob/971deae4bf95f3a30444031787cf6fdd5056e895/biosimulations/apps/dispatch-service/src/app/submission/dispatch.proccessor.ts#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 971deae4bf95f3a30444031787cf6fdd5056e895 when #2550 was merged. cc @biosimulations.

[2021-05-19 17:17] #2532 closed, assigned to nobody

[2021-05-19 17:25] bilalshaikh42 commented on #2430
Done

[2021-05-19 17:25] #2430 closed, assigned to nobody

[2021-05-19 22:08] bilalshaikh42 opened #2561 "Download outputs button does not work"
The download outputs option points to an old url in the api. This should be updated

[2021-05-21 02:36] bilalshaikh42 opened #2563 "Remove messaging from dispatch-service to dispatch-api"
The api should be the only one to send messages about the state of the simulations since it is owner of the model. The dispatch service should not send messages, but only communicate its intent to the API. The api can ensure that the state is set properly before sending the messages.

[2021-05-21 14:28] bilalshaikh42 opened #2564 "Disable plotting for some types of simulations"
If a simulation is an FBA for example, line plots do not make sense.
There may be some usecases that I am not concidering, so we can discuss if this might be more user friendly.

[2021-05-21 14:43] jonrkarr commented on #2564
We could disable 2-d plots for 1-dimensional results.

In addition, we could provide a different type of plot that make sense for 1-dimensional data such as a bar chart or kernel density plot.

Another limitation is the lack of 3D plots (#1718). We don't yet have a 3d simulator to motivate this.

I've also been thinking of about changing the plot menu to these options:
- Select the plots from a SE

[2021-05-25 14:54] bilalshaikh42 opened #2565 "Generate client code for HSDS"
Use openAPI spec for data service to generate client code.
- [x] Initial code
- [x] Automate sdk generation via swagger code gen

[2021-05-26 01:41] bilalshaikh42 commented on #1950
This seems to be resolved for most cases

[2021-05-26 01:41] #1950 closed, assigned to bilalshaikh42

[2021-05-26 01:42] bilalshaikh42 commented on #1394
This can be updated/reopened once we redesign the platform

[2021-05-26 01:42] #1394 closed, assigned to bilalshaikh42

[2021-05-26 16:57] jonrkarr opened #2570 "Fix storage of creation date of simulation tools"
The creation dates of simulation tools are getting overwritten each time a simulation tool is updated. This should be fixed.

[2021-05-26 17:20] jonrkarr commented on #2570
I think the issue traces to [`biosimulations/libs/simulators/database-models/src/lib/biosimulatorsMeta.ts#L156`](
https://github.com/biosimulations/Biosimulations/blob/dev/biosimulations/libs/simulators/database-models/src/lib/biosimulatorsMeta.ts#L156).

@bilalshaikh42 when a simulator is updated, are the subdocuments updated? or a new subdocuments created? Seems like it must be the later. In tha

[2021-05-26 17:27] bilalshaikh42 commented on #2570
Yes, I think that is the source of the issue. The created/updated times are managed automatically. So the overwrite method should probably be replaced with something like 'update'. I'll take a look at this.

[2021-05-26 17:35] bilalshaikh42 commented on #2570
Actually, you are correct about the approach. The simulators database is not setting the dates automatically the same way that the others do. Copying over the created date from the older model should be correct.

[2021-05-26 17:45] jonrkarr commented on #2570
I think MongoDB only saves history when attributes are edited one at a time and then the `save` method is used. I'm guessing history includes created and updated timestamps.

Rather than dealing with the save method, it might simpler to add the one additional line I suggested above:
1. Copy the creation date from the old record to the new content
2. `overwrite` the old record with the new content

[2021-05-26 19:10] bilalshaikh42 commented on #2570
Yup, that is the approach I took in #2572. I am having some trouble with the database connection locally, so we can confirm if it's fixed as soon as it deploys to dev.
There seem to be some build issues with deployment, that I am working on.

[2021-05-27 23:23] jonrkarr opened #2575 "Simulation failed without log"
Simulation with Smoldyn:
https://run.api.biosimulations.dev/run/60b02946121077ad60632103

[2021-05-28 02:30] bilalshaikh42 opened #2577 "Upload Std out logs even when the log.yml is not output"
Currently, if a simulation run fails, and does not output a log.yml, then the std out logs wont be uploaded. There should be a check to generate a log in this case and add the std output to the output field.

See #2575

[2021-05-28 02:31] bilalshaikh42 commented on #2575
Here are the logs:
[code]

The reason the logs were not updated was because there was no log.yml output.  I created #2577 to keep track of this.

[2021-05-28 19:54] jonrkarr commented on #2575
It looks like the container couldn't be created (`FATAL:   container creation failed`).

I think the issue might relate to conversion of Docker to Singularity. This run appears to take a long time because the service is creating a Singularity image, even though the Singularity image should already exist.
https://run.biosimulations.org/simulations/60b149752111f0b5e7ce020b

Can you check that that S

[2021-05-28 19:57] jonrkarr opened #2600 "Add example simulation run for Smoldyn"
I added an example simulation run for Smoldyn to `tools/submit-example-simulation-runs.json`. Once the Smoldyn image is work on UConn's HPC, this should be run and saved to `apps/dispatch/src/app/components/simulations/browse/example-simulations.org.json`.
[code]

[2021-05-28 19:58] jonrkarr opened #2601 "Add 1-D plot option"

[2021-05-28 19:58] jonrkarr opened #2602 "Add 3-D plot option"

[2021-05-28 20:02] jonrkarr opened #2603 "Add options to plot menu in dispatch app"
Currently, we provide two choices
- 2D
  - Initially populated based on SED-ML document
  - Users can then change this
- Upload Vega

We should change this to
- Vega in COMBINE archive
- List of SED-ML plots in COMBINE archive
- 1D -- see #2601
- 2D
- 3D -- see #2602
- Upload Vega

We can initialize visualizations with this priority:
1. If there's a Vega file --> display it
2. If there' s a SED-ML

[2021-05-28 20:07] jonrkarr commented on #2564
I added #2601 #2602 #2603 to address this issue.

@bilalshaikh42, close this if you feel these other issues will address your point.

[2021-05-28 20:27] #2564 closed, assigned to nobody

[2021-05-30 01:17] #2331 closed, assigned to bilalshaikh42

[2021-05-30 22:57] bilalshaikh42 commented on #2331
Keep this open

On Sat, May 29, 2021 at 9:17 PM github-actions[bot] <
***@***.***> wrote:

[2021-05-31 21:33] jonrkarr opened #2607 "Add example simulation run for OpenCOR"
I added an example simulation for OpenCOR to `tools/submit-example-simulation-runs.json`. Once the OpenCOR image is  working on UConn's HPC, this should be run and saved to `apps/dispatch/src/app/components/simulations/browse/example-simulations.org.json`.

[2021-06-02 16:00] #2565 closed, assigned to nobody

[2021-06-02 18:12] bilalshaikh42 commented on #2575
This should now be resolved

[2021-06-02 18:12] #2575 closed, assigned to bilalshaikh42

[2021-06-02 18:13] bilalshaikh42 commented on #2570
This should be resolved

[2021-06-02 18:13] #2570 closed, assigned to bilalshaikh42

[2021-06-02 18:30] bilalshaikh42 opened #2609 "Missing SSL Certifcate for https://data.biosimulations.org/"
https://data.biosimulations.org/

[2021-06-03 15:47] bilalshaikh42 commented on #2609
Fixed

[2021-06-03 15:47] #2609 closed, assigned to bilalshaikh42

[2021-06-04 05:38] jonrkarr opened #2614 "Add example runs for NetPyNe, NEURON, and pyNeuroML"
I added example simulations for NetPyNe, NEURON, and pyNeuroML to `tools/submit-example-simulation-runs.json`. These simulations should be run and saved to `apps/dispatch/src/app/components/simulations/browse/example-simulations.org.json`.

[2021-06-04 19:15] bilalshaikh42 commented on #2119
Done

[2021-06-04 19:15] #2119 closed, assigned to gmarupilla

[2021-06-04 19:33] bilalshaikh42 opened #2616 "Error Running simulation with Neuron"
Running simulations with Neruon fails (https://run.biosimulations.dev/simulations/60ba7d2672a58d7079feebaa)

Here is the error:

[code]

This appears similar to a previous error with the startup script file. It may be in the wrong location

[2021-06-04 19:47] jonrkarr commented on #2616
Thanks. I'll try to reproduce this with Singularity. Maybe we should be running test suite with the Singularity versions of the images rather than the Docker versions.

[2021-06-04 20:43] #2561 closed, assigned to bilalshaikh42

[2021-06-04 20:45] bilalshaikh42 opened #2618 "VCELL Simulations are failing"
The example simulations using VCELL are failing. The logs provide some information. I believe this is a problem with the image that the VCELL team will need to check.

[2021-06-04 20:46] bilalshaikh42 opened #2619 "Rerun Vcell, NEURON and NetPyNe sample simulations"
NEURON and NetPyNe can be run once #2616 is closed.

- [x] NEURON
- [x] NetPyNe
- [x] VCell

[2021-06-04 20:49] bilalshaikh42 commented on #2618
1. https://run.biosimulations.dev/simulations/60ba824572a58d17c7feebda
2. https://run.biosimulations.dev/simulations/60ba824872a58d1a25feebe3
3. https://run.biosimulations.dev/simulations/60ba82516ae7e6783cd49737
4. https://run.biosimulations.dev/simulations/60ba825572a58da1b0feebf6

[2021-06-04 20:54] #2600 closed, assigned to bilalshaikh42

[2021-06-04 20:54] #2614 closed, assigned to bilalshaikh42

[2021-06-04 20:55] bilalshaikh42 commented on #2607
Done

[2021-06-04 20:55] #2607 closed, assigned to bilalshaikh42

[2021-06-05 19:02] jonrkarr commented on #2616
I think the issue is with permissions to the conda environment
[code]

Specifically, it seems to be related to activation of the conda environment. I think I've gotten around this by directly executing the version of Python in the conda environment.

[2021-06-06 04:17] #2616 closed, assigned to jonrkarr

[2021-06-06 20:56] bilalshaikh42 commented on #2618
Resolved by @gmarupilla

[2021-06-06 20:56] #2618 closed, assigned to nobody

[2021-06-06 21:00] #2619 closed, assigned to nobody

[2021-06-07 20:03] bilalshaikh42 opened #2621 "Combine Service has uncaught error"
An error was reported on the backend from the combine-service. The error was not caught, meaning the api responded with a 5xx rather than a 4xx error. This should be caught so the user gets a more meaningful error.

The trace information is here: https://console.cloud.google.com/errors/CK67pcOVkJGsIQ?time=P1D&project=biosimulations

[2021-06-07 20:42] jonrkarr commented on #2621
I can catch this so its a 400 rather than 500 error.

Is there a way to see what caused the error (the payload to the REST API endpoint)?

[2021-06-08 04:29] bilalshaikh42 commented on #2621
Unfortunately not yet. I am hoping to add better tracing at some point

[2021-06-08 20:37] jonrkarr opened #2622 "Downloading results failed for 60bd3746f83fe5520bad31c3"
https://run.biosimulations.org/simulations/60bd3746f83fe5520bad31c3

{"error":[{"status":"500","title":"Internal Server Error","meta":{"time":1623184041076,"url":"/results/60bd3746f83fe5520bad31c3/download"}}]}

[2021-06-08 23:32] jonrkarr commented on #2621
This will be included with the next push.

[2021-06-09 21:10] jonrkarr commented on #2621
Closed by #2624.

[2021-06-09 21:10] #2621 closed, assigned to jonrkarr

[2021-06-09 22:00] bilalshaikh42 commented on #2622
This is caused by the file no being available. 2 things to do
1. Figure out why the file is not uploaded
2. Catch the error and return a 404

[2021-06-09 22:39] #2622 closed, assigned to bilalshaikh42

[2021-06-09 22:39] todo[bot] opened #2625 "remove harcoded path"
https://github.com/biosimulations/Biosimulations/blob/f585a9a6295cbbf60e73c05d5ae908713d1ef5ee/apps/dispatch-api/src/results/results.service.ts#L79-L82

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f585a9a6295cbbf60e73c05d5ae908713d1ef5ee. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-06-09 22:43] bilalshaikh42 commented on #2625
Also remove the hardcoded path in the sbatch script generation

[2021-06-09 23:54] bilalshaikh42 opened #2626 "Update simulation status to processing when docker image run is complete"
Currently, the simulation run status is updated to processing when the HPC job completes. However, a lot of the processing is now done as a part of the job. The status should be updated once the step to run the simulation is complete.

[2021-06-10 22:54] jonrkarr opened #2628 "Add disabled input box that displays the implied dt for a time course"
Add to https://run.biosimulations.org/create

[2021-06-10 22:57] jonrkarr opened #2629 "Prepopulate time course settings for Smoldyn and BioNetGen files"
https://run.biosimulations.org/create

Requires changes to biosimulators-utils and Smoldyn

[2021-06-10 23:12] jonrkarr commented on #2629
Smoldyn configuration to parse
- `time_start 0`
- `time_stop 100`
- `time_step 0.01`
- accuracy
- seed

[2021-06-10 23:13] jonrkarr opened #2630 "Use information about observables in the simulators database to enhance the UI for designing simulations"
https://run.biosimulations.org/create

Use this information to provide templates for observables.

[2021-06-12 17:54] bilalshaikh42 commented on #2442
This will be handled directly by the hsds return information. Still todo, define the model for the returned data

[2021-06-12 18:46] jonrkarr commented on #2442
This information is captured in HDF5 by the `_type` attribute. The values can be `Report`, `Plot2D`, or `Plot3D`.

[2021-06-14 20:46] bilalshaikh42 commented on #2442
@jonrkarr  could you take a look at this commit and approve the changes to the datamodel? This is the data that is returned from the dispatch-api.  I am not sure if sedmlName and sedmlId are designed to be exposed

https://github.com/biosimulations/Biosimulations/pull/2627/commits/b02ab010150be4484e6b672d0518ead45c542dde

The next commit makes the name changes that were also mentioned. We are goin

[2021-06-15 00:40] jonrkarr commented on #2442
Looks good. I added a couple thoughts about attribute names (mainly for consistency between the classes) before I saw your latter commit already does some of this.

[2021-06-16 17:42] bilalshaikh42 opened #2633 "Example vcell runs failing"
https://run.biosimulations.dev/simulations/60ca36d3ec4fbea4a994933d#tab=log

VCell seems to have a problem with the way the sedml set up. The error is below
[code]

[2021-06-16 17:44] bilalshaikh42 opened #2634 "Allow frontend to attempt fetching results even when simulation is failed"
See this run.: https://run.biosimulations.dev/simulations/60ca36d3ec4fbea4a994933d#tab=log

While the simulation failed for some output, there were other outputs that were successful. These should still be retrievable from the frontend.

[2021-06-16 17:45] jonrkarr commented on #2633
This looks like a new VCell issue. The SED-ML hasn't changed recently.

[2021-06-16 17:49] jonrkarr commented on #2634
We could do this. It requires more nuanced handling e.g. so that only plots for which data is available are plotted.

I think we can skip this for now.

[2021-06-16 17:59] moraru commented on #2633
This is not a bug, it is a feature :)  The failure is by design.  The SED-ML exercised algorithm parameters and error messages.  Task 2 simulation calls for a fixed time-step solver (Forward Euler) with no parameters and the model us too stiff for the default timestep and the solver no longer converges and crashes after simulating a little more than 1 second.  The error message  correctly suggests

[2021-06-16 18:02] moraru commented on #2633
@jonrkarr shall we close this?

[2021-06-16 18:12] moraru commented on #2633
@bilalshaikh42 Does the UI pass along the beginning of the message to the user or does the user need to look at the log? The first line of the message gives the most important info: "17:37:35 [main] ERROR cbit.vcell.solvers.AbstractSolver - simulation failed at time=1.3: consider using smaller default or max time step."

[2021-06-16 18:19] bilalshaikh42 commented on #2633
The UI is not able to display the errors since there is no "log.yml" output. I do see a "status.yml" output, but that file shows that everything has succeeded

[2021-06-16 18:19] bilalshaikh42 commented on #2633
[code]

[2021-06-16 18:53] moraru commented on #2633
That is also by design.  I remember we discussed this with @jonrkarr on what to do if the simulation runs but fails in the middle of the run, and the decision at that point was that the execution is "successful" if it actually produced some data.  The report for task 2 has the data up to timepoint 1.3 when the solver no longer converges and exits.

[2021-06-16 18:55] moraru commented on #2633
I had proposed an additional status for run-time failures like that but that was very early on and in the developing of job status reporting and was not done.  We should probably revisit that.

[2021-06-16 19:09] bilalshaikh42 commented on #2633
Got it. Does the vcell image not output a log.yml file however?

[2021-06-16 19:31] jonrkarr commented on #2633
(a) Since this is an expected error, I think we should remove this from the example runs that end users see so that the examples are only positive examples. I think users would likely expect the example runs to be successful.

If this is important to check, this could be checked in the simulators test suite, which is for developers rather than end users.

(b) I think this task should be labeled wi

[2021-06-16 20:26] #2069 closed, assigned to bilalshaikh42

[2021-06-16 20:26] #2369 closed, assigned to nobody

[2021-06-16 20:26] #2440 closed, assigned to bilalshaikh42

[2021-06-16 20:26] #2442 closed, assigned to bilalshaikh42

[2021-06-16 20:26] #2533 closed, assigned to nobody

[2021-06-16 20:26] bilalshaikh42 commented on #2528
This is now handled since all data is read through hdf #2627

[2021-06-16 20:26] #2528 closed, assigned to nobody

[2021-06-16 20:56] bilalshaikh42 opened #2635 "Dispatch app calling api incorrectly"
The dispatch front end is using the sparse flag instead of includeData.

[2021-06-16 21:06] bilalshaikh42 opened #2637 "Create SEDML datamodel library"
Currently the sedml model is scattered around the codebase. Creating a shared library to hold it would be helpful

[2021-06-16 21:11] #2635 closed, assigned to bilalshaikh42

[2021-06-16 21:11] todo[bot] opened #2638 "Remove hardocoded string. Caused #2635"
https://github.com/biosimulations/Biosimulations/blob/7623a02eb40d2fa34e94724eb69cc501354a9a00/apps/dispatch/src/app/services/visualization/visualization.service.ts#L40-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 7623a02eb40d2fa34e94724eb69cc501354a9a00 when #2636 was merged. cc @biosimulations.

[2021-06-16 21:11] todo[bot] opened #2639 "Remove hardocoded string. Caused #2635"
https://github.com/biosimulations/Biosimulations/blob/d85b0b57e2f6f36ea61e011fa4dece8079d5c5c7/apps/dispatch/src/app/services/visualization/visualization.service.ts#L40-L44

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in d85b0b57e2f6f36ea61e011fa4dece8079d5c5c7. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-06-16 23:44] bilalshaikh42 opened #2641 "Smoldyn simulation failing"
Failed sim:  https://run.biosimulations.dev/simulations/60ca36c5ec4fbe336094932b

Log:
[code]

[2021-06-17 03:25] biosimulations-daemon commented on #2635
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-17 03:25] biosimulations-daemon commented on #2533
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-17 04:23] biosimulations-daemon commented on #2635
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-17 04:23] biosimulations-daemon commented on #2533
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-17 19:46] bilalshaikh42 commented on #2641
Potential solution here: https://github.com/ssandrews/Smoldyn/pull/91

[2021-06-17 20:04] jonrkarr commented on #2641
The same solution should be copied to
- [x] `Biosimulations/tools/xvfb-startup.sh` fixed in #2632
- [x] `Biosimulators_pyNeuroML/scripts/xvfb-startup.sh`

[2021-06-17 20:12] bilalshaikh42 commented on #2634
Perhaps we can fetch the results, but show a warning that results may be inaccurate due to a failure?

[2021-06-17 20:16] jonrkarr commented on #2634
Yes, we would need to indicate that some results are not available. Also we need to change the way that that plotting works to make sure that missing data doesn't cause an error and instead plots for missing data are skipped.

[2021-06-17 20:33] #2441 closed, assigned to bilalshaikh42

[2021-06-17 20:33] #2577 closed, assigned to nobody

[2021-06-17 20:35] bilalshaikh42 commented on #2633
Closing this since virtualcell/vcell#71 handles the error.

[2021-06-17 20:35] #2633 closed, assigned to jonrkarr, moraru, bilalshaikh42

[2021-06-17 20:57] bilalshaikh42 commented on #2435
@jonrkarr  I don't remember where exactly this was. The download functionality seems to be working fine. Can we close?

[2021-06-17 21:11] jonrkarr commented on #2435
Here's the relevant piece which I believe can be simplified now:

https://github.com/biosimulations/Biosimulations/blob/dev/apps/dispatch/src/app/components/create-simulation-project/create-simulation-project/create-simulation-project.component.ts#L1803

[2021-06-17 21:27] jonrkarr commented on #2641
The Smoldyn image should be fixed by biosimulators/Biosimulators#255

[2021-06-17 21:33] #2563 closed, assigned to bilalshaikh42

[2021-06-17 21:41] jonrkarr commented on #2641
@bilalshaikh42 could you try the Smoldyn run again with the revised image?

[2021-06-17 23:26] bilalshaikh42 commented on #2641
Updated error

[code]

[2021-06-17 23:31] bilalshaikh42 commented on #2634
Ah, I didn't account for that. I assumed any missing data would just not
produce a plot, but it could cause errors.

On Thu, Jun 17, 2021 at 4:16 PM Jonathan Karr ***@***.***>
wrote:

[2021-06-17 23:35] jonrkarr commented on #2641
I see the message, but the simulation runs and the final error appears to be gone. Does the run actually fail?

To cleanup the error message, we could try adding the following before `Xvfb $DISPLAY`

[code]

[2021-06-18 02:40] bilalshaikh42 commented on #2641
Yes, the run step is marked as failed on slurm

On Thu, Jun 17, 2021 at 7:36 PM Jonathan Karr ***@***.***>
wrote:

[2021-06-18 14:19] jonrkarr commented on #2641
I think this can be closed now.

I mistakenly pushed the same image again. I fixed this. I was able to run a simulation successfully (https://run.biosimulations.org/simulations/60cca9fe69720db446b98c68).

Regarding the first error (`If this server is no longer running ...`), I haven't been able to replicate this locally. I don't see this message in the log for `60cca9fe69720db446b98c68` either. If

[2021-06-18 17:13] bilalshaikh42 commented on #1669
Done

[2021-06-18 17:13] #1669 closed, assigned to nobody

[2021-06-18 17:32] biosimulations-daemon commented on #2563
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-18 17:32] biosimulations-daemon commented on #2577
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-18 17:32] biosimulations-daemon commented on #2441
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-18 22:31] jonrkarr opened #2645 "Populate metadata for "platform" by extract metadata from OMEX meta files in OMEX archives"
@bilalshaikh42  I think we can use a schema like the following to allow metadata to be encoded into `.rdf` files in OMEX archives. Expecting such files and then parsing their contents avoids much of the need to capture this information in a web form, at least to start.

[code]

I believe the above captures the information we were previously trying to capture.

The example above appears to be valid

[2021-06-19 20:48] jonrkarr commented on #2641
I believe this is fixed.

[2021-06-19 20:48] #2641 closed, assigned to jonrkarr

[2021-06-19 21:16] jonrkarr commented on #2629
Done on the BioSimulations side for time course parameters. Done for Smoldyn. BioNetGen implementation requires biosimulators/biosimulators_utils#51 which requires a change to pyBioNetGen.

[2021-06-20 00:34] #2013 closed, assigned to nobody

[2021-06-20 18:37] #2628 closed, assigned to jonrkarr

[2021-06-20 18:37] #2629 closed, assigned to jonrkarr

[2021-06-21 18:11] #2503 closed, assigned to bilalshaikh42

[2021-06-21 18:24] #1949 closed, assigned to bilalshaikh42

[2021-06-21 18:31] #2435 closed, assigned to bilalshaikh42

[2021-06-25 04:11] jonrkarr commented on #2645
Code for reading/writing OMEX Meta files is close to done.

Example OMEX Meta file which has
- Metadata about the archive
- Associations between specific SED-ML plots and figures in papers

[code]

BioSimulators-utils translates this into
[code]

This is the schema for the above. I haven't incorporated JSON LD ideas. Rather than outputting this with JSON ld, I think it would make sense to directly

[2021-06-25 06:46] jonrkarr commented on #2645
Documentation will be deployed to https://biosimulators.dev/conventions/metadata shortly.

[2021-06-25 20:14] jonrkarr opened #2651 "Fix display of SED-ML plots in RunBioSimulations"

[2021-06-25 20:19] jonrkarr opened #2652 "Fix errors in retrieval of simulation results"
Example: https://run.biosimulations.dev/simulations/60cd5ede8b96de2cfceaaec1

This page experiences the error `Failed to load resource: the server responded with a status of 500 ()` with the endpoint https://run.api.biosimulations.dev/results/60cd5ede8b96de2cfceaaec1?includeData=false. This then display an error message to the user.

The results endpoint does work if I query it directly. I'm not s

[2021-06-25 20:21] jonrkarr opened #2653 "Update example simulation runs in run.biosimulations.org"
This is just to keep track of todos. The example runs need to be updated once VCell is sorted out.

[2021-06-25 20:29] jonrkarr opened #2654 "Setup DNS to forward docs.biosimulators.org (or similar) to https://biosimulators.github.io/"
As discussed today, https://biosimulators.github.io/ (Sphinx) could be a simpler way to communicate documentation than the HTML files we're currently using for https://biosimulators.org/conventions.

We could make this look more professional by forwarding docs.biosimulators.org (or similar) to https://biosimulators.github.io/. GitHub has instructions here: https://docs.github.com/en/pages/configur

[2021-06-25 22:11] bilalshaikh42 commented on #2652
The cache issue might be possible, since I am able to get the results
properly at
https://run.biosimulations.dev/simulations/60cd5ede8b96de2cfceaaec1#tab=design-viz
.

We can add a retry to the visualization page to try to get the failed
results again after a couple of seconds

On Fri, Jun 25, 2021 at 4:19 PM Jonathan Karr ***@***.***>
wrote:

[2021-06-25 22:14] jonrkarr commented on #2652
The results do eventually appear, but errors can occur the first time the page tries load. I agree retrying requests might be a simple fix.

[2021-06-25 22:44] #2654 closed, assigned to moraru, bilalshaikh42

[2021-06-25 22:49] bilalshaikh42 commented on #2654
deployed at https://docs.biosimulators.org/

[2021-06-25 22:50] bilalshaikh42 commented on #2637
Likely cause of #2651.

[2021-06-28 16:30] bilalshaikh42 opened #2655 "Sedml figures are not correctly generated"
The frontend is not able to display the 2D plots defined in the Sedml. This is due to a mismatch between the ids for the outputs of the simulation run as defined in the HDF file and that returned by the combine service. [Here](https://run.biosimulations.dev/simulations/60d9deb771d8706e02beace7#tab=design-viz) is the example run that the following references

The root of the problem is here:

 The

[2021-06-28 18:02] todo[bot] opened #2656 "Write unit and end-to-end tests"
Start with the most critical/complex parts of the code such as
- COMBINE archive creation form
- Algorithm recommendation form
- COMBINE archive validation form
- Simulation run submission form
- Visualization of simulation results
- Display of logs of simulation results
- Display of simulator validation results

[2021-06-29 19:01] bilalshaikh42 commented on #2655
@jonrkarr  I am a bit confused about the outputs of the simulators here, as they seem to be inconsistent.

[2021-06-29 22:23] jonrkarr commented on #2651
Closing. Redundant with #2655.

[2021-06-29 22:23] #2651 closed, assigned to bilalshaikh42

[2021-06-29 22:26] jonrkarr commented on #1766
This is done, except debugging outlined in other issues.

[2021-06-29 22:26] #1766 closed, assigned to bilalshaikh42

[2021-06-29 22:26] jonrkarr commented on #1718
Close -- redundant with #2602

[2021-06-29 22:26] #1718 closed, assigned to nobody

[2021-06-29 22:28] jonrkarr commented on #1241
This will be folded into our new plan for populating the "platform".

1. User creates a simulation run (in RunBioSimulations)
2. User publishes this simulation run to the "platform" (BioSimulations)

Once published, the simulation can be used for any purpose permitted by its stated license, and a license statement (URL and human-readable description) will be required.

[2021-06-29 22:28] #1241 closed, assigned to nobody

[2021-06-29 22:31] jonrkarr commented on #679
I think this could be done with the ORCID API: https://info.orcid.org/register-a-client-application-production-member-api/

[2021-06-29 22:33] jonrkarr commented on #2432
The sample file appears to be gone. Is this done?

[2021-06-29 22:34] bilalshaikh42 commented on #2432
I don't think so. Last I checked the files were not expiring correctly.

[2021-06-30 03:00] jonrkarr commented on #2655
The dispatch app had been using labels rather than ids because only the labels were encoded into CSV files. Now that the HDF5 files have both labels (which aren't required to be unique) and ids (which must be unique), we can switch to using ids to link SED-ML descriptions of plots and their data.

[2021-06-30 03:56] jonrkarr opened #2657 "Results cannot be retrieved for GillesPy2 run"
This query
https://run.api.biosimulations.dev/results/60cd5ee28b96debc78eaaecf?includeData=true

generates this response
[code]

[2021-06-30 05:21] jonrkarr commented on #2655
The code for mapping results to SED-ML plots had a couple of todos associated with dealing with ids vs labels. I took care of that. The plots seem to be working now, except for the simulations with tellurium (see below), VCell (you're working on this), GillesPy2 (see #2657), and #2652.

The issue above with extra prefix is specifically an issue with tellurium. tellurium is implemented a little dif

[2021-06-30 05:47] #2655 closed, assigned to jonrkarr

[2021-06-30 05:52] jonrkarr commented on #2652
I started to add retying to `getCombineResultsStructure` in `apps/dispatch/src/app/services/visualization/visualization.service.ts`.

However, the failed attempts are getting registered as errors at L308 of `apps/dispatch/src/app/components/simulations/view/view.component.ts`.

It seems like the retry attempts need to be caught, and only the last one should propagate an error.

[2021-06-30 18:29] bilalshaikh42 commented on #2657
This is the same issue as  the PySCeS issue earlier. The hdf file contains the attributes

[code]
instead of the required:

[code]

[2021-06-30 18:58] jonrkarr opened #2659 "Handle transient 500 errors in retrieval of simulation results"
Setup retrying as discussed in #2652

[2021-06-30 18:59] jonrkarr commented on #2652
I setup a retying mechanism for 500 errors for this endpoint -- see #2659

[2021-06-30 19:01] bilalshaikh42 commented on #2652
Should this issue be closed in favor of #2659 ?

[2021-06-30 19:49] jonrkarr commented on #2652
#2659 doesn't fix the underlying failures with the results API.

Is there an error log that displays more information about these problems?

[2021-06-30 20:37] jonrkarr commented on #2657
This is because the example run was run with an older image. I'm not sure why this is the case. 1.5.11 should have been used at the time rather than 1.5.7.

[2021-06-30 20:37] #2657 closed, assigned to jonrkarr

[2021-06-30 20:45] jonrkarr commented on #2657
I deleted the records for the older images pre June.

We haven't set anything up to migrate older versions of simulator images forward. There are GitHub action workflows that could be triggered, but this isn't automated.

Ideally, we would have versions of the simulator standard and filter out all images for older versions from RunBioSimulations.

[2021-06-30 21:00] bilalshaikh42 commented on #2657
Agreed. Have we been keeping track of the standards versions?

On Wed, Jun 30, 2021 at 4:45 PM Jonathan Karr ***@***.***>
wrote:

[2021-06-30 21:11] #2659 closed, assigned to jonrkarr

[2021-06-30 21:48] biosimulations-daemon commented on #2659
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-30 21:48] biosimulations-daemon commented on #2435
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-30 21:48] biosimulations-daemon commented on #2503
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-30 21:48] biosimulations-daemon commented on #2629
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-30 21:48] biosimulations-daemon commented on #2628
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-30 22:12] bilalshaikh42 commented on #2652
The results API is sometimes getting a 500 error from the data service. Here are the logs. This may be somethiug that we need to ask the HDF group.

Results API:

[code]

[2021-06-30 22:14] bilalshaikh42 commented on #2652
Dataservice error:

[code]

[2021-06-30 22:20] bilalshaikh42 commented on #2652
More details from data service:
[code]

[2021-06-30 22:32] bilalshaikh42 commented on #2652
Looking closer, it may also be an issue with the uconn s3 bukcket.

[code]
@moraru Would we be able to investigate this and see why the requests are timing out?

[2021-06-30 23:33] todo[bot] opened #2661 "re-enable"
https://github.com/biosimulations/Biosimulations/blob/5145ff5fc363242c9fb266b2fbb455412a68acdd/tools/submit-example-simulation-runs#L46-L50

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 5145ff5fc363242c9fb266b2fbb455412a68acdd. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-06-30 23:36] #2653 closed, assigned to bilalshaikh42

[2021-07-01 05:18] moraru commented on #2652
@bilalshaikh42 are these requests coming from a Google service? there have been some recurring transient Internet issues where Google could not resolve certain domains for short period of times (minutes)

[2021-07-01 05:19] moraru commented on #2652
if the GET requests that time out came from a service running inside UCH HPC I need to know the source

[2021-07-01 10:54] bilalshaikh42 commented on #2652
Yes, these are requests from the kubernetes cluster to the s3 bucket. I
have been able to reproduce it via the vpn as well. The s3 bucket sometimes
fails to respond for a couple of minutes.

On Thu, Jul 1, 2021, 1:19 AM moraru ***@***.***> wrote:

[2021-07-01 16:35] #2537 closed, assigned to bilalshaikh42

[2021-07-01 16:38] bilalshaikh42 opened #2664 "Simulators api returns incorrect latest simulator"

[2021-07-01 16:46] jonrkarr opened #2665 "Fix sorting of latest version of simulation tools"
In [`getLatestSimulators`]( https://github.com/biosimulations/Biosimulations/blob/3bf849aaf2142bf13712963c24a8baf41216f3ca/apps/simulators-api/src/simulators/simulators.controller.ts#L83)

Possible solution
https://www.npmjs.com/package/compare-versions
https://www.npmjs.com/package/string-natural-compare

[2021-07-01 18:13] bilalshaikh42 commented on #2665
Repeat of #2664

[2021-07-01 18:13] #2665 closed, assigned to bilalshaikh42

[2021-07-01 19:33] #2664 closed, assigned to bilalshaikh42

[2021-07-01 20:12] biosimulations-daemon commented on #2537
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-01 20:12] biosimulations-daemon commented on #2664
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-01 20:12] biosimulations-daemon commented on #2653
:tada: This issue has been resolved in version 2.2.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-01 21:12] jonrkarr commented on #2661
This can be undone. I disabled VCell through the simulators database. This also removes buttons for using VCell with RunBioSimulations in BioSimulators.org.

[2021-07-02 02:03] jonrkarr commented on #2661
Disregard the above. I thought this was about simulator options in RunBioSimulations.

I replaced the hardcoded filter with one based on the validation status of simulation tools. With VCell currently disabled, this will have the same affect.

[2021-07-02 07:40] #2661 closed, assigned to bilalshaikh42

[2021-07-02 16:10] biosimulations-daemon commented on #2661
:tada: This issue has been resolved in version 2.3.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-02 21:55] jonrkarr opened #2668 "Add query arguments to simulators API to selectively return test log data"

[2021-07-07 17:43] #2185 closed, assigned to bilalshaikh42

[2021-07-08 21:45] biosimulations-daemon commented on #2185
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-09 01:30] bilalshaikh42 commented on #2645
Json LD representation:

[code]

[2021-07-09 02:33] jonrkarr opened #2678 "Cache some slow API endpoints"
Some API endpoints could be cached to speed up loading our applications, especially if #2668 doesn't speed things up enough. In particular,
- [ ] https://api.biosimulators.org/simulators
- [ ] https://api.biosimulators.org/simulators/latest
- [ ] https://ontology.api.biosimulations.org/{ontologyId}/list

[2021-07-09 02:45] jonrkarr opened #2679 "Fix downloading created COMBINE archives"
The bug was introduced in cd2840d98d84f13eab34cea479a09da23187fe14.

[2021-07-09 03:36] #2679 closed, assigned to jonrkarr

[2021-07-09 12:45] biosimulations-daemon commented on #2679
:tada: This issue has been resolved in version 2.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-09 12:49] jonrkarr opened #2681 "IMPORTANT: Get simulators is failing"
https://api.biosimulators.org/simulators/latest generates a 500 error

.dev does not. One difference is the content of the databases.

[code]

[2021-07-09 12:53] jonrkarr commented on #2681
I deleted one version of OpenCOR in the database, and it now works. I suspect the issue is related to the large size of the returned information.

- [ ] I think we should try #2668
- [ ] If there's a memory limit that's being hit, can we provide more informative error message?

[2021-07-09 13:06] bilalshaikh42 commented on #2681
The issue is the version of openCOR. The version is  '2021-05-19' which is
causing the error: Invalid argument not valid semver ('2021-05-19'
received). This was the reason we had previously been using a simple
comparison for the latest versions. I can add a case to check for a non
semver and use simple comparison in that case.

On Fri, Jul 9, 2021 at 8:54 AM Jonathan Karr ***@***.***>
wrote:

[2021-07-09 13:37] bilalshaikh42 commented on #2681
I am a bit confused by the OpenCOR versioning. I see that OpenCOR has the latest release of v0.6, but their docker image is based on using dates for versions. Would it make sense to switch to the semantic version?
If open is the only one in the database that is currently using this scheme, perhaps we can open an issue in their repo to see if switching to semantic versioning is possible? Alternativ

[2021-07-09 14:27] #2681 closed, assigned to bilalshaikh42

[2021-07-09 15:56] biosimulations-daemon commented on #2681
:tada: This issue has been resolved in version 2.5.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-12 19:02] jonrkarr opened #2683 "IMPORTANT: Results API is ignoring the `outputId`"
Each of the following (which involve different `outputId`s) return the same data:
- https://run.api.biosimulations.dev/results/60dcfd6af14a8929e410e130/simulation_1.sedml%2FFigure_3a?includeData=false
- https://run.api.biosimulations.dev/results/60dcfd6af14a8929e410e130/simulation_1.sedml%2FFigure_3b?includeData=false
- https://run.api.biosimulations.dev/results/60dcfd6af14a8929e410e130/simulation

[2021-07-13 14:40] #2683 closed, assigned to bilalshaikh42

[2021-07-13 16:41] bilalshaikh42 commented on #2678
Is the intention to have to cache on the frontend or the API?

[2021-07-13 17:01] bilalshaikh42 opened #2687 "Refactor simulator validation tests results for modularity and flexibility"
Currently, each simulator version has a field that includes validation tests. The tests have a large amount of data, which causes slow response (see #2668). #2686  resolves the issue by adding a query parameter to include the results and excludes them by default.

Another option is to separate ValidationTests as their own entity. This would have the same advantage as above, with easier-to-remember

[2021-07-13 18:28] biosimulations-daemon commented on #2683
:tada: This issue has been resolved in version 2.5.2 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v2.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-13 18:29] #2668 closed, assigned to bilalshaikh42

[2021-07-13 19:09] jonrkarr opened #2688 "Dispatch APIs down (dev and org)"
The Dispatch APIs are down
- https://run.api.biosimulations.org/
- https://run.api.biosimulations.dev/

The APIs are returning these errors
- 502 Bad Gateway
- 504 Gateway Time-out

[2021-07-13 19:34] biosimulations-daemon commented on #2668
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-13 19:59] jonrkarr commented on #2688
Maybe related to this error in serving the dispatch api
[code]

[2021-07-13 20:18] bilalshaikh42 commented on #2688
I believe that error should go away with a fresh npm-install. The issue on
the deployment is different. The apps are not able to connect to the
message broker. I updated the broker and the config to see if that
resolves it.

On Tue, Jul 13, 2021 at 3:59 PM Jonathan Karr ***@***.***>
wrote:

[2021-07-13 20:44] jonrkarr commented on #2688
I tried that a couple of times. I think I got past the JSONCodec issue.

Now I see another issue. Not sure if this is related to secrets.
[code]

[2021-07-13 20:50] bilalshaikh42 commented on #2688
This is the issue that I am running into in the deployment, but I am unable to replicate it locally. Are you running the NATS docker image locally?

[2021-07-13 20:51] jonrkarr commented on #2688
No

[2021-07-13 20:51] jonrkarr commented on #2688
Wasn't aware I needed to

[2021-07-13 21:12] bilalshaikh42 commented on #2688
Resolved in https://github.com/biosimulations/Biosimulations/commit/1851742fdb222a6330a6b2f52b814ee7d3273c5a
Need to run a couple of simulations to confirm all messaging is working correctly.

[2021-07-13 21:15] bilalshaikh42 commented on #2688
Two options here. For both, the nats server will be located at `NATS://localhost:4222`
To run a nats server locally (isolated from the deployments messages):
[code]

To connect to the nats-server running in the dev deployment (messages sent from local will be received by deployment and vice-versa):

[code]

[2021-07-13 21:33] jonrkarr commented on #2688
Thanks!

[2021-07-14 18:42] bilalshaikh42 opened #2696 "Pull validation results into simulator view page"
The view page for each simulation tool should pull the validation information from the API since it is no longer downloaded by default

[2021-07-14 18:45] #2688 closed, assigned to bilalshaikh42

[2021-07-14 18:57] jonrkarr commented on #2687
This can be done at some future point. For now, I want to focus on adding major functionality. At this point, we just need either (a) am optional query (default=false) parameter to get validation test results or (b) a separate endpoint to get the results.

[2021-07-14 18:58] jonrkarr commented on #2696
This needs to be done as part of adding the new query argument. The two changes need to be released together.

[2021-07-14 19:16] bilalshaikh42 commented on #2687
The query parameter has already been added and deployed.

On Wed, Jul 14, 2021 at 2:57 PM Jonathan Karr ***@***.***>
wrote:

[2021-07-14 19:17] bilalshaikh42 commented on #2696
The query argument has been added already. I needed to deploy the changes
to fix the issue with the API being down yesterday, so currently, the
validation info is not shown on the front end.

On Wed, Jul 14, 2021 at 2:58 PM Jonathan Karr ***@***.***>
wrote:

[2021-07-16 04:22] jonrkarr opened #2706 "COMBINE/OMEX downloads broken"
Example: https://run.api.biosimulations.dev/run/60dcfd6af14a8929e410e130/download

This breaks the functionality of the COMBINE API, which relies on this.

[2021-07-16 06:22] bilalshaikh42 commented on #2706
simulation-60dcfd6af14a8929e410e130

[2021-07-16 06:27] bilalshaikh42 commented on #2706
This is quite odd. The backend uses that very URL to download the archive to start the simulation. It must have downloaded correctly in order for the simulation to succeed. It somehow got deleted

[2021-07-16 06:32] bilalshaikh42 commented on #2706
I am unable to reproduce for a new simulation run

On Fri, Jul 16, 2021 at 12:22 AM Jonathan Karr ***@***.***>
wrote:

[2021-07-16 06:37] jonrkarr commented on #2706
Is there anything that could cause the OMEX file to expire in the S3 bucket?

[2021-07-16 06:47] bilalshaikh42 commented on #2706
Actually, the file still exists: https://files-dev.biosimulations.org/s3/simulations/60dcfd6af14a8929e410e130/Ciliberto-J-Cell-Biol-2003-morphogenesis-checkpoint-continuous.omex

[2021-07-16 06:48] bilalshaikh42 commented on #2706
Unfortunately the logs on the deployment are not helpful. Will debug locally tomorrow

[2021-07-16 06:58] jonrkarr commented on #2456
Rather than exporting to SED-ML, we will export to Vega because some of the visualizations we allow users to configure can't be expressed with SED-ML.

[2021-07-16 06:59] bilalshaikh42 commented on #2706
I see the issue. The mongo collection for this was deleted, so the correct URL for the file is no longer available. I'll restore the last backup we have

[2021-07-16 07:07] bilalshaikh42 commented on #2706
This only happened on the dev database. @jonrkarr It is probably easier to just regenerate the simulations

[2021-07-16 13:47] jonrkarr commented on #2706
OK. I'll rerun as needed.

[2021-07-16 13:47] #2706 closed, assigned to bilalshaikh42

[2021-07-16 16:48] bilalshaikh42 opened #2708 "Rerun Simulation leads to invalid form"
**Please describe the bug**
Form validation fails when rerunning a simulation

**Please describe how to reproduce the bug**
Steps to reproduce the behavior:

1. Go to https://run.biosimulations.dev/simulations/60f13077abc92c6b95103e90
2. Click on rerun
3. Scroll down to name and enter name for run
4. Hit run
5. Note two form validation errors:
-  The simulator information is not copied over
- The

[2021-07-17 00:03] bilalshaikh42 opened #2709 "Add label to thumbnail images"
Currently, thumbnail images do not have any associated data. We should have the ability to provide image captions (alt-text at the least) and other associated information

[2021-07-18 02:15] jonrkarr commented on #2539
@bilalshaikh42 can this be closed?

[2021-07-18 20:13] jonrkarr commented on #2709
Captions and other information could be captured through additional RDF triples to the thumbnail, e.g.

- Subject: URI for thumbnail (e.g., `http://omex-libary.org/archive.omex/path/to/thumbnail.jpg`)
- Predicate: `rdfs:label`
- Object: caption

Todo
- [ ] Add to meta data guidelines in this repository
- [ ] Add to BioSimulators-utils omexmeta module
- [ ] Add to COMBINE API
- [ ] Add to dispatch

[2021-07-18 20:43] bilalshaikh42 opened #2711 "Support additional domain-specific visualizations"
@jonrkarr
This may be an interesting use case/related work  that we can look at for our discussions on visualizations and published figures.  Have just skimmed, but seems like it has a declarative format for specifying at least part of the figure.

https://github.com/deeptools/pyGenomeTracks

[2021-07-19 02:55] jonrkarr commented on #2711
There's many other formats that could be supported
- Plotly
- ggplot2 --> plotly (via ggplotly)
- matplotlib/seaborn scripts
- Vtu files (for use with Vtk)

Once we're more satisfied with core features, I think we should try to survey users to help prioritize further efforts. For example, while all of these formats could be useful in certain cases, its not obvious to me which of these, if any, are

[2021-07-19 02:59] #2337 closed, assigned to jonrkarr

[2021-07-19 02:59] #2456 closed, assigned to jonrkarr

[2021-07-19 02:59] #2601 closed, assigned to jonrkarr

[2021-07-19 04:33] #2708 closed, assigned to jonrkarr

[2021-07-19 05:01] jonrkarr commented on #2696
Done in #2713

[2021-07-19 06:54] #2696 closed, assigned to jonrkarr

[2021-07-19 06:58] jonrkarr opened #2714 "Reenable VCell once issues are addressed"
This run failed with VCell for no clear reason
https://run.biosimulations.dev/simulations/60f13090c9fb54c29d9f0cc3

[2021-07-19 13:22] bilalshaikh42 commented on #2714
StatusReason: Checking status for job with id 3176413 for simulation 60f13090c9fb54c29d9f0cc3: Status is FAILED
The job on the hpc failed. I will debug further

[2021-07-19 13:25] bilalshaikh42 commented on #2714
The actual job on the hpc passed, so must have been an error connecting to HPC to check status.  Unfortunately, no errors were thrown so there is no log

[2021-07-19 14:15] bilalshaikh42 commented on #2714
The rerun worked, but there seem to be issues with the results: https://run.biosimulations.dev/simulations/60f5883b72ff0120ba5ce11e#tab=viz

[2021-07-19 14:16] bilalshaikh42 commented on #2714
API is returning results correctly, so seems to be frontend issue:
https://run.api.biosimulations.dev/results/60f5883b72ff0120ba5ce11e?includeData=true

[2021-07-19 16:46] todo[bot] opened #2716 "create ORCID people list component -->"
https://github.com/biosimulations/Biosimulations/blob/1f26d14e3f27b2947335dd6a7688c9917b2a74f1/apps/platform/src/app/projects/view/view.component.html#L10-L15

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1f26d14e3f27b2947335dd6a7688c9917b2a74f1 when #2707 was merged. cc @biosimulations.

[2021-07-19 16:46] todo[bot] opened #2717 "move this to its own component, have "PersonList" be wrapper. Component takes in..."
https://github.com/biosimulations/Biosimulations/blob/1f26d14e3f27b2947335dd6a7688c9917b2a74f1/apps/platform/src/app/projects/view/view.component.html#L242-L247

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1f26d14e3f27b2947335dd6a7688c9917b2a74f1 when #2707 was merged. cc @biosimulations.

[2021-07-19 16:46] todo[bot] opened #2718 "Importing SharedUI module causes test runner to fail"
https://github.com/biosimulations/Biosimulations/blob/1f26d14e3f27b2947335dd6a7688c9917b2a74f1/apps/platform/src/app/projects/view/view.component.spec.ts#L18-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 1f26d14e3f27b2947335dd6a7688c9917b2a74f1 when #2707 was merged. cc @biosimulations.

[2021-07-19 16:46] todo[bot] opened #2719 "Need to reneable this, find out why it is casing error"
https://github.com/biosimulations/Biosimulations/blob/fa465706ec4871b2d66acdc8150ad284329818dc/apps/platform/src/app/projects/view/view.component.spec.ts#L18-L23

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in fa465706ec4871b2d66acdc8150ad284329818dc. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-07-19 16:49] bilalshaikh42 commented on #2539
Still needed

[2021-07-19 16:50] #2719 closed, assigned to bilalshaikh42

[2021-07-19 16:50] jonrkarr commented on #2714
I'll take a look at the rerun.

[2021-07-19 18:05] biosimulations-daemon commented on #2696
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-19 18:05] biosimulations-daemon commented on #2601
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-19 18:05] biosimulations-daemon commented on #2337
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-19 18:05] biosimulations-daemon commented on #2456
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-19 18:05] biosimulations-daemon commented on #2708
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-20 04:12] jonrkarr commented on #2714
The Vega visualization for the rerun is failing because https://run.api.biosimulations.dev/results/60f5883b72ff0120ba5ce11e/simulation_1.sedml%2Freport?includeData=true is failing.

The Vega visualizations are using the report endpoint for two reasons
- Avoid streaming data not needed for a visualization
- Avoid dealing with more deeply nested data -- though I think Vega could flatten this out

[2021-07-20 06:54] jonrkarr commented on #2714
Disregard my previous message.

I improved the handling of data loading errors with Vega.

The re-run doesn't display the SED-ML plots correctly, but it does display the user-configured plots. I believe this is due to VCell not saving the data for plots as intended. VCell is confusing data set ids and labels. I'll have to add an assertion to the simulators test suite to cover this, and VCell will

[2021-07-20 16:53] bilalshaikh42 commented on #2711
Agreed. I filed this issue as a reminder regarding the list of scientific visualization types that we were interested in thinking of as case studies for visualization

[2021-07-20 16:59] bilalshaikh42 opened #2724 "Simplify endpoints for various services"
Currently, each service is running on an individual subdomain. We can set the backend to route the same domain to the different services.  For example, the path  `api.biosimulations.org/run/ID` will route the same as` run.biosimulations.org/run/id` This will require changes for a couple of the endpoints.

- [x]  SimulationRuns- `/runs`
- [x] Results -` /results`
- [x] Projects -`/projects`
- [x] O

[2021-07-20 17:01] jonrkarr commented on #2724
Fine with me to change any of the routes.

[2021-07-20 18:30] jonrkarr commented on #2714
I created three issues for VCell about this. Turns out that VCell doesn't save plot data consistently. The result is different, depending on whether reports are also defined or not. I set VCell to validated=False until this is fixed. This will avoid users encountering a simulation tool that produces inconsistent data.

[2021-07-21 17:26] bilalshaikh42 opened #2727 "Clarification of datamodel for metadata"
We currently have the following data model for a described Identifier, which has a label and uri.

[code]
However, we are using the Uri field to provide a link out from the user interface. Should this be set as a URL instead? This would enable us to use the ```isURL``` validator built into the framework

[2021-07-21 17:33] bilalshaikh42 commented on #2727
For example, the following is acceptable as a Uri, but we would need to recognize that it is taxon and maintain a mapping.
[code]

Instead, we could require that the property be a URL like follows:

[code]

[2021-07-21 17:50] jonrkarr commented on #2727
Good point. I overlooked this important detail.

RDF uses URIs. URIs just need to be unique. They don't necessarily have to be resolvable as URLs. Furthermore, its ok for a URI to look like a URL, but not actually point to a resolvable address. As a result, we can't use a regular expression pattern to detect which URIs are URLs; we'd have to make HTTP requests to the URI to determine whether its r

[2021-07-21 18:04] bilalshaikh42 commented on #2727
I agree with the recommendation of always providing resolvable URLs in the metadata file. Perhaps we can go a little bit further with our recommendation and specify that the URL be from identifiers.org? Then we can treat anything that starts with identifiers.org as a URL, or otherwise as a URI.

https://identifiers.org/biomodels.kisao:KISAO_0000064 for example points to the more useful bioportal p

[2021-07-21 18:24] jonrkarr commented on #2727
Yes, I've already tried to steer URIs to identifiers.org where possible. This has the additional advantage of being able to use identifiers.org to validate ids (against regular expression patterns registered with identifiers.org). BioSimulators-utils is already doing this. I meant to put a recommendation for identifiers.org in the documentation (https://biosimulators.org/conventions/metadata).

Un

[2021-07-21 18:24] jonrkarr opened #2728 "Add recommendation to use identifiers.org URIs to documentation"
Add to https://biosimulators.org/conventions/metadata

We should recommend that identifiers.org be used where possible.

We should also point to the page (https://registry.identifiers.org/prefixregistrationrequest) where additional namespaces can be registered.

[2021-07-21 22:30] todo[bot] opened #2729 "see if we can add a ref to the simulation run here"
https://github.com/biosimulations/Biosimulations/blob/9c7bba81c3727ae657fbe34f007eb31e54d2b556/apps/platform-api/src/app/projects/project.model.ts#L90-L95

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 9c7bba81c3727ae657fbe34f007eb31e54d2b556 when #2726 was merged. cc @biosimulations.

[2021-07-21 22:30] todo[bot] opened #2730 "see if we can add a ref to the simulation run here"
https://github.com/biosimulations/Biosimulations/blob/f0b010d68b592765acb172c27a1b527ca4d9d157/apps/platform-api/src/app/projects/project.model.ts#L90-L95

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f0b010d68b592765acb172c27a1b527ca4d9d157. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-07-21 22:30] #2729 closed, assigned to nobody

[2021-07-22 06:19] jonrkarr opened #2731 "Some simulation runs are missing the `resultsSize` attribute"
View and browse simulations components are using this attribute.

Example: https://run.api.biosimulations.org/run/60f906bc227eb28472089ccb

[code]

[2021-07-22 06:31] jonrkarr opened #2733 "Fix Nx Cloud Report warnings (We didn't find any information for the current pull request ...)"
I think this can be fixed by replacing the `NX_BRANCH` environment variable for each job
[code]

with a global variable
[code]

I wasn't sure if @bilalshaikh42 intentionally set up this environmental variable this way.

[2021-07-22 13:24] #2728 closed, assigned to nobody

[2021-07-22 14:24] biosimulations-daemon commented on #2728
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-22 20:10] bilalshaikh42 commented on #2733
This warning is expected the first time a branch runs as there will be no information on the cloud builder. After, the first run, you should see a report such as this:  https://github.com/biosimulations/Biosimulations/pull/2725#issuecomment-883949120. Are you getting this warning elsewhere?

[2021-07-22 20:32] jonrkarr commented on #2733
That's when I seeing the warning. Wasn't sure if this was expected.

[2021-07-22 20:32] #2733 closed, assigned to bilalshaikh42

[2021-07-22 21:00] bilalshaikh42 commented on #2652
Potential fix:  https://github.com/HDFGroup/hsds/issues/98

[2021-07-23 15:14] bilalshaikh42 opened #2736 "Front End should fetch simulation logs without refresh"
https://run.biosimulations.dev/simulations/60fadc0f75a71768c1b0ab55

[2021-07-23 15:17] jonrkarr commented on #2736
It looks like this functioned as intended.

This run does have a structured log. Stdout/err was also captured. The failure is fairly nicely displayed. There shouldn't be any simulation results because no simulation was run (due to the SED-ML being invalid).

[2021-07-23 15:40] bilalshaikh42 commented on #2736
Seems like the front end needed to be refreshed. This should be fixed

[2021-07-23 15:43] bilalshaikh42 opened #2737 "Results API cannot process valid dataset"
Getting the following error for a results dataset that seems okay from the logs:

[code]

[2021-07-23 15:44] bilalshaikh42 commented on #2737
https://run.biosimulations.dev/simulations/60fae1574180a0df5d7a0fc9#tab=viz

[2021-07-23 15:53] jonrkarr commented on #2737
The input seems fine.

[2021-07-23 16:28] bilalshaikh42 commented on #2737
Issue seems to be with the HDF5 output. contains many Nan and Infinity/- Infinities
@jonrkarr is this a case that the utils accounts for?

[2021-07-23 16:58] bilalshaikh42 commented on #2737
The "root" cause of this was selecting a algorithm that did not really work at producing the results. (Range-Kutta instead of CVODE). I guess either the tellurium image should have failed, or the results should have been parsed anyway. The results were unable to be parsed bc they contained string values such as "infinity" and "-infinity" along with "NaN"

[2021-07-23 17:00] bilalshaikh42 commented on #2737
This may be a mistake that users make, and we should provide a better error or display that the above. @jonrkarr can the utilities be fixed to correctly deal with the infinite case? I will look into perhaps marking the simulation as failed if the results cannot be processed. The above error was actually correct. The error was thrown bc the results were not processable, since the HSDS service retur

[2021-07-23 17:03] bilalshaikh42 opened #2738 "Add easier way to plot multiple species"
See https://run.biosimulations.dev/simulations/60faf4594180a07d787a0fcc#tab=design-viz

If a user wants to view all the species, they must manually add each curve. There should be a way to select multiple curves easilty

[2021-07-23 17:21] bilalshaikh42 opened #2739 "Email Notifications are broken"
Successful simulation runs do not trigger an email notification

Failed simulations runs trigger a "Success" email notification

[2021-07-23 17:30] jonrkarr commented on #2738
The select could be converted into a multiple select box.

[2021-07-23 17:43] jonrkarr commented on #2737
I think each simulation tool has to be responsible for determining what is/isn't a failure. I don't think its a good idea to automatically equate NaN or Infinity with failure. Such values could be correct in some cases. BioSimulators utils can't be responsible for this because determining failure requires domain-specific information that only the simulation tools have.

The data service and downst

[2021-07-23 18:14] jonrkarr commented on #2737
How does the HSDS return NaN and Infinity values?

Handling this might be as simple as changing the default JSON parser used by the results service and frontend to one that supports NaN and Infnity such as [JSON5](https://www.npmjs.com/package/json5).

[2021-07-23 18:15] jonrkarr commented on #2736
In my experience, refreshing isn't needed. Can you replicate this?

[2021-07-23 18:54] bilalshaikh42 commented on #2737
Sorry, I was unclear on this. The failure was not because of the existence of the infinity values. The values that were returned were an empty array, which is what triggered the error on the backend. Currently, it is possible for a simulation to be successful even if the results cannot be retrieved due to an error in processing the results. That was the case in which I was considering marking the

[2021-07-23 18:56] bilalshaikh42 commented on #2737
I will take a look at this. I have not yet debugged weather it is HSDS or the typescript code that is returning the empty values

[2021-07-23 18:58] bilalshaikh42 commented on #2737
The results API can only return valid JSON however, since any http libraries calling the API would fail to parse the json response.  I believe the same is true of the HSDS.

[2021-07-23 18:59] jonrkarr commented on #2737
In this case, my opinion is that tellurium should have raised an exception.

In that case, BioSimulators-utils could also check that tellurium didn't produce results of the requested length and raise an exception. However, I don't want to do this. As we push SED-ML to capture a broad range of simulations, only simulation tools will know how to run simulations. (Without more information encoded int

[2021-07-23 21:24] bilalshaikh42 opened #2740 "Some requests on combine service timeout/crash"
[code]

[2021-07-23 21:27] #2737 closed, assigned to bilalshaikh42

[2021-07-23 21:29] bilalshaikh42 opened #2741 "Handle `NaN`, `Infinity` in simulation results in API and apps"
See: https://github.com/biosimulations/Biosimulations/issues/2737

[2021-07-23 21:35] jonrkarr commented on #2740
`https://run.biosimulations.dev` (without the trailing slash) is already in the CORS list for the service:
https://github.com/biosimulations/Biosimulations/blob/dev/apps/combine-service/src/app.py#L24

In my experience, this is working correctly.

Please post a specific example where this is failing.

[2021-07-23 23:19] bilalshaikh42 commented on #2740
This is not a problem with the python app, but rather the load balancer. it is happening intermittently. I got the alert on the Error logging on google cloud

[2021-07-30 06:45] martingjaldbaek opened #2744 "Combine PRs security fix"
I'm the maintainer of https://github.com/hrvey/combine-prs-workflow and we just made a new release - https://github.com/hrvey/combine-prs-workflow/releases/tag/1.2.0 - to fix a potential injection attack based on a PR with a malicious branch name. I wanted to let you know since a GitHub search showed me you're using a prior version.

[2021-07-30 15:08] #2744 closed, assigned to nobody

[2021-07-30 15:09] bilalshaikh42 commented on #2744
Thank you!

[2021-07-30 16:45] #2739 closed, assigned to bilalshaikh42

[2021-07-30 17:14] bilalshaikh42 opened #2750 "Submitting a new run fails if combine-service is not accessible"
Trying to submit this form fails. https://run.biosimulations.org/run?projectUrl=https:%2F%2Frun.api.biosimulations.org%2Frun%2F60f906bc227eb28472089ccb%2Fdownload&simulator=bionetgen&simulatorVersion=2.6.0&runName=Dolan%202020:%20Non-homologous%20end%20joining%20(BNGL,%20NFSim,%20BioNetGen)%20(rerun)

This is because the front end code is waiting for a response from the combine-service, currently

[2021-07-30 17:14] bilalshaikh42 commented on #2740
@jonrkarr  This one is a bit hard to reliably reproduce. Using this URL tends to trigger it, but not always: Sometimes this causes CORS errors, and other times 504 errors.

 https://run.biosimulations.org/run?projectUrl=https:%2F%2Frun.api.biosimulations.org%2Frun%2F60f906bc227eb28472089ccb%2Fdownload&simulator=bionetgen&simulatorVersion=2.6.0&runName=Dolan%202020:%20Non-homologous%20end%20joining

[2021-07-30 17:17] jonrkarr commented on #2750
COMBINE service is used as part of suggesting a simulation tool. You're right that the service is not essential to simulation submission. We could change so its still works even if the COMBINE service isn't working.

[2021-07-30 17:18] biosimulations-daemon commented on #2739
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-30 17:19] biosimulations-daemon commented on #2744
:tada: This issue has been resolved in version 3.4.1 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-30 17:20] jonrkarr commented on #2740
I've occasionally seen something like this locally. Not sure where to debug.

Is this something we could partly address with more workers?

[2021-07-30 17:45] bilalshaikh42 commented on #2740
I am not sure if the timeouts are happening for one request or multiple

[2021-07-30 20:23] bilalshaikh42 commented on #2740
I think this may be due to not being able to connect to the s3 bucket

[2021-07-30 20:47] jonrkarr commented on #2740
That meshes with what I've experienced locally. Locally, I haven't been paying attention to S3 access. I haven't necessarily set the environment variable required for S3 access.

[2021-07-30 21:14] bilalshaikh42 commented on #2740
Taking a look at this: https://serverfault.com/questions/490101/how-to-resolve-the-gunicorn-critical-worker-timeout-error

Do some of the calls take more than 30 seconds? We should be able to tweak the docker image to change the timeout to be a bit higher.  We should only do this if the computation itself takes that long sometimes. If this is because of a slow connection to the s3 bucket, then we

[2021-07-30 21:18] jonrkarr commented on #2740
Validating metadata can be longer because this is setup to use the identifiers.org API to check URIs. The other endpoints should complete quickly.

[2021-08-01 00:38] #2560 closed, assigned to nobody

[2021-08-02 15:28] bilalshaikh42 opened #2752 "Mapping of metadata fields to predicates/identifiers"
[code]

[2021-08-02 15:45] jonrkarr commented on #2752
This is described here: https://biosimulators.org/conventions/metadata

[2021-08-04 01:06] #2738 closed, assigned to jonrkarr

[2021-08-04 01:06] #2750 closed, assigned to jonrkarr

[2021-08-04 20:43] jonrkarr commented on #2740
I sped up the validation of Identifiers.org URIs in metadata by downloading the database and doing the validation locally rather than with individual REST queries for each URI. See #2757.

[2021-08-05 19:55] jonrkarr opened #2764 "Add buttons to publish simulation runs"
Add next to "share" buttons

[2021-08-05 19:55] jonrkarr opened #2765 "Display errors with metadata in RunBioSimulations metadata tab"

[2021-08-05 19:58] jonrkarr commented on #2752
Closing because I already raised this with the OMEX metadata people and they didn't have any feedback. If we want to capture any additional metadata, I think we're free to use whichever predicts we like. OMEX metadata hasn't established a convention that we should try to follow.

[2021-08-05 19:58] #2752 closed, assigned to nobody

[2021-08-05 20:53] jonrkarr opened #2766 "Request additional Identifers.org prefixes"
- [x] GitHub: links to repos
- [x] Linguist: programming languages
- [x] SIO
- [x] FunderRegistry
- [x] Physiome model repository
- [x] SED-ML model languages
- [x] SED-ML data formats

[2021-08-05 20:54] jonrkarr commented on #2727
I separated creating additional identifiers.org prefixes to #2766

[2021-08-05 20:55] jonrkarr commented on #2766
I submitted requests for all of the above so all of the main URIs we're using can be expressed via Identfiers.org.

[2021-08-06 05:47] jonrkarr opened #2768 "Add page to publish simulation"
Todo
- [x] Add page
   - [X] Check simulation id defined
   - [X] Check run is valid for publication
   - [X] Display metadata errors if invalid
   - [X] Request human readable id
   - [X] Ask for confirmation that run captures the expected reusults
   - [X] Ask for confirmation of granting license to BioSimulations to publish the run
- [x] Uncomment input box for human readable name
- [x] Uncomme

[2021-08-06 05:49] jonrkarr commented on #2768
Skeleton done.

[2021-08-06 12:26] #2764 closed, assigned to jonrkarr

[2021-08-06 12:26] #2765 closed, assigned to nobody

[2021-08-06 12:26] todo[bot] opened #2770 "check if id already taken */"
https://github.com/biosimulations/Biosimulations/blob/f1fc492aae94cbdb5ace1730360d4fa765454c7d/apps/dispatch/src/app/components/simulations/publish/publish.component.ts#L60-L65

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f1fc492aae94cbdb5ace1730360d4fa765454c7d when #2767 was merged. cc @biosimulations.

[2021-08-06 12:26] todo[bot] opened #2771 "remove routing to construction message"
https://github.com/biosimulations/Biosimulations/blob/f1fc492aae94cbdb5ace1730360d4fa765454c7d/apps/dispatch/src/app/components/simulations/publish/publish.component.ts#L65-L70

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f1fc492aae94cbdb5ace1730360d4fa765454c7d when #2767 was merged. cc @biosimulations.

[2021-08-06 12:26] todo[bot] opened #2772 "implement publishing project */"
https://github.com/biosimulations/Biosimulations/blob/f1fc492aae94cbdb5ace1730360d4fa765454c7d/apps/dispatch/src/app/components/simulations/publish/publish.component.ts#L107-L109

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in f1fc492aae94cbdb5ace1730360d4fa765454c7d when #2767 was merged. cc @biosimulations.

[2021-08-06 12:26] todo[bot] opened #2773 "implement publishing project */"
https://github.com/biosimulations/Biosimulations/blob/33c199ae9e9ccdcc3ef41778f83c7caa7290d65e/apps/dispatch/src/app/components/simulations/publish/publish.component.ts#L107-L109

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 33c199ae9e9ccdcc3ef41778f83c7caa7290d65e. It&#x27;s been assigned to @jonrkarr because they committed the code.

[2021-08-06 12:27] jonrkarr commented on #2770
Covered by #2768

[2021-08-06 12:27] #2770 closed, assigned to nobody

[2021-08-06 12:28] jonrkarr commented on #2771
Covered by #2768

[2021-08-06 12:28] #2771 closed, assigned to nobody

[2021-08-06 12:28] jonrkarr commented on #2772
Covered by #2768

[2021-08-06 12:28] #2772 closed, assigned to nobody

[2021-08-06 12:29] jonrkarr commented on #2773
Covered by #2768

[2021-08-06 12:29] #2773 closed, assigned to jonrkarr

[2021-08-06 16:53] #2711 closed, assigned to nobody

[2021-08-08 19:34] jonrkarr commented on #2766
All have been approved

[2021-08-08 19:34] #2766 closed, assigned to jonrkarr

[2021-08-09 05:32] biosimulations-daemon commented on #2765
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-09 05:32] biosimulations-daemon commented on #2764
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-09 05:32] biosimulations-daemon commented on #2750
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-09 05:32] biosimulations-daemon commented on #2738
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-09 14:05] jonrkarr opened #2781 "Renovate needs to be configured to update `Pipfile.lock`"
We're presently using pipenv (`Pipfile`, `Pipfile.lock`) to manage the requirements for DockerfilePython. In contrast, Renovate works with `requirements.txt`.

I think we need to make two changes:

(1) Add the following to `renovate.json` to instruct Renovate to work with the Pipfile for pipenv. See https://docs.renovatebot.com/python/.

[code]

(2) Delete `requirements.txt` or add a CI action to

[2021-08-09 14:20] renovate[bot] opened #2783 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near      "matc`

[2021-08-09 14:21] bilalshaikh42 commented on #2781
Should be done.  Lets see if the change works on the next run

[2021-08-09 14:27] #2781 closed, assigned to bilalshaikh42

[2021-08-09 14:29] jonrkarr commented on #2781
Yeah, not entirely sure if Renovate will update `Pipfile.lock`. From their GitHub issues, its unclear whether Renovate is handling this correctly or not.

[2021-08-10 17:36] jonrkarr opened #2793 "Add ability to set environment variables for simulation runs with dispatch API"
Add to `https://run.api.biosimulations.dev/runs`  `POST` endpoint

- [x] Add to `singuarity run` at https://github.com/biosimulations/Biosimulations/blob/c63b58c35a0c3da71910523a3baf0f445f5e493a/apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts#L66
- [x] Add to arguments of `generateSbatch` at https://github.com/biosimulations/Biosimulations/blob/c63b58c35a0c3da71910523a3baf0f445f5e4

[2021-08-10 17:37] jonrkarr opened #2794 "Add endpoint to run short simulations with low latency to combine-service"
- [x] Endpoint to run simulation
  - [x] Expand OpenAPI specs
    - [x] Arguments
      - [x] COMBINE archive
      - [x] Simulator tool (only latest versions supported)
      - [x] Environment variables to pass to simulation tools
  - [x] Add handler
  - [x] Add tests
- [x] Endpoint to query available simulation tools
  - [x] biosimulators id
  - [x] version

[2021-08-11 17:59] #2474 closed, assigned to nobody

[2021-08-11 17:59] todo[bot] opened #2796 "add all scopes/find a way to automate this from auth0 or atleast create a common..."
https://github.com/biosimulations/Biosimulations/blob/983702642d32e1733a3b35e02f5240d2ff59b8c2/apps/dispatch-api/src/openApi.ts#L66-L71

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 983702642d32e1733a3b35e02f5240d2ff59b8c2 when #2795 was merged. cc @biosimulations.

[2021-08-11 17:59] todo[bot] opened #2797 "add all scopes/find a way to automate this from auth0 or atleast create a common..."
https://github.com/biosimulations/Biosimulations/blob/453397e0f25577160f102fc323e0d90bab7b318f/apps/dispatch-api/src/openApi.ts#L66-L71

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 453397e0f25577160f102fc323e0d90bab7b318f. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-08-11 20:38] bilalshaikh42 opened #2806 "xvfb causes errors due to conflict with multiple processes using the same display"
see https://run.biosimulations.dev/simulations/611431407ea43c31f44505ec#tab=log

This seems to be the recurring issue with the display

[code]

[2021-08-11 21:51] jonrkarr commented on #2806
I'm pretty sure its related to opening the display. I believe Smodlyn still has the same intermittent problem.

Any suggestions (other than asking the developers to decouple their GUI)?

[2021-08-11 21:57] biosimulations-daemon commented on #2781
:tada: This issue has been resolved in version 3.6.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-11 23:53] bilalshaikh42 commented on #2806
I am confused as it only seems to show up when I run multiple simulations using simulators that have this issue at the same time. it seems that the error "server is already active" shows up when there is indeed a different simulation running.
I think this is one of the fundamental differences with singularity and docker. Singularity containers do actually mount the /tmp directory from the local ho

[2021-08-11 23:56] bilalshaikh42 commented on #2806
Here is a stack overflow that seems somewhat related: https://stackoverflow.com/questions/10987246/xvfb-multiple-displays-for-parallel-processing

[2021-08-11 23:56] bilalshaikh42 commented on #2806
I am not super familiar with the Linux concept of displays and display servers. @mpw6 do you have any experience with xvfb?

[2021-08-12 00:01] bilalshaikh42 commented on #2806
This seems to have simple solution to problem that sounds similar. https://stackoverflow.com/questions/39006689/unique-assignment-of-xvfb-display-to-multiple-concurrent-jenkins-jobs

The issue I am having is that I am too unfamiliar with this area/don't have a conceptual understanding of what display servers actually do, so I am unsure if solutions/scripts I see online are at all related to our pr

[2021-08-12 00:12] #2796 closed, assigned to nobody

[2021-08-12 00:19] bilalshaikh42 commented on #2731
Could not reproduce

[2021-08-12 00:19] #2731 closed, assigned to bilalshaikh42

[2021-08-12 01:18] jonrkarr commented on #2806
I'm not familiar either. I don't understand why the issue happens inconsistently.

I could try asking Dilawar. I think he setup the headless testing for Smoldyn. That's where I initially copied the current strategy from.

[2021-08-12 01:26] jonrkarr commented on #2806
We could try randomizing the display number.

We could also setup the docker images so the display number can be set externally as an environment variable. Is there a unique core ID within UConn we could use?

[2021-08-12 02:46] bilalshaikh42 commented on #2740
This seems to be resolved with the change in #2757  and the resolution of  https://status.biosimulations.org/incident/2

[2021-08-12 02:46] #2740 closed, assigned to nobody

[2021-08-12 02:48] bilalshaikh42 commented on #2736
Not sure what caused this. Can't replicate

[2021-08-12 02:48] #2736 closed, assigned to nobody

[2021-08-12 02:51] bilalshaikh42 commented on #2727
One possibility for github repos is to have a DOI assigned. For example we have https://identifiers.org/doi:10.5281/zenodo.5057108
for this repo

[2021-08-12 02:55] jonrkarr commented on #2727
I got identifiers.org prefixes approved for all of the above.

Here's a GitHub example: https://identifiers.org/github/biosimulations/biosimulations

I think identifiers.org is simpler because it doesn't require the submitter to register their repo with zenodo. Of course, Zenodo can still be used to save a snapshot of something.

[2021-08-12 03:09] bilalshaikh42 commented on #2727
Oh that's great. I did not realize that you could register a prefix  for an organization that you don't own. Using the GitHub prefix directly is definitely much better and simpler.

[2021-08-12 03:12] jonrkarr commented on #2727
I wasn't sure either. They approved it. They have a webform. Its easy to request more if needed.

Identifiers.org mainly keeps track of the owner of the namespace (e.g., GitHub Inc), rather than the person who submitted the namespace request.

[2021-08-12 03:16] bilalshaikh42 commented on #2730
Since the metadata object is now in the same API as the simulation runs this should be trivial.

[2021-08-12 04:48] #2793 closed, assigned to jonrkarr

[2021-08-12 05:20] jonrkarr commented on #2806
I agree the issue is that multiple processes are using the same display, which is currently set to `:1`.

Xfvb has an option (`-displayfd`) to find an open display. I'm going to try using that.

Here's the discussions that I followed
- https://colbrydi.github.io/using-an-x11-virtual-frame-buffer-to-run-gui-jobs-in-batch-mode-on-the-hpc.html
- https://stackoverflow.com/questions/2520704/find-a-free

[2021-08-12 08:03] bilalshaikh42 opened #2820 "Simulation runs are broken"
All simulation runs are broken.
Seems to be caused by https://github.com/biosimulations/Biosimulations/commit/107221acfef0d611dba986f1da1e1782c1472d91 or one of the later commits

[2021-08-12 08:08] bilalshaikh42 commented on #2820
I rolled back the deployment, but will need to find out what caused the issue.  I've updated the submit script to include testing the functionality of running simulations that can be used to test any changes to the dispatch-service before committing

[2021-08-12 08:19] bilalshaikh42 commented on #2820
@jonrkarr  I assume this is the line that caused the issue
https://github.com/biosimulations/Biosimulations/commit/107221acfef0d611dba986f1da1e1782c1472d91#diff-77fcbf9559c35612bd6da318c0016868a25f6746e19dc1b7160bcc2af5289d44R74

[2021-08-12 13:52] jonrkarr commented on #2820
I think its because I didn't correctly handle the case where there are no environment variables that need to be set. I should have checked this. I added a condition to handle this.

[2021-08-12 15:02] jonrkarr commented on #2806
@bilalshaikh42 I integrated this option into NEURON, NetPyNe, and Smoldyn. Are you still able to replicate the problem?

[2021-08-12 15:23] #2820 closed, assigned to jonrkarr

[2021-08-12 16:31] bilalshaikh42 commented on #2806
Seems to be fixed! At least for a reasonable number of repeats, solution should work. I highly doubt we will ever run into race conditions with the low number of simultaneous jobs that we expect. If we do at some point, we can return to the issue.

One thing that we can do is try to spread out our jobs among more hosts. Right now, we actually prefer to use one dedicated host. If it pops up again,

[2021-08-12 16:31] #2806 closed, assigned to jonrkarr

[2021-08-13 16:53] jonrkarr opened #2833 "Consider supported observables in simulator recommendations"
- [ ] Improve annotation of supported patterns of observables
- [ ] Intersect observables required to execute a COMBINE archive with those supported by each tool

[2021-08-18 01:36] todo[bot] opened #2840 "refactor to be able to hold multiple errors"
https://github.com/biosimulations/Biosimulations/blob/0db7a919a616fc6ffe286c107470772200ad38c6/libs/shared/exceptions/exceptions/src/lib/exception.ts#L9-L12

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0db7a919a616fc6ffe286c107470772200ad38c6 when #2839 was merged. cc @biosimulations.

[2021-08-18 01:36] todo[bot] opened #2841 "handle all errors, not just first one"
https://github.com/biosimulations/Biosimulations/blob/0db7a919a616fc6ffe286c107470772200ad38c6/libs/shared/exceptions/exceptions/src/lib/validationExceptionFactory.ts#L8-L13

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0db7a919a616fc6ffe286c107470772200ad38c6 when #2839 was merged. cc @biosimulations.

[2021-08-18 17:51] biosimulations-daemon commented on #2820
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-18 17:51] biosimulations-daemon commented on #2793
:tada: This issue has been resolved in version 3.7.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-21 06:58] jonrkarr commented on #2794
Done in #2845

[2021-08-21 06:58] #2794 closed, assigned to jonrkarr

[2021-08-21 07:00] jonrkarr opened #2846 "Handle many simultaneous users to combine-service"
If JWS or others want to use the combine-service to run simulations, we need to make sure that it can support multiple simultaneous users.

This is low priority since JWS seems to want to host simulations themselves.

[2021-08-21 07:02] jonrkarr opened #2847 "Allow calls to COMBINE service to be routed through main API (run.api.biosimulations.org)"
It would be nice to (a) consolidate the UI docs for the COMBINE service into that for the main API and (b) allow routes to go through the main API. To users it would look like there's one unified API. This would be it easier to find the COMBINE API.

[2021-08-21 17:03] biosimulations-daemon commented on #2794
:tada: This issue has been resolved in version 3.10.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-21 17:05] jonrkarr opened #2848 "Improve performance of first requests to COMBINE service"
Possibilities
- [x] Precompile code (`python -m compileall`)
   - This seems to make a big improvement, but one stackoverflow post says this should have had no effect
- [ ] Using a Python compiler such as cx_freeze or pyinstaller
- [ ] Implement warmup method to imports all of the simulators and runs a simulation
      https://docs.gunicorn.org/en/0.17.2/configure.html#post-fork

Low priority unle

[2021-08-23 15:05] #2730 closed, assigned to bilalshaikh42

[2021-08-23 18:51] bilalshaikh42 opened #2851 "Combine service container uses large amount of memory"
The deployed container for the combine service uses up to 900Mi, causing the nodes to run out of memory.

[2021-08-23 20:20] jonrkarr commented on #2851
That doesn't necessarily sound so bad. Do you know what was it before? Or before the new `/run` endpoints are executed?

[2021-08-23 21:10] bilalshaikh42 commented on #2851
With the two deployments and 3 replicas by default, it adds up to roughly 6Gi, which is enough to cause issues on the nodes.

 The dispatch-api for example is around 100Mi.
Before calling the endpoints, the combine API uses about 150 Mi

[2021-08-23 21:17] jonrkarr commented on #2851
The memory is likely due to the simulator modules. They're setup to only be imported as necessary to run a simulation. Like all Python modules, once they're imported they remain in Python's module cache. I could try forcing Python to release them from this cache (`del sys.modules[...]` for each module and submodule)

The `/run/simulators` endpoint causes all modules to be imported. The `/run/run`

[2021-08-24 18:43] bilalshaikh42 opened #2853 "Add CI check to ensure changes to combine API are compatible with other serivces"
The main API/service now relies on the output of the combine service.  This is mediated by an automatically generated library (combine-api-client).

 A [script](../blob/dev/tools/generate-combine-client) automatically generates the library, including the typescript types and models for the responses based on the openAPI schema defined in the [repo](../blob/dev/apps/combine-service/spec/spec.yml).

[2021-08-24 18:58] jonrkarr commented on #2853
This sounds good.

What's the command to generate the library?

I tried to have the unit tests check that the output of the COMBINE API matches the API specs. I had to disable this once I needed to introduce schema components that the OpenAPI Python package couldn't handle (I guess it only supports a subset of OpenAPI). Ideally, we'd track this down and refactor the schema to work with all of the

[2021-08-24 19:05] bilalshaikh42 commented on #2853
just calling the 'tools/generate-combine-client' from the command line once #2850 is merged in

[2021-08-24 23:16] jonrkarr commented on #2851
To my knowledge, there's no recognized way to unload Python modules.

Deleting modules (`del sys.modules[...]`) doesn't seem to work. This seems to make things worse. The modules doesn't appear to be completely released from memory and they're re-imported. I tried some variations of this where I keep biosimulators_utils modules but delete modules for individual simulators. This seems to create an

[2021-08-25 04:09] jonrkarr opened #2855 "Restore background color to white"
This most noticeable on some pages
https://run.biosimulations.org/simulations/6101f585414ac58ab96b7f68#tab=viz

Likely due to a change in material.

[2021-08-25 04:13] jonrkarr commented on #2851
We could also consider
- (Easy) For now, only deploy `/run` on `.dev` so we don't kill the performance of the other endpoints while we figure this out.
- (More work) Run the `/run` endpoints as a separate app to isolate its deployment from the other functionality.

[2021-08-25 04:46] renovate[bot] opened #2856 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/biosimulations/biosimulations).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

[2021-08-25 05:02] jonrkarr opened #2857 "Make RDF metadata for published projects accessible through a SPARQL endpoint"
- [ ] Set up a [Virtuoso server](https://github.com/openlink/virtuoso-opensource) open source edition on Google cloud
   - Docker images available here: https://hub.docker.com/r/openlink/virtuoso-opensource-7 or https://hub.docker.com/r/tenforce/virtuoso/
- [ ] Make the SPARQL for the Virtuouso server publicly accessible (e.g., sparql.biosimulations.org)
  - Expose port 1111 of the Docker image
-

[2021-08-25 06:16] nickerso commented on #2857
Just pinging @metatoaster in case his experience with virtuoso with PMR might be helpful - either in using virtuoso or on advise to avoid using virtuoso ;-)

[2021-08-25 19:59] todo[bot] opened #2859 "Remove hardcoded URLS"
https://github.com/biosimulations/Biosimulations/blob/279502a5e976ae7495ab9f69b84c624b6eeb9744/apps/dispatch-service/src/app/submission/extractMetadata.proccessor.ts#L37-L42

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 279502a5e976ae7495ab9f69b84c624b6eeb9744 when #2854 was merged. cc @biosimulations.

[2021-08-25 19:59] todo[bot] opened #2860 "handle errors/timeouts"
https://github.com/biosimulations/Biosimulations/blob/279502a5e976ae7495ab9f69b84c624b6eeb9744/apps/dispatch-service/src/app/submission/extractMetadata.proccessor.ts#L49-L54

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 279502a5e976ae7495ab9f69b84c624b6eeb9744 when #2854 was merged. cc @biosimulations.

[2021-08-25 20:24] todo[bot] opened #2861 "remove hardcoded url, use correct deployments"
https://github.com/biosimulations/Biosimulations/blob/c2a7a63f57072598f9890905697edcfb461742f4/apps/platform/src/app/projects/projects.service.ts#L22-L27

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in c2a7a63f57072598f9890905697edcfb461742f4. It&#x27;s been assigned to @bilalshaikh42 because they committed the code.

[2021-08-26 01:28] bilalshaikh42 opened #2862 "Determine nx base through "Last successful commit" action"
Currently, the ci will not determine the affected apps correctly since the dev branch will never have changes relative to itself.
[this action](https://github.com/nrwl/last-successful-commit-action) provides a better way to get the base branch

[2021-08-26 14:55] bilalshaikh42 commented on #2727
We are recommending identifiers.org as the uri. If the uri is a valid identifiers.org URL, then we can link out. If not, we can just display the uri

[2021-08-26 14:55] #2727 closed, assigned to jonrkarr

[2021-08-26 15:07] bilalshaikh42 opened #2865 "Add authentication to post metadata, logs"
These routes should be restricted to the dispatch-service

[2021-08-26 15:10] bilalshaikh42 commented on #2846
Is this currently not possible with the deployment? Or are you referring to the performance?

[2021-08-26 16:11] jonrkarr commented on #2846
It should be able to support multiple simultaneous users, although probably not very many. This is something we probably still need to work on.

[2021-08-26 16:21] bilalshaikh42 opened #2866 "Use metadata endpoint for dispatch front end"
Currently, the front end calls the combine-service to display the metadata. Instead, it should use the metadata endpoint, which would be faster and more efficient, and include the type checking of the requests/responses.

[2021-08-26 19:24] bilalshaikh42 commented on #2851
The memory usage seems to have gone down to reasonable level (300mi). We are still running into issue however as the gunicorn managed processes are timing out.

[2021-08-26 19:58] jonrkarr commented on #2851
I'll push a patch to disable these endpoints on `org` until we can work this out.

[2021-08-26 23:02] jonrkarr opened #2869 "Move the majority of DockerfilePython to the BioSimulators repo"

[2021-08-26 23:05] bilalshaikh42 commented on #2862
Done

[2021-08-26 23:05] #2862 closed, assigned to nobody

[2021-08-27 02:00] biosimulations-daemon commented on #2851
:tada: This issue has been resolved in version 3.14.0 :tada:

The release is available on [GitHub release](https://github.com/biosimulations/Biosimulations/releases/tag/v3.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-27 12:49] bilalshaikh42 commented on #2855
Sorry about this, it should have been automatically migrated.
Here are the instructions from angular

[2021-08-27 13:01] jonrkarr commented on #2855
I think we only have a few SASS files.

[2021-08-27 13:03] bilalshaikh42 commented on #2855
This refers to importing the base theme I believe. The scss files are also
considered sass I believe, just a different syntax.

On Fri, Aug 27, 2021 at 9:01 AM Jonathan Karr ***@***.***>
wrote:

[2021-08-28 21:22] jonrkarr commented on #2855
I don't think that's the source. We're not using `material:themingAPI`. I think this is due to a change in the default styling of the  `mat-drawer-container`, one of the material components.

[2021-08-28 21:23] jonrkarr commented on #2869
I copied it there. But I think I'll keep them separate because this may have different needs.

[2021-08-28 21:23] #2869 closed, assigned to nobody

[2021-08-28 21:46] #2855 closed, assigned to jonrkarr

[2021-08-29 00:04] #2638 closed, assigned to nobody